Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

refactor(mcp): async MCP Server sync with layered architecture
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(mcp): async MCP Server sync with layered architecture (#2591)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(metrics): add management command to export app request statistics
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
Due: format, ruff, mypy, import-linter

feat(gateway): notify inactive gateway maintainers (#2585)
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/templates/gateway/inactive_gateway_notify_template.html
  src/dashboard/apigateway/apigateway/tests/apps/gateway/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_tasks.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(metrics): change command input from gateway-id to gateway-name
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
Due: format, ruff, mypy, import-linter

fix(metrics): remove failed_count column from export command
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
Due: format, ruff, mypy, import-linter

feat(metrics): add management command to export app request statistics (#2593)
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
Due: format, ruff, mypy, import-linter

feat: agent-test
  .agents/skills/agent-test/SKILL.md
  test/agent-tests/AGENTS.md
  test/agent-tests/classify_modules.py
  test/agent-tests/invalid_test.json
  test/agent-tests/module-classification.json
  test/agent-tests/selector-cache.json
  test/agent-tests/test_swagger.yaml
Due: none

fix(mcp): add X-Bk-Tenant-Id header to MCP server configs in multi-tenant mode
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

fix(mcp): add X-Bk-Tenant-Id header to MCP server configs in multi-tenant mode
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

fix(mcp): add user_tenant_id guard to template conditions
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: none

fix(mcp): use settings.ENABLE_MULTI_TENANT_MODE directly instead of local variable
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(mcp): address review feedback for MCP Server sync
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
Due: format, ruff, mypy, import-linter

fix(mcp): add X-Bk-Tenant-Id header to MCP server configs in multi-tenant mode (#2594)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

fix(mcp): add X-Bk-Tenant-Id header to MCP server configs in multi-tenant mode (#2595)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

fix(mcp): address review feedback for MCP Server sync (#2597)
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
Due: format, ruff, mypy, import-linter

fix: address PR review comments for mcp-proxy optimization
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/util/mask.go
Due: fmt, lint

refactor: move truncateJSON to pkg/util as TruncateJSON
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/util/mask.go
  src/mcp-proxy/pkg/util/mask_test.go
Due: fmt, lint

fix(mcp): fix resource validation during release and add post_migrate sleep
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

fix(mcp): address code review feedback for MCP Server log APIs
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
Due: format, ruff, mypy, import-linter

fix(apps/gateway/tasks.py): add `total`
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
Due: format, ruff, mypy, import-linter

fix(apps/gateway/tasks.py): add `total` (#2600)
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
Due: format, ruff, mypy, import-linter

feat(inactive_gateway_notify_template): 邮件推送模板
  src/dashboard/apigateway/apigateway/templates/gateway/inactive_gateway_notify_template.html
Due: none

feat(inactive_gateway_notify_template): 邮件推送模板 (#2598)
  src/dashboard/apigateway/apigateway/templates/gateway/inactive_gateway_notify_template.html
Due: none

fix(mcp): handle mid-release scenario in get_valid_resource_names
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

fix(mcp): remove unnecessary retry sleep from V2 sync views
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

fix(mcp): revert get_valid_resource_names ReleaseHistory fallback
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复批量删除版本后仍显示已选中问题 # Reviewed, transaction id: 77245
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(mcp): fix resource validation during release and add post_migrate sleep (#2599)
  src/dashboard/apigateway/apigateway/biz/validators.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复批量删除版本后仍显示已选中问题 (#2601)
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(tests): fix mock resource plugin
  test/sync/smoke/resources.yaml
Due: none

fix(tests): fix mock resource plugin (#2602)
  test/sync/smoke/resources.yaml
Due: none
