Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(data/apigw-definitions): fix version
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix: fix fmt
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(app/utils): fix url fmt
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_utils.py
Due: format, ruff, mypy, import-linter

feat(data/apigw-definiton): add mcp proxy api (#1425)
  src/dashboard/apigateway/apigateway/apps/mcp_server/utils.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_utils.py
Due: format, ruff, mypy, import-linter

fix(logging.warning): use default=dict instead of deafult={}
  src/dashboard/apigateway/apigateway/core/migrations/0042_auto_20250403_1733.py
  src/dashboard/apigateway/apigateway/core/migrations/0044_gateway_kind.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

feat(ai): 流水日志和在线调试接入AI # Reviewed, transaction id: 44433
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/components/ai-blueking-button.vue
  src/dashboard-front/src/components/ai-chat-slider.vue
  src/dashboard-front/src/http/ai.ts
  src/dashboard-front/src/http/index.ts
  src/dashboard-front/src/images/ai-blueking.svg
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/store/common.ts
  src/dashboard-front/src/store/user.ts
  src/dashboard-front/src/views/component-doc/components/detail.vue
  src/dashboard-front/src/views/online-debug/components/response-content.vue
  src/dashboard-front/src/views/operate-data/access-log/index.vue
Due: none

feat(apis/v2/inner): add mcp_server inner api
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

feat(ai): 流水日志和在线调试接入AI (#1427)
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/components/ai-blueking-button.vue
  src/dashboard-front/src/components/ai-chat-slider.vue
  src/dashboard-front/src/http/ai.ts
  src/dashboard-front/src/http/index.ts
  src/dashboard-front/src/images/ai-blueking.svg
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/store/common.ts
  src/dashboard-front/src/store/user.ts
  src/dashboard-front/src/views/component-doc/components/detail.vue
  src/dashboard-front/src/views/online-debug/components/response-content.vue
  src/dashboard-front/src/views/operate-data/access-log/index.vue
Due: none

fix: fix api
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(logging.warning): use default=dict instead of deafult={} (#1426)
  src/dashboard/apigateway/apigateway/core/migrations/0042_auto_20250403_1733.py
  src/dashboard/apigateway/apigateway/core/migrations/0044_gateway_kind.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

fix: fix apidocs
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_mcp_server_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(core/migration): don't delete the fields and models until 1.17
  src/dashboard/apigateway/apigateway/core/migrations/0043_remove_microgatewayreleasehistory_gateway_and_more.py
Due: format, ruff, mypy, import-linter

fix(migration/conflict): core migration conflict; fix unittests;
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/stage.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/migrations/0043_remove_microgatewayreleasehistory_gateway_and_more.py
  src/dashboard/apigateway/apigateway/core/migrations/0043_remove_sslcertificate_gateway_and_more.py
  src/dashboard/apigateway/apigateway/core/migrations/0045_merge_20250530_1420.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

fix(components/paas): refactor paas.py and paasv3.py into bkpaas.py
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/validators.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/biz/stage.py
  src/dashboard/apigateway/apigateway/common/tenant/user_credentials.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/components/paasv3.py
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/biz/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/common/test_user_credentials.py
Due: format, ruff, mypy, import-linter

fix: fix api
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
Due: format, ruff, mypy, import-linter

fix: fix serializer
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix: fix except
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

chore(router): 去掉废旧路由和页面 # Reviewed, transaction id: 44686
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/apigwDocs/components/detail.css
  src/dashboard-front/src/views/apigwDocs/components/detail.vue
  src/dashboard-front/src/views/apigwDocs/components/doc.vue
  src/dashboard-front/src/views/apigwDocs/components/intro.vue
  src/dashboard-front/src/views/apigwDocs/index.vue
  src/dashboard-front/src/views/component-doc/components/detail.vue
  src/dashboard-front/src/views/component-doc/components/doc.vue
  src/dashboard-front/src/views/component-doc/components/intro.vue
  src/dashboard-front/src/views/component-doc/components/searcher/index.vue
  src/dashboard-front/src/views/component-doc/index.vue
  src/dashboard-front/src/views/online-debug/components/doc.vue
  src/dashboard-front/src/views/sdk/components/sdk-detail.vue
  src/dashboard-front/src/views/sdk/esb-sdk/index.vue
  src/dashboard-front/src/views/sdk/gateway-sdk/index.vue
Due: none

chore(deps): 更新依赖
  src/dashboard-front/package.json
  src/dashboard-front/yarn.lock
Due: none

fix(tests/common/test_user_credentials.py): unittest fail
  src/dashboard/apigateway/apigateway/tests/common/test_user_credentials.py
Due: format, ruff, mypy, import-linter

fix: fix tools_names
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

chore(router): 去掉废旧路由和页面 (#1431)
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/apigwDocs/components/detail.css
  src/dashboard-front/src/views/apigwDocs/components/detail.vue
  src/dashboard-front/src/views/apigwDocs/components/doc.vue
  src/dashboard-front/src/views/apigwDocs/components/intro.vue
  src/dashboard-front/src/views/apigwDocs/index.vue
  src/dashboard-front/src/views/component-doc/components/detail.vue
  src/dashboard-front/src/views/component-doc/components/doc.vue
  src/dashboard-front/src/views/component-doc/components/intro.vue
  src/dashboard-front/src/views/component-doc/components/searcher/index.vue
  src/dashboard-front/src/views/component-doc/index.vue
  src/dashboard-front/src/views/online-debug/components/doc.vue
  src/dashboard-front/src/views/sdk/components/sdk-detail.vue
  src/dashboard-front/src/views/sdk/esb-sdk/index.vue
  src/dashboard-front/src/views/sdk/gateway-sdk/index.vue
Due: none

chore(deps): 更新依赖 (#1432)
  src/dashboard-front/package.json
  src/dashboard-front/yarn.lock
Due: none

feat(apis/web/mcp_marketplace/views.py): support tenant
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/common/es/clients.py
  src/dashboard/apigateway/apigateway/common/tenant/query.py
  src/dashboard/apigateway/apigateway/common/tenant/validators.py
  src/dashboard/apigateway/apigateway/components/bklog.py
Due: format, ruff, mypy, import-linter

docs(version_log): add 1.16 release log
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): update
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix: fix api
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
Due: format, ruff, mypy, import-linter

docs(version_log): add 1.16 release log (#1433)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(core/migration): don't delete the fields and models until 1.17 (#1430)
  src/dashboard/apigateway/apigateway/core/migrations/0043_remove_microgatewayreleasehistory_gateway_and_more.py
Due: format, ruff, mypy, import-linter

feat(apis/v2/inner): add mcp_server inner api (#1428)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_mcp_server_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(models.py): fix typehint to objects manager
  src/dashboard/apigateway/apigateway/apps/feature/models.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/models.py
  src/dashboard/apigateway/apigateway/apps/support/models.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/bkcore/models.py
  src/dashboard/apigateway/apigateway/schema/models.py
Due: format, ruff, mypy, import-linter

style(mcp-proxy/pkg): fix lints
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/gateway.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/version/version.go
Due: fmt, lint

fix(models.py): fix typehint to objects manager (#1434)
  src/dashboard/apigateway/apigateway/apps/feature/models.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/models.py
  src/dashboard/apigateway/apigateway/apps/support/models.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/bkcore/models.py
  src/dashboard/apigateway/apigateway/schema/models.py
Due: format, ruff, mypy, import-linter

style(mcp-proxy/pkg): fix lints (#1435)
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/gateway.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/version/version.go
Due: fmt, lint

refactor(openapi/sync): add sync api v2
  src/dashboard/apigateway/apigateway/apis/open/esb/system/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/open/stage/constants.py
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/constants.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/constants.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/constants.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/validators.py
  src/dashboard/apigateway/apigateway/biz/permission.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/open/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_validators.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
  src/dashboard/apigateway/apigateway/tests/common/test_constants.py
Due: format, ruff, mypy, import-linter

style(mcp-proxy): fix lints
  src/mcp-proxy/cmd/gen.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

style(mcp-proxy): fix lints (#1437)
  src/mcp-proxy/cmd/gen.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(api/open/sync): fix code
  src/dashboard/apigateway/.importlinter
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/open/support/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/constants.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_create_resource_version.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_generate_sdk.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_get_latest_resource_version.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_list_resource_versions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_release.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_resource_doc.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stages.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/open/permission/test_views.py
  src/dashboard/apigateway/requirements.txt
Due: format, ruff, mypy, import-linter

docs(v2_sync_release): fix doc
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_release.md
Due: none
