Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(front-end): 后端服务健康检查配置 (#2380)
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(django/commands): add export_legacy_v1_releases for stats (#2381)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_legacy_v1_releases.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(inner-api): add gateway disable and delete APIs
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_update_gateway_status.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-inner-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix: address code review feedback
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-inner-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

refactor: rename constant to GATEWAY_STATUS_CHANGE_AND_DELETE_ALLOWED_PREFIX
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

feat(inner-api): add gateway disable and delete APIs (#2379)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_update_gateway_status.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp_server): add new categories and simplify filter logic
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(core-api/cache): add fallback cache for database resilience
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
  src/core-api/pkg/cacheimpls/cache_with_fallback_test.go
  src/core-api/pkg/cacheimpls/init.go
Due: none

fix(pkg/cacheimpls): update comments
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
  src/core-api/pkg/cacheimpls/init.go
Due: none

feat(mcp_server): add new categories and simplify filter logic (#2382)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): add feature flag for health check
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): add feature flag for health check (#2384)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(front-end): 健康检查 feature flag # Reviewed, transaction id: 72517
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(front-end): 健康检查 feature flag (#2385)
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(pkg/cacheimpls/cache_with_fallback.go): if errors.Is(err, sql.ErrNoRows), should not fallback
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
  src/core-api/pkg/cacheimpls/cache_with_fallback_test.go
Due: none

fix(pkg/cacheimpls): improve fallback cache logging and documentation
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
Due: none

feat(permission): 权限审批筛选风格修改
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
Due: none

feat(permission): 权限审批筛选风格修改 (#2387)
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
Due: none

fix(front-end): 环境编辑时的健康检查传参 # Reviewed, transaction id: 72554
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(front-end): 环境编辑时的健康检查传参 (#2388)
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(resource-importer): add field length validation to prevent database insertion failure
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

feat(mcp): MCPServer 分类支持国际化
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(mcp): MCPServer 分类支持国际化 (#2386)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(front-end): 健康检查禁用逻辑与提示 # Reviewed, transaction id: 72570
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(front-end): 健康检查禁用逻辑与提示 (#2390)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(sdk): 支持 Maven SDK 的 SSL 证书跳过和镜像源配置
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/maven.py
  src/dashboard/apigateway/apigateway/biz/sdk/maven/settings.xml
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/distributors/test_maven.py
  src/dashboard/apigateway/apigateway/utils/maven.py
Due: format, ruff, mypy, import-linter

fix(sdk): support SSL insecure and mirror URL config for Maven SDK
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/maven.py
  src/dashboard/apigateway/apigateway/biz/sdk/maven/settings.xml
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/distributors/test_maven.py
  src/dashboard/apigateway/apigateway/utils/maven.py
Due: format, ruff, mypy, import-linter

fix(biz/resource): fix import validate
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
Due: format, ruff, mypy, import-linter

fix(pkg/cacheimpls): update fallback cache
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
Due: none

fix(lints): fix lints
  .github/workflows/core-api.yml
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
Due: none

fix(resource-importer): add field length validation to prevent database insertion failure (#2389)
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

fix(comments): update comment
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
Due: none

feat(core-api/cache): add fallback cache for database resilience (#2383)
  .github/workflows/core-api.yml
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
  src/core-api/pkg/cacheimpls/cache_with_fallback_test.go
  src/core-api/pkg/cacheimpls/init.go
Due: none

fix(templates/dev_guideline): fix mcpserver config
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
Due: none

fix(templates/dev_guideline): fix mcpserver config (#2392)
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
Due: none

fix(front-end): 修复资源后端配置请求地址 # Reviewed, transaction id: 72704
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
Due: none

feature(MCPDetail): MCPServer配置指引优化 --story=129759782
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(front-end): 修复资源后端配置请求地址 (#2394)
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
Due: none

fix(MCPDetail): 修改scss预编译提前解析问题 --story=129759782
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

fix(mcp-proxy): code review fixes and test improvements
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission_test.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/middleware/mcp_permission_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/cryptography.go
  src/mcp-proxy/pkg/util/cryptography_test.go
  src/mcp-proxy/pkg/util/goroutinex.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint
