Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(front-end): bk-username-required 插件 yaml 值 (#2425)
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

feat(front-end): 整理插件表单 schema 依赖 & 国际化整理 (#2437)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/json/schemaPluginFormCn.json
  src/dashboard-front/src/json/schemaPluginFormEn.json
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(open-api): add OAuth Protected Resource Metadata endpoint (#2427)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-permission): mcp 审批修改 (#2435)
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

fix(CreateMcp): Mcp编辑的时候拉取的环境资源始终是prod环境的 --story=131249935
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(resource): 一键翻译交互优化 (#2442)
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
Due: none

feat(AGENTS.md): add AGENTS.md for all src projects (#2438)
  src/core-api/AGENTS.md
  src/dashboard-front/AGENTS.md
  src/dashboard/AGENTS.md
  src/esb/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/README.md
Due: fmt, lint

docs(apigw-definitions): enhance OpenAPI 3.0 parameter configurations (#2432)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(mcp-server): add oauth2_enabled config for MCPServer (#2436)
  bkpkg-bk_apigateway.yaml
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0012_mcpserver_oauth2_enabled.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(version): 资源版本时间换行问题修复 (#2450)
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

feat(front-end): 资源版本-资源详情分批加载 (#2446)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(CreateMcp): 修复工具编辑数据无法回显 --story=131249935
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(dashboard): upgrade urllib3 to 2.x to resolve CVE vulnerability (#2451)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

refactor(v2_sync): normalize grant_dimension to gateway/resource in v2_sync_grant_permission (#2457)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

docs(agents.md): update (#2456)
  src/dashboard/.gitignore
  src/dashboard/AGENTS.md
Due: none

feat(front-end): 版本资源详情翻页 (#2458)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(front-end): 优化版本资源详情滚动 (#2463)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

feature(bk-rate-limit): 特殊应用频率限制插件支持克隆 --story=130368443
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
Due: none

chore(front-end): dev 服务器地址隐藏 & 快速拉起 dev 服务器多租户环境 (#2403)
  src/dashboard-front/package.json
  src/dashboard-front/vite.config.ts
Due: none

fix(online-debugging): 在线调试 ai 诊断不显示问题修复 (#2454)
  src/dashboard-front/src/views/online-debugging/components/ResponseContent.vue
Due: none

fix(version): 资源版本详情样式修复 (#2453)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(mcp-proxy): 删除mcpserver时清除对应的缓存 (#2460)
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix: 创建Mcp刷新工具会重置环境选项 --story=131249935
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(core): expand Resource description max_length from 512 to 2048 (#2466)
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/core/migrations/0048_alter_resource_description_max_length_to_2048.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复版本资源详情抽屉 (#2465)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(resource-import): serialize spec data as JSON before passing to ResolvingParser (#2462)
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

feature: MCP增加OAuth2认证 --story=131601946
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/OAuthAlert.vue
  src/dashboard-front/src/views/mcp-server/components/OAuthSwitcher.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

fix(mcp): exclude headers from Cursor install URL when OAuth2 public client enabled (#2477)
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(MCP): mcpserver oauth展示名优先取工具名称 --story=131601946
  src/dashboard-front/src/views/mcp-server/components/OAuthAlert.vue
Due: none

fix(front-end): 修复资源文档zip上传大小限制 (#2474)
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

fix(resource-import): correct schema validation error paths in importer (#2472)
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
Due: format, ruff, mypy, import-linter

fix(mcp,resource): return tool_name in permission risks and prefer description over summary (#2483)
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_parser.py
Due: format, ruff, mypy, import-linter

fix(MCP): mcpserver 编辑展示的url展示有问题 --story=132112381
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
Due: none

fix(MCP): mcp工具结果预览区域宽度自适应 --story=131896168
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(front-end): 修复 bk-user-name 渲染问题 (#2496)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/services/source/basic.ts
Due: none

fix(MCP): 去掉MCPServer表格视图模式操作列的tooltip --story=131896168
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/OAuthAlert.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

feat(front-end): 请求参数和响应参数中 array 成员名称非必填 (#2499)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(front-end): 修复资源导入编辑器报错定位错误 (#2485)
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feature(MCP): mcpserver 市场开启公共客户端模式展示 --story=132217418
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none
