Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(mcp): 补充 mcp server 应用权限展示优化 国际化文案 --story=136877768
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(mcp): mcp server 应用权限展示优化 --story=136877768 (#3128)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
Due: none

feat(access-log): expose LLM request summaries (#3127)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_request_logs.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_tools_log_query_by_request_id.md
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
Due: format, ruff, mypy, import-linter

fix(dashboard): harden orphan cleanup CAS, audit, and delete contract
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/convertor/utils.py
  src/dashboard/apigateway/apigateway/controller/management/commands/cleanup_orphaned_gateway_etcd.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/fake_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/management/commands/test_cleanup_orphaned_gateway_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_etcd.py
Due: format, ruff, mypy, import-linter

refactor: simplify itsm approver backfill enqueue path
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

feat(metrics): add AI gateway LLM queries
  src/dashboard/apigateway/apigateway/apps/metrics/constants.py
  src/dashboard/apigateway/apigateway/service/prometheus/__init__.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

feat(frontend): show AI gateway LLM metrics
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

feat(itsm): backfill actual approver from ITSM tickets (#3115)
  src/dashboard/apigateway/apigateway/apps/permission/management/commands/backfill_itsm_approver.py
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/bk_itsm.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/management/commands/test_backfill_itsm_approver.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/test_bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

refactor(metrics): use LLM context labels
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

feat(dashboard): support resource keyword filter by description
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_resource.py
Due: format, ruff, mypy, import-linter

feat(dashboard): support resource keyword filter by description (#3131)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_resource.py
Due: format, ruff, mypy, import-linter

refactor(metrics): use bandwidth context labels
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(metrics): handle delayed AI dashboard initialization
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(dashboard): convert gateway apply-records handled_by to display names
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

refactor: normalize apply record serializer input
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix: convert handled_by to display names in apply records
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

refactor: remove unused model compatibility in serializers
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

refactor: remove try-catch
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix(dashboard): convert gateway apply-records handled_by to display names (#3132)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(metrics): add AI gateway LLM dashboards (#3130)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/constants.py
  src/dashboard/apigateway/apigateway/service/prometheus/__init__.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(dashboard): convert apply-records handled_by to display names for release/1.23 (#3133)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): keep orphan etcd cleanup self-contained
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/convertor/utils.py
  src/dashboard/apigateway/apigateway/controller/management/commands/cleanup_orphaned_gateway_etcd.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/management/commands/test_cleanup_orphaned_gateway_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_etcd.py
Due: format, ruff, mypy, import-linter

feat(access-log): 日志详情中添加 llm_summary 数据展示 --story=136893560
  src/dashboard-front/src/views/operate-data/access-log/Detail.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
Due: none

feat: fix query-string-rewrite plugin doc link not opening
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat: fix query-string-rewrite plugin doc link not opening (#3134)
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat(access-log): 日志详情中添加 llm_summary 数据展示 --story=136893560 (#3135)
  src/dashboard-front/src/views/operate-data/access-log/Detail.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
Due: none

feat(front-end): 插件文档链接与示例整理 --story=161464218
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): 插件文档链接与示例整理 --story=161464218
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): 插件文档链接与示例整理 --story=161464218 (#3136)
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): 插件文档链接与示例整理 --story=161464218 (#3137)
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): bk-cli 功能预览增加开发者中心条目 --story=136969709
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
Due: none

feat(front-end): bk-cli 功能预览增加开发者中心条目 --story=136969709 (#3138)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
Due: none

fix(mcp-proxy): correct tool request audit logging
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix(mcp-proxy): correct tool request audit logging (#3140)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

feat(front-end): 隐藏未支持的 API 公开客户端配置 --story=136970771
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

feat(front-end): 隐藏未支持的 API 公开客户端配置 --story=136970771 (#3141)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

feat(front-end): 隐藏未支持的 API 公开客户端配置 --story=136970771 (#3139)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none
