Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

feat: 操作指引
  src/dashboard-front/src/components/guide.vue
  src/dashboard-front/src/http/gateway.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

feat: 可编程网关的基本信息开发 (#1264)
  src/dashboard-front/src/images/program-process.png
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/main.vue
Due: none

fix(api/web): fix stage get
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix stage get (#1265)
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
Due: format, ruff, mypy, import-linter

feat(default.py): remove unused redis sentinel settings
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
Due: format, ruff, mypy, import-linter

feat(access_log): remove raw elasticsearch
  src/dashboard/apigateway/apigateway/apps/monitor/clients/bk_log.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/common/es/clients.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/unittest_env
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/status/es_client.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
  src/dashboard/apigateway/apigateway/tests/common/es/test_clients.py
Due: format, ruff, mypy, import-linter

feat(redis_utils.py): support tls
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
Due: format, ruff, mypy, import-linter

refactor(bk-apigateway-inner): inner api 迁移到 v2/inner/
  src/dashboard/apigateway/apigateway/apis/v2/inner/helpers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

feat(celery): support tls
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

docs(version_log): add version_log
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

feat(api_doc): change to fix misunderstanding of the header
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
Due: format, ruff, mypy, import-linter

fix(api_doc): change to fix misunderstanding of the header
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
Due: format, ruff, mypy, import-linter

feat(default.py): remove APISIX_CONFIG
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix deploy events get
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix deploy
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix deploy events get (#1269)
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

feat: 操作指引 (#1270)
  src/dashboard-front/src/components/guide.vue
  src/dashboard-front/src/http/gateway.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

test(programmable): add unittests
  src/dashboard/apigateway/apigateway/biz/stage.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_validators.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
  src/dashboard/apigateway/apigateway/tests/core/test_models.py
Due: format, ruff, mypy, import-linter

fix: 开发指引 eslint 修复
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

fix: 开发指引 eslint 修复 (#1272)
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

fix: fix api and swagger
  src/dashboard/apigateway/apigateway/apis/v2/inner/helpers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: format, ruff, mypy, import-linter

feat(api_doc): change to fix misunderstanding of the header (#1267)
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
Due: format, ruff, mypy, import-linter

fix(api_doc): change to fix misunderstanding of the header (#1268)
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
Due: format, ruff, mypy, import-linter

test(programmable): add unittests (#1271)
  src/dashboard/apigateway/apigateway/biz/stage.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_validators.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
  src/dashboard/apigateway/apigateway/tests/core/test_models.py
Due: format, ruff, mypy, import-linter

feat: 可编程网关资源部署 # Reviewed, transaction id: 39310
  src/dashboard-front/package.json
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/css/common.css
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/http/stage.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front/static/svg/iconcool.js
  src/dashboard-front/yarn.lock
Due: none

support connect database and redis over tls (#1262)
  .github/workflows/esb.yaml
  src/core-api/pkg/config/config.go
  src/core-api/pkg/database/mysql.go
  src/dashboard/apigateway/apigateway/apps/monitor/clients/bk_log.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/common/es/clients.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/unittest_env
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/status/es_client.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
  src/dashboard/apigateway/apigateway/tests/common/es/test_clients.py
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

feat: 可编程网关资源部署 (#1273)
  src/dashboard-front/package.json
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/css/common.css
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/http/stage.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front/static/svg/iconcool.js
  src/dashboard-front/yarn.lock
Due: none

support connect database and redis over tls (#1262) (#1274)
  .github/workflows/esb.yaml
  src/core-api/pkg/config/config.go
  src/core-api/pkg/database/mysql.go
  src/dashboard/apigateway/apigateway/apps/monitor/clients/bk_log.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/common/es/clients.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/unittest_env
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/status/es_client.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
  src/dashboard/apigateway/apigateway/tests/common/es/test_clients.py
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

fix(api/web): fix deploy
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix deploy (#1275)
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(apis/web/gateways): fix kind filter not ok
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web/gateway/views.py): make code robust
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web/gateways): fix kind filter not ok (#1276)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(apigateway/apis/web/gateway/views.py): fix kind filter
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

Fix 0418 (#1277)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

feat: 可编程网关资源部署提交人&提交时间 # Reviewed, transaction id: 39349
  src/dashboard-front/src/css/common.css
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
Due: none

feat: 操作指引链接
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

feat: 可编程网关资源部署提交人&提交时间 (#1278)
  src/dashboard-front/src/css/common.css
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
Due: none

feat: 操作指引链接 (#1279)
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none
