Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(biz/ai): fix prompt build (#1925)
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复资源对比颜色展示 --story=127570420 (#1928)
  src/dashboard-front/src/components/version-diff/Index.vue
Due: none

fix(db): fix tls (#1914)
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(apis/web): 应用权限支持请求路径过滤 (#1915)
  src/dashboard/apigateway/apigateway/apis/web/permission/filters.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
Due: format, ruff, mypy, import-linter

feat(frontend): 后端服务支持更多负载均衡类型 (#1927)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(log): 流水日志表格替换 (#1929)
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

fix(frontend): 修复负载均衡 key 校验 (#1936)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/KeyFormItem.vue
Due: none

feature(table): 同步组件配置、系统管理、审批历史表格替换，初始化默认最大limit、更改表行hover色 --story=127848842
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderSystem.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/route.ts
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/permission/routes.ts
  src/dashboard-front/src/views/resource-management/route.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

fix(online-debugging): 在线调试文档接口对接 (#1935)
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
Due: none

fix(common/permissions): 修复网关访问权限 (#1926)
  src/dashboard/apigateway/apigateway/common/permissions/permissions.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

feat(frontend): 资源文档AI翻译 --story=122055088 (#1931)
  src/dashboard-front/src/components/ai-seek/AiBluekingButton.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/ai.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(frontend): 修复负载均衡选择交互缺陷 (#1932)
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
Due: none

feature(table): 组件同步版本表格替换 --story=127848842
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/mcp-server/route.ts
Due: none

fix(log): 流水日志表格设置修复 (#1933)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

fix(permissionApp): 修复应用权限联动筛选问题 --story=127848842
  src/dashboard-front/src/hooks/use-table-filter-change.ts
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

fix(biz/backend): 修复后端服务触发发布问题 (#1942)
  src/dashboard/apigateway/apigateway/biz/backend/backend.py
Due: format, ruff, mypy, import-linter

fix(servicve/plugin): 修复 response-rewrite 插件的状态码为可选 (#1945)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

feature(mcpMarket): 全平台mavon-editor的markdown类型替换成github风格 --story=146107276
  src/dashboard-front/src/components/ai-seek/AiChatSlider.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/stores/useGateway.ts
  src/dashboard-front/src/styles/app-doc.scss
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

fix(online-debugging): 在线调试重影问题修复 (#1941)
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(frontend): 修复负载均衡 key 编辑 (#1938)
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/KeyFormItem.vue
Due: none

feature(mcpMarket): mcpTtool文档展示优化 --story=125587263
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(copy): 修复复制按钮有背景颜色 --story=146107276
  src/dashboard-front/src/styles/app-doc.scss
Due: none

fix(frontend): 修复插件图标 (#1950)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
Due: none

fix(online-debugging): 在线调试环境展示调整 (#1953)
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
Due: none

fix(online-debugging): 修复发布失败导致在线调试使用不了 (#1949)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
Due: none

fix(apis/web): 修复后端服务关联发布版本的校验问题 (#1934)
  src/dashboard/apigateway/apigateway/apis/web/backend/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/biz/backend/backend.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/biz/backend/test_backend.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix batch translate doc (#1947)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix ai content type (#1946)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter

fix(controller/tasks): 修复定时任务的时区问题 (#1948)
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter

feat(doc_links): add load_balance (#1955)
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复一些体验 & 设计问题 (#1957)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
Due: none

fix(controller/crds/v1beta1/convertors/resource.py): fix route desc too long cause apisix load fail (#1951)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
Due: format, ruff, mypy, import-linter

feat(frontend): 资源配置列表查询持久化 (#1958)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(apis/web): 应用权限增加删除审计日志 (#1952)
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
Due: format, ruff, mypy, import-linter

feature(DetailMpde): 环境概览详情的资源信息列表增加生效的插件表头说明提示 --story=125350683
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复环境详情切换网关时报错的问题 (#1959)
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

feature(DetailMpde): 环境资源列表点击后端服务高亮优化 --story=124827050
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复登录页面 & 资源列表筛选 (#1966)
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(frontend): 修复登录页面和弹窗重复问题 (#1962)
  src/dashboard-front/public/login-success.html
  src/dashboard-front/src/services/http/middleware/response.ts
Due: none

fix(micro-gateway): 平台工具-微网关调整 (#1967)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
