Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(apis/v2/inner): mcp-server 权限列表接口补充 handled_by 字段 (#1732)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复部分体验问题 (#1738)
  src/dashboard-front/public/login-success.html
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feat(service/plugin): add bk-access-token-source plugin (#1725)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复资源版本标签样式 & 导出报错 (#1734)
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(apis/v2/inner): 补充 mcp-server 文档地址 (#1728)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix(online-debugging): 在线调试报错问题修复 (#1736)
  src/dashboard-front/src/components/ag-editor/Index.vue
Due: none

fix(plugin): 修复切换插件失效 (#1742)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(plugins): 插件管理表单回显问题修复 (#1743)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

fix: fix mcp proxy timeout (#1744) (#1745)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/types.go
Due: fmt, lint

feat(service/plugin): add bk-username-required plugin (#1739)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: format, ruff, mypy, import-linter

feat(resource): 更换资源配置表格 (#1746)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/stores/useResourceSetting.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(frontend): 1.13 版本升级提醒 (#1741)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-resource-version/Index.vue
  src/dashboard-front/src/components/product-info/Index.vue
  src/dashboard-front/src/components/version-113-update-notice/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(resource): 修复资源侧栏展示错误问题 (#1747)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(tenant-username): 非租户模式不查询 display name (#1749)
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditMember.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/DetailMode.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

docs(version_log): 1.17.10 (#1754)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(openapi): fix schema get (#1752)
  src/dashboard/apigateway/apigateway/biz/resource/importer/schema.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter

fix(openapi): fix none_schema (#1737)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/schema.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/resource/importer/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/resource/importer/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/utils/test_openapi.py
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

fix: 修复1.17.1版本遗留问题 (#1748)
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

fix(display_name): 渲染display_name (#1750)
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(openapi): fix resource schema update (#1751)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/tests/utils/test_openapi.py
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

fix(data_empty): 筛选空状态修复 (#1760)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(stage): 修复无法编辑环境的问题 (#1759)
  src/dashboard-front/src/services/source/stage.ts
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

fix(frontend): html 文档标题国际化 (#1756)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(resource/settings): 资源配置页折叠交互 & 表格空规范 (#1753)
  src/dashboard-front/Dockerfile
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/stores/useResourceVersion.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(frontend): 修复登录弹窗跳转逻辑 (#1755)
  src/dashboard-front/src/services/http/middleware/response.ts
Due: none

fix: 修复tag展示tooltip问题
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(plugin-info): 修复插件示例出现时排版混乱的问题 (#1758)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

fix: 新建后端服务-后端服务地址为空未跳转并提示 --stroy=146625044
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
Due: none

fix(frontend): 修复部分单据 (#1766)
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
Due: none

fix(stage): 环境详情的资源信息表格迁移 (#1764)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(openapi): fix mcp servers sync (#1762)
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

refactor(conf/default.py): duplicated codes (#1769)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(stage): 修复环境卡片不能正确渲染的问题 (#1761)
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardLineChart.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

fix(conf/default.py): migrate fail when ENABLE_MULTI_TENANT_MODE is true (#1768)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(plugin): X-Bk-Username header 头插件 (#1765)
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(api/web): fix mcp create (#1770)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复测试单据 (#1772)
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableGeneric.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableHeaderRewrite.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableIpRestriction.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableRateLimit.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableStatusRewrite.vue
  src/dashboard-front/src/components/plugin-manage/CustomTable.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/types.ts
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
Due: none

Update bkpkg-bk_apigateway.yaml (#1773)
  bkpkg-bk_apigateway.yaml
Due: none

fix(frontend): 修复测试、体验单据 (#1771)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/services/source/stage.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/route.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix: 修复1.17版本部分测试问题
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/hooks/use-selection-data.ts
  src/dashboard-front/src/hooks/use-sticky-bottom.ts
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/componentManagement.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
