Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(plugin/checker.py): add more check for bk-traffic-label
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

fix(front-end): 调整上传资源配置文件大小限制 # Reviewed, transaction id: 75892
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 调整上传资源配置文件大小限制 # Reviewed, transaction id: 75893
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 调整上传资源配置文件大小限制 (#2532)
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 调整上传资源配置文件大小限制 (#2531)
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(base-info): 编辑网关时重复网关名校验修改
  src/dashboard-front/src/components/create-gateway/Index.vue
Due: none

feat(mcp-proxy): add description for parameter types in OpenAPI to MCP conversion (#2527)
  src/mcp-proxy/pkg/infra/proxy/converter.go
Due: fmt, lint

refactor(biz/mcp_server): move mcp_server business logic from view to biz layer (#2523)
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(base-info): 编辑网关时重复网关名校验修改 (#2534)
  src/dashboard-front/src/components/create-gateway/Index.vue
Due: none

fix(base-info): 编辑网关时重复网关名校验修改 (#2533)
  src/dashboard-front/src/components/create-gateway/Index.vue
Due: none

fix(mcp-proxy): fix mcp tool schema
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool schema
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool schema (#2535)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

Fix mcp proxy schema 1.21 (#2536)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

feat(data/apigw-definitions): add mcpserver sync
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/bin/post_migrate
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(front-end): 搜索资源列表时重置页码 # Reviewed, transaction id: 75996
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 搜索资源列表时重置页码 # Reviewed, transaction id: 75997
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 搜索资源列表时重置页码 (#2540)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 搜索资源列表时重置页码 (#2539)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 搜索资源列表时重置页码 (#2538)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(monitor/alarm_strategy): support filter_config for alarm strategy (#2528)
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apps/monitor/constants.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

feat(plugins/bk-traffic-label): add new plugin bk-traffic-label (#2524)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/utils/test_jinja2.py
Due: format, ruff, mypy, import-linter

fix(data/apigw-definitions): fix cr
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

feat(data/apigw-definitions): add mcpserver sync (#2537)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/bin/post_migrate
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(data/apigw-definition): fix sync
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(data/apigw-definition): fix sync (#2541)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(api/open): fix mcpserver sync api
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

feat(api/open): fix test
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/open): fix sync api
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
Due: format, ruff, mypy, import-linter

feat(front-end): bk-traffic-label 插件 # Reviewed, transaction id: 76069
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableBkTrafficLabel.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): bk-traffic-label 插件 (#2515)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableBkTrafficLabel.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 流量染色插件参数位置 # Reviewed, transaction id: 76075
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 流量染色插件参数位置 (#2543)
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 修复资源请求参数表格样式 # Reviewed, transaction id: 76088
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
