Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

chore(front-end): 修改 cli 工具文本 # Reviewed, transaction id: 79081
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

chore(front-end): 修改 cli 工具文本 # Reviewed, transaction id: 79082
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

chore(front-end): 修改 cli 工具文本 (#2662)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

chore(front-end): 修改 cli 工具文本 (#2661)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

feat(permission): support applied_by display_name in /api/v1 and /api/v2/inner
  src/dashboard/apigateway/apigateway/apis/open/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers_esb.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
Due: format, ruff, mypy, import-linter

fix(MCP): 修复mcp可观测体验问题 --story=132564332
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/list-view/index.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/ticks.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/virtualized-trace-view.scss
  src/dashboard-front/src/components/trace-view/utils/filter-spans.tsx
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useAccessLog.ts
  src/dashboard-front/src/stores/useTrace.ts
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/mcp-server/components/FlowLogChart.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/QueryStatement.vue
  src/dashboard-front/src/views/mcp-server/components/TraceChainSlider.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

fix: make MCPServer inner dict branch call display_name conversion
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix: add exc_info to applied_by conversion warning log
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

refactor(mcp): replace string literals with MCPAgentClientTypeEnum
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(mcp): revert enum import in settings to avoid AppRegistryNotReady error
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

refactor(mcp): move MCP_CONFIG_AGENT_CLIENTS from settings to dynamic function
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp): use get_choice_label() instead of member.label for StructuredEnum
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
Due: format, ruff, mypy, import-linter

fix(mcp): replace transport_type string literals with MCPTransportTypeEnum
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

feat: add batch MCP Server config API (#2652)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(permission): fix dict branch in MCP inner applied_by and split error handling
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

feat(permission): support applied_by display_name in /api/v1 and /api/v2/inner (#2664)
  src/dashboard/apigateway/apigateway/apis/open/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers_esb.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
Due: format, ruff, mypy, import-linter

feat(e2e): run test, for review only
  src/dashboard-front/Dockerfile
  test/cases/environments/dev.bru
  test/sync/run.sh
Due: none

feat(mcp-proxy): add BKAIDev Agent Trace for MCP Gateway observability
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/cmd/root.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/export.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
Due: fmt, lint

feat(mcp-proxy): add BKAIDev Agent Trace for MCP Gateway observability (#2665)
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/cmd/root.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/export.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
Due: fmt, lint

feat(mcp-servers): support gateway-level applicant list when mcp_server_id is absent
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

fix: rename gateway-level applicant URL name to avoid collision and add test
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feature(MCP): McpServer 管理端视图新增一键复制URL --story=132845699
  src/dashboard-front/src/components/ag-mcp-agent-config/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/components/CopyConfigDialog.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/components/trace-view/selectors/trace.ts
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-mcp-batch-copy-config.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/services/source/observability.ts
  src/dashboard-front/src/services/types/body/patch/gateways.ts
  src/dashboard-front/src/services/types/body/post/gateways.ts
  src/dashboard-front/src/services/types/query/mcp-marketplace.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

feat(support): add management command to export released resource docs
  src/dashboard/apigateway/apigateway/apps/support/management/commands/export_released_resource_doc.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/test_export_released_resource_doc.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复上传文件过大时没有提示的问题 # Reviewed, transaction id: 79338
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 修复上传文件过大时没有提示的问题 # Reviewed, transaction id: 79339
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 修复上传文件过大时没有提示的问题 (#2668)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 修复上传文件过大时没有提示的问题 (#2669)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feat(support): add management command to export released resource docs (#2667)
  src/dashboard/apigateway/apigateway/apps/support/management/commands/export_released_resource_doc.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/test_export_released_resource_doc.py
Due: format, ruff, mypy, import-linter

feat(e2e): add v2-sync open api e2e test cases
  test/cases/dashboard/open api/v2-sync/01-sync-gateway.bru
  test/cases/dashboard/open api/v2-sync/02-add-related-apps.bru
  test/cases/dashboard/open api/v2-sync/03-sync-stages.bru
  test/cases/dashboard/open api/v2-sync/04-sync-resources.bru
  test/cases/dashboard/open api/v2-sync/05-create-resource-version.bru
  test/cases/dashboard/open api/v2-sync/06-release.bru
  test/cases/dashboard/open api/v2-sync/07-get-public-key.bru
  test/cases/dashboard/open api/v2-sync/08-list-permissions.bru
  test/cases/dashboard/open api/v2-sync/09-grant-permission.bru
  test/cases/dashboard/open api/v2-sync/10-list-resource-versions.bru
  test/cases/dashboard/open api/v2-sync/11-get-resource-version-latest.bru
  test/cases/dashboard/open api/v2-sync/12-generate-sdk.bru
  test/cases/dashboard/open api/v2-sync/13-sync-mcp-servers.bru
Due: none

feature(MCP): Mcpsever管理视图添加可观测相关入口 --story=133645315
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityFlowLog.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(front-end): 修复资源配置校验错误时的提示信息 # Reviewed, transaction id: 79404
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 修复资源配置校验错误时的提示信息 # Reviewed, transaction id: 79406
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(e2e): replace hardcoded gateway name with env variable to avoid affecting main gateway
  test/cases/dashboard/open api/v2-sync/01-sync-gateway.bru
  test/cases/dashboard/open api/v2-sync/02-add-related-apps.bru
  test/cases/dashboard/open api/v2-sync/03-sync-stages.bru
  test/cases/dashboard/open api/v2-sync/04-sync-resources.bru
  test/cases/dashboard/open api/v2-sync/05-create-resource-version.bru
  test/cases/dashboard/open api/v2-sync/06-release.bru
  test/cases/dashboard/open api/v2-sync/07-get-public-key.bru
  test/cases/dashboard/open api/v2-sync/08-list-permissions.bru
  test/cases/dashboard/open api/v2-sync/09-grant-permission.bru
  test/cases/dashboard/open api/v2-sync/10-list-resource-versions.bru
  test/cases/dashboard/open api/v2-sync/11-get-resource-version-latest.bru
  test/cases/dashboard/open api/v2-sync/12-generate-sdk.bru
  test/cases/dashboard/open api/v2-sync/13-sync-mcp-servers.bru
  test/cases/environments/dev.bru
Due: none

fix(MCP): 修复MavonEditor组件无法加载
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
Due: none

refactor: make mcp_server_id optional in ApplyQuerySetMixin
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

feat(permissions): add permissions prefix to gateway-level mcp-server routes for consistency
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
Due: format, ruff, mypy, import-linter

feat(e2e): add protocol_type and oauth2_public_client_enabled to mcp server e2e test
  test/cases/dashboard/open api/v2-sync/13-sync-mcp-servers.bru
Due: none

feat(e2e): add v2-sync open api e2e test cases (#2671)
  test/cases/dashboard/open api/v2-sync/01-sync-gateway.bru
  test/cases/dashboard/open api/v2-sync/02-add-related-apps.bru
  test/cases/dashboard/open api/v2-sync/03-sync-stages.bru
  test/cases/dashboard/open api/v2-sync/04-sync-resources.bru
  test/cases/dashboard/open api/v2-sync/05-create-resource-version.bru
  test/cases/dashboard/open api/v2-sync/06-release.bru
  test/cases/dashboard/open api/v2-sync/07-get-public-key.bru
  test/cases/dashboard/open api/v2-sync/08-list-permissions.bru
  test/cases/dashboard/open api/v2-sync/09-grant-permission.bru
  test/cases/dashboard/open api/v2-sync/10-list-resource-versions.bru
  test/cases/dashboard/open api/v2-sync/11-get-resource-version-latest.bru
  test/cases/dashboard/open api/v2-sync/12-generate-sdk.bru
  test/cases/dashboard/open api/v2-sync/13-sync-mcp-servers.bru
  test/cases/environments/dev.bru
Due: none
