Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

chore(license): 添加证书说明 & 全局字体 (#1625)
  src/dashboard-front/License.txt
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/hooks/use-pop-info-box.tsx
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/styles/base.css
  src/dashboard-front/src/utils/dom.ts
  src/dashboard-front/src/utils/encode.ts
  src/dashboard-front/src/utils/getSearchSelectorParams.ts
  src/dashboard-front/src/utils/random.ts
  src/dashboard-front/src/utils/url.ts
Due: none

fix(guideline.md): update mcp server guideline
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

chore(license): 修改 License 证书主体
  src/dashboard-front/License.txt
Due: none

chore(license): 修改 License 证书主体 (#1627)
  src/dashboard-front/License.txt
Due: none

fix: fix lint
  src/core-api/.golangci.yaml
  src/core-api/cmd/init.go
  src/core-api/cmd/root.go
  src/core-api/cmd/version.go
  src/core-api/main.go
  src/core-api/pkg/api/microgateway/permissions.go
  src/core-api/pkg/api/microgateway/public_key.go
  src/core-api/pkg/api/microgateway/publish_event.go
  src/core-api/pkg/api/open/public_key.go
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/constant/event.go
  src/core-api/pkg/database/dao/app_gateway_permission.go
  src/core-api/pkg/database/dbmock.go
  src/core-api/pkg/logging/init.go
  src/core-api/pkg/logging/writer.go
  src/core-api/pkg/metric/init.go
  src/core-api/pkg/middleware/bk_gateway_jwt.go
  src/core-api/pkg/server/server.go
  src/core-api/pkg/service/app_permission.go
  src/core-api/pkg/trace/init.go
  src/core-api/pkg/util/request.go
  src/core-api/pkg/util/response.go
  src/core-api/pkg/util/string.go
Due: none

fix: fix lint
  src/mcp-proxy/.golangci.yaml
  src/mcp-proxy/go.mod
  src/mcp-proxy/main.go
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/gateway.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/gateway.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/logging/desensitize.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/request.go
Due: fmt, lint

fix: fix lint
  .github/workflows/mcp-proxy.yml
Due: none

fix: fix lint
  src/mcp-proxy/Dockerfile
Due: fmt, lint

fix: fix lint (#1628)
  src/core-api/.golangci.yaml
  src/core-api/cmd/init.go
  src/core-api/cmd/root.go
  src/core-api/cmd/version.go
  src/core-api/main.go
  src/core-api/pkg/api/microgateway/permissions.go
  src/core-api/pkg/api/microgateway/public_key.go
  src/core-api/pkg/api/microgateway/publish_event.go
  src/core-api/pkg/api/open/public_key.go
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/constant/event.go
  src/core-api/pkg/database/dao/app_gateway_permission.go
  src/core-api/pkg/database/dbmock.go
  src/core-api/pkg/logging/init.go
  src/core-api/pkg/logging/writer.go
  src/core-api/pkg/metric/init.go
  src/core-api/pkg/middleware/bk_gateway_jwt.go
  src/core-api/pkg/server/server.go
  src/core-api/pkg/service/app_permission.go
  src/core-api/pkg/trace/init.go
  src/core-api/pkg/util/request.go
  src/core-api/pkg/util/response.go
  src/core-api/pkg/util/string.go
Due: none

feat(platform-tools): 平台工具迁移
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/platform-tools/automated-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/components/Collapse.vue
  src/dashboard-front/src/views/platform-tools/programmable-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JwtDecoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
Due: none

feature: 组件管理导航项空页面模块&路由整理
  .gitignore
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/useGateWayData.ts
  src/dashboard-front/src/layout/component-management/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/index.ts
  src/dashboard-front/src/stores/useCommon.ts
  src/dashboard-front/src/stores/useGateway.ts
  src/dashboard-front/src/tsx.d.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/types/gateway.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/intro/Index.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/route.ts
  src/dashboard-front/src/views/component-management/runtime-data/Index.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
  src/dashboard-front/src/views/stage-management/routes.ts
Due: none

refactor(basic-info): 基本信息页 & 全局共用组件 & lint-staged # Reviewed, transaction id: 50108
  src/dashboard-front/bun.lock
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/package.json
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/copy-button/Index.vue
  src/dashboard-front/src/components/icon-button/Index.vue
  src/dashboard-front/src/components/member-selector/Tpl.tsx
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/components/member-selector/member-select.scss
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/images/program-process.png
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/index.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/stores/useStaff.ts
  src/dashboard-front/src/styles/base.css
  src/dashboard-front/src/utils/copy.ts
  src/dashboard-front/src/utils/index.ts
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/GateWaysEditMemberSelector.vue
  src/dashboard-front/src/views/basic-info/components/GateWaysEditTextarea.vue
  src/dashboard-front/src/views/basic-info/routes.ts
Due: none

refactor(basic-info): 基本信息页 & 全局共用组件 & lint-staged (#1631)
  src/dashboard-front/bun.lock
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/package.json
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/copy-button/Index.vue
  src/dashboard-front/src/components/icon-button/Index.vue
  src/dashboard-front/src/components/member-selector/Tpl.tsx
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/components/member-selector/member-select.scss
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/images/program-process.png
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/index.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/stores/useStaff.ts
  src/dashboard-front/src/styles/base.css
  src/dashboard-front/src/utils/copy.ts
  src/dashboard-front/src/utils/index.ts
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/GateWaysEditMemberSelector.vue
  src/dashboard-front/src/views/basic-info/components/GateWaysEditTextarea.vue
  src/dashboard-front/src/views/basic-info/routes.ts
Due: none

fix: fix lint (#1629)
  .github/workflows/mcp-proxy.yml
  src/mcp-proxy/.golangci.yaml
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/go.mod
  src/mcp-proxy/main.go
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/gateway.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/gateway.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/logging/desensitize.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/request.go
Due: fmt, lint

fix: fix golang dep
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

fix: fix golang dep (#1633)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

feature: 组件管理导航项空页面模块&路由整理
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/use-gate-way-data.ts
  src/dashboard-front/src/layout/component-management/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/stores/useGateway.ts
  src/dashboard-front/src/tsx.d.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/types/gateway.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/intro/Index.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/route.ts
  src/dashboard-front/src/views/component-management/runtime-data/Index.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
  src/dashboard-front/src/views/stage-management/routes.ts
Due: none

fix(controller/publisher): 修复发布校验问题
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

feat(platform-tools)：平台工具迁移
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/views/platform-tools/automated-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/components/Collapse.vue
  src/dashboard-front/src/views/platform-tools/programmable-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JwtDecoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
Due: none

feat(platform-tools)：平台工具迁移 (#1630)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/views/platform-tools/automated-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/components/Collapse.vue
  src/dashboard-front/src/views/platform-tools/programmable-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JwtDecoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
Due: none

feat(upgrade): upgrade python to 3.11 and upgrade grpcio
  .github/workflows/dashboard.yml
  src/dashboard/Dockerfile
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/tracing/otel.py
  src/dashboard/apigateway/apigateway/utils/etcd.py
  src/dashboard/apigateway/apigateway/utils/etcd_monkeypatch.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

test(utils/test_ip.py): fix newer python ipv6 convert fail
  src/dashboard/apigateway/apigateway/tests/utils/test_ip.py
  src/dashboard/apigateway/apigateway/utils/ip.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

refactor(basic-info): 基本信息页 & 图标 & reset 样式 # Reviewed, transaction id: 50220
  src/dashboard-front/bun.lock
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/components/tenant-user-selector/Index.vue
  src/dashboard-front/src/images/bare_git.png
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/index.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useStaff.ts
  src/dashboard-front/src/styles/base.css
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditDesc.vue
  src/dashboard-front/src/views/basic-info/components/EditMember.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/vite.config.ts
Due: none

refactor(basic-info): 基本信息页 & 图标 & reset 样式 (#1636)
  src/dashboard-front/bun.lock
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/components/tenant-user-selector/Index.vue
  src/dashboard-front/src/images/bare_git.png
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/index.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useStaff.ts
  src/dashboard-front/src/styles/base.css
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditDesc.vue
  src/dashboard-front/src/views/basic-info/components/EditMember.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/vite.config.ts
Due: none

fix(stage): fix type & routes & styles # Reviewed, transaction id: 50281
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/stage-management/Index.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
  src/dashboard-front/uno.config.ts
Due: none

fix(stage): fix type & routes & styles (#1637)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/stage-management/Index.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
  src/dashboard-front/uno.config.ts
Due: none

fix(dockerfile): update base image
  src/dashboard/Dockerfile
Due: none

fix(guideline.md): update mcp server guideline (#1626)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

fix: fix check
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

chore(pyproject.toml): update build-backend
  src/dashboard/pyproject.toml
Due: none

fix(controller/publisher): 修复发布校验问题 (#1639)
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

fix: mcp proxy dep (#1638)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

fix(controller/publisher): 修复发布校验问题 (#1634)
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

fix(apis/v2/open): 修复权限申请接口的响应结果
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
Due: format, ruff, mypy, import-linter

fix: fix output
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
Due: none

fix(apis/v2/open): 修复权限申请接口的响应结果
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
Due: format, ruff, mypy, import-linter

fix: serializer
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
