Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fix: 修复可编程网关部署日志 # Reviewed, transaction id: 39426
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/published/index.vue
Due: none

fix: 修复可编程网关部署日志 (#1280)
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/published/index.vue
Due: none

feat(plugins): add trigger for bk-concurrency-limit
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/stage.py
Due: format, ruff, mypy, import-linter

fix: fix doc
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_allow_apply_by_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_esb_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_component_systems.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_esb_systems.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_gateway_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_system_permission_components.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_resource_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_renew_esb_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_renew_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

feat: 多租户语言切换 # Reviewed, transaction id: 39615
  src/dashboard-front/src/components/language-toggle.vue
  src/dashboard-front/src/http/user.ts
  src/dashboard-front/src/store/user.ts
Due: none

feat: 多租户语言切换 (#1283)
  src/dashboard-front/src/components/language-toggle.vue
  src/dashboard-front/src/http/user.ts
  src/dashboard-front/src/store/user.ts
Due: none

fix: fix serializer
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
Due: format, ruff, mypy, import-linter

fix(gateway/create): update create slz
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/dev_guideline/en/programmable_gateway.md
  src/dashboard/apigateway/apigateway/templates/dev_guideline/zh-hans/programmable_gateway.md
Due: format, ruff, mypy, import-linter

refactor(bk-apigateway-inner): inner api 迁移到 v2/inner/ (#1266)
  src/dashboard/apigateway/apigateway/apis/v2/inner/helpers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_allow_apply_by_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_esb_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_component_systems.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_esb_systems.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_gateway_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_system_permission_components.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_resource_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_renew_esb_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_renew_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(gateway/create): update create slz (#1284)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/dev_guideline/en/programmable_gateway.md
  src/dashboard/apigateway/apigateway/templates/dev_guideline/zh-hans/programmable_gateway.md
Due: format, ruff, mypy, import-linter

fix(apps/api_debug): 修复 APIDebugHistory 表中 resource_name 长度问题
  src/dashboard/apigateway/apigateway/apps/api_debug/migrations/0002_alter_apidebughistory_resource_name.py
  src/dashboard/apigateway/apigateway/apps/api_debug/models.py
Due: format, ruff, mypy, import-linter

fix(apps/api_debug): 修复 APIDebugHistory 表中 resource_name 长度问题 (#1285)
  src/dashboard/apigateway/apigateway/apps/api_debug/migrations/0002_alter_apidebughistory_resource_name.py
  src/dashboard/apigateway/apigateway/apps/api_debug/models.py
Due: format, ruff, mypy, import-linter

feat: 流水日志 & 统计报表资源选择器 # Reviewed, transaction id: 39909
  src/dashboard-front/src/views/operate-data/access-log/index.vue
  src/dashboard-front/src/views/operate-data/statistics-report/components/resource-searcher.vue
  src/dashboard-front/src/views/operate-data/statistics-report/components/top.vue
Due: none

feat(apps/monitor): support strategy effective_stages
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/base.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/resource_backend.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/helpers.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0010_remove_alarmstrategy__api_label_ids_and_more.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/apps/monitor/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

feat: 流水日志 & 统计报表资源选择器 (#1286)
  src/dashboard-front/src/views/operate-data/access-log/index.vue
  src/dashboard-front/src/views/operate-data/statistics-report/components/resource-searcher.vue
  src/dashboard-front/src/views/operate-data/statistics-report/components/top.vue
Due: none

test(apis/web/monitor): fix unittests
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
Due: format, ruff, mypy, import-linter

esb/conf/default.py: fix keyerror
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

esb/conf/default.py: fix keyerror (#1288)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

esb/conf/default.py: fix keyerror (#1289)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

feat: 创建网关改版
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/css/flex.css
  src/dashboard-front/src/http/gateway.ts
  src/dashboard-front/src/images/bare_git.png
  src/dashboard-front/src/images/program-process.png
  src/dashboard-front/src/images/program-process.svg
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
Due: none

fix(apis/web/monitor): fix effective_stages create
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
Due: format, ruff, mypy, import-linter

feat: 创建网关改版 (#1290)
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/css/flex.css
  src/dashboard-front/src/http/gateway.ts
  src/dashboard-front/src/images/bare_git.png
  src/dashboard-front/src/images/program-process.png
  src/dashboard-front/src/images/program-process.svg
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
Due: none

test(apis/web/monitor): add unittests
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/flow/handlers/test_resource_backend.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/test_models.py
Due: format, ruff, mypy, import-linter

fix(data/apigw-definitions): fix bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_renew_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(apps/api_debug): 修复在线调试发起 post 请求时 body 解析问题
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
Due: format, ruff, mypy, import-linter

fix: fix body
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
Due: format, ruff, mypy, import-linter

feat: 创建网关指引
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
Due: none

feat(plugins): add trigger for bk-concurrency-limit (#1281)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/stage.py
Due: format, ruff, mypy, import-linter

feat(plugins): add trigger for bk-concurrency-limit (#1282)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/stage.py
Due: format, ruff, mypy, import-linter

fix(monitor/flow): status 500 without code_name has no related strategies
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/resource_backend.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/helpers.py
Due: format, ruff, mypy, import-linter

fix(apps/api_debug): 修复在线调试发起 post 请求时 body 解析问题 (#1292)
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
Due: format, ruff, mypy, import-linter

fix(data/apigw-definitions): fix bk-apigateway-resources.yaml (#1291)
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_renew_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

feat(apps/monitor): support strategy effective_stages (#1287)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/base.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/handlers/resource_backend.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/helpers.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0010_remove_alarmstrategy__api_label_ids_and_more.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/apps/monitor/tasks.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/flow/handlers/test_base.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/flow/handlers/test_resource_backend.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/test_models.py
Due: format, ruff, mypy, import-linter

feat: 创建网关指引 (#1293)
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
Due: none

fix: 创建编程网关提示
  src/dashboard-front/src/components/create-gateway.vue
Due: none

fix: 创建编程网关提示 (#1294)
  src/dashboard-front/src/components/create-gateway.vue
Due: none

fix(api/web): fix programable gateway history
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix import
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
