Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(frontend): 修复部分体验单据 (#2338)
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/DownloadDialog.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/ReleaseProgrammable.vue
Due: none

fix(pyproject.toml): upgrade blue-krill version (#2319)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(front-end): 修复资源标签 & mcp 市场翻页 (#2335)
  src/dashboard-front/package-lock.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

fix(api): fix mcpserver desc (#2317)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

feature(McpServer): mcp创建/更新 选择sse 添加提示 --story=129838992
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

refactor(mcp_server/tool_name): make it simpler (#2343)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(utils/openapi): fix bug (#2345)
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): use official mcp sdk and fix jwt (#2244)
  .github/workflows/mcp-proxy.yml
  src/mcp-proxy/.gitignore
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/Makefile
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/jwt.go
  src/mcp-proxy/pkg/util/jwt_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/integration_suite_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(api/web): mcpserver tool support rename (#2324)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(preview): 体验问题修复 (#2349)
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

fix(McpServer): mcp server列表小屏下滑分页失效 --story=129839598 (#2339)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none

feat(menu): 导航菜单修改 (#2358)
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/mcp-server/route.ts
  src/dashboard-front/src/views/stage-management/overview/components/ReleaseProgrammable.vue
Due: none

feature(McpServer): mcp 工具增加别名 --story=129870966
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feature(McpServer): 工具名称增加唯一标识校验 --story=129870966
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(front-end): 修复测试单据 (#2352)
  src/dashboard-front/index.html
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
Due: none

feature(McpServer): Mcp可用工具支持工具别名展示 --story=129870966
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(front-end): 修复权限审批资源展示不正确的问题 (#2361)
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(front-end): 修复响应参数通过json生成失效的问题 (#2364)
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(api/web): fix mcpserver list (#2373)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(release-record): 发布记录优化 (#2369)
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

feat(commands/permission_export_import.py): support export and import permissions (#2372)
  src/dashboard/apigateway/apigateway/apps/permission/management/commands/permission_export_import.py
Due: format, ruff, mypy, import-linter

feat(backend): add health check support for backend services (#2359)
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_views.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service_health_check.py
  src/dashboard/apigateway/apigateway/tests/controller/models/test_base.py
Due: format, ruff, mypy, import-linter

feat(api/v2): mcpserver inner api add approved url (#2346)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/v2): fix inner api (#2365)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(api/web): mcpserver list suppport category (#2370)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0010_add_mcp_server_category.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): support mcp_server config (#2374)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/aidev.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/aidev.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(deps): upgrade golang.org/x/crypto to fix security vulnerabilities (#2378)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

feature(MCP): MCPServer增加分类展示 --story=129208940
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
Due: none

feat(front-end): 后端服务健康检查配置 (#2380)
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(mcp-proxy): support mcp tool rename (#2371)
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/sse_test.go
Due: fmt, lint

feat(django/commands): add export_legacy_v1_releases for stats (#2381)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_legacy_v1_releases.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(api/web): mcpserver list suport multiple categories (#2375)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feature(MCP): MCPServer MCPMarket首页整改优化 --story=129208940
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-table-filter-change.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/utils/filterEmptyValues.ts
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

feat(front-end): 健康检查 feature flag (#2385)
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(front-end): 环境编辑时的健康检查传参 (#2388)
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(inner-api): add gateway disable and delete APIs (#2379)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_update_gateway_status.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): add feature flag for health check (#2384)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(permission): 权限审批筛选风格修改 (#2387)
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
Due: none

feat(mcp_server): add new categories and simplify filter logic (#2382)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(core-api/cache): add fallback cache for database resilience (#2383)
  .github/workflows/core-api.yml
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
  src/core-api/pkg/cacheimpls/cache_with_fallback.go
  src/core-api/pkg/cacheimpls/cache_with_fallback_test.go
  src/core-api/pkg/cacheimpls/init.go
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
