Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feature(select): 已停用的网关需要差异化展示 --story=126582922
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
Due: none

feat(dockerfile): use tencentos4 (#1880)
  src/core-api/Dockerfile
  src/core-api/go.mod
  src/core-api/go.sum
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/default.conf
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard/Dockerfile
  src/esb/Dockerfile
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

feat(conf/default.py): add BK_APISIX_URL for frontend env-vars
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复日志下载接口响应 content-type 问题
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feat(service/plugin): 新增 4 个插件
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
Due: format, ruff, mypy, import-linter

feat(dockerfile): upgrade base image
  src/dashboard/Dockerfile
Due: none

feat(dockerfile): upgrade base image (#1891)
  src/dashboard/Dockerfile
Due: none

fix(apis/web): 修复日志下载接口响应 content-type 问题 (#1889)
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

add test
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
Due: format, ruff, mypy, import-linter

fix(log): 修复日志和报表导出问题
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

fix(frontend): 调整插件配置图标 & 认证提示文本 # Reviewed, transaction id: 60605
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(log): 修复日志和报表导出问题 (#1892)
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

fix(frontend): 调整插件配置图标 & 认证提示文本 (#1893)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(controller/models): add apisix models
  src/dashboard/apigateway/apigateway/controller/models/__init__.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/models/constants.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
Due: format, ruff, mypy, import-linter

feat(controller/models): add apisix models ssl
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/models/constants.py
Due: format, ruff, mypy, import-linter

feat(controller/models): add convertor
  src/dashboard/apigateway/apigateway/controller/convertor/__init__.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/proto.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/convertor/ssl.py
Due: format, ruff, mypy, import-linter

feat(icon-font): 更新图标库
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
Due: none

feat(icon-font): 更新图标库 (#1895)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
Due: none

feat(controller/models): add convertor
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/crds/config_controller.py
  src/dashboard/apigateway/apigateway/controller/crds/constants.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/gateway_config.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/stage.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_config.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_discovery.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_resource.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_service.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_stage.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_tls.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feat(biz/ai): add doc translate (#1884)
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

feat(controller/models): add id validate rules
  src/dashboard/apigateway/apigateway/controller/models/base.py
Due: format, ruff, mypy, import-linter

fix(convertors/service): the service id max length is 64, so make it smaller during convert
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_services.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
Due: format, ruff, mypy, import-linter

feat(controller/models): add route convertor
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/uri_render.py
  src/dashboard/apigateway/apigateway/tests/controller/test_rui_render.py
Due: format, ruff, mypy, import-linter

feat(controller/models): remove legacy codes
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/convertor/utils.py
  src/dashboard/apigateway/apigateway/controller/crds/constants.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/__init__.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertor.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_resource.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_stage.py
  src/dashboard/apigateway/apigateway/controller/release_data/__init__.py
  src/dashboard/apigateway/apigateway/controller/release_data/base.py
  src/dashboard/apigateway/apigateway/controller/release_data/release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_resource.py
Due: format, ruff, mypy, import-linter

feature(table): tedesgin-table支持自定义跨页全选、应用权限表格替换 --story=127848799
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(controller): remove unused codes
  src/dashboard/apigateway/apigateway/controller/convertor.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/crds/__init__.py
  src/dashboard/apigateway/apigateway/controller/crds/base.py
  src/dashboard/apigateway/apigateway/controller/crds/constants.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/__init__.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/__init__.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/__init__.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_resource.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_stage.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/release_data.py
  src/dashboard/apigateway/apigateway/controller/release_data/__init__.py
  src/dashboard/apigateway/apigateway/controller/release_data/base.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_resource.py
Due: format, ruff, mypy, import-linter

feat(controller): add transformer
  src/dashboard/apigateway/apigateway/controller/convertor.py
  src/dashboard/apigateway/apigateway/controller/convertor/__init__.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/registry/base.py
  src/dashboard/apigateway/apigateway/controller/registry/dict.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/test_convertor.py
Due: format, ruff, mypy, import-linter

feat(controller): remove tests
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_gateway_config.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_plugin_metadata.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_resource.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_services.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_stage.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/test_convertor.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_key_prefix.py
  src/dashboard/apigateway/apigateway/tests/controller/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_dict.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_clean_task.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_release.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_syncing.py
  src/dashboard/apigateway/apigateway/tests/controller/test_rui_render.py
Due: format, ruff, mypy, import-linter

fix(convertors/service): the service id max length is 64, so make it smaller during convert (#1896)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_services.py
Due: format, ruff, mypy, import-linter

fix(convertors/service): the service id max length is 64, so make it smaller during convert (#1897)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_services.py
Due: format, ruff, mypy, import-linter

feat(controller): remove micro_gateway from controller
  src/dashboard/apigateway/apigateway/biz/gateway/releaser.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/distributor/base.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/distributor/key_prefix.py
  src/dashboard/apigateway/apigateway/controller/management/commands/crd_example.py
  src/dashboard/apigateway/apigateway/controller/management/commands/remove_invalid_stages_from_micro_gateway.py
  src/dashboard/apigateway/apigateway/controller/micro_gateway_config.py
  src/dashboard/apigateway/apigateway/controller/models/__init__.py
  src/dashboard/apigateway/apigateway/controller/procedure_logger/__init__.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/release_logger.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

feat(controller): remove micro_gateway from controller
  src/dashboard/apigateway/apigateway/apps/feature/constants.py
  src/dashboard/apigateway/apigateway/biz/gateway/releaser.py
  src/dashboard/apigateway/apigateway/biz/resource/url.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/management/commands/sync_default_micro_gateway.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: format, ruff, mypy, import-linter

feat(controller): add comment
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/distributor/key_prefix.py
Due: format, ruff, mypy, import-linter

docs(version_log): add release log for 1.18.1
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): add release log for 1.18.1 (#1899)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

feat(controller): refactor convertor
  src/dashboard/apigateway/apigateway/controller/convertor/__init__.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/convertor/utils.py
  src/dashboard/apigateway/apigateway/controller/models/__init__.py
  src/dashboard/apigateway/apigateway/controller/registry/base.py
  src/dashboard/apigateway/apigateway/controller/registry/dict.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter
