Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(apigateway): add version and stage name validation for programmable gateways (#2502)
  .gitignore
  src/dashboard/apigateway/apigateway/apis/open/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

feature(MCP): mcpserver详情开启公共客户端模式展示 --story=132217418
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(apigateway): correct bk_paas3 inner API resource name grants (#2489)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(mcp): add oauth2_public_client_enabled to marketplace API and update guideline docs (#2492)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

feature(MCP): McpServer详情开启公共客户端模式展示增加tooltip --story=132217418
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(MCP): McpServer编辑无工具资源时提示无可用环境 --story=132217418
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(.code.yml): add .code.yml, for ci config (#2514)
  .code.yml
Due: none

feat(apigateway): grant bk_auth resource permissions and update version to V1.21.0 (#2513)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

deps(front-end): update vite to 7.3.1 (#2522)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

fix(utils/jinja2.py): jinja2 template refactor (#2520)
  src/dashboard/apigateway/apigateway/utils/jinja2.py
Due: format, ruff, mypy, import-linter

feat(mcp): show application URL for MCP servers with all application-level tools (#2507)
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(front-end): 调整资源文档zip文件大小限制 (#2530)
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

fix(data_plane/commands): add export gateway_names commands (#2521)
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/export_gateway_names.py
  src/dashboard/apigateway/apigateway/core/admin.py
Due: format, ruff, mypy, import-linter

fix(MCP): McpServer 市场多调用了api导致报错 --story=132723353
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

fix(front-end): 调整上传资源配置文件大小限制 (#2531)
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feat(mcp-proxy): add description for parameter types in OpenAPI to MCP conversion (#2527)
  src/mcp-proxy/pkg/infra/proxy/converter.go
Due: fmt, lint

feat(mcp-proxy): add X-Request-ID and trace context full-chain propagation (#2518)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/docs/request_id_propagation.md
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/infra/trace/init_test.go
  src/mcp-proxy/pkg/infra/trace/testing.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/metric/init_test.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/request_id_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/pkg/util/request.go
  src/mcp-proxy/pkg/util/request_test.go
  src/mcp-proxy/tests/integration/metrics_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(data/apigw-definitions): add mcpserver sync (#2537)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/bin/post_migrate
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

feat(monitor/alarm_strategy): support filter_config for alarm strategy (#2528)
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apps/monitor/constants.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

fix(front-end): 搜索资源列表时重置页码 (#2538)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(base-info): 编辑网关时重复网关名校验修改 (#2534)
  src/dashboard-front/src/components/create-gateway/Index.vue
Due: none

refactor(biz/mcp_server): move mcp_server business logic from view to biz layer (#2523)
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(plugins/bk-traffic-label): add new plugin bk-traffic-label (#2524)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/utils/test_jinja2.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): fix mcp tool schema (#2535)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(front-end): 修复资源请求参数表格样式 (#2544)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

feat(front-end): bk-traffic-label 插件 (#2515)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableBkTrafficLabel.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(api/open): fix mcpserver api (#2542)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(data/apigw-definition): fix sync (#2541)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(front-end): 流量染色插件参数位置 (#2543)
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 流量染色插件文案 (#2549)
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 展示发布日志的数据面 (#2548)
  src/dashboard-front/src/components/release-stage-event/Index.vue
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

fix(mcp-proxy): fix mcp tool schema (#2547)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

feat: remove PluginForm references (phase 1) (#2555)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/test_managers.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: format, ruff, mypy, import-linter

feat(plugin): add description field to PluginType model (#2550)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/urls.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0016_add_plugintype_description.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/apis/web/plugin/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复权限审批数据刷新问题 (#2552)
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

feat(front-end): 调整数据面展示内容 (#2551)
  src/dashboard-front/src/components/release-stage-event/Index.vue
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

feat(front-end): 告警策略过滤 & 逻辑优化 (#2560)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/monitor.ts
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(MCP): 修复表格本地分页过多频繁触发事件会造成勾选卡顿、结果预览tooltip过长会出现滚动条、stage接口会阻塞详情接口主线程渲染
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/directives/index.ts
  src/dashboard-front/src/hooks/use-tdesign-selection.ts
  src/dashboard-front/src/utils/stopClickOutside.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feature(MCP): McpServer列表页支持详情页跳转 --story=53986136
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
