Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(front-end): 健康检查禁用逻辑与提示 (#2390)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(sdk): support SSL insecure and mirror URL config for Maven SDK
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/maven.py
  src/dashboard/apigateway/apigateway/biz/sdk/maven/settings.xml
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/distributors/test_maven.py
  src/dashboard/apigateway/apigateway/utils/maven.py
Due: format, ruff, mypy, import-linter

fix(templates/dev_guideline): fix mcpserver config (#2392)
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
Due: none

feat(mcp): MCPServer 分类支持国际化 (#2386)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(resource-importer): add field length validation to prevent database insertion failure (#2389)
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

feat(front-end): 资源参数 JSON 编辑器 (#2399)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(MCPDetail): 优化mcp详情样式布局 --story=129759782
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(MCPDetail): 修改scss预编译提前解析问题 --story=129759782
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

fix(front-end): 多租户语言切换请求头 (#2402)
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/services/source/basic.ts
Due: none

fix(front-end): 修复资源后端配置请求地址 (#2394)
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
Due: none

feature(MCPDetail): MCPServer配置指引优化 --story=129759782
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp_server): fix empty lines in rendered JSON config (#2398)
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源参数 JSON 编辑器 (#2400)
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
Due: none

fix(mcp-proxy): code review fixes and test improvements (#2396)
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission_test.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/middleware/mcp_permission_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/cryptography.go
  src/mcp-proxy/pkg/util/cryptography_test.go
  src/mcp-proxy/pkg/util/goroutinex.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(front-end): 修复参数编辑器没有传出输入值的问题 (#2407)
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
Due: none

fix(api/web): fix mcp_marketplace list api (#2410)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix(api): use get_paginated_response for permission record list APIs (#2404)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views_esb.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views_esb.py
Due: format, ruff, mypy, import-linter

feature(MCPDetail): mcp配置增加cusor安装链接入口 --story=129759782
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/styles/app-doc.scss
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
Due: none

fix(api/web): fix mcp_marketplace api (#2411)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复环境详情的资源 method 筛选失效 (#2409)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(core/models.py): remove MicroGateway model (#2161)
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/migrations/0047_remove_micro_gateway.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

fix(frontend): 体验单据修复 (#2418)
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(MCP): MCP市场选择左侧具体分类后且右侧默认是全部, 分类接口参数去掉分类筛选 --story=153986136
  src/dashboard-front/src/layout/mcp-market/Index.vue
Due: none

fix(front-end): 修复体验问题 (#2417)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/resource-detail/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(controller): fix plugin convert (#2412)
  src/dashboard/apigateway/apigateway/service/plugin/normalizer.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(MCP): 修复mcp相关体验单据 --story=153986136
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-mcp-config-divide-ratio.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(front-end): 修复后端服务地址编辑失效问题 (#2419)
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
Due: none

fix(CreateMcp): 修复创建mcp时tool_name字段不存在场景 --story=154255464
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(api/web): fix plugin_type name (#2416)
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
Due: format, ruff, mypy, import-linter

feat(front-end): ip访问保护插件切换类型时保留表单值 (#2420)
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

fix(CreateMcp): 修复创建mcp分类选项提示语触发方式 --story=154255464
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(front-end): access token 插件 allow_fallback 默认值 (#2423)
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
Due: none

fix(CreateMCP): tool选项预览默认展示tool_name --story=153986136
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(mcp-server): change mcp_server_id from path param to query param in MCPServerAppPermissionApplyListApi (#2430)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(CreateMcp): 分类为空可以新建MCP_Server --story=154297821
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(mcp-permission): mcp 权限审批接口修改 (#2433)
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
Due: none

fix(online-debug): 在线调试自定义头部输入卡顿修复 (#2431)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
Due: none

feature(Plugin): 去掉插件form表单接口，改用前端静态目录实现 --story=130955015
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/json/schemaPluginFormCn.json
  src/dashboard-front/src/json/schemaPluginFormEn.json
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/plugin-manage.ts
Due: none

feat(front-end): 资源参数表格优化 (#2434)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(front-end): 无表单插件 yaml 值 (#2426)
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none
