Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(front-end): 批量删除应用权限 --story=134214968
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/BatchRemove.vue
Due: none

feat(mcp_server): supplement audit logs for mcp server changes (#2900)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/audit.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

feat(front-end): 批量删除应用权限 --story=134214968 (#2910)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/BatchRemove.vue
Due: none

fix(permission): skip invalid apps in expiry alerts (#2909)
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): use json.RawMessage for BodyParam to preserve number precision
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
Due: fmt, lint

test(mcp-proxy): add integration tests for large integer body param precision
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dashboard): handle anonymous notice tenant fallback
  src/dashboard/apigateway/apigateway/notice/__init__.py
  src/dashboard/apigateway/apigateway/notice/urls.py
  src/dashboard/apigateway/apigateway/notice/views.py
  src/dashboard/apigateway/apigateway/tests/notice/test_views.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): address review feedback for BodyParam precision PR
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dashboard): preload release event detail relations
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
Due: format, ruff, mypy, import-linter

fix(home): 修改闲置的运营状态展示
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(mcp-proxy): skip body when body_param is JSON null
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
Due: fmt, lint

fix(front-end): 修复资源导入报错提示 & 请求 timeout 延长 --story=135489734
  src/dashboard-front/src/services/http/lib/request.ts
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 修复资源导入报错提示 & 请求 timeout 延长 --story=135489734 (#2915)
  src/dashboard-front/src/services/http/lib/request.ts
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(home): 修改闲置的运营状态展示 (#2916)
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(mcp-proxy): use json.RawMessage for BodyParam to preserve number precision (#2912)
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dashboard): preload release event detail relations (#2914)
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): narrow notice tenant fallback
  src/dashboard/apigateway/apigateway/notice/views.py
  src/dashboard/apigateway/apigateway/tests/notice/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): avoid AnonymousUser tenant lookup in notice view (#2913)
  src/dashboard/apigateway/apigateway/notice/__init__.py
  src/dashboard/apigateway/apigateway/notice/urls.py
  src/dashboard/apigateway/apigateway/notice/views.py
  src/dashboard/apigateway/apigateway/tests/notice/test_views.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

fix(dashboard): cache release resource configs
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/test_release_data.py
Due: format, ruff, mypy, import-linter

docs(release/1.22.1): version log
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): update
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(release/1.22.1): version log (#2918)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): update (#2919)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(mcp-proxy): use json.RawMessage for BodyParam to preserve number precision
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
Due: fmt, lint

fix(mcp-proxy): use json.RawMessage for BodyParam to preserve number precision for release/1.22 (#2920)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dashboard): show audit fields in Django admin forms
  src/dashboard/apigateway/apigateway/apps/api_debug/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/feature/admin.py
  src/dashboard/apigateway/apigateway/apps/gateway/admin.py
  src/dashboard/apigateway/apigateway/apps/label/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/metrics/admin.py
  src/dashboard/apigateway/apigateway/apps/monitor/admin.py
  src/dashboard/apigateway/apigateway/apps/permission/admin.py
  src/dashboard/apigateway/apigateway/apps/plugin/admin.py
  src/dashboard/apigateway/apigateway/apps/support/admin.py
  src/dashboard/apigateway/apigateway/common/admin.py
  src/dashboard/apigateway/apigateway/core/admin.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/bkcore/admin.py
  src/dashboard/apigateway/apigateway/schema/admin.py
  src/dashboard/apigateway/apigateway/tests/common/test_admin.py
Due: format, ruff, mypy, import-linter

feat(metrics): add resource app metrics export
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/__init__.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

fix(Table): 修复表格filterPopup点击任意空白区域重新获取异步数据会造成原有宽度重绘 --story=159816886
  src/dashboard-front/src/components/ag-table/Index.vue
Due: none

fix(dashboard): update ITSM permission ticket title
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(dashboard): update ITSM permission ticket title (#2925)
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(dashboard): update ITSM permission ticket title (#2926)
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(monitor): handle string status in alarm subtype
  src/dashboard/apigateway/apigateway/service/alert_flow/helpers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/test_helpers.py
Due: format, ruff, mypy, import-linter

fix: handle empty app code in app request alerts
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove bk-apigateway-inner registration
  .agents/skills/bk-apigateway-openapi-check/references/file-reference.md
  .agents/skills/bk-apigateway-openapi-check/references/special-cases.md
  src/dashboard/apigateway/apigateway/apis/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/urls.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-inner-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-inner-resources.yaml
  src/dashboard/bin/post_migrate
  test-bdd/scripts/01-网关管理/02-网关列表操作.spec.js
Due: format, ruff, mypy, import-linter

fix(v2-open-resource): align v2 released resource permissions and migration docs
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateway_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none
