Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

refactor(dashboard): move cross model manager logic to biz (#2782)
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/managers.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/models.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): complete upward import removal in controller tasks
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_doc_version.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/service/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

style(lints): fix lints
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
Due: format, ruff, mypy, import-linter

style(lint): fix lints
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove dead biz proxy wrappers
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/backend/backend.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/biz/gateway/label.py
  src/dashboard/apigateway/apigateway/biz/resource/__init__.py
  src/dashboard/apigateway/apigateway/biz/resource/disabled_stage.py
  src/dashboard/apigateway/apigateway/biz/resource/openapi_schema.py
  src/dashboard/apigateway/apigateway/biz/resource/proxy.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_doc_version.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_constants.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_label.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_disabled_stage.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_openapi_schema.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_resource.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
  src/dashboard/apigateway/apigateway/tests/core/test_models.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_cleanup.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_snapshot.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_version_schema.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复告警策略提交失败的问题
  src/dashboard-front/src/services/source/monitor.ts
  src/dashboard-front/src/types/auto-imports.d.ts
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(online-debugging): 修复 BkSelect allow-create 失焦未提交自定义值及 filterable 显示残留过滤文本；优化资源版本达到上限的提示文案 (#2790)
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

refactor(dashboard): preserve service comments after move
  src/dashboard/apigateway/apigateway/service/resource_cleanup.py
  src/dashboard/apigateway/apigateway/service/resource_doc_version.py
  src/dashboard/apigateway/apigateway/service/resource_snapshot.py
  src/dashboard/apigateway/apigateway/service/resource_version_schema.py
Due: format, ruff, mypy, import-linter

fix(dashboard): include openapi import parse error details
  src/dashboard/apigateway/apigateway/biz/resource/importer/sync.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove shared v2 mcp api helper (#2787)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复告警策略提交失败的问题 (#2789)
  src/dashboard-front/src/services/source/monitor.ts
  src/dashboard-front/src/types/auto-imports.d.ts
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

refactor(dashboard): centralize gateway sync workflows (#2776)
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/open/support/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/related_app.py
  src/dashboard/apigateway/apigateway/biz/gateway/saver.py
  src/dashboard/apigateway/apigateway/biz/release/gateway_releaser.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/release/waiter.py
  src/dashboard/apigateway/apigateway/biz/sdk/helper.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/component/release.py
  src/dashboard/apigateway/apigateway/tests/apis/open/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/support/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_related_app.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/test_gateway_sdk.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): address code review feedback for resource version artifacts
  src/dashboard/apigateway/apigateway/biz/resource_version/artifacts.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): decompose sync result into tuple for clarity
  src/dashboard/apigateway/apigateway/apis/open/resource/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/sync.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove remaining biz proxy wrappers
  src/dashboard/apigateway/apigateway/apis/open/released/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/prepared_request.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway_sdk/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/resource/__init__.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/importers.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/biz/resource/label.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/biz/resource/url.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/service/resource_version_schema.py
  src/dashboard/apigateway/apigateway/tests/apis/open/released/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/api_test/test_prepared_request.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_label.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_url.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_version_schema.py
Due: format, ruff, mypy, import-linter

docs(dashboard): clarify biz and service boundaries
  src/dashboard/AGENTS.md
Due: none

refactor(dashboard): remove controller task upward imports (#2784)
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_doc_version.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/service/release.py
  src/dashboard/apigateway/apigateway/service/resource_doc.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/service/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): centralize openapi resource sync into biz layer (#2779)
  src/dashboard/apigateway/apigateway/apis/open/resource/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/sync.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): centralize resource version artifacts (#2785)
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource_version/artifacts.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源版本生成SDK时环境变量配置的language不生效的问题
  src/dashboard-front/src/components/sdk-language-selector/Index.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
Due: none

refactor(dashboard): fix license headers and reorganize imports
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/ai/constant.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/schema.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/biz/resource/openapi_schema.py
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/maven.py
  src/dashboard/apigateway/apigateway/biz/sdk/managers/java.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/gateway_limits.py
  src/dashboard/apigateway/apigateway/service/backend.py
  src/dashboard/apigateway/apigateway/service/gateway_label.py
  src/dashboard/apigateway/apigateway/service/paas.py
  src/dashboard/apigateway/apigateway/service/publish_validator.py
  src/dashboard/apigateway/apigateway/service/release.py
  src/dashboard/apigateway/apigateway/service/resource_cleanup.py
  src/dashboard/apigateway/apigateway/service/resource_doc.py
  src/dashboard/apigateway/apigateway/service/resource_snapshot.py
  src/dashboard/apigateway/apigateway/service/resource_version_schema.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_management_commands.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/data_plane/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_schema.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_publish_validator.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_cleanup.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_doc_version.py
  src/dashboard/apigateway/apigateway/tests/utils/test_version.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): move openapi export into service layer
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/schema.py
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/parsers.py
  src/dashboard/apigateway/apigateway/biz/resource_version/artifacts.py
  src/dashboard/apigateway/apigateway/biz/sdk/generators/openapi.py
  src/dashboard/apigateway/apigateway/service/openapi_export.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(monitor): prefetch monitor list serializer data
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/managers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源版本生成SDK时环境变量配置的language不生效的问题 (#2791)
  src/dashboard-front/src/components/sdk-language-selector/Index.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
Due: none

feature(Trace): 调用链数据展示文本内容根据线条占比动态显示位置 --story=158528526
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/ticks.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/timeline-header-row/timeline-header-row.tsx
  src/dashboard-front/src/styles/bkui.scss
Due: none

refactor(dashboard): forbid parent-relative service imports
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/bk_log.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/nginx_error.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/resource_backend.py
  src/dashboard/apigateway/apigateway/service/release/validation.py
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/service/resource_version/schema.py
Due: format, ruff, mypy, import-linter

refactor(service): import from root instead of leaf
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/bk_log.py
  src/dashboard/apigateway/apigateway/service/release/validation.py
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/service/resource_version/schema.py
  src/dashboard/apigateway/apigateway/tests/service/test_public_api_contract.py
Due: format, ruff, mypy, import-linter

feat(mcp): improve observability log correlation
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/gateway_log.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/span_builder.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(dashboard): restore sdk facade typing for lint
  src/dashboard/apigateway/apigateway/apis/open/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/resource_doc/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/access_log/__init__.py
  src/dashboard/apigateway/apigateway/biz/esb/__init__.py
  src/dashboard/apigateway/apigateway/biz/esb/sdk/__init__.py
  src/dashboard/apigateway/apigateway/biz/esb/system_doc_category.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/__init__.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/es_query.py
  src/dashboard/apigateway/apigateway/biz/sdk/__init__.py
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/__init__.py
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/bkrepo.py
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/maven.py
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/pypi.py
  src/dashboard/apigateway/apigateway/biz/sdk/generators/openapi.py
  src/dashboard/apigateway/apigateway/biz/sdk/helper.py
  src/dashboard/apigateway/apigateway/biz/sdk/managers/__init__.py
  src/dashboard/apigateway/apigateway/biz/sdk/managers/base.py
  src/dashboard/apigateway/apigateway/biz/sdk/managers/mixins.py
  src/dashboard/apigateway/apigateway/biz/sdk/packagers/archive.py
  src/dashboard/apigateway/apigateway/biz/sdk/packagers/maven.py
  src/dashboard/apigateway/apigateway/biz/sdk/packagers/pypi.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/component/release.py
  src/dashboard/apigateway/apigateway/editions/ee/biz/sdk/__init__.pyi
  src/dashboard/apigateway/apigateway/editions/ee/biz/sdk/managers/__init__.pyi
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/released_resource_doc/test_released_resource_doc.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_importers.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_doc/impoter/test_importers.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

feature(Trace): 调用链数据展示文本内容根据线条占比动态显示位置 --story=158528526 (#2793)
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/ticks.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/timeline-header-row/timeline-header-row.tsx
  src/dashboard-front/src/styles/bkui.scss
Due: none

refactor(dashboard): tighten biz package exports
  src/dashboard/apigateway/apigateway/biz/resource/importer/__init__.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/sync.py
  src/dashboard/apigateway/apigateway/biz/sdk/generators/openapi.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): tighten approved package imports
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/es_query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/utils.py
  src/dashboard/apigateway/apigateway/biz/sdk/__init__.py
  src/dashboard/apigateway/apigateway/service/release/validation.py
Due: format, ruff, mypy, import-linter

feat(monitor): prefetch monitor list serializer data (#2792)
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/managers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): rename resource label lookup helpers
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/service/resource/__init__.py
  src/dashboard/apigateway/apigateway/service/resource/labels.py
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/tests/service/resource/test_labels.py
Due: format, ruff, mypy, import-linter

feat(mcp): improve observability log correlation (#2794)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/gateway_log.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/span_builder.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(release): avoid package export collisions in gateway release flow
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/biz/release/__init__.py
  src/dashboard/apigateway/apigateway/biz/release/gateway_releaser.py
  src/dashboard/apigateway/apigateway/biz/release/release_handler.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/component/release.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
