Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(apigateway): grant bk_auth resource permissions and update version to V1.21.0
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

feat(apigateway): grant bk_auth resource permissions and update version to V1.21.0 (#2512)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

feat(data_plane): add undeploy_data_plane_gateways.py; fix code review comments
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/bind_gateways_to_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/bind_gateways_to_default_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/unbind_gateways_from_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/undeploy_data_plane_gateways.py
  src/dashboard/apigateway/apigateway/apps/data_plane/managers.py
  src/dashboard/apigateway/apigateway/biz/data_plane/__init__.py
  src/dashboard/apigateway/apigateway/biz/data_plane/data_plane.py
  src/dashboard/apigateway/apigateway/healthz/views.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_models.py
  src/dashboard/apigateway/apigateway/tests/biz/data_plane/test_data_plane.py
Due: format, ruff, mypy, import-linter

refactor(data_plane/commands): refactor and fix django commands of data_plane
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/bind_gateways_to_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/deploy_data_plane_gateways.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/unbind_gateways_from_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/undeploy_data_plane_gateways.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_management_commands.py
Due: format, ruff, mypy, import-linter

feat(.code.yml): add .code.yml, for ci config
  .code.yml
Due: none

feat(.code.yml): add .code.yml, for ci config (#2514)
  .code.yml
Due: none

feat(front-end): bk-traffic-label 插件 # Reviewed, transaction id: 75635
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
Due: none

feat(front-end): 请求参数和响应参数中 array 成员名称非必填 (#2499)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

feat(front-end): 请求参数和响应参数中 array 成员名称非必填 (#2499) (#2516)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(MCP): McpServer编辑无工具资源时提示无可用环境 --story=132217418
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(mcp-proxy): add X-Request-ID full-chain propagation for end-to-end tracing
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/request_id.go
  src/mcp-proxy/pkg/middleware/request_id_test.go
  src/mcp-proxy/pkg/util/request.go
  src/mcp-proxy/pkg/util/request_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(apigateway): grant bk_auth resource permissions and update version to V1.21.0 (#2513)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(data_plane/commands): fix data_plane django commands
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/bind_gateways_to_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/deploy_data_plane_gateways.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/unbind_gateways_from_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/undeploy_data_plane_gateways.py
  src/dashboard/apigateway/apigateway/biz/stage/stage.py
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_management_commands.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish_target_data_plane.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(agents.md): update the unittest part
  src/dashboard/AGENTS.md
Due: none

feat(mcp): add MCP-level observability metrics for Prometheus monitoring
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/tests/integration/metrics_test.go
Due: fmt, lint

fix(mcp-proxy): improve tracing observability and code review fixes
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix(utils/jinja2.py): jinja2 template refactor
  src/dashboard/apigateway/apigateway/utils/jinja2.py
Due: format, ruff, mypy, import-linter

fix(utils/jinja2.py): jinja2 template refactor (#2520)
  src/dashboard/apigateway/apigateway/utils/jinja2.py
Due: format, ruff, mypy, import-linter

fix(data_plane/commands): add export gateway_names commands
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/export_gateway_names.py
  src/dashboard/apigateway/apigateway/core/admin.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): code review improvements for observability and request ID propagation
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/docs/request_id_propagation.md
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/infra/trace/init_test.go
  src/mcp-proxy/pkg/infra/trace/testing.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/pkg/util/request.go
  src/mcp-proxy/tests/integration/metrics_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

deps(front-end): update vite to 7.3.1
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

deps(front-end): update vite to 7.3.1 (#2522)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

feat(mcp-proxy): add X-Request-ID and trace context full-chain propagation (#2518)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/docs/request_id_propagation.md
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/infra/trace/init_test.go
  src/mcp-proxy/pkg/infra/trace/testing.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/metric/init_test.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/request_id_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/pkg/util/request.go
  src/mcp-proxy/pkg/util/request_test.go
  src/mcp-proxy/tests/integration/metrics_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(data_plane/commands): add export gateway_names commands (#2521)
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/export_gateway_names.py
  src/dashboard/apigateway/apigateway/core/admin.py
Due: format, ruff, mypy, import-linter

refactor(biz/mcp_server): move mcp_server business logic from view layer to biz layer
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

test(biz/mcp_server): add unit tests for MCPServerHandler and update mock paths
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(plugins/bk-traffic-label): add new plugin bk-traffic-label
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/utils/test_jinja2.py
Due: format, ruff, mypy, import-linter

fix(tests): update mock paths in v2/inner/test_views.py for MCPServerHandler refactor
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(MCP): McpServer 市场多调用了api导致报错 --story=132723353
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

feat(mcp-proxy): add description for parameter types in OpenAPI to MCP conversion
  src/mcp-proxy/pkg/infra/proxy/converter.go
Due: fmt, lint

style(biz/mcp_server): remove keyword-only argument separator (*) from all biz functions
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(biz/mcp_server): change param type from list to Sequence for mypy compatibility
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(front-end): 调整资源文档zip文件大小限制 # Reviewed, transaction id: 75886
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

fix(front-end): 调整资源文档zip文件大小限制 # Reviewed, transaction id: 75888
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

feat(monitor/alarm_strategy): support filter_config for alarm strategy
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apps/monitor/constants.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

fix(front-end): 调整资源文档zip文件大小限制 (#2530)
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

fix(front-end): 调整资源文档zip文件大小限制 (#2529)
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
