Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(front-end): 修复资源标签 & mcp 市场翻页 # Reviewed, transaction id: 70951
  src/dashboard-front/package-lock.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

fix(front-end): 修复mcp 市场翻页 # Reviewed, transaction id: 70952
  src/dashboard-front/src/layout/mcp-market/Index.vue
Due: none

fix(front-end): 修复mcp 市场翻页 (#2334)
  src/dashboard-front/src/layout/mcp-market/Index.vue
Due: none

fix(front-end): 修复资源标签 & mcp 市场翻页 (#2335)
  src/dashboard-front/package-lock.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

fix(front-end): 修复资源标签 & mcp 市场翻页 (#2336)
  src/dashboard-front/package-lock.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

fix(frontend): 修复部分体验单据 (#2338)
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/DownloadDialog.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/ReleaseProgrammable.vue
Due: none

fix(frontend): 修复部分体验单据 (#2337)
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/DownloadDialog.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/ReleaseProgrammable.vue
Due: none

fix(api): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_server): applied_by convert to display_name (#2330)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_server): applied_by convert to display_name (#2331)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

fix(api): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver tool rename
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
Due: format, ruff, mypy, import-linter

fix(api): fix lint
  src/dashboard/apigateway/apigateway/biz/validators.py
Due: format, ruff, mypy, import-linter

feature(McpServer): 优化Mcp卡片兼容描述不存在时样式问题 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
Due: none

fix(McpServer): mcp server列表小屏下滑分页失效 --story=129839598
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none

fix(api/mcpserver): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
Due: format, ruff, mypy, import-linter

feat(api/web): mcpserver tool support rename (#2324)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): fix cr
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): fix cr
  src/mcp-proxy/pkg/mcp/middleware.go
Due: fmt, lint

fix(mcp-proxy): fix test
  src/mcp-proxy/Makefile
  src/mcp-proxy/tests/integration/docker-compose.yml
Due: fmt, lint

fix(mcp-proxy): fix test
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp-proxy): install curl for healthcheck
  src/mcp-proxy/tests/integration/config.yaml
Due: fmt, lint

fix(mcp-proxy): fix test
  src/mcp-proxy/tests/integration/docker-compose.yml
Due: fmt, lint

refactor(mcp_server/tool_name): make it simpler
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

test(mcp_server/models.py): add unittests
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复 favicon 缺失 # Reviewed, transaction id: 71034
  src/dashboard-front/index.html
Due: none

fix(front-end): 修复 favicon 缺失 (#2344)
  src/dashboard-front/index.html
Due: none

fix(McpServer): mcp server列表小屏下滑分页失效 --story=129839598
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none

fix(McpServer): mcp server列表小屏下滑分页失效 --story=129839598 (#2339)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none

test(mcp_server): add unittests
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): use official mcp sdk and fix jwt (#2244)
  .github/workflows/mcp-proxy.yml
  src/mcp-proxy/.gitignore
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/Makefile
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/jwt.go
  src/mcp-proxy/pkg/util/jwt_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/integration_suite_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(utils/openapi): fix bug
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

feat(api/v2): mcpserver inner api add approved url
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp_server/apis): add tool_names
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
Due: format, ruff, mypy, import-linter

fix(utils/openapi): fix bug (#2345)
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

feat(api/v2): inner api add mcperver approval url
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(apis/v2/open/serializers.py): add tool_names
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
