Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(audit): 操作记录表格升级 (#1913)
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

fix: fix tls
  src/mcp-proxy/go.mod
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
Due: fmt, lint

fix: fix tls
  src/mcp-proxy/go.mod
Due: fmt, lint

fix: fix test
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

feat(controller): add global resource distribute
  src/dashboard/apigateway/apigateway/biz/gateway/releaser.py
  src/dashboard/apigateway/apigateway/controller/constants.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/base.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_global_resources.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_constants.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_proto.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_ssl.py
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

feat(core): checkout the MicroGateway table drop; keep it
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/migrations/0046_remove_stage_micro_gateway.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

feat(controller): fix global resource prefix
  src/dashboard/apigateway/apigateway/biz/gateway/releaser.py
  src/dashboard/apigateway/apigateway/controller/distributor/key_prefix.py
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_global_resources.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 应用权限支持请求路径过滤
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
Due: format, ruff, mypy, import-linter

refactor(conf/default.py): change no used env vars; update log format… (#1887)
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(controller/bk_release): distribute the bk_release info of gateway
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/models/__init__.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

feature(table): 网关Api文档列表增加插件网关筛选项、是否为插件网管理列 --story=124347074
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
Due: none

fix resource_path filter
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/apis/web/permission/filters.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/Makefile
Due: none

fix(log): 流水日志点击报错修复
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(log): 流水日志点击报错修复 (#1917)
  src/dashboard-front/src/views/home/Index.vue
Due: none

test(controller/convertor): add unittests
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/tests/controller/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
Due: format, ruff, mypy, import-linter

test(controller/distributor): add unittests
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_key_prefix.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/apis/web/permission/filters.py
Due: format, ruff, mypy, import-linter

test(controller): add unittests
  src/dashboard/apigateway/apigateway/controller/uri_render.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_dict.py
  src/dashboard/apigateway/apigateway/tests/controller/registry/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/test_release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/test_release_logger.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/test_uri_render.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
Due: format, ruff, mypy, import-linter

test(controller): add unittsts
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_bk_release.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_proto.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 API 文档插件网关展示问题
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 API 文档插件网关展示问题 (#1918)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 mcp tool 详情更新时间改为资源更新时间
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/released_resource_doc.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
Due: format, ruff, mypy, import-linter

feature(permissionApp): 应用权限支持请求路径过滤 --story=126266001
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/stores/useAccessLog.ts
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

feat(apis/web): 在线调试新增 API 文档接口
  src/dashboard/apigateway/apigateway/apis/web/api_test/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/urls.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
  src/dashboard/apigateway/apigateway/biz/sdk/gateway_sdk.py
Due: format, ruff, mypy, import-linter

fix(db): fix tls (#1914)
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(db): fix tls (#1914) (#1923)
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(apis/web): 应用权限支持请求路径过滤 (#1915)
  src/dashboard/apigateway/apigateway/apis/web/permission/filters.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
Due: format, ruff, mypy, import-linter

fix(db): fix tls (#1914) (#1924)
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
Due: format, ruff, mypy, import-linter

fix(common/permissions): 修复网关访问权限
  src/dashboard/apigateway/apigateway/common/permissions/permissions.py
Due: format, ruff, mypy, import-linter

fix(biz/ai): fix prompt build
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 mcp tool 详情更新时间改为资源更新时间 (#1919)
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/released_resource_doc.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
Due: format, ruff, mypy, import-linter

fix(biz/ai): fix prompt build (#1925)
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
