Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(plugin): align request body limit priority with data plane
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(plugin): align request body limit priority with data plane (#3323)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(kms): enable credentials only for true and True
  src/core-api/pkg/config/kms.go
  src/core-api/pkg/config/kms_test.go
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/kms.py
  src/dashboard/apigateway/apigateway/tests/conf/test_kms.py
  src/dashboard/docs/kms.md
  src/mcp-proxy/pkg/config/kms.go
  src/mcp-proxy/pkg/config/kms_test.go
  src/operator/pkg/config/kms.go
  src/operator/pkg/config/kms_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(dashboard): make ESB dependencies optional for EE
  src/dashboard/README.md
  src/dashboard/apigateway/apigateway/apis/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/web/docs/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/conf/.env.tpl
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/esb.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
  src/dashboard/apigateway/apigateway/tests/conf/test_esb.py
  src/dashboard/apigateway/apigateway/urls.py
  src/dashboard/bin/on_migrate
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

fix(kms): preserve config semantics and improve startup diagnostics
  src/core-api/pkg/config/kms.go
  src/core-api/pkg/config/kms_test.go
  src/dashboard/apigateway/apigateway/conf/kms.py
  src/dashboard/apigateway/apigateway/tests/conf/test_kms.py
  src/mcp-proxy/pkg/config/kms.go
  src/mcp-proxy/pkg/config/kms_test.go
  src/operator/pkg/config/kms.go
  src/operator/pkg/config/kms_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(kms): sync CBC validation fix and remove panic wrappers
  src/core-api/pkg/config/kms.go
  src/core-api/pkg/config/kms_test.go
  src/core-api/third_party/bk-kms-sdk/MANIFEST.sha256
  src/core-api/third_party/bk-kms-sdk/README.md
  src/core-api/third_party/bk-kms-sdk/internal/crypto/aes/aes.go
  src/core-api/third_party/bk-kms-sdk/internal/crypto/sm4/sm4.go
  src/dashboard/docs/kms.md
  src/mcp-proxy/pkg/config/kms.go
  src/mcp-proxy/pkg/config/kms_test.go
  src/mcp-proxy/third_party/bk-kms-sdk/MANIFEST.sha256
  src/mcp-proxy/third_party/bk-kms-sdk/README.md
  src/mcp-proxy/third_party/bk-kms-sdk/internal/crypto/aes/aes.go
  src/mcp-proxy/third_party/bk-kms-sdk/internal/crypto/sm4/sm4.go
  src/operator/pkg/config/kms.go
  src/operator/pkg/config/kms_test.go
  src/operator/third_party/bk-kms-sdk/MANIFEST.sha256
  src/operator/third_party/bk-kms-sdk/README.md
  src/operator/third_party/bk-kms-sdk/internal/crypto/aes/aes.go
  src/operator/third_party/bk-kms-sdk/internal/crypto/sm4/sm4.go
Due: fmt, lint

fix(dashboard): preserve feature flags and evaluate ESB policy in Bash
  src/dashboard/README.md
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/esb.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
  src/dashboard/apigateway/apigateway/tests/conf/test_esb.py
  src/dashboard/bin/on_migrate
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

fix(dashboard): make ESB dependencies optional for EE (#3324)
  src/dashboard/apigateway/apigateway/apis/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/web/docs/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/conf/.env.tpl
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/esb.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
  src/dashboard/apigateway/apigateway/tests/conf/test_esb.py
  src/dashboard/apigateway/apigateway/urls.py
  src/dashboard/bin/on_migrate
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

docs(dashboard): remove publish recovery README changes
  src/dashboard/README.md
Due: none

feat(front-end): bk-cli 新页面样式 --story=138408229
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

fix(plugin): make access token source non-public
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(plugin): make access token source non-public (#3326)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat(front-end): bk-cli 新页面样式 --story=138408229 (#3325)
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

fix(front-end): bk-cli 页面图片
  .gitignore
  src/dashboard-front/src/images/bk-cli/agent.png
  src/dashboard-front/src/images/bk-cli/coverage.png
  src/dashboard-front/src/images/bk-cli/cross-gateway.png
  src/dashboard-front/src/images/bk-cli/main-logo.png
Due: none

fix(front-end): bk-cli 页面图片 (#3327)
  .gitignore
  src/dashboard-front/src/images/bk-cli/agent.png
  src/dashboard-front/src/images/bk-cli/coverage.png
  src/dashboard-front/src/images/bk-cli/cross-gateway.png
  src/dashboard-front/src/images/bk-cli/main-logo.png
Due: none

fix(dashboard): distinguish KMS credential loading errors
  src/dashboard/apigateway/apigateway/conf/kms.py
  src/dashboard/apigateway/apigateway/tests/conf/test_kms.py
Due: format, ruff, mypy, import-linter

fix: issues
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/urls.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0016_add_canceled_apply_status.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0014_add_canceled_apply_status.py
  src/dashboard/apigateway/apigateway/biz/personal_workbench/permission.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_cancel_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_cancel_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(backend): publish config changes using released references
  src/dashboard/apigateway/apigateway/biz/backend/backend.py
  src/dashboard/apigateway/apigateway/tests/biz/backend/test_backend.py
Due: format, ruff, mypy, import-linter

fix(mcp): isolate least privileges by server
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/test_mcp_server_least_privileges.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix: issues
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0016_add_canceled_apply_status.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0014_add_canceled_apply_status.py
  src/dashboard/apigateway/apigateway/biz/personal_workbench/permission.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(dashboard): distinguish KMS credential loading errors (#3328)
  src/dashboard/apigateway/apigateway/conf/kms.py
  src/dashboard/apigateway/apigateway/tests/conf/test_kms.py
Due: format, ruff, mypy, import-linter

fix(dashboard): preserve publish state and recover missing events (#3317)
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/recover_stage_publish.py
  src/dashboard/apigateway/apigateway/biz/release/release_handler.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/management/commands/test_recover_stage_publish.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_clean_task.py
Due: format, ruff, mypy, import-linter

fix(oneline): dev环境从在线调试页切换到其他菜单路由阻塞--story=164277866
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

feat(dashboard): accept is_official in gateway sync APIs
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

docs(dashboard): document only is_official for v2 gateway sync
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
Due: none

docs(dashboard): hide legacy api_type from v2 sync schema
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix: issues
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_cancel_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_cancel_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix: switch APIView to CreateAPIView
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
Due: format, ruff, mypy, import-linter

feat(v2_sync): add v2_sync_revoke_permission API
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_revoke_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_permission_serializers.py
Due: format, ruff, mypy, import-linter

feat(v2_sync): support revoking resource-dimension permissions
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_revoke_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
Due: format, ruff, mypy, import-linter

fix(front-end): bk-cli 页面banner样式
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
Due: none

fix(front-end): bk-cli 页面banner样式 (#3334)
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
Due: none

fix(dashboard): return is_official in gateway sync responses
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/get_apis.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): preserve super official gateway type during sync
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): keep super official type on boolean sync updates
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

docs(dashboard): show only official boolean in gateway APIs
  src/dashboard/apigateway/apigateway/data/apidocs/zh/get_apis.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(rbac): support selecting global gateway by id or name in add admin command
  src/dashboard/apigateway/apigateway/apps/rbac/management/commands/add_global_gateway_administrators.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_commands.py
Due: format, ruff, mypy, import-linter

fix: issues
  src/dashboard/apigateway/apigateway/apps/rbac/management/commands/add_global_gateway_administrators.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_commands.py
Due: format, ruff, mypy, import-linter

feat(rbac): support selecting global gateway by name in add admin command (#3335)
  src/dashboard/apigateway/apigateway/apps/rbac/management/commands/add_global_gateway_administrators.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_commands.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
