Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(apis/v2/inner): 补充 mcp-server 文档地址 (#1729)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix(resource): 修复请求参数类型为 array 时 schema 缺少 items 字段的问题 (#1731)
  src/dashboard-front/src/views/resource/setting/comps/request-params-table.vue
  src/dashboard-front/src/views/resource/setting/comps/request-params.vue
Due: none

feat(service/plugin): add bk-access-token-source plugin (#1725)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(apis/v2/inner): mcp-server 权限列表接口补充 handled_by 字段
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复资源版本标签样式 & 导出报错 # Reviewed, transaction id: 52922
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(frontend): 修复资源版本标签样式 & 导出报错 (#1734)
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(frontend): 修复资源版导出后对话框未关闭的问题 # Reviewed, transaction id: 52968
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(frontend): 修复资源版导出后对话框未关闭的问题 (#1735)
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(online-debugging): 在线调试报错问题修复
  src/dashboard-front/src/components/ag-editor/Index.vue
Due: none

fix(online-debugging): 在线调试报错问题修复 (#1736)
  src/dashboard-front/src/components/ag-editor/Index.vue
Due: none

fix(apis/v2/inner): mcp-server 权限列表接口补充 handled_by 字段 (#1732)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix(apis/v2/inner): mcp-server 权限列表接口补充 handled_by 字段 (#1733)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix(openapi): fix none_schem
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/schema.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/resource/importer/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/resource/importer/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复部分体验问题 # Reviewed, transaction id: 53066
  src/dashboard-front/public/login-success.html
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(frontend): 修复部分体验问题 (#1738)
  src/dashboard-front/public/login-success.html
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feat(service/plugin): add bk-username-required plugin
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: format, ruff, mypy, import-linter

fix: scope
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(openapi): fix test
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/utils/test_openapi.py
  src/dashboard/apigateway/apigateway/utils/openapi.py
Due: format, ruff, mypy, import-linter

refactor(controller/crds): remove ProxyTypeEnum.MOCK.value
  src/dashboard/apigateway/apigateway/common/factories/schema.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/schema/data/meta_schema.py
  src/dashboard/apigateway/apigateway/schema/instances.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_savers.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

refactor(controller/crds): remove header rewrite in ResourceRewrite
  src/dashboard/apigateway/apigateway/controller/crds/constants.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/base.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_resource.py
Due: format, ruff, mypy, import-linter

feat(frontend): 1.13 版本升级提醒 # Reviewed, transaction id: 53146
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-resource-version/Index.vue
  src/dashboard-front/src/components/product-info/Index.vue
  src/dashboard-front/src/components/version-113-update-notice/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(frontend): 1.13 版本升级提醒 (#1741)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-resource-version/Index.vue
  src/dashboard-front/src/components/product-info/Index.vue
  src/dashboard-front/src/components/version-113-update-notice/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

refactor(controller/crds): service convertor and resource convertor
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/controller/crds/release_data/release_data.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertor.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/stage.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_stage.py
  src/dashboard/apigateway/apigateway/service/contexts/__init__.py
  src/dashboard/apigateway/apigateway/service/contexts/stage_proxy_http.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/service/contexts/test_context.py
Due: format, ruff, mypy, import-linter

fix(controller/crds): fix lint fail
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
Due: format, ruff, mypy, import-linter

fix(plugin): 修复切换插件失效
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(plugin): 修复切换插件失效 (#1742)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

feat(service/plugin): add bk-username-required plugin (#1739)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: format, ruff, mypy, import-linter

fix(plugins): 插件管理表单回显问题修复
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

fix(plugins): 插件管理表单回显问题修复 (#1743)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

fix: fix mcp proxy timeout
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

test(controller/crds): fix unittests
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_resource.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_savers.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_resource.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_services.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

refactor(schema): remove ContextStageProxyHTTP
  src/dashboard/apigateway/apigateway/common/factories/schema.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/schema/data/meta_schema.py
  src/dashboard/apigateway/apigateway/schema/instances.py
Due: format, ruff, mypy, import-linter

fix: fix mcp proxy param
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/types.go
Due: fmt, lint

fix: fix mcp proxy timeout (#1744)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/types.go
Due: fmt, lint

fix: fix mcp proxy timeout (#1744) (#1745)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/types.go
Due: fmt, lint

refactor(controller/crds): update convertor
  src/dashboard/apigateway/apigateway/biz/stage/stage.py
  src/dashboard/apigateway/apigateway/common/constants.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_service.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/models/gateway_stage.py
  test/README.md
Due: format, ruff, mypy, import-linter

feat(resource): 更换资源配置表格 # Reviewed, transaction id: 53313
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/stores/useResourceSetting.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
