Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(dashboard): fix LogSearchByRequestIdApi returning all null fields and doc typo
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): bump bk-apigateway-definition version to 1.4.1
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(dashboard): fix LogSearchByRequestIdApi returning all null fields and doc typo (#2604)
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): fix LogSearchByRequestIdApi returning all null fields and doc typo (#2603)
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(online-debugging): 修复在线调试按钮隔离问题
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(online-debugging): 修复在线调试按钮隔离问题 (#2606)
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix: replace unicode_escape with safe decoder to avoid breaking nested YAML quotes
  src/dashboard/apigateway/apigateway/biz/plugin/synchronizers.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/urls.py
  src/dashboard/apigateway/apigateway/utils/yaml.py
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/tests/integration/config.yaml
Due: format, ruff, mypy, import-linter, fmt, lint

Revert "fix: replace unicode_escape with safe decoder to avoid breaking nested YAML quotes"
  src/dashboard/apigateway/apigateway/biz/plugin/synchronizers.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/urls.py
  src/dashboard/apigateway/apigateway/utils/yaml.py
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/tests/integration/config.yaml
Due: format, ruff, mypy, import-linter, fmt, lint

fix: address PR review comments for MCP server observable
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/urls.py
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/tests/integration/config.yaml
Due: format, ruff, mypy, import-linter, fmt, lint

fix(front-end): 修复批量删除资源后资源仍被选中的问题 # Reviewed, transaction id: 77425
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 修复批量删除资源后资源仍被选中的问题 (#2607)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix: stabilize BDD test suite for 100% pass rate (87/87)
  test-bdd/runtime/helpers.js
  test-bdd/runtime/setup.js
  test-bdd/scripts/01-网关管理/02-网关列表操作.spec.js
  test-bdd/scripts/02-资源配置/01-创建资源.spec.js
  test-bdd/scripts/02-资源配置/02-编辑资源.spec.js
  test-bdd/scripts/02-资源配置/03-资源列表操作.spec.js
  test-bdd/scripts/02-资源配置/05-导入导出资源.spec.js
  test-bdd/scripts/03-资源版本/01-版本管理.spec.js
  test-bdd/scripts/04-SDK列表/01-SDK列表.spec.js
  test-bdd/scripts/05-环境概览/01-环境概览.spec.js
  test-bdd/scripts/06-环境资源信息/01-环境资源信息.spec.js
  test-bdd/scripts/07-环境插件管理/01-环境插件管理.spec.js
  test-bdd/scripts/09-发布记录/01-发布记录.spec.js
  test-bdd/scripts/10-后端服务/01-后端服务管理.spec.js
  test-bdd/scripts/11-权限审批/01-权限审批.spec.js
  test-bdd/scripts/12-应用权限/01-应用权限.spec.js
  test-bdd/scripts/13-访问日志/01-访问日志.spec.js
  test-bdd/scripts/14-统计报表/01-统计报表.spec.js
  test-bdd/scripts/15-在线调试/01-在线调试.spec.js
  test-bdd/scripts/16-调试历史/01-调试历史.spec.js
  test-bdd/scripts/17-基本信息/01-基本信息.spec.js
  test-bdd/scripts/18-MCP服务/01-MCP服务管理.spec.js
  test-bdd/scripts/18-MCP服务/02-MCP服务配置.spec.js
  test-bdd/scripts/19-MCP权限审批/01-MCP权限审批.spec.js
  test-bdd/scripts/20-操作记录/01-操作记录.spec.js
Due: none

feat(front-end): 更新 AGENTS.md & 引入一些 skills/rules & .agents 软链接 # Reviewed, transaction id: 77458
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.agents/skills/api-standard/SKILL.md
  src/dashboard-front/.agents/skills/api-standard/assets/http.ts
  src/dashboard-front/.agents/skills/api-standard/references/full-implementation.md
  src/dashboard-front/.agents/skills/bkui-builder/SKILL.md
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-dark.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-left.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-top.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/dashboard-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/detail-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/table-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/wizard-form.vue
  src/dashboard-front/.agents/skills/bkui-builder/references/checklist.md
  src/dashboard-front/.agents/skills/bkui-builder/references/code-snippets.md
  src/dashboard-front/.agents/skills/bkui-builder/references/visual-mapping.md
  src/dashboard-front/.agents/skills/bkui-cheatsheet/SKILL.md
  src/dashboard-front/.agents/skills/bkui-cheatsheet/references/complex-components.md
  src/dashboard-front/.agents/skills/pinia-setup/SKILL.md
  src/dashboard-front/.agents/skills/pinia-setup/assets/store-template.ts
  src/dashboard-front/.gitignore
  src/dashboard-front/AGENTS.md
  src/dashboard-front/README.md
  src/dashboard-front/create-codebuddy-symlink.js
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

feat(front-end): 更新 AGENTS.md & 引入一些 skills/rules & .agents 软链接 (#2596)
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.agents/skills/api-standard/SKILL.md
  src/dashboard-front/.agents/skills/api-standard/assets/http.ts
  src/dashboard-front/.agents/skills/api-standard/references/full-implementation.md
  src/dashboard-front/.agents/skills/bkui-builder/SKILL.md
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-dark.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-left.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-top.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/dashboard-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/detail-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/table-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/wizard-form.vue
  src/dashboard-front/.agents/skills/bkui-builder/references/checklist.md
  src/dashboard-front/.agents/skills/bkui-builder/references/code-snippets.md
  src/dashboard-front/.agents/skills/bkui-builder/references/visual-mapping.md
  src/dashboard-front/.agents/skills/bkui-cheatsheet/SKILL.md
  src/dashboard-front/.agents/skills/bkui-cheatsheet/references/complex-components.md
  src/dashboard-front/.agents/skills/pinia-setup/SKILL.md
  src/dashboard-front/.agents/skills/pinia-setup/assets/store-template.ts
  src/dashboard-front/.gitignore
  src/dashboard-front/AGENTS.md
  src/dashboard-front/README.md
  src/dashboard-front/create-codebuddy-symlink.js
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

perf(mcp-proxy): optimize runtime performance and improve code quality (#2568)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/cmd/root.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/sentry/sentry.go
  src/mcp-proxy/pkg/infra/sentry/sentry_suite_test.go
  src/mcp-proxy/pkg/infra/sentry/sentry_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/sentry_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/mask.go
  src/mcp-proxy/pkg/util/mask_test.go
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

refactor(mcp): async MCP Server sync with layered architecture (#2592)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix: mcp sse
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/public_path.go
  src/mcp-proxy/pkg/util/public_path_test.go
Due: fmt, lint

fix: mcp sse bug
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix: text config
  src/mcp-proxy/tests/integration/config.yaml
Due: fmt, lint

fix: cr
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/util/public_path.go
  src/mcp-proxy/pkg/util/public_path_test.go
Due: fmt, lint

fix(mcp): fix mcp sse prefix (#2608)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/public_path.go
  src/mcp-proxy/pkg/util/public_path_test.go
  src/mcp-proxy/tests/integration/config.yaml
Due: fmt, lint

feat(front-end): SDK 可选语言从 feature flags 获取 # Reviewed, transaction id: 77618
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.runtimeenvschema.json
  src/dashboard-front/env.d.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/sdk-language-selector/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/resource-management/versions/components/CreateSDK.vue
Due: none

fix: mcpserver streamablehttp stateless
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix: mcp sdk upgrade
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/public_path.go
  src/mcp-proxy/pkg/util/public_path_test.go
  src/mcp-proxy/tests/integration/config.yaml
Due: fmt, lint

fix: handle non-JSON responses based on Content-Type header
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

test: add unit tests for DerivePublicPathPrefix and Streamable HTTP stateless mode
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix: mcpserver streamablehttp stateless (#2610)
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix: mcp sdk upgrade (#2611)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/public_path.go
  src/mcp-proxy/pkg/util/public_path_test.go
  src/mcp-proxy/tests/integration/config.yaml
Due: fmt, lint

feat(front-end): 资源参数支持配置枚举值 # Reviewed, transaction id: 77927
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ParamsRowConfig.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

feat(front-end): 资源参数支持配置枚举值 (#2612)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ParamsRowConfig.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(MCP): mcp市场mcpserver详情页有通知横幅的时候下拉不了 --story=133374748
  src/dashboard-front/src/App.vue
Due: none

feat(log): adjust http slow request threshold from 100ms to 200ms
  src/dashboard/apigateway/apigateway/components/http.py
Due: format, ruff, mypy, import-linter

fix(MCP): oauth增加全局环境变量 --story=133374748
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/OAuthSwitcher.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(plugins): 增加 oauth 等插件
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
Due: none
