Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateway_resources.md
Due: none

feat(api/open): add gateway open api (#1974)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateway_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(app): 修复应用权限导出内容乱码 --story=150190192
  src/dashboard-front/src/services/source/permission.ts
Due: none

fix(frontend): 修复资源搜索 & 体验问题 # Reviewed, transaction id: 63954
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复资源搜索 & 体验问题 (#1981)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复表格空规范
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/hooks/use-gate-way-data.ts
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(frontend): 修复表格空规范 (#1982)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/hooks/use-gate-way-data.ts
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(app): 修复应用权限导出内容乱码 --story=150190192
  src/dashboard-front/src/services/source/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

fix(apis/web): 应用权限的主动授权和续期增加审计日志
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
Due: format, ruff, mypy, import-linter

test: tests/cases
  test/cases/apisix/08-plugins/021-bk-user-restriction/bk-user-restriction-hit-whitelist.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/bk-user-restriction-missing-whitelist.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/folder.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params-querysting.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/folder.bru
Due: none

fix: test/cases
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params-querystring.bru
Due: none

fix(controller/convertor): add labels for plugin metadata
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/models/test_base.py
Due: format, ruff, mypy, import-linter

test(sync/smoke): add routes for test cases
  test/sync/smoke/resources.yaml
Due: none

fix(apis/web): 修复 mcp-market 详情接口缺少 is_official 字段
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 mcp-market 详情接口缺少 is_official 字段 (#1986)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 应用权限的主动授权和续期增加审计日志 (#1984)
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
Due: format, ruff, mypy, import-linter

feat(online-debugging): 在线调试-调用历史添加响应头展示
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(table): 表格组件设置第一列已选禁用 --story=150176542
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/styles/toolbox-base64.scss
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(mcp-market): 修复 MCP Market 官方 tag 展示
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(mcp-market): 修复 MCP Market 官方 tag 展示 (#1989)
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

test: bk-jwt/virtual-app-code
  test/cases/apisix/08-plugins/003-bk-jwt/not-verified-virtual-app.bru
Due: none

fix(frontend): 修复环境详情资源列表插件展示 # Reviewed, transaction id: 64412
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复环境详情资源列表插件展示 (#1990)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(online-debugging): 在线调试-调用历史表格升级
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

feat(online-debugging): 在线调试-调用历史表格升级 (#1991)
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

test: tests/cases (#1985)
  test/cases/apisix/08-plugins/003-bk-jwt/not-verified-virtual-app.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/bk-user-restriction-hit-whitelist.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/bk-user-restriction-missing-whitelist.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/folder.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params-querystring.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/folder.bru
  test/sync/smoke/resources.yaml
Due: none

fix(componentManage): 修复组件管理模块相关页面清除搜索条件后未返回全部数据 --story=150252487
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/BatchRenewal.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
Due: none

fix(online-debugging): 在线调试-调用历史搜索优化
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(online-debugging): 在线调试-调用历史搜索优化 (#1993)
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(frontend): 修复文档翻译功能 # Reviewed, transaction id: 64513
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/ai.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(frontend): 修复文档翻译功能 (#1994)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/ai.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(biz/ai): fix ai prompt
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apps/support/task.py
  src/dashboard/apigateway/apigateway/biz/ai/ai.py
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

fix(biz/ai): fix ai prompt (#1995)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apps/support/task.py
  src/dashboard/apigateway/apigateway/biz/ai/ai.py
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

fix(online-debugging): 在线调试-调用历史调整
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(online-debugging): 在线调试-调用历史调整 (#1996)
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(table): 修复表格不设置外边框，滚动时顶部会有透视, 单页条数过多无法滚动到最底部
  src/dashboard-front/src/components/ag-table/Index.vue
Due: none

fix(api/web): fix ai_completion
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix mcp memory leak and add pprof
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix(api/web): fix ai_completion (#1998)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter
