Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

refactor: add comment for sync_from_gateway_permission
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
Due: format, ruff, mypy, import-linter

feat(data-plane): propagate APISIX version through controller resources
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/create_data_plane.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/convertor/constants.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_data_plane_model.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_management_commands.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_bk_release.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_constants.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_proto.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service_health_check.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_ssl.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
Due: format, ruff, mypy, import-linter

fix(permission): allow syncing expired gateway permissions to resource permissions on renew (#2838)
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

fix: clean up MCP server permissions on deletion
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复环境详情中资源搜索结果不全的问题
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(front-end): 修复环境详情中资源搜索结果不全的问题 (#2840)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(permission): clean old app resource permissions
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_clean_task.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源请求参数 array 类型的子项展示不正确的问题
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

feat(gateway): check PaaS repo authorization before app creation
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/components/http.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
  src/dashboard/apigateway/apigateway/tests/components/test_http.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源请求参数 array 类型的子项展示不正确的问题 (#2841)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix(front-end): 修复资源请求参数 array 类型的子项展示不正确的问题 (#2842)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

feat(front-end): userinfo 统一组件 & 展示时区和企业空间
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/user-info-v2/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useUserInfo.ts
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix: clean up MCP server permissions on deletion (#2839)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_clean_task.py
Due: format, ruff, mypy, import-linter

fix(permission): clarify tenant filters for workbench permissions
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/biz/personal_workbench/permission.py
  src/dashboard/apigateway/apigateway/common/tenant/query.py
  src/dashboard/apigateway/apigateway/tests/common/tenant/test_query.py
Due: format, ruff, mypy, import-linter

fix(gateway): handle PaaS repo auth failures by status code
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/components/http.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
  src/dashboard/apigateway/apigateway/tests/components/test_http.py
Due: format, ruff, mypy, import-linter

fix: include global mcp servers in tenant marketplace filters
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/common/tenant/query.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/common/tenant/test_query.py
Due: format, ruff, mypy, import-linter

fix: handle empty app code in app request alerts
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
Due: format, ruff, mypy, import-linter

feat(front-end): userinfo 统一组件 & 展示时区和企业空间 (#2844)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/user-info-v2/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useUserInfo.ts
  src/dashboard-front/src/views/home/Index.vue
Due: none

feat(front-end): userinfo 统一组件 & 展示时区和企业空间 (#2845)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/user-info-v2/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useUserInfo.ts
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(front-end): 修复环境详情中资源搜索结果不全的问题 (#2840) (#2846)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(test/cases): fix fails for bru upgrade
  test/cases/apisix/08-plugins/019-bk-username-required/no-header.bru
  test/cases/apisix/08-plugins/020-bk-access-token-source/no-header.bru
Due: none

feat(gateway): check PaaS repo authorization before app creation (#2843)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/components/http.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
  src/dashboard/apigateway/apigateway/tests/components/test_http.py
Due: format, ruff, mypy, import-linter

feature(MCP): 表格支持自定义filterIcon事件导出、MCP权限审批MCP Server列支持全量limit
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/personal-workbench/components/TopBar.vue
Due: none

fix: handle empty app code in app request alerts (#2852)
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
Due: format, ruff, mypy, import-linter

fix(test/cases): fix fails for bru upgrade (#2853)
  test/cases/apisix/08-plugins/019-bk-username-required/no-header.bru
  test/cases/apisix/08-plugins/020-bk-access-token-source/no-header.bru
Due: none

fix(mcp): align marketplace category tenant counts
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix: include global mcp servers in tenant marketplace filters (#2851)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/common/tenant/query.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/common/tenant/test_query.py
Due: format, ruff, mypy, import-linter

Fix workbench tenant permission filters (#2848)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/biz/personal_workbench/permission.py
  src/dashboard/apigateway/apigateway/common/tenant/query.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/common/tenant/test_query.py
Due: format, ruff, mypy, import-linter

Fix workbench tenant permission filters for release/1.22 (#2849)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/biz/personal_workbench/permission.py
  src/dashboard/apigateway/apigateway/common/tenant/query.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/common/tenant/test_query.py
Due: format, ruff, mypy, import-linter

fix(MCP): MCP 市场详情页请求参数展示
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

test(mcp-proxy): lock large response tool handler behavior
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix: handle string status in alarm subtype
  src/dashboard/apigateway/apigateway/service/alert_flow/helpers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/test_helpers.py
Due: format, ruff, mypy, import-linter

refactor(mcp-proxy): add raw tool response payload helper
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

refactor(mcp-proxy): route tool responses through raw payload bytes
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
Due: fmt, lint

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
