Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(mcp-proxy): add exported method comment to satisfy revive lint
  src/mcp-proxy/pkg/infra/proxy/types.go
Due: fmt, lint

fix: use toolbox mapping config in access log view test instead of hardcoded field position
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): preserve large integer params without scientific notation
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): add extractToolResponseEnvelope helper for integration tests
  src/mcp-proxy/tests/integration/helper_test.go
Due: fmt, lint

fix(mcp-proxy): simplify integration test to assert on raw text content
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feature(PersonalWorkbench): 个人工作台新版优化 --story=134169244
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/enums/index.ts
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/layout/personal-workbench/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/personal-workbench.ts
  src/dashboard-front/src/services/types/query/personal-workbench.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/services/types/responses/personal-workbench.ts
  src/dashboard-front/src/stores/useAccessLog.ts
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/permission/components/ApprovalDetailSlider.vue
  src/dashboard-front/src/views/personal-workbench/components/Form.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
  src/dashboard-front/src/views/personal-workbench/routes.ts
Due: none

fix(mcp-proxy): keep BodyParam as float64, improve docs per review
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
Due: fmt, lint

refactor(dashboard): centralize gateway sync workflows
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/open/support/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/related_app.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/sdk/helper.py
  src/dashboard/apigateway/apigateway/tests/apis/open/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/support/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_related_app.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/test_gateway_sdk.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): tighten gateway sync and release boundaries
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/open/support/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/related_app.py
  src/dashboard/apigateway/apigateway/biz/gateway/saver.py
  src/dashboard/apigateway/apigateway/biz/release/gateway_releaser.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/release/waiter.py
  src/dashboard/apigateway/apigateway/biz/sdk/helper.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/tests/apis/open/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/test_gateway_sdk.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feature(PersonalWorkbench): 申请时间默认为空，自定义待办审批状态 --story=134169244
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/hooks/use-personal-workbench.ts
  src/dashboard-front/src/layout/personal-workbench/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/utils/filterEmptyValues.ts
  src/dashboard-front/src/views/personal-workbench/components/Form.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
  src/dashboard-front/src/views/personal-workbench/components/TopBar.vue
  src/dashboard-front/src/views/personal-workbench/my-apply/Index.vue
  src/dashboard-front/src/views/personal-workbench/my-handled/Index.vue
  src/dashboard-front/src/views/personal-workbench/my-pending/Index.vue
Due: none

refactor(dashboard): trim gateway compatibility wrappers
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/related_app.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/component/release.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_related_app.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_releaser.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): simplify release stage dispatch
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
Due: format, ruff, mypy, import-linter

fix(dashboard): repair gateway sync regression coverage
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/related_app.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/sdk/helper.py
  src/dashboard/apigateway/apigateway/tests/apis/open/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_related_app.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): return related app sync snapshots
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/related_app.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_related_app.py
Due: format, ruff, mypy, import-linter

feature(PersonalWorkbench): 修复agent提示优化问题 --story=134169244
  src/dashboard-front/src/hooks/use-personal-workbench.ts
  src/dashboard-front/src/layout/personal-workbench/Index.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

feat: route sdk generation logs to dedicated file
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/pypi.py
  src/dashboard/apigateway/apigateway/conf/log_utils.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/distributors/test_pypi.py
Due: format, ruff, mypy, import-linter

feat: add gateway_name field to toolbox log query response (#2769)
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/constants.py
  src/dashboard/apigateway/apigateway/biz/access_log/log.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): centralize openapi resource sync into biz layer
  src/dashboard/apigateway/apigateway/apis/open/resource/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/sync.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

feature(MCP): 网关MCP Server可观测功能需要支持功能开关 --story=134621272
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/components/CopyConfigDialog.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
Due: none

fix(online-debugging): 修复 BkSelect allow-create 失焦未提交自定义值及 filterable 显示残留过滤文本；优化资源版本达到上限的提示文案
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

refactor(dashboard): extract log search helpers
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/biz/log_search/__init__.py
  src/dashboard/apigateway/apigateway/biz/log_search/parser.py
  src/dashboard/apigateway/apigateway/biz/log_search/query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server_log/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server_log/test_serializers.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): move cross model manager logic to biz
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/managers.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/models.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

refactor: improve SDK upload log routing and exception observability
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/pypi.py
  src/dashboard/apigateway/apigateway/conf/log_utils.py
Due: format, ruff, mypy, import-linter

feat: route sdk generation logs to dedicated file (#2778)
  src/dashboard/apigateway/apigateway/biz/sdk/distributors/pypi.py
  src/dashboard/apigateway/apigateway/conf/log_utils.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/distributors/test_pypi.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove controller task upward imports
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_doc_version.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/service/release.py
  src/dashboard/apigateway/apigateway/service/resource_doc.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): decouple resource importer from gateway biz
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/importers.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/common/gateway_limits.py
  src/dashboard/apigateway/apigateway/service/gateway_label.py
  src/dashboard/apigateway/apigateway/tests/common/test_gateway_limits.py
  src/dashboard/apigateway/apigateway/tests/service/test_gateway_label.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): isolate resource version schema lookups
  src/dashboard/apigateway/apigateway/biz/backend/backend.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/service/backend.py
  src/dashboard/apigateway/apigateway/service/resource_version_schema.py
  src/dashboard/apigateway/apigateway/tests/service/test_backend.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_version_schema.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): route mcp schema reads through service
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/service/resource_version_schema.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_version_schema.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feature(MCP): 切换路由重置到网关选项 --story=134621272
  src/dashboard-front/src/hooks/use-personal-workbench.ts
  src/dashboard-front/src/layout/personal-workbench/Index.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

refactor(dashboard): move resource snapshots to service
  src/dashboard/apigateway/apigateway/biz/resource/disabled_stage.py
  src/dashboard/apigateway/apigateway/biz/resource/label.py
  src/dashboard/apigateway/apigateway/biz/resource/openapi_schema.py
  src/dashboard/apigateway/apigateway/biz/resource/proxy.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/service/resource_snapshot.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_snapshot.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): centralize resource version artifacts
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): clarify resource version exporter import
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): decouple mcp server from resource biz
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/generators.py
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/released_resource_doc.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/biz/resource/url.py
  src/dashboard/apigateway/apigateway/service/resource_snapshot.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_snapshot.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): move resource version artifacts to handler
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource_version/artifacts.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): preserve large integer params without scientific notation (#2773)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): preserve large integer params without scientific notation (#2774)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

refactor(dashboard): enforce biz domain independence
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/releaser.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_doc_version.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/constants.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/service/publish_validator.py
  src/dashboard/apigateway/apigateway/service/resource_cleanup.py
  src/dashboard/apigateway/apigateway/service/resource_doc_version.py
  src/dashboard/apigateway/apigateway/service/resource_version_schema.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
  src/dashboard/apigateway/apigateway/tests/service/test_publish_validator.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_cleanup.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_doc_version.py
  src/dashboard/apigateway/apigateway/tests/service/test_resource_version_schema.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove shared v2 mcp api helper
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

feature(DatePicker): 日期选择器统一去掉清除按钮
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

test(dashboard): cover exact programmable deploy history filters
  src/dashboard/apigateway/apigateway/tests/biz/programmable/test_releaser.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
