Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(mcp-proxy): fix memory leak
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

feat(dashboard/account): support user timezone
  src/dashboard/apigateway/apigateway/account/middlewares.py
  src/dashboard/apigateway/apigateway/account/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): fix memory leak
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

Update src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

Update src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

feat(mcp-proxy): fix memory leak
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

feat(dashboard/account): support user timezone (#2141)
  src/dashboard/apigateway/apigateway/account/middlewares.py
  src/dashboard/apigateway/apigateway/account/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(dashboard/account): support user timezone (#2140)
  src/dashboard/apigateway/apigateway/account/middlewares.py
  src/dashboard/apigateway/apigateway/account/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): fix timeout
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(plugin-form): access-token 表单修改
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(plugin-form): access-token 表单修改 (#2142)
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(pkg/core): fix cr
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(api/web): add mcpserver config api
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0007_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): fix memory leak (#2139)
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(mcp-proxy): fix memory leak (#2139) (#2144)
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(mcp-proxy): fix memory leak (#2139) (#2145)
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

fix(api/web): fix mcperver test
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcperver test (#2146)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver api
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(apis/web/gateway): support operation status for gateway list
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

feat(online-debug): 在线调试去重试
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadBody.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/online-debugging/components/Top.vue
Due: none

fix(tests): fix fail cases
  src/dashboard/Dockerfile
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(apis/web/docs/gateway/gateway/test_serializers.py): no need to change
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(online-debug): 在线调试去重试 (#2150)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadBody.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/online-debugging/components/Top.vue
Due: none

feat(tasks/clean_task.py): clean up alram records
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter

feature(mcp): 支持自定义mcp server使用指引 --story=128746555
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/DefaultMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feature(mcp): 支持自定义mcp server使用指引 --story=128746555
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/DefaultMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

test(apigateway/tests/apis/web/gateway/test_serializers.py): fix unittests
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver api (#2148)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver api (#2147)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(cr/comments): update log message
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter
