Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

refactor: fix plugin review issues for uri-blocker
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

refactor: add handled_by in GatewayAppPermissionGrantApi
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

feat(plugin): add uri-blocker resource plugin support (#2861)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/__init__.py
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

refactor: modify username
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

feat: return updater in app permission list (#2873)
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0013_add_permission_handled_by.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

docs(agents.md): update
  .gitignore
  AGENTS.md
Due: none

docs(agents.md): update agents.md of all projects
  .gitignore
  AGENTS.md
  src/dashboard/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/README.md
  test-bdd/AGENTS.md
Due: fmt, lint

refactor(plugin): remove PluginForm concept (#2874)
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/plugin/admin.py
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/apps/plugin/management/commands/dump_plugin_data.py
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0017_delete_pluginform.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/fixures/test_plugins_yaml.py
Due: format, ruff, mypy, import-linter

feature(MCP): 优化个人工作台 MCP Server 展示、搜索支持上一次勾选数据回显 --story=135146789
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityTimeInterval.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/components/ApprovalDialog.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

docs(agents.md): update (#2876)
  .gitignore
  AGENTS.md
  src/dashboard/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/README.md
  test-bdd/AGENTS.md
Due: fmt, lint

fix(MCP): 应用态风险时 名称不可见 --story=135146789
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

fix(gateway): skip repo auth check for TE gateway creation
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
Due: format, ruff, mypy, import-linter

feat(permission): 应用权限列表新增操作人字段
  src/dashboard-front/src/types/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

fix(gateway): skip repo auth check for TE gateway creation (#2880)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
Due: format, ruff, mypy, import-linter

feat(permission): 应用权限列表新增操作人字段 (#2881)
  src/dashboard-front/src/types/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

Revert "feat(permission): 应用权限列表新增操作人字段 (#2881)"
  src/dashboard-front/src/types/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

fix(MCP): 响应内容太长没有办法展开看、权限导出代码覆盖问题 --story=135146789
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

feat(mcp_server): add mcp marketplace app permission apply APIs
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/service/paas.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
Due: format, ruff, mypy, import-linter

feat(create-gateway): 编程网关的仓库授权优化
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
Due: none

feat(permission-app): 应用权限列表展示操作人
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

feat(create-gateway): 编程网关的仓库授权优化 (#2887)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
Due: none

feat(permission-app): 应用权限列表展示操作人 (#2888)
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

fix: audit permission approval and renewal handlers
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
Due: format, ruff, mypy, import-linter

fix: audit permission approval and renewal handlers (#2890)
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源配置表格的标签列过滤被错误清除的问题 --story=134944974
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(front-end): uri-blocker 插件表单 --story=135209014
  src/dashboard-front/src/components/plugin-form/uri-blocker/Index.vue
  src/dashboard-front/src/components/plugin-form/uri-blocker/components/RuleInput.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): uri-blocker 插件表单 --story=135209014 (#2889)
  src/dashboard-front/src/components/plugin-form/uri-blocker/Index.vue
  src/dashboard-front/src/components/plugin-form/uri-blocker/components/RuleInput.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 修复资源配置表格的标签列过滤被错误清除的问题 --story=134944974 (#2891)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 修复资源配置表格的标签列过滤被错误清除的问题 --story=134944974 (#2892)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(plugin): add uri-blocker example text
  src/dashboard-front/src/locales/cn.json
Due: none

fix(plugin): add uri-blocker example text (#2893)
  src/dashboard-front/src/locales/cn.json
Due: none

feat(front-end): uri-blocker 插件示例
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): uri-blocker 插件示例 (#2894)
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/en.json
Due: none

fix(mcp-proxy): correct version metadata
  src/mcp-proxy/Makefile
  src/mcp-proxy/cmd/version.go
Due: fmt, lint

fix(operator): improve release log context
  src/operator/Makefile
  src/operator/pkg/core/agent/agent.go
  src/operator/pkg/core/committer/committer.go
  src/operator/pkg/core/store/store.go
  src/operator/pkg/core/synchronizer/synchronizer.go
  src/operator/pkg/entity/entity.go
  src/operator/pkg/entity/entity_test.go
Due: none

refactor: adjust MCP marketplace permission apply flow
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/service/paas.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
Due: format, ruff, mypy, import-linter

feat(mcp_server): add mcp marketplace app permission apply APIs (#2885)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
Due: format, ruff, mypy, import-linter

docs(mcp-proxy): update AGENTS version note
  src/mcp-proxy/AGENTS.md
Due: fmt, lint

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
