Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(api/open): fix test
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(api/open): add mcpserver schema and category
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp): add tool schema, categories, and tool_names to MCP Server APIs
  .github/workflows/core-api.yml
  .github/workflows/dashboard.yml
  .github/workflows/mcp-proxy.yml
  .gitignore
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

refactor(conf): extract large config blocks from default.py into utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(apigw-definitions/bk-apigateway-resources.yaml): fix v2 open api permission
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(api/open): fix mcpserver sync (#2561)
  .github/workflows/core-api.yml
  .github/workflows/dashboard.yml
  .github/workflows/mcp-proxy.yml
  .gitignore
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/bin/post_migrate
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(mcp): add tool schema, categories, and tool_names to MCP Server APIs (#2562)
  .github/workflows/core-api.yml
  .github/workflows/dashboard.yml
  .github/workflows/mcp-proxy.yml
  .gitignore
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(apigw-definitions/bk-apigateway-resources.yaml): fix v2 open api permission (#2565)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(apigw-definitions/bk-apigateway-resources.yaml): fix v2 open api permission (#2564)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

refactor(conf): extract large config blocks from default.py into utils.py (#2563)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): add missing return after error handling in logger middleware
  src/mcp-proxy/pkg/middleware/logger.go
Due: fmt, lint

fix(mcp-proxy): add body size truncation to prevent excessive logging
  src/mcp-proxy/pkg/middleware/logger.go
Due: fmt, lint

fix(mcp-proxy): add truncation to audit logs for tool requests/responses
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

refactor(mcp-proxy): address code review feedback on logging
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
Due: fmt, lint

fix(mcp-proxy): add missing return after error handling in logger middleware (#2566)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
Due: fmt, lint

feat(front-end): 关闭告警策略关键字复制功能 # Reviewed, transaction id: 76454
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

feat(front-end): 关闭告警策略关键字复制功能 (#2567)
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

perf(mcp-proxy): optimize runtime performance and improve code quality
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/cmd/root.go
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/sentry/sentry.go
  src/mcp-proxy/pkg/infra/sentry/sentry_suite_test.go
  src/mcp-proxy/pkg/infra/sentry/sentry_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/sentry_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
Due: fmt, lint

fix(mcp-proxy): address code review findings (P1/P2/P3)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/sentry/sentry.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
Due: fmt, lint

refactor(dashboard): remove unused web APIs and dead code
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/setting/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/biz/monitor/__init__.py
  src/dashboard/apigateway/apigateway/biz/monitor/monitor.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/monitor/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/monitor/test_monitor.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复告警记录详情展示问题 # Reviewed, transaction id: 76472
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

fix(front-end): 修复告警记录详情展示问题 # Reviewed, transaction id: 76474
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

fix(front-end): 修复告警记录详情展示问题 (#2570)
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

fix(front-end): 修复告警记录详情展示问题 (#2571)
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

docs(agents.md): add the wrong PR guide
  src/dashboard/AGENTS.md
Due: none

fix(mcp-proxy): opt mcp schema
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
Due: fmt, lint

chore(core-api): upgrade golangci-lint and fix all lint issues
  .github/workflows/core-api.yml
  src/core-api/.golangci.yaml
  src/core-api/AGENTS.md
  src/core-api/Dockerfile
  src/core-api/Makefile
  src/core-api/go.mod
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
  src/core-api/pkg/cacheimpls/gateway.go
  src/core-api/pkg/cacheimpls/init.go
  src/core-api/pkg/cacheimpls/jwt_public_key.go
  src/core-api/pkg/cacheimpls/release.go
  src/core-api/pkg/cacheimpls/release_history.go
  src/core-api/pkg/cacheimpls/resource_version_mapping.go
  src/core-api/pkg/cacheimpls/stage.go
  src/core-api/pkg/database/dao/publish_event.go
  src/core-api/pkg/database/dbmock.go
  src/core-api/pkg/database/mysql.go
  src/core-api/pkg/database/utils.go
  src/core-api/pkg/sentry/sentry.go
  src/core-api/pkg/server/router.go
  src/core-api/pkg/util/testing.go
  src/core-api/pkg/util/validation.go
Due: none

feat(agents.md): update
  src/dashboard/AGENTS.md
Due: none

fix(mcp-proxy): temporarily disable MCP tool OutputSchema
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): address CR feedback - add FIXME annotations with recovery plan
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dockerfile): update base image
  src/core-api/Dockerfile
Due: none

fix(mcp-proxy): add enableOutputSchema config flag and improve CR feedback
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

revert(mcp-proxy): remove enableOutputSchema config flag, use simple comment-out instead
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(resource-version): support single and batch deletion of resource versions
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

fix(lints): fix fails
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove unused web APIs and dead code (#2569)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/setting/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/biz/monitor/__init__.py
  src/dashboard/apigateway/apigateway/biz/monitor/monitor.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/monitor/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/monitor/test_monitor.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

chore(core-api): upgrade golangci-lint and fix all lint issues (#2572)
  .github/workflows/core-api.yml
  src/core-api/.golangci.yaml
  src/core-api/AGENTS.md
  src/core-api/Dockerfile
  src/core-api/Makefile
  src/core-api/go.mod
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
  src/core-api/pkg/cacheimpls/gateway.go
  src/core-api/pkg/cacheimpls/init.go
  src/core-api/pkg/cacheimpls/jwt_public_key.go
  src/core-api/pkg/cacheimpls/release.go
  src/core-api/pkg/cacheimpls/release_history.go
  src/core-api/pkg/cacheimpls/resource_version_mapping.go
  src/core-api/pkg/cacheimpls/stage.go
  src/core-api/pkg/database/dao/publish_event.go
  src/core-api/pkg/database/dbmock.go
  src/core-api/pkg/database/mysql.go
  src/core-api/pkg/database/utils.go
  src/core-api/pkg/sentry/sentry.go
  src/core-api/pkg/server/router.go
  src/core-api/pkg/util/testing.go
  src/core-api/pkg/util/validation.go
Due: none

docs(agents.md): update
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(resource-version): validate empty ids and deduplicate in batch delete
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
Due: format, ruff, mypy, import-linter
