Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(dashboard): cache release resource configs (#2917)
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/test_release_data.py
Due: format, ruff, mypy, import-linter

fix: handle empty app code in app request alerts (#2928)
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
Due: format, ruff, mypy, import-linter

fix(monitor): handle string status in alarm subtype (#2927)
  src/dashboard/apigateway/apigateway/service/alert_flow/helpers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/test_helpers.py
Due: format, ruff, mypy, import-linter

refactor: replace summary export with resource app metrics export
  src/dashboard/apigateway/apigateway/apis/web/metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): show audit fields in Django admin forms (#2922)
  src/dashboard/apigateway/apigateway/apps/api_debug/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/feature/admin.py
  src/dashboard/apigateway/apigateway/apps/gateway/admin.py
  src/dashboard/apigateway/apigateway/apps/label/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/metrics/admin.py
  src/dashboard/apigateway/apigateway/apps/monitor/admin.py
  src/dashboard/apigateway/apigateway/apps/permission/admin.py
  src/dashboard/apigateway/apigateway/apps/plugin/admin.py
  src/dashboard/apigateway/apigateway/apps/support/admin.py
  src/dashboard/apigateway/apigateway/common/admin.py
  src/dashboard/apigateway/apigateway/core/admin.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/bkcore/admin.py
  src/dashboard/apigateway/apigateway/schema/admin.py
  src/dashboard/apigateway/apigateway/tests/common/test_admin.py
Due: format, ruff, mypy, import-linter

refactor: reuse summary metrics factory for resource app export
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/__init__.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
Due: format, ruff, mypy, import-linter

refactor: extract summary serializer base for export reuse
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(front-end): BK-CLI 和开发者中心导航栏 --story=132037792
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): BK-CLI 和开发者中心导航栏 --story=132037792 (#2932)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feature(Dashboard): 修改可观测仪表盘卡片布局 --story=135534301
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardQuestMonitor.vue
Due: none

feat(metrics): add resource app metrics export (#2923)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复微网关导航菜单
  src/dashboard-front/src/App.vue
Due: none

fix(front-end): 修复微网关导航菜单 (#2934)
  src/dashboard-front/src/App.vue
Due: none

feat: add released-resource v2 endpoints with stage-based released semantics
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resource.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateway_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

refactor(docs): fix
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resource.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resources.md
Due: none

fix(v2-open-resource): align v2 released resource permissions and migration docs (#2930)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resource.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resources.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

feat(data-plane): default new data planes to current APISIX version
  src/dashboard/apigateway/apigateway/apps/data_plane/constants.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/create_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/migrations/0002_dataplane_apisix_version.py
  src/dashboard/apigateway/apigateway/apps/data_plane/models.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_data_plane_model.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_management_commands.py
Due: format, ruff, mypy, import-linter

ci(pre-commit): update to use uv for src/dashboard pre-commit
  .pre-commit-config.yaml
Due: none

fix(components/): increase the timeout of bklog and bkmonitor
  src/dashboard/apigateway/apigateway/components/bklog.py
  src/dashboard/apigateway/apigateway/components/bkmonitor.py
Due: format, ruff, mypy, import-linter

fix(components/): increase the timeout of bklog and bkmonitor (#2935)
  src/dashboard/apigateway/apigateway/components/bklog.py
  src/dashboard/apigateway/apigateway/components/bkmonitor.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): remove bk-apigateway-inner registration (#2929)
  .agents/skills/bk-apigateway-openapi-check/references/file-reference.md
  .agents/skills/bk-apigateway-openapi-check/references/special-cases.md
  src/dashboard/apigateway/apigateway/apis/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/urls.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-inner-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-inner-resources.yaml
  src/dashboard/bin/post_migrate
  test-bdd/scripts/01-网关管理/02-网关列表操作.spec.js
Due: format, ruff, mypy, import-linter

feat(data-plane): support APISIX 3.16 for bound data planes (#2837)
  .pre-commit-config.yaml
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/constants.py
  src/dashboard/apigateway/apigateway/apps/data_plane/management/commands/create_data_plane.py
  src/dashboard/apigateway/apigateway/apps/data_plane/migrations/0002_dataplane_apisix_version.py
  src/dashboard/apigateway/apigateway/apps/data_plane/models.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/convertor/constants.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_data_plane_model.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_management_commands.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_bk_release.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_constants.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_proto.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service_health_check.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_ssl.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/operator/pkg/constant/apisix.go
  src/operator/pkg/utils/schema/3.13/schema.json
  src/operator/pkg/utils/schema/3.16/schema.json
  src/operator/pkg/utils/schema/schema.go
  src/operator/pkg/utils/schema/schema_test.go
  src/operator/pkg/utils/schema/validate_test.go
  src/operator/pkg/utils/version_test.go
Due: format, ruff, mypy, import-linter

fix(resource): return validation error for recursive openapi refs
  src/dashboard/apigateway/apigateway/biz/openapi/openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

fix(resource): return validation error for recursive openapi refs (#2937)
  src/dashboard/apigateway/apigateway/biz/openapi/openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose user personal center link
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose user personal center link (#2938)
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose user personal center link
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_conf_utils.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose user personal center link (#2939)
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_conf_utils.py
Due: format, ruff, mypy, import-linter

fix(mcp_server): validate prompts payload and add invalid prompts repair command
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/management/commands/test_fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
Due: format, ruff, mypy, import-linter

feat(report): 统计报表导出修改
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

fix(mcp-proxy): preserve audit semantics for raw responses
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

feat(report): 统计报表导出修改 (#2940)
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

refactor(mcp-proxy): share response payload JSON shaping
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
Due: fmt, lint

perf(mcp-proxy): reduce large tool response allocations (#2856)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_refactor_compat_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

style(api-docs): 搜索关键字匹配高亮由倾斜改为略微加粗
  src/dashboard-front/src/views/api-docs/detail/Index.vue
Due: none

style(api-docs): 搜索关键字匹配高亮由倾斜改为略微加粗 (#2942)
  src/dashboard-front/src/views/api-docs/detail/Index.vue
Due: none

feat(front-end): 登录信息展示个人设置URL --story=135604073
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/user-info-v2/Index.vue
  src/dashboard-front/src/components/user-info/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): 登录信息展示个人设置URL --story=135604073 (#2936)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/user-info-v2/Index.vue
  src/dashboard-front/src/components/user-info/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

feat(front-end): 登录信息展示个人设置URL --story=135604073 (#2943)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/user-info-v2/Index.vue
  src/dashboard-front/src/components/user-info/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
