Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(requirements): fix
  src/dashboard/apigateway/requirements.txt
Due: none

fix(importlinter): fix config
  src/dashboard/apigateway/.importlinter
Due: none

fix(api/open/sync): fix url
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_marketplace): add maintainers for mcp_server
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_marketplace): add maintainers for mcp_server (#1438)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

feat(mcp): mcp Server 列表 & 新建 & 编辑页 # Reviewed, transaction id: 44924
  src/dashboard-front/.eslintignore
  src/dashboard-front/package.json
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/http/mcp-server.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/index.vue
  src/dashboard-front/static/svg/iconcool.js
  src/dashboard-front/yarn.lock
Due: none

feat(mcp): mcp Server 列表 & 新建 & 编辑页 (#1439)
  src/dashboard-front/.eslintignore
  src/dashboard-front/package.json
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/http/mcp-server.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/index.vue
  src/dashboard-front/static/svg/iconcool.js
  src/dashboard-front/yarn.lock
Due: none

feat(mcp-market): mcp 市场 & 详情
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/constant/config.ts
  src/dashboard-front/src/http/mcp-market.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/mcp-market/components/details.vue
  src/dashboard-front/src/views/mcp-market/components/guideline.vue
  src/dashboard-front/src/views/mcp-market/index.vue
Due: none

fix(apps/support/api_sdk): 修复 sdk 日志输出问题
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/distributors/bkrepo.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/distributors/pypi.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/managers/base.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/packagers/pypi.py
Due: format, ruff, mypy, import-linter

feat(mcp-market): mcp 市场 & 详情 (#1441)
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/constant/config.ts
  src/dashboard-front/src/http/mcp-market.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/mcp-market/components/details.vue
  src/dashboard-front/src/views/mcp-market/components/guideline.vue
  src/dashboard-front/src/views/mcp-market/index.vue
Due: none

fix(mcp): fix mcp guide and fix stage status
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/release.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

fix(apps/support/api_sdk): 修复 sdk 日志输出问题 (#1440)
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/distributors/bkrepo.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/distributors/pypi.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/managers/base.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/packagers/pypi.py
Due: format, ruff, mypy, import-linter

fix(middleware): fix jwt user validate
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

fix(mcp): fix mcp guide
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

fix(config): fix access token doc url
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix cr
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

fix(mcp): fix mcp guide and fix stage status (#1442)
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/release.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(api/web): fix stage list
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
Due: format, ruff, mypy, import-linter

fix(cacheimpls): fix mcp server permission
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
Due: fmt, lint

fix(api/web): fix stage list and fix mcp server permission (#1443)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(apis/v2/inner): fix wrong url and rename the resources
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(middleware): fix permission
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

refactor(apis/v2/sync): update an url
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(mcp): fix mcp message url
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(apis/v2/inner/serializers.py): meta ref_name
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix inner jwt
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp): fix call inner jwt
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp): fix logger
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp): fix mcp jwt
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

fix(mcp): fix jwt
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

fix(biz/resource): 修复导入的资源配置更新问题
  src/dashboard/apigateway/apigateway/apis/web/resource/doc/views.py
  src/dashboard/apigateway/apigateway/biz/resource/models.py
  src/dashboard/apigateway/apigateway/biz/resource/savers.py
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/importers.py
Due: format, ruff, mypy, import-linter

fix(biz/resource): 修复导入的资源配置更新问题
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/importers.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix jwt
  src/mcp-proxy/pkg/cacheimpls/jwt_public_key.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/util/cryptography.go
Due: fmt, lint

fix(apigateway/biz/release.py): import
  src/dashboard/apigateway/.importlinter
  src/dashboard/apigateway/apigateway/biz/release.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix mcp
  src/mcp-proxy/pkg/cacheimpls/jwt_public_key.go
  src/mcp-proxy/pkg/util/cryptography.go
Due: fmt, lint

fix(mcp): fix jwt
  src/mcp-proxy/pkg/util/cryptography.go
Due: fmt, lint

fix(mcp): fix mcp jwt
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
