Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(api/v2): fix mcpserver
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/v2): fix lint
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
Due: format, ruff, mypy, import-linter

fix(api/v2): fix inner api (#2365)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/v2): fix approval url (#2366)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/v2): fix mcpserver approval url (#2367)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

docs(version_log): update version log of 1.20
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): update version log of 1.20 (#2368)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

feat(release-record): 发布记录优化
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

feat(release-record): 发布记录优化 (#2369)
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

feat(api/web): mcpserver list suppport category
  src/dashboard/apigateway/MCP_SERVER_CATEGORY_SUMMARY.md
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0010_add_mcp_server_category.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix api
  src/dashboard/apigateway/MCP_SERVER_CATEGORY_SUMMARY.md
Due: none

test(tests): fix health check fail
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_views.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/conftest.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0010_add_mcp_server_category.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): support mcp tool rename
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/sse_test.go
Due: fmt, lint

refactor(feat/health-check): remove unsupported fields
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service_health_check.py
  src/dashboard/apigateway/apigateway/tests/controller/models/test_base.py
Due: format, ruff, mypy, import-linter

fix(cr/comments): fix code review comments
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
Due: format, ruff, mypy, import-linter

feat(backend): add health check support for backend services (#2359)
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_views.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service_health_check.py
  src/dashboard/apigateway/apigateway/tests/controller/models/test_base.py
Due: format, ruff, mypy, import-linter

refactor(mcp-proxy): optimize resource name parsing based on review feedback
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

feat(commands/permission_export_import.py): support export and import permissions
  src/dashboard/apigateway/apigateway/apps/permission/management/commands/permission_export_import.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix ai cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
Due: format, ruff, mypy, import-linter

feat(api/web): mcpserver list suppport category (#2370)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0010_add_mcp_server_category.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0011_add_default_categories.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver list
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver list (#2373)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(commands/permission_export_import.py): support export and import permissions (#2372)
  src/dashboard/apigateway/apigateway/apps/permission/management/commands/permission_export_import.py
Due: format, ruff, mypy, import-linter

fix(api/web): support mcp_server config
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/aidev.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/aidev.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix config
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): fix resource_names
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(api/web): add vscode
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

fix(api/web): support mcp_server config (#2374)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/aidev.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/aidev.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(api/web): mcpserver list suport multiple categories
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(api/web): mcpserver list suport multiple categories (#2375)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feature(MCP): MCPServer MCPMarket首页整改优化 --story=129208940
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-table-filter-change.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/utils/filterEmptyValues.ts
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

feature(MCP): MCPServer增加分类展示 --story=129208940
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
Due: none

fix(deps): upgrade golang.org/x/crypto to fix security vulnerabilities
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

fix(deps): upgrade golang.org/x/crypto to fix security vulnerabilities (#2378)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

feat(mcp-proxy): support mcp tool rename (#2371)
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/sse_test.go
Due: fmt, lint

feat(front-end): 后端服务健康检查配置 # Reviewed, transaction id: 72441
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(django/commands): add export_legacy_v1_releases for stats
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_legacy_v1_releases.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
