Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(api/web): support prompt (#2170) (#2182)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0007_add_prompts_extend_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(mcp): fix cr
  src/mcp-proxy/pkg/biz/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/cache_expoter.go
  src/mcp-proxy/pkg/cacheimpls/init.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend_test.go
Due: fmt, lint

fix(controller/transformer.py): revoke legacy gateway with resource_version schema v1
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

feat(mcp): add prompt (#2186)
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/cache_expoter.go
  src/mcp-proxy/pkg/cacheimpls/init.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend_test.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/entity/model/migrate.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/repo/core_jwt.gen.go
  src/mcp-proxy/pkg/repo/core_release.gen.go
  src/mcp-proxy/pkg/repo/core_released_resource.gen.go
  src/mcp-proxy/pkg/repo/gen.go
  src/mcp-proxy/pkg/repo/mcp_server.gen.go
  src/mcp-proxy/pkg/repo/mcp_server_app_permission.gen.go
  src/mcp-proxy/pkg/repo/mcp_server_extend.gen.go
Due: fmt, lint

Fix gateway revoke legacy resource version (#2188)
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

fix(controller/transformer.py): revoke legacy gateway with resource_version schema v1 (#2189)
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

fix(gateway/gateway.py): mark recently created gateway operation status as active
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
Due: format, ruff, mypy, import-linter

feat(mcp): support prompt
  src/mcp-proxy/pkg/cacheimpls/cache_expoter.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend_test.go
Due: fmt, lint

feat(mcp): change sdk
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
Due: fmt, lint

feat(mcp): change sdk
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

feat(mcp): change sdk
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feat(mcp): change sdk
  src/mcp-proxy/pkg/config/config.go
Due: fmt, lint

feat(home): 提醒用户下架无用网关
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/operate-data/report/components/Chart.vue
Due: none

feat(home): 提醒用户下架无用网关 (#2196)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/operate-data/report/components/Chart.vue
Due: none

feature(prompt): 修复合并冲突项 --story=129309949
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feature(prompt): mcp支持prompt资源 --story=129309949
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feature(prompt): 创建MCP结果预览区分tool和prompt展示 --story=129309949
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

feat(api/web): support steamableHTTP
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix bk-apigateway version
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

feat(api/web): support steamableHTTP (#2201)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

feat(api/web): support steamableHTTP
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

feat(api/web): support stremableHTTP
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

fix(gateway/gateway.py): mark recently created gateway operation status as active (#2190)
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
Due: format, ruff, mypy, import-linter

fix(data/apigw-definitions): fix bk-apigateway resources
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(api/web): fix resources
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(mcp): support steamableHTTP
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint
