Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(frontend): 仪表盘图表调整&网关指导页修复
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

fix(frontend): 仪表盘图表调整&网关指导页修复 (#1869)
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

feature(toolbox): 平台markdowninit风格调整成github风格 --story=126323644
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/styles/app-doc.scss
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feature(toolbox): highlight调整成github风格 --story=126323644
  src/dashboard-front/src/components/ai-seek/AiChatSlider.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
Due: none

fix(home): 修复引导页闪现问题&补充翻译
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(home): 修复引导页闪现问题&补充翻译 (#1872)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(home): 增加文档链接
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(home): 增加文档链接 (#1873)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

feat: apis/web/metrics
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/constants.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feat(basicInfo): 增加请求来自网关指引
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/home/Index.vue
Due: none

feat(basicInfo): 增加请求来自网关指引 (#1875)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(dashboard): use fixed uv version; update resource doc template (#1857)
  src/dashboard/Dockerfile
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
Due: format, ruff, mypy, import-linter

feat(apis/web/permission): query the display_name if app belongs to anohter gateway (#1859)
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/components/bkauth.py
  src/dashboard/apigateway/apigateway/components/bkuser.py
Due: format, ruff, mypy, import-linter

feat(components/bkmonitor.py): change from bkmonitorv3 to bk-monitor api (#1858)
  src/dashboard/apigateway/apigateway/components/bkmonitor.py
Due: format, ruff, mypy, import-linter

feat(dashboard): 仪表盘增加精度筛选
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
Due: none

feature(transfer): 网关资源授权transfer组件实现自定义搜索、选择全部 --story=127525457
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
Due: none

feat(frontend): 插件图标 --story-id=126771187 # Reviewed, transaction id: 60218
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
Due: none

feat(frontend): 插件图标 --story-id=126771187 (#1878)
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
Due: none

feat: apis/web/metrics (#1874)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/constants.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

fix(dashboard): 资源搜索清空问题修复
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/operate-data/dashboard/components/ResourceSearcher.vue
Due: none

fix(dashboard): 资源搜索清空问题修复 (#1879)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/operate-data/dashboard/components/ResourceSearcher.vue
Due: none

feat(dockerfile): use tencentos4
  src/core-api/Dockerfile
  src/core-api/go.mod
  src/core-api/go.sum
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/default.conf
  src/dashboard-front/bin/entrypoint.sh
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

feat(frontend): 插件图标修复 & 后端服务host展示 & feature flag 地址 --story-id=122220514 # Reviewed, transaction id: 60310
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/componentManagement.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(frontend): 插件图标修复 & 后端服务host展示 & feature flag 地址 --story-id=122220514 (#1881)
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/componentManagement.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(dashboard/dockerfile): use ts4
  src/dashboard/Dockerfile
Due: none

fix(prometheus/dimension.py): use sum rate for ingress/egress
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feature(transfer): 网关资源授权transfer组件实现自定义搜索、选择全部 --story=127525457
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
Due: none

feat(resource/serializers.py): add auth_config for list
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

fix(prometheus/test_dimension.py): fix unittests
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(resource/test_views.py): fix unittests
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter

fix(prometheus/dimension.py): use sum rate for ingress/egress (#1882)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feat(resource/serializers.py): add auth_config for list (#1883)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter

feat(esb/dockerfile): support ts4
  src/esb/Dockerfile
Due: none

feat(biz/ai): add doc translate
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

fix(biz/ai): fix translate doc
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

feat(frontend): 认证提示标志 & 插件配置图标 # Reviewed, transaction id: 60424
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(toolbox): 微网关展示
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(toolbox): 微网关展示 (#1886)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(frontend): 认证提示标志 & 插件配置图标 (#1885)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

refactor(conf/default.py): change no used env vars; update log format of apisix
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
