Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

refactor(dashboard): index path conflicts by method and return groups
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/resource/path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_path_conflicts.py
Due: format, ruff, mypy, import-linter

fix(itsm): fix issues
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
Due: format, ruff, mypy, import-linter

fix(itsm): fix issues (#3266)
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
Due: format, ruff, mypy, import-linter

fix(dashboard): preserve both path overlap types when truncating groups
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/resource/path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_path_conflicts.py
Due: format, ruff, mypy, import-linter

fix(Dropdown): Dropdwon组件Popover为light模式时存在2px的边框 --story=163451427
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardLineChart.vue
Due: none

fix(Stage): 修复Divider组件未引入 --story=163452918
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

fix(mcp-proxy): forward client IP headers by default
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
Due: fmt, lint

fix(mcp-proxy): preserve existing header override behavior
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix(mcp-proxy): preserve explicitly allowed empty IP headers
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
Due: fmt, lint

fix(mcp-proxy): 默认透传客户端 IP 请求头 (#3271)
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
Due: fmt, lint

fix(i18n): resolve RBAC locale conflicts with master
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(esb): add configurable JWT forwarding for CC requests
  src/esb/README.md
  src/esb/esb/components/bk/apisv2/cc/toolkit/configs.py
  src/esb/esb/components/bk/apisv2/cc/toolkit/tools.py
  src/esb/esb/conf/default.py
  src/esb/esb/tests/components/test_cc_client.py
Due: ruff, mypy, black

chore(front-end): 升级 bkui-vue 和表格依赖版本 & 清理无用组件
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

chore(front-end): 升级 bkui-vue 和表格依赖版本 & 清理无用组件 (#3275)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

feat(front-end): 已关联资源的表头说明 --story=137934671
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/model-services/Index.vue
Due: none

feat(front-end): 已关联资源的表头说明 --story=137934671 (#3276)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/model-services/Index.vue
Due: none

feat(esb): add configurable JWT forwarding for CC requests (#3274)
  src/esb/README.md
  src/esb/esb/components/bk/apisv2/cc/toolkit/configs.py
  src/esb/esb/components/bk/apisv2/cc/toolkit/tools.py
  src/esb/esb/conf/default.py
  src/esb/esb/tests/components/test_cc_client.py
Due: ruff, mypy, black

feat(dashboard): add personal token authentication documentation link
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat(dashboard): add personal token authentication documentation link (#3277)
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(dashboard): complete and normalize OpenAPI operation tags
  src/dashboard/apigateway/apigateway/account/views.py
  src/dashboard/apigateway/apigateway/apis/open/esb/permission/views.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/monitor/views.py
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
  src/dashboard/apigateway/apigateway/apis/web/backend/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/label/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource/doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apis/web/version_log/views.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/status/views.py
  src/dashboard/apigateway/apigateway/tests/common/test_schema.py
Due: format, ruff, mypy, import-linter

feat(service/paas.py): remove deploy link from programmable_gateway_links
  src/dashboard/apigateway/apigateway/service/paas.py
Due: format, ruff, mypy, import-linter

feat(service/paas.py): remove deploy link from programmable_gateway_links (#3278)
  src/dashboard/apigateway/apigateway/service/paas.py
Due: format, ruff, mypy, import-linter

feat(rbac): integrate IAM V4 auth, member dual-write, and model sync
  src/dashboard/apigateway/apigateway/apis/permissions.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway_member/views.py
  src/dashboard/apigateway/apigateway/apps/rbac/constants.py
  src/dashboard/apigateway/apigateway/apps/rbac/iam_context.py
  src/dashboard/apigateway/apigateway/apps/rbac/management/commands/sync_gateway_rbac_model_to_iam.py
  src/dashboard/apigateway/apigateway/apps/rbac/management/commands/sync_gateway_rbac_to_iam.py
  src/dashboard/apigateway/apigateway/apps/rbac/managers.py
  src/dashboard/apigateway/apigateway/apps/rbac/tasks.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/iam_auth.py
  src/dashboard/apigateway/apigateway/biz/gateway/iam_authorization.py
  src/dashboard/apigateway/apigateway/biz/gateway/iam_model.py
  src/dashboard/apigateway/apigateway/biz/gateway/iam_sync.py
  src/dashboard/apigateway/apigateway/biz/gateway/members.py
  src/dashboard/apigateway/apigateway/components/bkiam.py
  src/dashboard/apigateway/apigateway/conf/.env.tpl
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/unittest_env
  src/dashboard/apigateway/apigateway/tests/apis/test_permissions.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_commands.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_constants.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_iam_context.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_managers.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_iam_auth.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_iam_authorization.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_iam_model.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_iam_sync.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_members.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkiam.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
  src/dashboard/bin/on_migrate
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor: rename command
  src/dashboard/apigateway/apigateway/apps/rbac/management/commands/sync_gateway_rbac_auth_to_iam.py
  src/dashboard/apigateway/apigateway/tests/apps/rbac/test_commands.py
  src/dashboard/bin/on_migrate
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(dashboard): detect parameter overlaps across path segments
  src/dashboard/apigateway/apigateway/biz/resource/path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_path_conflicts.py
Due: format, ruff, mypy, import-linter

fix(access-log): align shared log details with toolbox responses
  src/dashboard/apigateway/apigateway/apis/web/access_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

fix(access-log): align shared log details with toolbox responses (#3282)
  src/dashboard/apigateway/apigateway/apis/web/access_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): bound path conflict groups and resource payloads
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/resource/path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_path_conflicts.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): clarify path conflict traversal and grouping
  src/dashboard/apigateway/apigateway/biz/resource/path_conflicts.py
Due: format, ruff, mypy, import-linter

docs(dashboard): explain path conflicts with actionable examples
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose disabled-by-default path conflict feature flag
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose route matching rules documentation link
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

[1.25.x] feat(dashboard): add resource path conflict detection APIs (#3269)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/resource/__init__.py
  src/dashboard/apigateway/apigateway/biz/resource/path_conflicts.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_path_conflicts.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

feat(front-end): 登录用户角色从后端获取 --story=138235230
  src/dashboard-front/src/hooks/use-gateway-releasing-status.ts
  src/dashboard-front/src/hooks/use-gateway-role.ts
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/router/gateway-role-guard.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/me.ts
  src/dashboard-front/src/stores/useGateway.ts
  src/dashboard-front/src/stores/useGatewayRole.ts
  src/dashboard-front/src/utils/gateway-access-error.ts
  src/dashboard-front/src/utils/gateway-permission.ts
  src/dashboard-front/src/views/GatewayLoadError.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/member-management/Index.vue
Due: none

chore(dashboard): upgrade dependencies with Django 5.2.17
  src/dashboard/apigateway/apigateway/biz/openapi/schema.py
  src/dashboard/apigateway/apigateway/tests/utils/test_curlify.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(front-end): 登录用户角色从后端获取 --story=138235230 (#3280)
  src/dashboard-front/src/hooks/use-gateway-releasing-status.ts
  src/dashboard-front/src/hooks/use-gateway-role.ts
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/router/gateway-role-guard.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/me.ts
  src/dashboard-front/src/stores/useGateway.ts
  src/dashboard-front/src/stores/useGatewayRole.ts
  src/dashboard-front/src/utils/gateway-access-error.ts
  src/dashboard-front/src/utils/gateway-permission.ts
  src/dashboard-front/src/views/GatewayLoadError.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/member-management/Index.vue
Due: none

chore(dashboard): upgrade uv to 0.12.14
  .github/workflows/dashboard.yml
  src/dashboard/Dockerfile
  src/dashboard/Makefile
  src/dashboard/pyproject.toml
Due: none

refactor(dashboard): 流水日志分享页抽离为独立页面 --story=137377856
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/operate-data/access-log/Detail.vue
  src/dashboard-front/src/views/operate-data/route.ts
Due: none
