Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

Update src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(data/apigw-definitions): fix bk-apigateway resources (#2204)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(api/web): support stremableHTTP (#2203)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

feat(api/web): support steamableHTTP (#2202)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

feat(mcp): support steamableHTTP
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
Due: fmt, lint

feat(mcp): support steamableHTTP
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

feat(mcp-proxy): support steamableHTTP (#2205)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feature(mcp): mcp proxy支持streamable HTTP --story=129486151
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

feat(mcp-proxy): support steamableHTTP (#2205) (#2207)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feature(mcp): mcp proxy支持streamable HTTP --story=129486151 (#2209)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

feature(mcp): mcp proxy支持streamable HTTP --story=129486151 (#2210)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

feature(mcp): mcp proxy支持streamable HTTP --story=129486151 (#2208)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

feat(mcp-proxy): support steamableHTTP (#2205) (#2206)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feat(create-gateway): 网关添加重名校验
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
Due: none

feat(create-gateway): 网关添加重名校验 (#2211)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
Due: none

feature(mcp): 支持根据mcp连接方式渲染访问地址 --story=129486151
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(api/web): fix mcp_marketplace guide
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcp_marketplace guide (#2215)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

feat(home): 首页环境标签展示修改
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

feat(home): 首页环境标签展示修改 (#2218)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

feature(mcp): 优化1.9.3版本mcp模块体验问题 --story=129486151
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(api/web): fix bk-apigaway resources.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(api/web): fix resources.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(api/web): fix tags
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(data/apigw-definitions): fix mcp operation_id (#2222)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(api/web): fix resourcs.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(api/web): fix mcp_marketplace guide (#2217)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcp_marketplace guide (#2216)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(front-end): 修复响应参数 array 类型 & 只读展示 # Reviewed, transaction id: 69275
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
