Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(apigateway): 网关 no permission to resource 添加 对应的资源名称 --story=130303748 (#2678)
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
Due: format, ruff, mypy, import-linter

feat(e2e): add e2e tests for v2-inner API endpoints (#2679)
  test/cases/dashboard/v2-inner/01-list-gateways.bru
  test/cases/dashboard/v2-inner/02-list-app-permissions.bru
  test/cases/dashboard/v2-inner/03-list-mcp-server-permissions.bru
  test/cases/dashboard/v2-inner/04-retrieve-gateway.bru
  test/cases/dashboard/v2-inner/05-list-gateway-permission-resources.bru
  test/cases/dashboard/v2-inner/06-check-allow-apply-by-gateway.bru
  test/cases/dashboard/v2-inner/07-list-app-permission-records.bru
  test/cases/dashboard/v2-inner/08-list-mcp-server-app-permissions.bru
  test/cases/dashboard/v2-inner/09-list-mcp-server-permission-records.bru
  test/cases/dashboard/v2-inner/10-list-mcp-servers.bru
  test/cases/dashboard/v2-inner/11-delete-gateway.bru
  test/cases/dashboard/v2-inner/12-update-gateway-status.bru
  test/cases/dashboard/v2-inner/13-apply-gateway-permission.bru
  test/cases/dashboard/v2-inner/14-renew-app-permission.bru
  test/cases/dashboard/v2-inner/15-apply-mcp-server-permission.bru
  test/cases/dashboard/v2-inner/16-retrieve-app-permission-record.bru
  test/cases/dashboard/v2-inner/17-retrieve-mcp-server-permission-record.bru
  test/cases/dashboard/v2-inner/18-list-esb-systems.bru
  test/cases/dashboard/v2-inner/19-list-esb-components.bru
  test/cases/dashboard/v2-inner/20-apply-esb-permission.bru
  test/cases/dashboard/v2-inner/21-renew-esb-permission.bru
  test/cases/dashboard/v2-inner/22-list-esb-app-permissions.bru
  test/cases/dashboard/v2-inner/23-list-esb-apply-records.bru
  test/cases/dashboard/v2-inner/24-retrieve-esb-apply-record.bru
Due: none

build(front-end): 迁移图标文件目录 (#2684) (#2686)
  src/dashboard-front/.stylelintignore
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/index.dev.html
  src/dashboard-front/index.html
  src/dashboard-front/index.prod.html
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/main.ts
  src/dashboard-front/tsconfig.app.json
Due: none

fix(ApiDocs): 修复展示插件网关接口参数会被过滤掉
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/utils/filterEmptyValues.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp-permission): mcp 权限审批接口修改 (#2688)
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/observability.ts
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

feat(e2e): add v2 open api e2e test cases (#2689)
  test/cases/dashboard/open api/v2-open/01-gateway-list.bru
  test/cases/dashboard/open api/v2-open/02-gateway-batch-query.bru
  test/cases/dashboard/open api/v2-open/03-gateway-retrieve.bru
  test/cases/dashboard/open api/v2-open/04-gateway-resources-list.bru
  test/cases/dashboard/open api/v2-open/05-gateway-resource-detail.bru
  test/cases/dashboard/open api/v2-open/06-gateway-resource-info.bru
  test/cases/dashboard/open api/v2-open/07-mcp-server-list.bru
  test/cases/dashboard/open api/v2-open/08-mcp-server-categories-list.bru
  test/cases/dashboard/open api/v2-open/09-mcp-server-batch-query.bru
  test/cases/dashboard/open api/v2-open/10-mcp-server-retrieve.bru
  test/cases/dashboard/open api/v2-open/11-mcp-server-permission-list.bru
  test/cases/dashboard/open api/v2-open/12-mcp-app-permission-list.bru
  test/cases/dashboard/open api/v2-open/13-mcp-app-permission-apply-records.bru
  test/cases/dashboard/open api/v2-open/14-user-mcp-server-list.bru
  test/cases/dashboard/open api/v2-open/15-tools-time-get-datetime.bru
  test/cases/dashboard/open api/v2-open/16-tools-time-get-current-unix-timestamp.bru
  test/cases/dashboard/open api/v2-open/17-tools-time-parse-datetime-to-timestamp.bru
  test/cases/dashboard/open api/v2-open/18-well-known-oauth-protected-resource.bru
Due: none

feat(itsm): add ITSM callback integration and workflow bootstrap (#2677)
  src/dashboard/apigateway/apigateway/apis/v2/inner/itsm_views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/admin.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/apps.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/constants.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/commands/register_to_itsm.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/system_bk-apigateway.json
  src/dashboard/apigateway/apigateway/apps/bk_itsm/migrations/0001_initial.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/migrations/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/models.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/managers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0014_add_itsm_ticket_id.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0011_add_itsm_ticket_id.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/bk_itsm.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_itsm_callback.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_itsm_views.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/test_bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

chore(dashboard): bump bkpaas-auth to 3.2.1 (#2696)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

chore(front-end): github action 增加前端类型检查 & CI 文件升级 node 版本 (#2687)
  .github/workflows/dashboard-front.yml
  src/dashboard-front/Dockerfile
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/mcp-market/components/DefaultMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardQuestMonitor.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

fix(front-end): 修复资源请求参数表格展示异常 (#2697)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix: inject tenant_mode and tenant_id in v2 GatewaySyncApi (#2693)
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

fix(docs): require authentication for docs-center gateway APIs (#2690)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway_sdk/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/stage/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway_sdk/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/resource/doc/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/stage/test_views.py
Due: format, ruff, mypy, import-linter

fix(trace): report BkAIDev trace for tools/call and enrich session_id/client_id (#2695)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

fix(front-end): 修复资源配置页表格数据查询异常的问题 (#2701)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(itsm): integrate ITSM ticket into MCP Server and resource permission workflows (#2699)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_mcp_server_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

feat(mcp_server): add mcp_server_ids filter to v2_inner_list_mcp_server API (#2700)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_mcp_server_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

build(front-end): 移除依赖安装后的 codebuddy 软链接创建步骤 (#2707)
  src/dashboard-front/package.json
Due: none

feat: support adaptive MCP Server URL based on least privilege (#2703)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
Due: format, ruff, mypy, import-linter

feature(Permission): 网关权限管理/mcpserver 权限管理 审批跳转ITSM --story=134169351
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/services/source/observability.ts
  src/dashboard-front/src/services/types/body/post/gateways.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/types/permission.ts
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/OAuthAlert.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(itsm): refine ITSM integration config, callbacks and API docs (#2712)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/commands/register_to_itsm.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/system_bk-apigateway.json
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_gateway_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

feature(McpMarket): McpMarket列表增加单个复制配置 --story=132845699
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/hooks/use-mcp-batch-copy-config.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/permission/components/ApprovalDetailSlider.vue
Due: none

feat(workbench): add personal workbench module for permission management (#2704)
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/filters.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/urls.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

feature(Permission): mcp权限申请/网关权限审批增加详情查看 --story=134169351
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/types/permission.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/components/ApprovalDetailSlider.vue
  src/dashboard-front/src/views/permission/record/Index.vue
Due: none

feat(export): support exporting resource version docs (#2711)
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource_doc/exporter/generators.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_doc/exporter/test_generators.py
Due: format, ruff, mypy, import-linter

fix: rename url path export_docs to export-docs for consistency (#2715)
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
Due: format, ruff, mypy, import-linter

feat(test): add MCP server e2e test cases and add noneSchema config (#2718)
  test/cases/dashboard/01-open-api/03-mcp-server/01-app-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/02-app-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/03-app-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/04-user-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/05-user-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/06-user-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/07-app-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/08-user-sse-initialize.bru
  test/sync/httpbin/definition.yaml
  test/sync/httpbin/resources.yaml
  test/sync/run.sh
Due: none

fix(dashboard): redact healthz errors and hide debug docs (#2719)
  src/dashboard/apigateway/apigateway/healthz/views.py
  src/dashboard/apigateway/apigateway/tests/drf_yasg/test_urls.py
  src/dashboard/apigateway/apigateway/tests/healthz/test_redaction.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): add comprehensive integration test cases (#2720)
  src/mcp-proxy/tests/integration/application_mode_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/metrics_test.go
  src/mcp-proxy/tests/integration/protocol_cross_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-server-log): fix chain status detection and total latency correction (#2722)
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
Due: format, ruff, mypy, import-linter

docs(release): add release log for 1.22 (#2723)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

feat: add applicant field to gateway permission apply API (#2724)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(resource-management): 修复资源管理导出按钮在数据为空时未禁用的问题 (#2721)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(mcp-proxy): upgrade Go to 1.25.5 and fix security deps
  .github/workflows/mcp-proxy.yml
  src/mcp-proxy/.golangci.yaml
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/Makefile
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/sentry/sentry.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

fix(docs): revert incorrect changes to v1 apply_permissions.md (#2726)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
Due: none

fix(Mcp): 修复mcp模块体验问题
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/components/CopyConfigDialog.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/components/TraceChainSlider.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

fix: fix test mock paths and swagger request_body for v2 monitor callback
  src/dashboard/apigateway/apigateway/apis/v2/inner/monitor_views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_monitor_views.py
Due: format, ruff, mypy, import-linter

test(sync): add second httpbin upstream host
  test/sync/httpbin/definition.yaml
Due: none

feat: add openapi consistency check skill (#2727)
  .agents/skills/bk-apigateway-openapi-check/.gitignore
  .agents/skills/bk-apigateway-openapi-check/SKILL.md
  .agents/skills/bk-apigateway-openapi-check/references/check-criteria.md
  .agents/skills/bk-apigateway-openapi-check/references/file-reference.md
  .agents/skills/bk-apigateway-openapi-check/references/special-cases.md
  .agents/skills/bk-apigateway-openapi-check/scripts/check_api_consistency.py
  .agents/skills/bk-apigateway-openapi-check/scripts/config.yaml
  .agents/skills/bk-apigateway-openapi-check/scripts/tests/__init__.py
  .agents/skills/bk-apigateway-openapi-check/scripts/tests/test_check_api_consistency.py
  .github/workflows/dashboard.yml
  AGENTS.md
  src/dashboard/AGENTS.md
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
