Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(dashboard): 资源搜索清空问题修复 (#1879)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/operate-data/dashboard/components/ResourceSearcher.vue
Due: none

feat: apis/web/metrics (#1874)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/constants.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feat(apis/web/permission): query the display_name if app belongs to anohter gateway (#1859)
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/components/bkauth.py
  src/dashboard/apigateway/apigateway/components/bkuser.py
Due: format, ruff, mypy, import-linter

feat(frontend): 插件图标 --story-id=126771187 (#1878)
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/index.ts
Due: none

feat(frontend): 插件图标修复 & 后端服务host展示 & feature flag 地址 --story-id=122220514 (#1881)
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/componentManagement.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(dashboard): 仪表盘增加精度筛选
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
Due: none

feat(toolbox): 微网关展示 (#1886)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feature(transfer): 网关资源授权transfer组件实现自定义搜索、选择全部 --story=127525457
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
Due: none

feat(resource/serializers.py): add auth_config for list (#1883)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter

feat(dockerfile): use tencentos4 (#1880)
  src/core-api/Dockerfile
  src/core-api/go.mod
  src/core-api/go.sum
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/default.conf
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard/Dockerfile
  src/esb/Dockerfile
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

fix(prometheus/dimension.py): use sum rate for ingress/egress (#1882)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
  src/dashboard/apigateway/apigateway/utils/time.py
Due: format, ruff, mypy, import-linter

feature(select): 已停用的网关需要差异化展示 --story=126582922
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
Due: none

feat(frontend): 认证提示标志 & 插件配置图标 (#1885)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 调整插件配置图标 & 认证提示文本 (#1893)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(apis/web): 修复日志下载接口响应 content-type 问题 (#1889)
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

feat(biz/ai): add doc translate (#1884)
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

feat(dockerfile): upgrade base image (#1891)
  src/dashboard/Dockerfile
Due: none

fix(log): 修复日志和报表导出问题 (#1892)
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

feat(icon-font): 更新图标库 (#1895)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/views/platform-tools/micro-gateway/Index.vue
Due: none

fix(convertors/service): the service id max length is 64, so make it smaller during convert (#1897)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_services.py
Due: format, ruff, mypy, import-linter

fix(frontend): 环境概览在没开启 feature 时不获取访问数据 (#1900)
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
Due: none

feat(operate-date): 仪表盘增加后端服务筛选 (#1901)
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

feature(table): tedesgin-table支持自定义跨页全选、应用权限表格替换 --story=127848799
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(service/plugin): 新增 4 个插件 (#1890)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(fixtures/plugins.yaml): 修复 proxy-cache 插件 cache_ttl 参数最大值问题 (#1902)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(table): 优化应用权限批量续期展示、表格支持设置最大可视化条数 --story=127848799
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-filter-change.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/Renewal.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

feat(api/web): add doc ai translate batch api (#1907)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/urls.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apps/support/task.py
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(apis/web): 日志查询接口增加 backend_name 过滤 (#1909)
  src/dashboard/apigateway/apigateway/apis/web/access_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 仪表盘查询增加 backend_name 过滤 (#1905)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 网关 API 文档接口增加插件网关过滤 (#1903)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

refactor(frontend): 替换新版表格 --story=127848828 (#1910)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(config): suppport msyql tls (#1908) (#1911)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(dashboard): 后端服务筛选调整 (#1906)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/access-log.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
Due: none

feature(table): 网关Api文档列表增加插件网关筛选项、是否为插件网管理列 --story=124347074
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
Due: none

feat(audit): 操作记录表格升级 (#1913)
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

fix(apis/web): 修复 API 文档插件网关展示问题 (#1918)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(log): 流水日志点击报错修复 (#1917)
  src/dashboard-front/src/views/home/Index.vue
Due: none

feature(permissionApp): 应用权限支持请求路径过滤 --story=126266001
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/stores/useAccessLog.ts
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

refactor(conf/default.py): change no used env vars; update log format… (#1887)
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 mcp tool 详情更新时间改为资源更新时间 (#1919)
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/released_resource_doc.py
  src/dashboard/apigateway/apigateway/biz/resource/resource.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
