Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(apigw-definitions/bk-apigateway-resources.yaml): fix v2 open api permission (#2565)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(mcp-proxy): fix mcp tool output schema (#2556)
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/Makefile
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/infra/trace/init_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(mcp): add tool schema, categories, and tool_names to MCP Server APIs (#2562)
  .github/workflows/core-api.yml
  .github/workflows/dashboard.yml
  .github/workflows/mcp-proxy.yml
  .gitignore
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

feat(online-debugging): 在线调试多 tab 调试资源 (#2579)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useOnlineDebugging.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadHeaders.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadParams.vue
Due: none

fix(front-end): 修复告警记录详情展示问题 (#2570)
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

fix(front-end): 去除预期外的 tag-input 复制按键 (#2575)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

refactor(conf): extract large config blocks from default.py into utils.py (#2563)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

chore(core-api): upgrade golangci-lint and fix all lint issues (#2572)
  .github/workflows/core-api.yml
  src/core-api/.golangci.yaml
  src/core-api/AGENTS.md
  src/core-api/Dockerfile
  src/core-api/Makefile
  src/core-api/go.mod
  src/core-api/pkg/cacheimpls/app_gateway_permission.go
  src/core-api/pkg/cacheimpls/app_resource_permission.go
  src/core-api/pkg/cacheimpls/gateway.go
  src/core-api/pkg/cacheimpls/init.go
  src/core-api/pkg/cacheimpls/jwt_public_key.go
  src/core-api/pkg/cacheimpls/release.go
  src/core-api/pkg/cacheimpls/release_history.go
  src/core-api/pkg/cacheimpls/resource_version_mapping.go
  src/core-api/pkg/cacheimpls/stage.go
  src/core-api/pkg/database/dao/publish_event.go
  src/core-api/pkg/database/dbmock.go
  src/core-api/pkg/database/mysql.go
  src/core-api/pkg/database/utils.go
  src/core-api/pkg/sentry/sentry.go
  src/core-api/pkg/server/router.go
  src/core-api/pkg/util/testing.go
  src/core-api/pkg/util/validation.go
Due: none

refactor(dashboard): remove unused web APIs and dead code (#2569)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/setting/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/biz/monitor/__init__.py
  src/dashboard/apigateway/apigateway/biz/monitor/monitor.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/release/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/monitor/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/monitor/test_monitor.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

feat(front-end): 关闭告警策略关键字复制功能 (#2567)
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

feat(front-end): 资源版本可删除 & 配额提示 (#2586)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

feature(MCP): mcpserver 管理端(卡片或者列表)展示是否公开信息 --story=132591398 && 修复TagInput无法失焦关闭 --story=155972193
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feature(MCP): 修复hover MCP工具会一直触发工具详情接口 --story=133026563
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(MCP): 兼容requestIdleCallback函数在旧版浏览器无法识别问题 --story=133026563
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feat(resource-version): support single and batch deletion of resource versions (#2574)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

fix(conf): change ENABLE_RUN_DATA and ENABLE_RUN_DATA_METRICS defaults to False (#2581)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(mcp): add X-Bk-Tenant-Id header to MCP server configs in multi-tenant mode (#2595)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/cursor.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

feat(metrics): add management command to export app request statistics (#2593)
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/export_app_request_stats.py
Due: format, ruff, mypy, import-linter

fix(apps/gateway/tasks.py): add `total` (#2600)
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
Due: format, ruff, mypy, import-linter

fix(tests): fix mock resource plugin (#2602)
  test/sync/smoke/resources.yaml
Due: none

feat(gateway): notify inactive gateway maintainers (#2585)
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/templates/gateway/inactive_gateway_notify_template.html
  src/dashboard/apigateway/apigateway/tests/apps/gateway/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_tasks.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(front-end): 修复批量删除版本后仍显示已选中问题 (#2601)
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

feat(inactive_gateway_notify_template): 邮件推送模板 (#2598)
  src/dashboard/apigateway/apigateway/templates/gateway/inactive_gateway_notify_template.html
Due: none

feat(front-end): 更新 AGENTS.md & 引入一些 skills/rules & .agents 软链接 (#2596)
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.agents/skills/api-standard/SKILL.md
  src/dashboard-front/.agents/skills/api-standard/assets/http.ts
  src/dashboard-front/.agents/skills/api-standard/references/full-implementation.md
  src/dashboard-front/.agents/skills/bkui-builder/SKILL.md
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-dark.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-left.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/layouts/admin-layout-top.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/dashboard-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/detail-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/table-page.vue
  src/dashboard-front/.agents/skills/bkui-builder/assets/pages/wizard-form.vue
  src/dashboard-front/.agents/skills/bkui-builder/references/checklist.md
  src/dashboard-front/.agents/skills/bkui-builder/references/code-snippets.md
  src/dashboard-front/.agents/skills/bkui-builder/references/visual-mapping.md
  src/dashboard-front/.agents/skills/bkui-cheatsheet/SKILL.md
  src/dashboard-front/.agents/skills/bkui-cheatsheet/references/complex-components.md
  src/dashboard-front/.agents/skills/pinia-setup/SKILL.md
  src/dashboard-front/.agents/skills/pinia-setup/assets/store-template.ts
  src/dashboard-front/.gitignore
  src/dashboard-front/AGENTS.md
  src/dashboard-front/README.md
  src/dashboard-front/create-codebuddy-symlink.js
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

fix(online-debugging): 修复在线调试按钮隔离问题 (#2606)
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(dashboard): fix LogSearchByRequestIdApi returning all null fields and doc typo (#2603)
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

perf(mcp-proxy): optimize runtime performance and improve code quality (#2568)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/cmd/root.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/sentry/sentry.go
  src/mcp-proxy/pkg/infra/sentry/sentry_suite_test.go
  src/mcp-proxy/pkg/infra/sentry/sentry_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/sentry_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/mask.go
  src/mcp-proxy/pkg/util/mask_test.go
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(front-end): 修复批量删除资源后资源仍被选中的问题 (#2607)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

refactor(mcp): async MCP Server sync with layered architecture (#2592)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/release.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(plugins): 增加 oauth 等插件 (#2619)
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
Due: none

fix(MCP): mcp市场mcpserver详情页有通知横幅的时候下拉不了 --story=133374748
  src/dashboard-front/src/App.vue
Due: none

feat(front-end): 资源参数支持配置枚举值 (#2612)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ParamsRowConfig.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix: mcp sdk upgrade (#2611)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/public_path.go
  src/mcp-proxy/pkg/util/public_path_test.go
  src/mcp-proxy/tests/integration/config.yaml
Due: fmt, lint

feat(log): adjust http slow request threshold from 100ms to 200ms (#2617)
  src/dashboard/apigateway/apigateway/components/http.py
Due: format, ruff, mypy, import-linter

fix(MCP): oauth增加全局环境变量 --story=133374748
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/OAuthSwitcher.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(permissions): add sync_gateway_permissions management command (#2620)
  src/dashboard/apigateway/apigateway/apps/support/management/commands/sync_gateway_permissions.py
Due: format, ruff, mypy, import-linter

feat(front-end): SDK 可选语言从 feature flags 获取 (#2609)
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.runtimeenvschema.json
  src/dashboard-front/env.d.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/sdk-language-selector/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/resource-management/versions/components/CreateSDK.vue
Due: none

feat(plugin): make three OAuth2 plugins public in fixtures (#2622)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat(django): upgrade Django from 4.2.23 to 4.2.26 (#2625)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fxiu(MCP): 修复提交mcp内容会丢失掉不展示的分类tag
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none
