Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(mcp): fix mcp jwt
  src/mcp-proxy/pkg/cacheimpls/jwt.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

fix(mcp): fix jwt
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

fix: fix resource update
  src/dashboard/apigateway/apigateway/biz/resource/models.py
  src/dashboard/apigateway/apigateway/biz/resource/savers.py
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/importers.py
Due: format, ruff, mypy, import-linter

fix(apis/v2/inner): fix wrong url and rename the resources (#1444)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(biz/resource): 修复资源文档变更的校验问题 (#1446)
  src/dashboard/apigateway/apigateway/apis/web/resource/doc/views.py
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/importers.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_server): 修复授权审批列表接口缺少 mcp_server_id 字段
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

fix: fix mcp jwt
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/mcp_header.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

fix(templates/mcp_server): fix doc
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix: fix serializers
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

feat(mcp): mcp Server 详情页工具 Tab # Reviewed, transaction id: 45422
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/http/mcp-server.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/apiDocs/doc-detail.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/index.vue
  src/dashboard-front/src/views/mcp-server/index.vue
Due: none

fix(apis/web/mcp_server): 修复授权审批列表接口缺少 mcp_server_id 字段 (#1447)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

feat(mcp): mcp Server 详情页工具 Tab (#1451)
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/http/mcp-server.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/apiDocs/doc-detail.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/index.vue
  src/dashboard-front/src/views/mcp-server/index.vue
Due: none

refactor(utils): move the utils into the right place
  src/dashboard/apigateway/apigateway/apis/open/released/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/prepared_request.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/api_debug/admin.py
  src/dashboard/apigateway/apigateway/apps/api_debug/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/managers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/utils.py
  src/dashboard/apigateway/apigateway/apps/monitor/tasks.py
  src/dashboard/apigateway/apigateway/apps/monitor/utils.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/biz/released_resource.py
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/generators.py
  src/dashboard/apigateway/apigateway/common/time.py
  src/dashboard/apigateway/apigateway/core/utils.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/bkcore/managers.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/add_esb_permissions.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/sync_esb_permissions_to_gateway.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/service/paas.py
  src/dashboard/apigateway/apigateway/service/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/api_test/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_utils.py
  src/dashboard/apigateway/apigateway/tests/apps/monitor/test_utils.py
  src/dashboard/apigateway/apigateway/tests/common/test_time.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix: fix mcp jwt
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/cryptography.go
Due: fmt, lint

fix(apps/mcp_server): change resource_names type to longtext
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0003_alter_mcpserver__resource_names.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
Due: format, ruff, mypy, import-linter

feat(mcp-permission): mcp 权限审批&已授权应用
  src/dashboard-front/src/css/common.css
  src/dashboard-front/src/http/mcp-market.ts
  src/dashboard-front/src/images/mcp-banner.jpg
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/mcp-market/index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/McpPermission.vue
Due: none

fix(mcp): fix mcp doc
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix(apps/mcp_server): change resource_names type to longtext (#1452)
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0003_alter_mcpserver__resource_names.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix doc
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
Due: none

fix(data/apidocs/zh): rename doc files
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_esb_system_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_gateway_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_check_is_allowed_apply_by_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_esb_component_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_esb_component_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_esb_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_esb_system_permission_components.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_esb_systems.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateway_permission_resources.md
Due: none

feat(mcp-permission): mcp 权限审批&已授权应用 (#1453)
  src/dashboard-front/src/css/common.css
  src/dashboard-front/src/http/mcp-market.ts
  src/dashboard-front/src/images/mcp-banner.jpg
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/mcp-market/index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/McpPermission.vue
Due: none

fix(mcp): fix doc guide
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix: fix mcp proxy request_id
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/util/request.go
Due: fmt, lint

fix: fix mcp proxy request_id
  src/mcp-proxy/pkg/util/request.go
Due: fmt, lint

fix: fix mcp proxy request_id
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(biz/mcp_server.py): remove common params part from doc content
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(biz/mcp_server.py): remove common params part from doc content (#1455)
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(data/apidocs/zh): rename doc files (#1454)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_esb_system_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_gateway_resource_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_check_is_allowed_apply_by_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_app_esb_component_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_esb_component_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_esb_component_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_esb_system_permission_components.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_esb_systems.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateway_permission_resources.md
Due: none

fix(mcp/middleware): fix permission and jwt and headers (#1449)
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/mcp-proxy/pkg/cacheimpls/jwt_public_key.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
  src/mcp-proxy/pkg/middleware/mcp_header.go
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/cryptography.go
  src/mcp-proxy/pkg/util/request.go
Due: fmt, lint

refactor(managers.py): move funcs into biz or other layers
  src/dashboard/apigateway/.importlinter
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/web/sdk/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/apps/support/managers.py
  src/dashboard/apigateway/apigateway/apps/support/models.py
  src/dashboard/apigateway/apigateway/biz/permission.py
  src/dashboard/apigateway/apigateway/biz/resource_doc_version.py
  src/dashboard/apigateway/apigateway/biz/resource_version.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
  src/dashboard/apigateway/apigateway/tests/biz/test_permission.py
  src/dashboard/apigateway/apigateway/tests/biz/test_resource_doc_version.py
  src/dashboard/apigateway/apigateway/tests/biz/test_resource_version.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: format, ruff, mypy, import-linter

feat(release-sideslider): 删除 mcp server 资源确认
  src/dashboard-front/src/http/mcp-market.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/stage/overview/comps/release-sideslider.vue
Due: none

refactor(biz/release): move programmable gateway release into separate file
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/programmable/__init__.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/biz/release.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/apis/open/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

refactor(managers): add typehint
  src/dashboard/apigateway/apigateway/apps/monitor/managers.py
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
  src/dashboard/apigateway/apigateway/apps/support/managers.py
  src/dashboard/apigateway/apigateway/biz/stage.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

feat(release-sideslider): 删除 mcp server 资源确认 (#1456)
  src/dashboard-front/src/http/mcp-market.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/stage/overview/comps/release-sideslider.vue
Due: none

feat(mcp-server): mcp 功能完善
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/http/mcp-server.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/mcp-market/components/details.vue
  src/dashboard-front/src/views/mcp-market/index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/index.vue
Due: none

feat(mcp-server): mcp 功能完善 (#1457)
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/http/mcp-server.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/mcp-market/components/details.vue
  src/dashboard-front/src/views/mcp-market/index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/index.vue
Due: none

fix(mcp): 修复 mcp server 工具过多时的样式问题 # Reviewed, transaction id: 45706
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(mcp): 修复 mcp server 工具过多时的样式问题 (#1458)
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(mcp): 修复 mcp server 编辑后没有刷新列表的问题 # Reviewed, transaction id: 45715
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/index.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
