Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(mcp-proxy): correct version metadata (#2883)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/Makefile
  src/mcp-proxy/cmd/version.go
Due: fmt, lint

fix(operator): address release sync review feedback
  src/operator/Makefile
  src/operator/pkg/core/store/store.go
  src/operator/pkg/core/synchronizer/synchronizer.go
  src/operator/pkg/core/synchronizer/synchronizer_test.go
Due: none

fix(operator): improve release log context (#2886)
  src/operator/Makefile
  src/operator/pkg/core/agent/agent.go
  src/operator/pkg/core/committer/committer.go
  src/operator/pkg/core/store/store.go
  src/operator/pkg/core/synchronizer/synchronizer.go
  src/operator/pkg/core/synchronizer/synchronizer_test.go
  src/operator/pkg/entity/entity.go
  src/operator/pkg/entity/entity_test.go
Due: none

feat(audit): optimize gateway and stage audit logs
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): serialize query arrays as repeated params
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
Due: fmt, lint

feat(audit): optimize gateway and stage audit logs (#2895)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
Due: format, ruff, mypy, import-linter

fix(home): 网关名称超长时省略号显示并 hover 显示 tooltip
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix(home): 网关名称超长时省略号显示并 hover 显示 tooltip (#2898)
  src/dashboard-front/src/views/home/Index.vue
Due: none

feat(mcp-market): 完善 MCP 市场权限申请及新建应用跳转功能
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

feat(mcp-market): 完善 MCP 市场权限申请及新建应用跳转功能 (#2899)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

feat(mcp_server): supplement audit logs for mcp server changes
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/__init__.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/audit.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

fix(lint): fix mcp server audit lint error
  src/dashboard/apigateway/apigateway/biz/mcp_server/audit.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): serialize query arrays as repeated params (#2896)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
Due: fmt, lint

fix(mcp-proxy): serialize query arrays as repeated params (#2897)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
Due: fmt, lint

fix(mcp-server): separate permission audit type and simplify audit helpers
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/__init__.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/audit.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): serialize ArrayString values correctly
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
Due: fmt, lint

feat(app-permission): add batch delete for app permissions
  src/dashboard/apigateway/apigateway/apis/web/permission/urls.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
Due: format, ruff, mypy, import-linter

feat(home): 修改网关首页的运营态展示效果
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

test(mcp-proxy): cover ArrayString value edge cases
  src/mcp-proxy/pkg/entity/model/mcp_test.go
Due: fmt, lint

feat(home): 修改网关首页的运营态展示效果 (#2905)
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

refactor: improve app permission batch delete
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/urls.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_models.py
Due: format, ruff, mypy, import-linter

fix(lint): exclude zh-hans template dirs from mypy
  src/dashboard/pyproject.toml
Due: none

feat(dashboard): expose PaaS developer center link to frontend
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

fix(lint): reset
  src/dashboard/pyproject.toml
Due: none

fix(dashboard): keep env var change backend-only
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/__init__.py
Due: format, ruff, mypy, import-linter

feat(app-permission): add batch delete for app permissions
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/urls.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_models.py
Due: format, ruff, mypy, import-linter

fix: self.pk in AppResourcePermission str
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_models.py
Due: format, ruff, mypy, import-linter

feat(app-permission): add batch delete for app permissions (#2907)
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/urls.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_models.py
Due: format, ruff, mypy, import-linter

refactor: consolidate MCPServer audit handling
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/__init__.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/audit.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

fix(dashboard): correct PaaS developer center link
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

feat(dashboard): expose PaaS developer center link to frontend env vars (#2906)
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/conf/__init__.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): fix ArrayString Value serialization (#2902)
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
Due: fmt, lint

refactor(audit): stop recording MCPServer permission application audits
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apps/audit/constants.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

refactor(test): assert permission applications skip audit logs
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

refactor: propagate MCP server audit source comments
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/audit.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

fix(permission): skip invalid apps in expiry alerts
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
Due: format, ruff, mypy, import-linter

refactor: avoid materializing permission apply queryset
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
Due: format, ruff, mypy, import-linter

refactor: avoid materializing permission apply queryset
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

refactor(permission): extract expiring alert sender helper
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
