Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, isort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/dashboard/pyproject.toml --force-exclude --fix
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: python
        types: [python]
        entry: isort --settings-path=src/esb/pyproject.toml
        files: src/esb/
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: ruff --config=src/esb/pyproject.toml --force-exclude --fix
        files: src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

feat: 新建环境表单校验添加以及接口创建
  src/dashboard-front-new/package.json
  src/dashboard-front-new/src/common/event-bus.ts
  src/dashboard-front-new/src/components/stage-top-bar.vue
  src/dashboard-front-new/src/views/stage/overview/comps/add-stage-sideslider.vue
Due: none

feat: 添加删除资源api
  src/dashboard-front-new/src/http/resource.ts
  src/dashboard-front-new/src/router/index.ts
  src/dashboard-front-new/src/views/main.vue
  src/dashboard-front-new/src/views/resource/comps/back-config.vue
  src/dashboard-front-new/src/views/resource/comps/base-info.vue
  src/dashboard-front-new/src/views/resource/comps/front-config.vue
  src/dashboard-front-new/src/views/resource/edit.vue
  src/dashboard-front-new/src/views/resource/index.vue
Due: none

update esb gunicorn param: set keep-alive to 0
  src/esb/bin/start.sh
Due: none

feat: 添加批量操作
  src/dashboard-front-new/src/components/ag-dropdown.vue
  src/dashboard-front-new/src/css/common.css
  src/dashboard-front-new/src/hooks/index.ts
  src/dashboard-front-new/src/hooks/use-selection-data.ts
  src/dashboard-front-new/src/http/fetch/index.ts
  src/dashboard-front-new/src/http/resource.ts
  src/dashboard-front-new/src/views/resource/index.vue
Due: none

fix: 环境删除，详情模式切换优化，资源信息开发
  src/dashboard-front-new/src/app.vue
  src/dashboard-front-new/src/common/event-bus.ts
  src/dashboard-front-new/src/components/stage-top-bar.vue
  src/dashboard-front-new/src/css/app.css
  src/dashboard-front-new/src/http/stage.ts
  src/dashboard-front-new/src/router/index.ts
  src/dashboard-front-new/src/store/stage.ts
  src/dashboard-front-new/src/views/stage/overview/comps/add-stage-sideslider.vue
  src/dashboard-front-new/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front-new/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front-new/src/views/stage/overview/detail-mode/resource-info.vue
  src/dashboard-front-new/src/views/stage/overview/index.vue
Due: none

feat: 批量修改
  src/dashboard-front-new/src/http/resource.ts
  src/dashboard-front-new/src/views/resource/comps/base-info.vue
  src/dashboard-front-new/src/views/resource/index.vue
Due: none

feat: 将变量挂载到vue实例
  src/dashboard-front-new/src/hooks/index.ts
  src/dashboard-front-new/src/hooks/use-global.ts
  src/dashboard-front-new/src/main.ts
  src/dashboard-front-new/src/views/resource/comps/back-config.vue
Due: none

feat: 添加header返回icon
  src/dashboard-front-new/src/router/index.ts
  src/dashboard-front-new/src/views/main.vue
Due: none

update esb gunicorn param: set keep-alive to 0 (#299)
  src/esb/bin/start.sh
Due: none

update esb gunicorn param: set keep-alive to 0 (#300)
  src/esb/bin/start.sh
Due: none

refactor gateway openapi
  src/dashboard/apigateway/apigateway/apis/open/esb/system/views.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/metrics/views.py
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/open/released/views.py
  src/dashboard/apigateway/apigateway/apis/open/stage/views.py
  src/dashboard/apigateway/apigateway/apis/open/support/views.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/synchronizer.py
  src/dashboard/apigateway/apigateway/biz/release.py
  src/dashboard/apigateway/apigateway/common/permissions/permissions.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/management/commands/sync_gateway.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/create_esb_gateway.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/common/test_permissions.py
Due: black, ruff, mypy

fix by review
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/synchronizer.py
  src/dashboard/apigateway/apigateway/biz/gateway_related_app.py
Due: black, ruff, mypy

feat: 添加资源配置详情页面
  src/dashboard-front-new/src/css/common.css
  src/dashboard-front-new/src/views/main.vue
  src/dashboard-front-new/src/views/resource/detail.vue
  src/dashboard-front-new/src/views/resource/index.vue
Due: none

add tests
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/synchronizer.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/management/commands/test_update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_synchronizer.py
  src/dashboard/apigateway/apigateway/tests/biz/test_gateway_related_app.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: black, ruff, mypy

feat: 页面图标更新，编辑环境功能
  src/dashboard-front-new/src/assets/iconfont/demo.html
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front-new/src/assets/iconfont/iconcool.js
  src/dashboard-front-new/src/assets/iconfont/iconcool.json
  src/dashboard-front-new/src/assets/iconfont/style.css
  src/dashboard-front-new/src/components/stage-top-bar.vue
  src/dashboard-front-new/src/http/stage.ts
  src/dashboard-front-new/src/views/stage/overview/comps/edit-stage-sideslider.vue
  src/dashboard-front-new/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front-new/src/views/stage/overview/detail-mode/index.vue
Due: none

feat: 调整高度
  src/dashboard-front-new/package.json
  src/dashboard-front-new/src/views/main.vue
  src/dashboard-front-new/src/views/resource/detail.vue
  src/dashboard-front-new/src/views/resource/index.vue
Due: none

feat: 引入icon
  src/dashboard-front-new/src/assets/iconfont/demo.html
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front-new/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front-new/src/assets/iconfont/iconcool.js
  src/dashboard-front-new/src/assets/iconfont/iconcool.json
  src/dashboard-front-new/src/assets/iconfont/style.css
  src/dashboard-front-new/src/views/resource/index.vue
Due: none

修复单元测试
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_synchronizer.py
Due: black, ruff, mypy

fix lint
  src/dashboard/apigateway/apigateway/biz/gateway/synchronizer.py
Due: black, ruff, mypy

add bk_token to api docs
  src/dashboard/apigateway/apigateway/editions/ee/apps/docs/gateway/resource_doc/constants.py
Due: black, ruff, mypy

update bkauth authorization desc
  src/dashboard/apigateway/apigateway/editions/ee/apps/docs/gateway/resource_doc/constants.py
Due: black, ruff, mypy

update bkauth authorization desc
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
Due: black, ruff, mypy

add bk_token to api docs (#302)
  src/dashboard/apigateway/apigateway/editions/ee/apps/docs/gateway/resource_doc/constants.py
Due: black, ruff, mypy

update bkauth authorization desc
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/constants.py
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/generators.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: black, ruff, mypy

resources of bk-default use http backend
  src/dashboard/apigateway/apigateway/editions/ee/data/apigw-definitions/bk-default-resources.yaml
Due: none

fix resource-version openapi slz
  src/dashboard/apigateway/apigateway/apis/open/resource_version/serializers.py
Due: black, ruff, mypy

fix openapi release
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
Due: black, ruff, mypy

fix openapi release
  src/dashboard/apigateway/apigateway/biz/releaser.py
Due: black, ruff, mypy

fix(apps/plugin): header rewrite convertor missing method bulk_delete
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
Due: black, ruff, mypy

fix(apps/plugin): PluginConfigManager missing method bulk_delete (#305)
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
Due: black, ruff, mypy

remove name unique for ResourceVersion
  src/dashboard/apigateway/apigateway/core/migrations/0038_auto_20231023_1526.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: black, ruff, mypy

修复单元测试
  src/dashboard/apigateway/apigateway/tests/biz/released_resource_doc/test_constants.py
Due: black, ruff, mypy

fix get_msg_type
  .pre-commit-config.yaml
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/component/serializers.py
  src/esb/esb/esb/management/utils/channel_tools.py
Due: black, ruff, mypy, isort

fix: fix resource version api
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/backend.py
  src/dashboard/apigateway/apigateway/biz/plugin_binding.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: black, ruff, mypy

fix: fix help text
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
Due: black, ruff, mypy
