Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(docs): remove unnecessary API_DOCS.md file
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/API_DOCS.md
Due: none

fix(ApiDocs): 修复展示插件网关接口参数会被过滤掉
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/utils/filterEmptyValues.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(itsm): align callback contract and settings for permission apply
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/biz/itsm.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_itsm_callback.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_itsm_views.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

feat(permission): fallback itsm applicant to app maintainers
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

refactor(itsm): migrate callback handler to bk_itsm package
  src/dashboard/apigateway/apigateway/apis/v2/inner/itsm_views.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/system_bk-apigateway.json
  src/dashboard/apigateway/apigateway/biz/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_itsm_views.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(e2e): use polling for resource-detail, restore field assertions, reuse resource_version var
  src/dashboard-front/Dockerfile
  test/cases/dashboard/01-open-api/01-v2-sync/06-release.bru
  test/cases/dashboard/01-open-api/01-v2-sync/12-generate-sdk.bru
  test/cases/dashboard/01-open-api/02-v2-open/05-gateway-resource-detail.bru
  test/cases/dashboard/02-inner-api/11-retrieve-app-permission-record.bru
  test/cases/dashboard/02-inner-api/14-list-mcp-server-permission-records.bru
  test/cases/dashboard/02-inner-api/15-retrieve-mcp-server-permission-record.bru
Due: none

refactor(itsm): align callback handler signature with project style
  src/dashboard/apigateway/apigateway/biz/bk_itsm/bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(itsm): return callback response in top-level result/message format
  src/dashboard/apigateway/apigateway/apis/v2/inner/itsm_views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_itsm_callback.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_itsm_views.py
Due: format, ruff, mypy, import-linter

chore(permission): add logs when itsm helper is not ready
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
Due: format, ruff, mypy, import-linter

chore(permission): add TODO note for ITSM applicant fallback
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复类型错误 # Reviewed, transaction id: 79839
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/mcp-market/components/DefaultMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardQuestMonitor.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

feat(itsm): add ITSM callback integration and workflow bootstrap (#2677)
  src/dashboard/apigateway/apigateway/apis/v2/inner/itsm_views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/admin.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/apps.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/constants.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/commands/register_to_itsm.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/management/system_bk-apigateway.json
  src/dashboard/apigateway/apigateway/apps/bk_itsm/migrations/0001_initial.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/migrations/__init__.py
  src/dashboard/apigateway/apigateway/apps/bk_itsm/models.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/managers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0014_add_itsm_ticket_id.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0011_add_itsm_ticket_id.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/biz/bk_itsm/bk_itsm.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_itsm_callback.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_itsm_views.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/__init__.py
  src/dashboard/apigateway/apigateway/tests/biz/bk_itsm/test_bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

chore(front-end): github action 增加前端类型检查 & CI 文件升级 node 版本 (#2687)
  .github/workflows/dashboard-front.yml
  src/dashboard-front/Dockerfile
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/mcp-market/components/DefaultMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardQuestMonitor.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

fix: inject tenant_mode and tenant_id in v2 GatewaySyncApi
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

fix: inject tenant_mode and tenant_id in v2 GatewaySyncApi (#2693)
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
Due: format, ruff, mypy, import-linter

chore(dashboard): bump bkpaas-auth to 3.2.1
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(pkg/config): make env vars highest priority in config load
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
Due: fmt, lint

fix(front-end): 修复资源请求参数表格展示异常 # Reviewed, transaction id: 79922
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix(front-end): 修复资源请求参数表格展示异常 # Reviewed, transaction id: 79923
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix(front-end): 修复资源请求参数表格展示异常 (#2697)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix(trace): report BkAIDev trace for tools/call and add session_id to all MCP methods
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

fix(trace): enrich client_id from MCP session ClientInfo for BkAIDev trace
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/middleware.go
Due: fmt, lint

fix(docs): require authentication for docs-center gateway APIs (#2690)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway_sdk/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/stage/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway_sdk/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/resource/doc/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/stage/test_views.py
Due: format, ruff, mypy, import-linter

chore(dashboard): bump bkpaas-auth to 3.2.1 (#2696)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(trace): report BkAIDev trace for tools/call and enrich session_id/client_id (#2695)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(itsm): integrate ITSM ticket into MCP Server and resource permission workflows
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_mcp_server_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

feat(mcp_server): add mcp_server_ids filter to v2_inner_list_mcp_server API
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

feat(test): add tests for mcp_server_ids filter
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源配置页表格数据查询异常的问题 # Reviewed, transaction id: 80013
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 修复资源配置页表格数据查询异常的问题 # Reviewed, transaction id: 80014
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 修复资源请求参数表格展示异常 (#2698)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

feat: support adaptive MCP Server URL based on least privilege
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源配置页表格数据查询异常的问题 (#2701)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 修复资源配置页表格数据查询异常的问题 (#2702)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(itsm): integrate ITSM ticket into MCP Server and resource permission workflows (#2699)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_apply_mcp_server_permission.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

feat(workbench): add personal workbench module for permission management
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/filters.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/urls.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

chore(core-api): upgrade Go security dependencies
  .github/workflows/core-api.yml
  bk-sec-todo.md
  src/core-api/.golangci.yaml
  src/core-api/Dockerfile
  src/core-api/Makefile
  src/core-api/README.md
  src/core-api/docs/docs.go
  src/core-api/go.mod
  src/core-api/go.sum
  src/core-api/pkg/cacheimpls/publish_event.go
Due: none

docs(bk-sec-todo.md): do not add this to git
  bk-sec-todo.md
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
