Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(front-end): 修改个人令牌展示逻辑
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

feat(front-end): 修改个人令牌展示逻辑 (#3143)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

feat(front-end): 修改个人令牌展示逻辑 (#3142)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

fix(online-debugging): 修复在线调试下用户认证的 bug --story=136931498
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(online-debugging): 修复在线调试下用户认证的 bug --story=136931498 (#3144)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

chore(front-end): 整理依赖配置
  src/dashboard-front/bun.lock
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

chore(front-end): 整理依赖配置 (#3145)
  src/dashboard-front/bun.lock
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
Due: none

feat: support ai gateway yaml import and export in ui and e2e flows
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/biz/openapi/openapi.py
  src/dashboard/apigateway/apigateway/biz/openapi/parser.py
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/parsers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_resources.md
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp): preserve permissions during resource ID changes
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/gateway_releaser.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_release.py
Due: format, ruff, mypy, import-linter

perf(mcp-proxy): reduce tool request allocations
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/request_payload.go
  src/mcp-proxy/pkg/infra/proxy/request_payload_test.go
Due: fmt, lint

test(mcp-proxy): cover request fallback on JWT failure
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

perf(mcp-proxy): reduce tool request allocations (#3148)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/request_payload.go
  src/mcp-proxy/pkg/infra/proxy/request_payload_test.go
Due: fmt, lint

fix(mcp): harden release permission reconciliation
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/gateway_releaser.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_release.py
Due: format, ruff, mypy, import-linter

perf(mcp): skip permission sync for empty stages
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_release.py
Due: format, ruff, mypy, import-linter

fix(mcp): ignore failed newer releases during permission sync
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

fix(mcp): 发布切换期间保留新旧资源 ID 权限 (#3147)
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/release/gateway_releaser.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/release/test_release.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_release.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): remove unused env vars
  src/dashboard/apigateway/apigateway/conf/.env.tpl
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): remove unused env vars (#3149)
  src/dashboard/apigateway/apigateway/conf/.env.tpl
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix: fix issue
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/parsers.py
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter

fix: issue
  src/dashboard/apigateway/apigateway/biz/openapi/openapi.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_resources.md
Due: format, ruff, mypy, import-linter

feat(ai-gateway): enforce gateway name prefixes
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/gateway_name.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/service/test_gateway_name.py
Due: format, ruff, mypy, import-linter

docs(openapi): align AI gateway response examples
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(ai-gateway): unify implicit gateway names
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/gateway_name.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/service/test_gateway_name.py
Due: format, ruff, mypy, import-linter

docs(ai-gateway): keep default sync examples
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(ai-gateway): enforce gateway name prefixes (#3150)
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/gateway_name.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/service/test_gateway_name.py
Due: format, ruff, mypy, import-linter

feat(dashboard): add command to list inactive gateway resources
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/list_inactive_resources.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/commands/test_list_inactive_resources.py
Due: format, ruff, mypy, import-linter

refactor(dashboard): accept comma-separated gateway names
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/list_inactive_resources.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/commands/test_list_inactive_resources.py
Due: format, ruff, mypy, import-linter

feat(dashboard): add command to list inactive gateway resources (#3151)
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/list_inactive_resources.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/metrics/management/commands/test_list_inactive_resources.py
Due: format, ruff, mypy, import-linter

fix: fix AI resource import docs and backend schema validation
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/parsers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_doc/impoter/test_parsers.py
Due: format, ruff, mypy, import-linter

refactor(docs): fix
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_resources.md
Due: none

fix: fix
  src/dashboard/apigateway/apigateway/biz/openapi/openapi.py
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源配置表格大页码下数据遮挡的问题 --story=137047574
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(front-end): 修复资源配置表格大页码下数据遮挡的问题 --story=137047574 (#3152)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feat(front-end): 增加个人令牌表单项的 hover 说明 --story=137056613
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

refactor: fix
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
Due: none

feat(home): ai 网关创建时增加 bkai- 名称前缀限制 --story=136969448
  src/dashboard-front/src/views/home/CreateGateway.vue
Due: none

feat(home): ai 网关创建时增加 bkai- 名称前缀限制 --story=136969448 (#3155)
  src/dashboard-front/src/views/home/CreateGateway.vue
Due: none
