Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(controller): distribute
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/plugin_metadata.py
  src/dashboard/apigateway/apigateway/controller/convertor/proto.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/convertor/ssl.py
  src/dashboard/apigateway/apigateway/controller/models/__init__.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

fix(frontend): 环境概览在没开启 feature 时不获取访问数据 # Reviewed, transaction id: 60948
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
Due: none

fix(frontend): 环境概览在没开启 feature 时不获取访问数据 (#1900)
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
Due: none

feat(operate-date): 仪表盘增加后端服务筛选
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

feat(operate-date): 仪表盘增加后端服务筛选 (#1901)
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none

feat(service/plugin): 新增 4 个插件 (#1890)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

feat(controller): fix wrong convert
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/constants.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/utils/test_yaml.py
  src/dashboard/apigateway/apigateway/utils/yaml.py
Due: format, ruff, mypy, import-linter

fix(fixtures/plugins.yaml): 修复 proxy-cache 插件 cache_ttl 参数最大值问题
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat(controller): remove micro_gateway_config.py
  src/dashboard/apigateway/apigateway/biz/resource/url.py
  src/dashboard/apigateway/apigateway/controller/convertor/constants.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/micro_gateway_config.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/core/management/commands/sync_default_micro_gateway.py
Due: format, ruff, mypy, import-linter

fix(fixtures/plugins.yaml): 修复 proxy-cache 插件 cache_ttl 参数最大值问题 (#1902)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat(controller): add unittests
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/convertor/utils.py
  src/dashboard/apigateway/apigateway/controller/models/base.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
  src/dashboard/apigateway/apigateway/controller/release_data.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/controller/uri_render.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_constants.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_proto.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_ssl.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_utils.py
  src/dashboard/apigateway/apigateway/tests/controller/models/__init__.py
  src/dashboard/apigateway/apigateway/tests/controller/models/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/test_constants.py
Due: format, ruff, mypy, import-linter

feat(controller): fix lint
  src/dashboard/pyproject.toml
Due: none

fix(apis/web): 网关 API 文档接口增加插件网关过滤
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

fix(table): 优化应用权限批量续期展示、表格支持设置最大可视化条数 --story=127848799
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-filter-change.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/styles/bkui.scss
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/Renewal.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

refactor(micro_gateway): remove micro_gateway totally from codebase
  src/dashboard/apigateway/apigateway/apis/open/released/views.py
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/prepared_request.py
  src/dashboard/apigateway/apigateway/biz/released_resource_doc/generators.py
  src/dashboard/apigateway/apigateway/biz/resource/url.py
  src/dashboard/apigateway/apigateway/common/factories/schema.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/admin.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/management/commands/sync_default_micro_gateway.py
  src/dashboard/apigateway/apigateway/core/migrations/0046_remove_stage_micro_gateway.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-default-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-default-resources.yaml
  src/dashboard/apigateway/apigateway/schema/constants.py
  src/dashboard/apigateway/apigateway/schema/data/meta_schema.py
  src/dashboard/apigateway/apigateway/schema/instances.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/test_url.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
  src/dashboard/apigateway/apigateway/tests/schema/test_instance.py
  src/dashboard/bin/on_migrate
  src/dashboard/bin/post_migrate
Due: format, ruff, mypy, import-linter

fix(apis/web): 仪表盘查询增加 backend_name 过滤
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(dashboard): 后端服务筛选调整
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/access-log.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
Due: none

fix(dashboard): 后端服务筛选调整 (#1906)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/access-log.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
Due: none

feat(api/web): add batch doc tranclate api
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/urls.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apps/support/task.py
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(api/web): fix
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter

format
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 网关 API 文档接口增加插件网关过滤 (#1903)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

fix(config): suppport msyql tls
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/go.mod
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(apis/web): 仪表盘查询增加 backend_name 过滤 (#1905)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(config): suppport msyql tls
  src/mcp-proxy/go.mod
Due: fmt, lint

fix(apis/web): 日志查询接口增加 backend_name 过滤
  src/dashboard/apigateway/apigateway/apis/web/access_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix ai translate
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter

refactor(frontend): 替换新版表格 --story=127848828 # Reviewed, transaction id: 61316
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(config): suppport msyql tls (#1908)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

refactor(frontend): 替换新版表格 --story=127848828 (#1910)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(config): suppport msyql tls (#1908) (#1911)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(config): suppport msyql tls (#1908) (#1912)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
Due: fmt, lint

fix(apis/web): 日志查询接口增加 backend_name 过滤 (#1909)
  src/dashboard/apigateway/apigateway/apis/web/access_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/biz/access_log/test_log_search.py
Due: format, ruff, mypy, import-linter

refactor(controller): done some fixmes
  src/dashboard/apigateway/apigateway/biz/gateway/releaser.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/constants.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_releases_to_gateway_parallel.py
  src/dashboard/apigateway/apigateway/controller/registry/etcd.py
Due: format, ruff, mypy, import-linter

feat(api/web): add doc ai translate batch api (#1907)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/urls.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apps/support/task.py
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(audit): 操作记录表格升级
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
Due: none
