Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(plugin/tags): add plugin tags, for filter (#2168)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/urls.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0015_remove_pluginbinding_plugin_and_more.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: format, ruff, mypy, import-linter

fix(api/web): fix prompt cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

build(front-end): 本地开发入口文件替换 # Reviewed, transaction id: 68385
  src/dashboard-front/.gitignore
  src/dashboard-front/index.dev.html
  src/dashboard-front/index.prod.html
  src/dashboard-front/package.json
  src/dashboard-front/replace-index-html.js
Due: none

feat(online-debugging): 调用历史回填
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

feat(online-debugging): 调用历史回填 (#2175)
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复环境表单校验 & 杂项 # Reviewed, transaction id: 68401
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
Due: format, ruff, mypy, import-linter

feat(api/web): support prompt (#2170)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0007_add_prompts_extend_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(front-end): 修复环境表单校验 & 杂项 # Reviewed, transaction id: 68407
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

fix(front-end): 修复环境表单校验 & 杂项 # Reviewed, transaction id: 68409
  src/dashboard-front/index.html
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

fix(front-end): 修复环境表单校验 & 杂项 (#2177)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

fix(front-end): 修复环境表单校验 & 杂项 (#2176)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

fix(front-end): 修复环境表单校验 & 杂项 (#2178)
  src/dashboard-front/index.html
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

feat(front-end): 资源插件按标签筛选 # Reviewed, transaction id: 68434
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/services/source/plugin-manage.ts
Due: none

feat(front-end): 资源插件按标签筛选 (#2179)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/services/source/plugin-manage.ts
Due: none

fix(api/web): fix mcp prompt api
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix test
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix prompt test
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcp prompt api (#2180)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix prompt api
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复版本发布列表刷新 & 优化杂项 # Reviewed, transaction id: 68545
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(front-end): 修复版本发布列表刷新 & 优化杂项 (#2183)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(api/web): fix mcp marketplace prompt
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcp_marketplace prompt api
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix market mcpserver prompt api (#2184)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix: test/cases
  test/cases/apisix/09-others/timeout.bru
Due: none

fix: test/cases (#2185)
  test/cases/apisix/09-others/timeout.bru
Due: none

feat(mcp): add prompt
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/cache_expoter.go
  src/mcp-proxy/pkg/cacheimpls/init.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_prompt_test.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/entity/model/migrate.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/repo/core_jwt.gen.go
  src/mcp-proxy/pkg/repo/core_release.gen.go
  src/mcp-proxy/pkg/repo/core_released_resource.gen.go
  src/mcp-proxy/pkg/repo/gen.go
  src/mcp-proxy/pkg/repo/mcp_server.gen.go
  src/mcp-proxy/pkg/repo/mcp_server_app_permission.gen.go
  src/mcp-proxy/pkg/repo/mcp_server_extend.gen.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feat(mcp): add prompt
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix(api/web): fix prompt api
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(mcp): fix cr
  src/mcp-proxy/pkg/biz/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_prompt_test.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

build(front-end): 本地开发入口文件替换 (#2187)
  src/dashboard-front/.gitignore
  src/dashboard-front/index.dev.html
  src/dashboard-front/index.prod.html
  src/dashboard-front/package.json
  src/dashboard-front/replace-index-html.js
Due: none

fix(commands/export_inactive_gateways.py): add filter status=1(is_active) and created_time lte (#2174)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_inactive_gateways.py
Due: format, ruff, mypy, import-linter

feat(api/web): add prompt api (#2181)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0007_add_prompts_extend_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
