Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(backend): publish config changes using released references (#3330)
  src/dashboard/apigateway/apigateway/biz/backend/backend.py
  src/dashboard/apigateway/apigateway/tests/biz/backend/test_backend.py
Due: format, ruff, mypy, import-linter

fix(v2_sync): address review feedback on v2_sync_revoke_permission
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_revoke_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_permission_serializers.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

fix(locale): regenerate django.po and compile django.mo
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.mo
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
Due: none

feat(permission): support revoking and deleting permission applications (#3321)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/urls.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0016_add_canceled_apply_status.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0014_add_canceled_apply_status.py
  src/dashboard/apigateway/apigateway/biz/personal_workbench/permission.py
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_cancel_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_cancel_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_delete_resource_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/bk_itsm.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

perf(mcp): parse release authentication once per server batch
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/test_mcp_server_least_privileges.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(dashboard): accept is_official in gateway sync APIs (#3332)
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/get_apis.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_api.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_gateway.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

chore(front-end): 首屏加载优化 & xss过滤 & html语言
  src/dashboard-front/default.html
  src/dashboard-front/index.prod.html
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/LazyMavonEditor.ts
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
Due: none

docs(domain): establish cross-component DDD ubiquitous language
  AGENTS.md
  docs/ddd-ubiquitous-language.md
Due: none

feat(v2_sync): add v2_sync_revoke_permission API --story=138024093 (#3333)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apps/permission/constants.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_revoke_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.mo
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_permission_serializers.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

chore(front-end): 首屏加载优化 & xss过滤 & html语言 (#3336)
  src/dashboard-front/default.html
  src/dashboard-front/index.prod.html
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/LazyMavonEditor.ts
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
Due: none

fix(mcp): isolate least privileges by server (#3331)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/test_mcp_server_least_privileges.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feature(PersonalWorkbench): 个人工作台-我的申请：新增撤销申请与删除申请功能 --story=138578061
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/enums/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/personal-workbench.ts
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

docs(domain): consolidate shared vocabulary and fix review findings
  AGENTS.md
  docs/ddd-ubiquitous-language.md
  src/dashboard-front/AGENTS.md
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/controller/AGENTS.md
  src/dashboard/apigateway/apigateway/core/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/operator/AGENTS.md
Due: fmt, lint

docs(domain): clarify legacy compatibility and project dependencies
  AGENTS.md
  docs/ddd-ubiquitous-language.md
Due: none

fix(PersonalWorkbench): 个人工作台-我的申请：跳转到ITSM去掉文字间隙 --story=138578061
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

docs(domain): correct shared configuration and release contracts
  docs/ddd-ubiquitous-language.md
Due: none

feat(permission): add API docs gateway resource permission apply endpoint
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/urls.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/urls.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/permission/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/test_permissions.py
Due: format, ruff, mypy, import-linter

fix(MCP): 修复MCP 市场右侧配置栏内容比左侧高时会留白露出阴影 --story=138578061
  src/dashboard-front/src/views/mcp-market/Details.vue
Due: none

docs(agents): correct and streamline component development guidance
  AGENTS.md
  src/core-api/AGENTS.md
  src/dashboard-front/AGENTS.md
  src/dashboard-front/src/views/mcp-server/AGENTS.md
  src/dashboard-front/src/views/resource-management/AGENTS.md
  src/dashboard-front/src/views/stage-management/AGENTS.md
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/v2/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/mcp_server/AGENTS.md
  src/dashboard/apigateway/apigateway/biz/AGENTS.md
  src/dashboard/apigateway/apigateway/biz/mcp_server/AGENTS.md
  src/dashboard/apigateway/apigateway/controller/AGENTS.md
  src/dashboard/apigateway/apigateway/core/AGENTS.md
  src/dashboard/apigateway/apigateway/data/AGENTS.md
  src/dashboard/apigateway/apigateway/service/AGENTS.md
  src/dashboard/apigateway/apigateway/tests/AGENTS.md
  src/esb/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/operator/AGENTS.md
  test-bdd/AGENTS.md
Due: fmt, lint

docs(domain): clarify resource, etcd and MCP loading contracts
  docs/ddd-ubiquitous-language.md
  src/dashboard-front/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/operator/AGENTS.md
Due: fmt, lint

fix: issues
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/urls.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/views.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/user_application/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/user_application/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

chore(kms): remove obsolete embedded SDK check exclusions
  .pre-commit-config.yaml
  src/core-api/.golangci.yaml
  src/mcp-proxy/.golangci.yaml
  src/operator/.golangci.yaml
Due: fmt, lint

docs(kms): remove component KMS documentation
  src/core-api/docs/kms.md
  src/dashboard/docs/kms.md
  src/mcp-proxy/docs/kms.md
  src/operator/docs/kms.md
Due: fmt, lint

feat(permission): add API docs gateway resource permission apply endpoint (#3340)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/urls.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/urls.py
  src/dashboard/apigateway/apigateway/apis/web/user_application/views.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/permission/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/test_permissions.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/user_application/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/user_application/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

revert(docs): exclude dashboard frontend guide from PR
  src/dashboard-front/AGENTS.md
Due: none

docs(plugin): restore new and legacy plugin data flows
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
Due: none

docs(apis): retain explicit API surface responsibilities
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
Due: none

docs(controller): restore publish pipeline and module responsibilities
  src/dashboard/apigateway/apigateway/controller/AGENTS.md
Due: none

docs(agents): restore concise component flows and entrypoints
  src/core-api/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/service/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/operator/AGENTS.md
Due: fmt, lint

docs(domain): establish cross-component DDD ubiquitous language (#3337)
  AGENTS.md
  docs/ddd-ubiquitous-language.md
  src/core-api/AGENTS.md
  src/dashboard-front/src/views/mcp-server/AGENTS.md
  src/dashboard-front/src/views/resource-management/AGENTS.md
  src/dashboard-front/src/views/stage-management/AGENTS.md
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/v2/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/mcp_server/AGENTS.md
  src/dashboard/apigateway/apigateway/biz/AGENTS.md
  src/dashboard/apigateway/apigateway/biz/mcp_server/AGENTS.md
  src/dashboard/apigateway/apigateway/controller/AGENTS.md
  src/dashboard/apigateway/apigateway/core/AGENTS.md
  src/dashboard/apigateway/apigateway/data/AGENTS.md
  src/dashboard/apigateway/apigateway/service/AGENTS.md
  src/dashboard/apigateway/apigateway/tests/AGENTS.md
  src/esb/AGENTS.md
  src/mcp-proxy/AGENTS.md
  src/operator/AGENTS.md
  test-bdd/AGENTS.md
Due: fmt, lint

feat: expose CLI function overview via env-vars API
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

feat(front-end): api-docs 文档列表样式与图标修复 --story=138408486
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-icon/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/api-docs/Index.vue
Due: none

feat: expose CLI function overview via env-vars API (#3343)
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/setting/test_views.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
Due: format, ruff, mypy, import-linter

feat(front-end): api-docs 文档列表样式与图标修复 --story=138408486 (#3345)
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-icon/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/api-docs/Index.vue
Due: none

feature(Icon): 导航图标替换成面型iconfont --story=138566873
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/layout/component-management/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/layout/personal-workbench/Index.vue
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/automated-gateway/Index.vue
  src/dashboard-front/src/views/platform-tools/programmable-gateway/Index.vue
Due: none

feat(front-end): api-docs 申请权限对接后端权限申请接口 --story=138833571
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/services/types/responses/me.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ApplyPermissionDialog.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/mcp-market/components/ApplyPermissionDialog.vue
Due: none

feat(front-end): api-docs 申请权限对接后端权限申请接口 --story=138833571 (#3346)
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/services/types/responses/me.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ApplyPermissionDialog.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/mcp-market/components/ApplyPermissionDialog.vue
Due: none

feat(mcp): support status filter for open apply-records API
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
