Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

style(gateway_create): 网关创建去除前后空格 & 基础信息样式优化
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

style(gateway_create): 网关创建去除前后空格 & 基础信息样式优化 (#1531)
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

fix(mcp-tools): 修复 mcp server 详情样式 # Reviewed, transaction id: 48213
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(resource): 修复资源请求、响应参数表格样式 (#1530)
  src/dashboard-front/src/views/resource/setting/comps/request-params-table.vue
  src/dashboard-front/src/views/resource/setting/comps/request-params.vue
Due: none

fix(mcp-tools): 修复 mcp server 详情样式 (#1532)
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(apis/web/resource_version): fix programmable gateway next deploy version (#1529)
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web/gateway): update paas app maintainers for programmable gateway
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(templates/mcp_server): reformat
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix: fix paas
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(templates/mcp_server): reformat (#1534)
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix(apis): support multi-tenant (#1516)
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/validators.py
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/common/tenant/request.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/resource_backend.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
Due: format, ruff, mypy, import-linter

chore(pyproject.toml): move importlinter config into pyproject.toml (#1524)
  src/dashboard/Makefile
  src/dashboard/apigateway/.importlinter
  src/dashboard/pyproject.toml
Due: none

fix(publish): 修复失败的发布记录仍显示为“发布中”的问题 # Reviewed, transaction id: 48259
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/views/stage/published/index.vue
Due: none

fix(biz/sdk): fix gateway sdk
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/helper.py
  src/dashboard/apigateway/apigateway/apps/support/models.py
  src/dashboard/apigateway/apigateway/biz/sdk/gateway_sdk.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/test_gateway_sdk.py
Due: format, ruff, mypy, import-linter

fix(api/web): resource-version add openapi schema
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource_openapi_schema.py
  src/dashboard/apigateway/apigateway/biz/resource_version.py
  src/dashboard/apigateway/apigateway/biz/resource_version_diff.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
Due: format, ruff, mypy, import-linter

fix(publish): 修复失败的发布记录仍显示为“发布中”的问题 (#1535)
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/views/stage/published/index.vue
Due: none

feature: 新建、编辑网关slider整改 --story=125350550
  src/dashboard-front/src/components/create-gateway.vue
Due: none

docs(templates/mcp_server): fix mcp server config guide
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix(apis/web/gateway): update paas app maintainers for programmable gateway (#1533)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

docs(templates): opt mcpserver guide
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

docs(templates/mcp_server): fix mcp server config guide (#1539)
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

fix(bkpkg-bk_apigateway.yaml): update bkpaas version (#1528)
  bkpkg-bk_apigateway.yaml
Due: none

fix(middleware): fix jwt user verify
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

feat(mcp_marketplace): support filter by lables
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(biz/sdk): fix gateway sdk (#1536)
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/helper.py
  src/dashboard/apigateway/apigateway/apps/support/models.py
  src/dashboard/apigateway/apigateway/biz/sdk/gateway_sdk.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/test_gateway_sdk.py
Due: format, ruff, mypy, import-linter

fix(api/web): resource-version add openapi schema (#1537)
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/resource_openapi_schema.py
  src/dashboard/apigateway/apigateway/biz/resource_version.py
  src/dashboard/apigateway/apigateway/biz/resource_version_diff.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
Due: format, ruff, mypy, import-linter

fix(middleware): fix jwt user verify (#1542)
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt.go
Due: fmt, lint

feat(components/paas.py): support custom paas3_url_prefix
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(proxy): add comment
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

feat(data/apigw-definitions): add mcp sse application api
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(data/apigw-definitions): add mcp application api
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(data/apigw-definitions): add mcp application api (#1544)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

feat(mcp_marketplace): support filter by lables (#1541)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

feat(components/paas.py): add lrucache
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

feat(router): add app mcp proxy
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feat(data/apigw-definitions): add mcp proxy app api
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(components/paas.py): support custom paas3_url_prefix (#1543)
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(router): fix cr
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feat(router): add app mcp proxy (#1545)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
