Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(dashboard): bump batch resource updated_time and drop unused helpers (#3173)
  src/dashboard/apigateway/apigateway/apis/open/utils/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/data_models.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter

refactor: oFFICIAL_MCP_CATEGORY_NAME
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
Due: format, ruff, mypy, import-linter

fix(cron): refresh official category for official-gateway MCP servers (#3170)
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

perf(mcp-proxy): reduce response body allocations
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/response_body_test.go
Due: fmt, lint

perf(mcp-proxy): preallocate responses up to 10 MiB
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
Due: fmt, lint

perf(mcp-proxy): reduce response body allocations (#3174)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/response_body_test.go
Due: fmt, lint

feat(core-api,mcp-proxy): reduce default log rotation retention
  src/core-api/config.yaml.tpl
  src/core-api/pkg/logging/writer.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/infra/logging/writer.go
Due: fmt, lint

refactor: change log file size and num
  src/core-api/config.yaml.tpl
  src/core-api/pkg/logging/writer.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/infra/logging/writer.go
Due: fmt, lint

feat(core-api,mcp-proxy): reduce default log rotation retention (#3175)
  src/core-api/config.yaml.tpl
  src/core-api/pkg/logging/writer.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/infra/logging/writer.go
Due: fmt, lint

fix: handle expected 400 when ITSM system is not registered
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

feat(front-end): 优化资源校验配置展示逻辑 --story=137076598
  src/dashboard-front/src/directives/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 优化资源校验配置展示逻辑 --story=137076598 (#3177)
  src/dashboard-front/src/directives/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 优化资源校验配置展示逻辑 --story=137076598 (#3178)
  src/dashboard-front/src/directives/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(basic-info): 行内编辑管理网关的应用列表字段
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditRelatedAppCodes.vue
Due: none

feat(basic-info): 行内编辑管理网关的应用列表字段 (#3179)
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditRelatedAppCodes.vue
Due: none

fix(dashboard): filter inner MCP servers by tenant
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(front-end): 修改资源校验配置文案 --story=137076598
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(dashboard): filter inner MCP servers by tenant (#3180)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): filter inner MCP servers by tenant (#3181)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(front-end): 修改资源校验配置文案 --story=137076598 (#3182)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 修改资源校验配置文案 --story=137076598 (#3183)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(front-end): 修复子路径环境下再登录时url出错的问题 --story=137274913
  src/dashboard-front/src/components/user-info/Index.vue
Due: none

fix(front-end): 修复子路径环境下再登录时url出错的问题 --story=137274913 (#3185)
  src/dashboard-front/src/components/user-info/Index.vue
Due: none

fix(front-end): 修复子路径环境下再登录时url出错的问题 --story=137274913 (#3184)
  src/dashboard-front/src/components/user-info/Index.vue
Due: none

fix: handle expected 400 when ITSM system is not registered (#3176)
  src/dashboard/apigateway/apigateway/components/bkitsm.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkitsm.py
  src/dashboard/apigateway/apigateway/tests/service/test_bk_itsm.py
Due: format, ruff, mypy, import-linter

fix(dashboard): isolate MCP APIs by gateway tenant
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_mcp_tenant_isolation.py
Due: format, ruff, mypy, import-linter

fix(dashboard): isolate MCP APIs by gateway tenant (#3186)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_mcp_tenant_isolation.py
Due: format, ruff, mypy, import-linter

fix(dashboard): filter gateway name permission by tenant
  src/dashboard/apigateway/apigateway/apis/v2/permissions.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_permissions.py
Due: format, ruff, mypy, import-linter

fix(dashboard): filter gateway name permission by tenant (#3187)
  src/dashboard/apigateway/apigateway/apis/v2/permissions.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_permissions.py
Due: format, ruff, mypy, import-linter

feat(front-end): 资源导入适配ai网关资源 --story=137094461
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToUncheck.vue
Due: none

feat(front-end): 资源导入适配ai网关资源 --story=137094461 (#3188)
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToUncheck.vue
Due: none

feat(front-end): 调整认证配置样式
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 调整认证配置样式 (#3189)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 调整认证配置样式 (#3190)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(dashboard): expose released resource visibility
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/gateway_released_resource.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_gateway_lookup_views.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
