Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

feat(apis/web/gateway): add guideline for pgogrammable gateway
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/templates/dev_guideline/en/programmable_gateway.md
  src/dashboard/apigateway/apigateway/templates/dev_guideline/zh-hans/programmable_gateway.md
Due: format, ruff, mypy, import-linter

fix(plugins.yaml): update desc of fault-injection
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat: 在线调试 headers select 支持输入
  src/dashboard-front/src/views/online-debug/components/edit-table.vue
Due: none

feat: 在线调试 headers select 支持输入 (#1253)
  src/dashboard-front/src/views/online-debug/components/edit-table.vue
Due: none

feat: 可编程网关视图适配 & 404页 # Reviewed, transaction id: 38340
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/components/stage-top-bar.vue
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/store/common.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/types/gateway.ts
  src/dashboard-front/src/views/404.vue
  src/dashboard-front/src/views/backend-service/add.vue
  src/dashboard-front/src/views/backend-service/index.vue
  src/dashboard-front/src/views/components/plugin-manage/index.vue
  src/dashboard-front/src/views/home.vue
  src/dashboard-front/src/views/main.vue
  src/dashboard-front/src/views/resource/setting/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/variable-manage.vue
  src/dashboard-front/src/views/stage/overview/index.vue
Due: none

feat: 可编程网关视图适配 & 404页 (#1254)
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/components/stage-top-bar.vue
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/store/common.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/types/gateway.ts
  src/dashboard-front/src/views/404.vue
  src/dashboard-front/src/views/backend-service/add.vue
  src/dashboard-front/src/views/backend-service/index.vue
  src/dashboard-front/src/views/components/plugin-manage/index.vue
  src/dashboard-front/src/views/home.vue
  src/dashboard-front/src/views/main.vue
  src/dashboard-front/src/views/resource/setting/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/variable-manage.vue
  src/dashboard-front/src/views/stage/overview/index.vue
Due: none

fix(apis/web/docs): 修复网关文档接口缺少 doc_maintainers 字段
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(apis/web/docs): 修复网关文档接口缺少 doc_maintainers 字段 (#1255)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

fix: 可编程网关后端列表 # Reviewed, transaction id: 38414
  src/dashboard-front/src/views/backend-service/index.vue
Due: none

fix: 可编程网关后端列表 (#1256)
  src/dashboard-front/src/views/backend-service/index.vue
Due: none

fix: 在线调试预设重复数据处理
  src/dashboard-front/src/views/online-debug/components/payload-headers.vue
Due: none

fix: 在线调试预设重复数据处理 (#1257)
  src/dashboard-front/src/views/online-debug/components/payload-headers.vue
Due: none

feat: add export api
  src/dashboard/apigateway/apigateway/apis/web/metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

feat(api/web): add some api
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/__init__.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/migrations/0001_initial.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/migrations/__init__.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/models.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/utils/test_version.py
  src/dashboard/apigateway/apigateway/utils/version.py
Due: format, ruff, mypy, import-linter

feat(web/api): add api
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix version get
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/tests/utils/test_version.py
  src/dashboard/apigateway/apigateway/utils/version.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix swagger
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
Due: format, ruff, mypy, import-linter

feat: 可编程网关列表
  src/dashboard-front/src/hooks/use-getapi-data.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/home.vue
Due: none

fix(core/models.py): update Gateway models
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/stage.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

feat(apis/web/gateway): add guideline for pgogrammable gateway (#1252)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/setting/urls.py
  src/dashboard/apigateway/apigateway/apis/web/setting/views.py
  src/dashboard/apigateway/apigateway/biz/stage.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/templates/dev_guideline/en/programmable_gateway.md
  src/dashboard/apigateway/apigateway/templates/dev_guideline/zh-hans/programmable_gateway.md
Due: format, ruff, mypy, import-linter

fix: init params
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/prometheus/dimension.py
Due: format, ruff, mypy, import-linter

feat(apis/web/metrics): 新增历史请求统计接口 (#1246)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/constants.py
  src/dashboard/apigateway/apigateway/apps/metrics/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix test
  src/dashboard/apigateway/apigateway/components/utils.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix test
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/urls.py
Due: format, ruff, mypy, import-linter

feat: 可编程网关列表 (#1260)
  src/dashboard-front/src/hooks/use-getapi-data.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/home.vue
Due: none

feat: 可编程网关的基本信息开发
  src/dashboard-front/src/images/program-process.png
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/main.vue
Due: none

fix(api/web): fix paas host
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix host
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

feat(api/web): add programmable gateway api (#1258)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/urls.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/__init__.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/migrations/0001_initial.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/migrations/__init__.py
  src/dashboard/apigateway/apigateway/apps/programmable_gateway/models.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/http.py
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/biz/test_releaser.py
  src/dashboard/apigateway/apigateway/tests/common/test_user_credentials.py
  src/dashboard/apigateway/apigateway/tests/utils/test_version.py
  src/dashboard/apigateway/apigateway/utils/user_credentials.py
  src/dashboard/apigateway/apigateway/utils/version.py
Due: format, ruff, mypy, import-linter

fix(apis/open/resource_version): remove dropped fields from api response
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
Due: format, ruff, mypy, import-linter

default.py: support database tls
  src/dashboard/apigateway/apigateway/conf/default.py
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

feat(mysql.go): support tls
  src/core-api/pkg/config/config.go
  src/core-api/pkg/database/mysql.go
Due: none

feat(mysql.go): refactor
  src/core-api/pkg/database/mysql.go
Due: none

fix(.github/workflows/esb.yaml): ci fail
  .github/workflows/esb.yaml
Due: none

fix(config.go): add InsecureSkipVerify for testing
  src/core-api/pkg/config/config.go
  src/core-api/pkg/database/mysql.go
Due: none

fix(config.go): fix lint
  src/core-api/pkg/config/config.go
Due: none

fix(apis/open/resource_version/views.py): set resource_version name/title to empty
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
Due: format, ruff, mypy, import-linter

fix(apis/open/resource_version): remove dropped fields from api response (#1261)
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
Due: format, ruff, mypy, import-linter

fix(apis/open/resource_version/views.py): the sdk use the resource_version_title, so add it back
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
Due: format, ruff, mypy, import-linter

add resource_version_title back in api/open (#1263)
  src/dashboard/apigateway/apigateway/apis/open/resource_version/views.py
Due: format, ruff, mypy, import-linter
