Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(api/web): fix mcpserver doc view
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

feature(McpMarket): Mcp市场详情补充自定义指引内容 --story=128610838
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feature(McpMarket): Mcp市场详情补充自定义指引内容 --story=128610838 (#2294)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feat(apis/v2/open): add time tools
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver doc view (#2293)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver doc (#2292)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

feature(McpMarket): Mcp市场详情补充自定义指引内容 --story=128610838 (#2296)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feature(McpMarket): Mcp市场详情补充自定义指引内容 --story=128610838 (#2295)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feat(v2/open): add log_search_by_request_id
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/log.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

feature(McpServer): 优化Mcp下拉菜单操作按钮点击区域 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

docs(version): add release log for 1.19.3
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(doc): fix apigateway doc
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: none

docs(version): add release log for 1.19.3 (#2298)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(commands/revoke_gateways.py): should wait for the deactivate publish finished
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_gateways.py
Due: format, ruff, mypy, import-linter

fix(doc): fix apigateway doc (#2302)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: none

fix(doc): fix apigateway doc (#2301)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: none

fix(doc): fix apigateway doc (#2300)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: none

feat(home): 网关列表已停用网关操作变更
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

feat(home): 网关列表已停用网关操作变更 (#2306)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

feature(McpServer): 优化Mcp卡片兼容描述不存在时样式问题 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
Due: none

feat(front-end): 请求/响应参数填写校验 # Reviewed, transaction id: 70661
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

feat(front-end): 请求/响应参数填写校验 # Reviewed, transaction id: 70662
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

feat(front-end): 请求/响应参数填写校验 (#2310)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

feat(front-end): 请求/响应参数填写校验 (#2311)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

fix(commands/revoke_gateways.py): should wait for the deactivate publish finished (#2305)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_gateways.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): fix tool update
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

fix(mcp-proxy): fix tool update (#2313)
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

fix(front-end): 动态表单加载失败时正确报错 # Reviewed, transaction id: 70726
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 动态表单加载失败时正确报错 # Reviewed, transaction id: 70729
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
Due: none

fix(front-end): 动态表单加载失败时正确报错 (#2314)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 动态表单加载失败时正确报错 (#2315)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
