Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

refactor(mcp_log): extract chain query logic and split chain_search module
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/es_query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/gateway_log.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/span_builder.py
Due: format, ruff, mypy, import-linter

feat(plugin): add doc links for bk-oauth2 plugins
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(mcp_log): fix type annotation for _calc_start_offset_ms latency_ms param
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/span_builder.py
Due: format, ruff, mypy, import-linter

fix(apigateway): 网关资源过期提醒不准确 --story=130702642
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
Due: format, ruff, mypy, import-linter

feature(MCP): 调用链瀑布图支持label自适应 --story=132564332
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/components/trace-view/constants/default-config.tsx
  src/dashboard-front/src/components/trace-view/selectors/trace.ts
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/list-view/index.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/ticks.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/timeline-header-row/timeline-header-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/timeline-header-row/timeline-viewing-layer.tsx
  src/dashboard-front/src/components/trace-view/utils/date.tsx
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/hooks/use-mcp-config-divide-ratio.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/services/source/observability.ts
  src/dashboard-front/src/utils/getStrFromFile.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

fix: address CR review issues for MCP observability
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/dashboard/apigateway/apigateway/service/prometheus/mcp_server_dimension.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/middleware.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix: move logger definition after all imports to fix E402
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
Due: format, ruff, mypy, import-linter

refactor(mcp-proxy): reduce logToolCall cyclomatic complexity below 30
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(MCP): 仪表盘chart支持小屏幕适配 --story=132564332
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
Due: none

feat(front-end): 平台工具 - CLI 应用环境变量 & 国际化 # Reviewed, transaction id: 78565
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

fix(mcp-server-log): 修复 MCP Server 日志查询无数据问题
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/utils.py
Due: format, ruff, mypy, import-linter

feat(front-end): 平台工具 - CLI 应用环境变量 & 国际化 (#2640)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(front-end): 平台工具 - CLI 应用环境变量 & 国际化 (#2639)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(mcp-log): unify HTTP and MCP layer log fields for consistent display
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/es_query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/tests/integration/metrics_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

feat(plugin): add doc links for bk-oauth2 plugins (#2636)
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(mcp-log): use term query for keyword fields and clean up HTTP path/method in MCP logs
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/es_query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/tests/integration/config.yaml
Due: format, ruff, mypy, import-linter, fmt, lint

fix(conf): set FEATURE_FLAG_ENABLE_RUN_DATA default to False to align with master
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(mcp-log): improve ES query compatibility with flattened __ext_json and use backend_name for downstream gateway
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/es_query.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/gateway_log.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
Due: format, ruff, mypy, import-linter

fix(MCP): 优化Mcp可观测体验问题 --story=132564332
  src/dashboard-front/src/components/ag-mcp-trace-chain/Index.vue
  src/dashboard-front/src/components/ag-mcp-trace-chain/info/Index.vue
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/virtualized-trace-view.tsx
  src/dashboard-front/src/components/trace-view/typings/trace.ts
  src/dashboard-front/src/components/trace-view/utils/date.tsx
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-observability-dashboard.ts
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useTrace.ts
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityFlowLog.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityTimeInterval.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/components/TraceChainSlider.vue
  src/dashboard-front/src/views/mcp-server/route.ts
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

feat(permissions): support applying gateway permission by resource
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
Due: format, ruff, mypy, import-linter

fix:修复Mcp时间线
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

feat: add raw_response field to MCPServer
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0013_mcpserver_raw_response.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix: empty migration file and Go lint line length issues
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix: empty migration file and Go lint line length issues
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0013_mcpserver_raw_response.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix: update test files for rawResponse parameter
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

fix: support hot-reload for raw_response field
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0013_mcpserver_raw_response.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(permission): handle empty resource_ids and map gateway dimension to api in permission apply
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

fix(apigateway): 网关资源过期提醒不准确-调整代码及用例
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
Due: format, ruff, mypy, import-linter

fix(apigateway): 网关资源过期提醒不准确 --story=130702642 (#2637)
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
Due: format, ruff, mypy, import-linter

test: add regression test for raw_response hot-reload
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

feature(MCP): McpServer 管理端视图新增一键复制URL --story=132845699
  src/dashboard-front/src/components/ag-mcp-agent-config/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/components/CopyConfigDialog.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat: add raw_response_enabled field to MCPServer
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0013_mcpserver_raw_response.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_batch_query_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix: resolve lint line-length errors for raw_response_enabled field
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: format, ruff, mypy, import-linter, fmt, lint

feat: add batch get mcp server configs by agent type api
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

test(mcp): add unit tests for batch agent client configs API
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat: add resource dimension unit tests for allow_apply_permission
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

feat: add unit tests for allow_apply_permission model property
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_models.py
Due: format, ruff, mypy, import-linter
