Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(test): add MCP server e2e test cases and add noneSchema config
  test/cases/dashboard/01-open-api/03-mcp-server/01-app-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/02-app-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/03-app-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/04-app-streamable-http-delete-session.bru
  test/cases/dashboard/01-open-api/03-mcp-server/05-user-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/06-user-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/07-user-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/08-user-streamable-http-delete-session.bru
  test/cases/dashboard/01-open-api/03-mcp-server/09-app-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/10-app-sse-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/11-app-sse-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/12-app-sse-delete-session.bru
  test/cases/dashboard/01-open-api/03-mcp-server/13-user-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/14-user-sse-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/15-user-sse-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/16-user-sse-delete-session.bru
  test/sync/httpbin/definition.yaml
  test/sync/httpbin/resources.yaml
Due: none

feat: replace dict with model instance + context in inner views
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(test): enhance MCP server test assertions per code review
  test/cases/dashboard/01-open-api/03-mcp-server/01-app-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/02-app-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/03-app-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/05-user-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/06-user-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/07-user-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/09-app-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/10-app-sse-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/11-app-sse-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/13-user-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/14-user-sse-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/15-user-sse-tools-call.bru
Due: none

chore(test): upgrade apigw-manager to 4.2.3 and enable MCP server sync
  test/sync/run.sh
Due: none

fix(dashboard): redact healthz errors and hide debug docs
  src/dashboard/apigateway/apigateway/healthz/views.py
  src/dashboard/apigateway/apigateway/tests/drf_yasg/test_urls.py
  src/dashboard/apigateway/apigateway/tests/healthz/test_redaction.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

test(mcp-server): 重构 MCP server e2e 测试用例
  test/cases/dashboard/01-open-api/03-mcp-server/01-app-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/02-app-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/03-app-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/04-app-streamable-http-delete-session.bru
  test/cases/dashboard/01-open-api/03-mcp-server/04-user-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/05-user-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/05-user-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/06-user-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/07-app-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/07-user-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/08-user-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/08-user-streamable-http-delete-session.bru
  test/cases/dashboard/01-open-api/03-mcp-server/11-app-sse-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/12-app-sse-delete-session.bru
  test/cases/dashboard/01-open-api/03-mcp-server/13-user-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/14-user-sse-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/15-user-sse-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/16-user-sse-delete-session.bru
  test/sync/httpbin/definition.yaml
Due: none

refactor: add url, categories, approval_url fields to API docs
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
Due: none

feat(mcp-proxy): add comprehensive integration test cases
  src/mcp-proxy/tests/integration/application_mode_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/metrics_test.go
  src/mcp-proxy/tests/integration/protocol_cross_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dashboard): redact healthz errors and hide debug docs (#2719)
  src/dashboard/apigateway/apigateway/healthz/views.py
  src/dashboard/apigateway/apigateway/tests/drf_yasg/test_urls.py
  src/dashboard/apigateway/apigateway/tests/healthz/test_redaction.py
  src/dashboard/apigateway/apigateway/urls.py
Due: format, ruff, mypy, import-linter

feat(test): add MCP server e2e test cases and add noneSchema config (#2718)
  test/cases/dashboard/01-open-api/03-mcp-server/01-app-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/02-app-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/03-app-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/04-user-streamable-http-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/05-user-streamable-http-tools-list.bru
  test/cases/dashboard/01-open-api/03-mcp-server/06-user-streamable-http-tools-call.bru
  test/cases/dashboard/01-open-api/03-mcp-server/07-app-sse-initialize.bru
  test/cases/dashboard/01-open-api/03-mcp-server/08-user-sse-initialize.bru
  test/sync/httpbin/definition.yaml
  test/sync/httpbin/resources.yaml
  test/sync/run.sh
Due: none

feat: support adaptive URL based on least privilege (#2714)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): add comprehensive integration test cases (#2720)
  src/mcp-proxy/tests/integration/application_mode_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/metrics_test.go
  src/mcp-proxy/tests/integration/protocol_cross_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(resource-management): 修复资源管理导出按钮在数据为空时未禁用的问题
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(resource-management): 修复资源管理导出按钮在数据为空时未禁用的问题 (#2721)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(mcp-server-log): fix chain status detection and total latency correction
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
Due: format, ruff, mypy, import-linter

docs(release): add release log for 1.22
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(release): add release log for 1.22 (#2723)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(mcp-server-log): fix chain status detection and total latency correction (#2722)
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
Due: format, ruff, mypy, import-linter

feat: add applicant field to gateway permission apply API
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

refactor: rename RTX_USERNAME_PATTERN to BK_USERNAME_PATTERN and update docs
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
Due: format, ruff, mypy, import-linter

feat: add applicant field to gateway permission apply API (#2724)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

refactor: rename RTX_USERNAME_PATTERN to BK_USERNAME_PATTERN and update docs
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
Due: format, ruff, mypy, import-linter

fix(Mcp): 修复mcp模块体验问题
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/components/CopyConfigDialog.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/components/TraceChainSlider.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

fix(docs): revert incorrect changes to v1 apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
Due: none

feat: add openapi consistency check skill
  .agents/skills/bk-apigateway-openapi-check/SKILL.md
  .agents/skills/bk-apigateway-openapi-check/references/check-criteria.md
  .agents/skills/bk-apigateway-openapi-check/references/file-reference.md
  .agents/skills/bk-apigateway-openapi-check/references/special-cases.md
  .agents/skills/bk-apigateway-openapi-check/scripts/__pycache__/check_api_consistency.cpython-311.pyc
  .agents/skills/bk-apigateway-openapi-check/scripts/check_api_consistency.py
  AGENTS.md
  src/dashboard/AGENTS.md
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

chore: remove __pycache__ and add .gitignore for skill scripts
  .agents/skills/bk-apigateway-openapi-check/.gitignore
  .agents/skills/bk-apigateway-openapi-check/scripts/__pycache__/check_api_consistency.cpython-311.pyc
Due: none

fix(openapi-check): add path parameter consistency check in CHECK-4
  .agents/skills/bk-apigateway-openapi-check/scripts/check_api_consistency.py
Due: none

feat(monitor): add v2 inner monitor alarm callback api
  src/dashboard/apigateway/apigateway/apis/v2/inner/monitor_views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_monitor_views.py
Due: format, ruff, mypy, import-linter

fix(docs): revert incorrect changes to v1 apply_permissions.md (#2726)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/apply_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
Due: none

refactor(openapi-check): address PR review feedback
  .agents/skills/bk-apigateway-openapi-check/scripts/check_api_consistency.py
  .agents/skills/bk-apigateway-openapi-check/scripts/config.yaml
  .agents/skills/bk-apigateway-openapi-check/scripts/tests/__init__.py
  .agents/skills/bk-apigateway-openapi-check/scripts/tests/test_check_api_consistency.py
  src/dashboard/Makefile
Due: none

ci(dashboard): add OpenAPI consistency check step
  .github/workflows/dashboard.yml
Due: none

chore(dashboard): bump security-scanned Python dependencies
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

chore(dashboard): bump security-scanned Python dependencies (#2729)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(controller/publisher): 修复发布校验问题 (#1634)
  src/dashboard/apigateway/apigateway/controller/publisher/publish.py
  src/dashboard/apigateway/apigateway/tests/controller/publisher/test_publish.py
Due: format, ruff, mypy, import-linter

feat(upgrade): upgrade python to 3.11 and upgrade grpcio (#1635)
  .github/workflows/dashboard.yml
  src/dashboard/Dockerfile
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/tests/utils/test_ip.py
  src/dashboard/apigateway/apigateway/tracing/otel.py
  src/dashboard/apigateway/apigateway/utils/etcd.py
  src/dashboard/apigateway/apigateway/utils/etcd_monkeypatch.py
  src/dashboard/apigateway/apigateway/utils/ip.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

fix(apis/v2/open): 修复权限申请接口的响应结果 (#1640)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
Due: format, ruff, mypy, import-linter

build(dockerfile): update source (#1660)
  src/dashboard/Dockerfile
Due: none

fix: fix mcp version validate (#1673)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

feat(apps/gateway/commands): add revoke_stage (#1658)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_stage.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

Update dashboard-front.yml (#1663)
  .github/workflows/dashboard-front.yml
Due: none
