Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(resource): 修复切换网关时路由参数冲突导致导航被中断需操作两次的问题(#2760)
  src/dashboard-front/.gitignore
  src/dashboard-front/src/types/auto-imports.d.ts
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

feature(MCP): 修改Mcp卡片启用按钮样式 --story=157991893
  src/dashboard-front/src/assets/bk_icon_font/demo.html
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/src/assets/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/src/assets/bk_icon_font/iconcool.js
  src/dashboard-front/src/assets/bk_icon_font/iconcool.json
  src/dashboard-front/src/assets/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/types/auto-imports.d.ts
Due: none

feat: extract docs gateway permission mixin to enforce IsAuthenticated
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway_sdk/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/mixins.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/stage/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/test_permissions.py
Due: format, ruff, mypy, import-linter

chore: 恢复 auto-imports.d.ts 类型声明文件，修复 CI type-check 报错
  src/dashboard-front/.gitignore
  src/dashboard-front/src/types/auto-imports.d.ts
Due: none

refactor: unify released stage query via manager and enforce active stage filtering
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

refactor: rename DocsGatewayPermissionMixin to GatewayDocsPermissionMixin
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway_sdk/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/mixins.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/stage/views.py
Due: format, ruff, mypy, import-linter

fix(personal-workbench): address review feedback for pending APIs
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/filters.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
Due: format, ruff, mypy, import-linter

fix(personal-workbench): avoid circular import in pending permission queries
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
Due: format, ruff, mypy, import-linter

refactor: add inactive stage regression coverage for get_released_stages gateway filter
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

fix(stage): validate implicit default backend usage
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/apis/open/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

docs(agents.md): update
  src/operator/AGENTS.md
Due: none

docs(agents): refresh service handbooks
  src/core-api/AGENTS.md
  src/dashboard/AGENTS.md
  src/mcp-proxy/AGENTS.md
Due: fmt, lint

docs(agents): add operator to project map
  AGENTS.md
Due: none

fix(operator): preserve image version metadata
  src/operator/Dockerfile
  src/operator/Makefile
  src/operator/docs/debug/README.md
  src/operator/pkg/utils/schema/validate_test.go
Due: none

fix(operator): harden panic recovery paths
  src/operator/pkg/core/committer/committer.go
  src/operator/pkg/core/committer/committer_test.go
  src/operator/pkg/utils/groutine.go
  src/operator/pkg/utils/groutine_test.go
Due: none

feat: extract docs gateway permission mixin to enforce IsAuthenticated (#2765)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway_sdk/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/mixins.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/doc/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/resource/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/stage/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/test_permissions.py
Due: format, ruff, mypy, import-linter

fix(operator): harden debug resources and probes
  src/operator/cmd/list_apigw.go
  src/operator/cmd/list_apisix.go
  src/operator/config.yaml.tpl
  src/operator/docs/debug/README_EN.md
  src/operator/pkg/apis/open/serializer/common.go
  src/operator/pkg/apis/open/serializer/common_test.go
  src/operator/pkg/client/apisix.go
  src/operator/pkg/client/apisix_test.go
  src/operator/pkg/client/resource_slz.go
  src/operator/pkg/client/resource_slz_test.go
  src/operator/pkg/config/config.go
  src/operator/tests/integration/docker-compose.yml
Due: none

docs(agents): refresh service handbooks (#2768)
  src/core-api/AGENTS.md
  src/dashboard/AGENTS.md
  src/mcp-proxy/AGENTS.md
Due: fmt, lint

refactor: add early return for empty released stages
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
Due: format, ruff, mypy, import-linter

fix(stage): tighten backend validation for stage sync
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/apis/open/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix(resource): released stages display by querying actual release records (#2759)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
Due: format, ruff, mypy, import-linter

feat(personal-workbench): add time range filters
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/filters.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
Due: format, ruff, mypy, import-linter

refactor(stage): inline backend id collection in publish validation
  src/dashboard/apigateway/apigateway/biz/validators.py
Due: format, ruff, mypy, import-linter

fix(personal-workbench): avoid gateway import cycle
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
Due: format, ruff, mypy, import-linter

fix(stage): allow unused default backend to remain unconfigured (#2762)
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/apis/open/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

feat: add gateway_name field to toolbox log query response
  src/dashboard/apigateway/apigateway/biz/access_log/constants.py
Due: format, ruff, mypy, import-linter

refactor: return api_name in toolbox log query fields and results
  src/dashboard/apigateway/apigateway/biz/access_log/constants.py
Due: format, ruff, mypy, import-linter

Add operator section to README and remove Operator link
  README.md
Due: none

Add operator section to README_EN.md
  README_EN.md
Due: none

feat(front-end): 资源配置中的资源详情展示正确的“已使用的环境”
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 资源配置中的资源详情展示正确的“已使用的环境” (#2770)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

docs(dashboard): clarify api layer responsibilities
  src/dashboard/AGENTS.md
Due: none

refactor(personal-workbench): fix pending filter data source, add approvers and status filter (#2761)
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/filters.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/personal_workbench/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/personal_workbench/test_views.py
Due: format, ruff, mypy, import-linter

fix(config): enable ITSM permission apply by default and add MCP observability flag
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

refactor: add toolbox-only gateway_name mapping from api_name in log query response
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/constants.py
  src/dashboard/apigateway/apigateway/biz/access_log/log.py
  src/dashboard/apigateway/apigateway/biz/access_log/log_search.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
Due: format, ruff, mypy, import-linter

docs(dashboard): clarify api layer responsibilities (#2771)
  src/dashboard/AGENTS.md
Due: none

fix(config): enable ITSM permission apply by default and add MCP observability flag (#2772)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): preserve large integer params without scientific notation
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/types.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint
