Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(controller/convertor): support revoke_flag for service convertor
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/dashboard/apigateway/apigateway/utils/procedure_logger.py
Due: format, ruff, mypy, import-linter

fix(controller/convertor): support revoke_flag for service convertor (#2042)
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/dashboard/apigateway/apigateway/utils/procedure_logger.py
Due: format, ruff, mypy, import-linter

fix(controller/convertor): support revoke_flag for service convertor (#2043)
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/dashboard/apigateway/apigateway/utils/procedure_logger.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复仪表盘 ingress/egress 为空问题
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复仪表盘 ingress/egress 为空问题 (#2044)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复仪表盘 ingress/egress 为空问题 (#2047)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复仪表盘 ingress/egress 为空问题 (#2046)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

feat(components/bkmonitor.py): change component name (#2041)
  src/dashboard/apigateway/apigateway/components/bkmonitor.py
Due: format, ruff, mypy, import-linter

feat(controller/distributor/etcd.py): treat gateway deletion as offline
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
Due: format, ruff, mypy, import-linter

fix(convertor/route.py): don't generate detect route while deleting gateway
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
Due: format, ruff, mypy, import-linter

docs(controller/distributor/etcd.py): update comment
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
Due: format, ruff, mypy, import-linter

Ft publish delete master (#2049)
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
Due: format, ruff, mypy, import-linter

Ft publish delete (#2048)
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
Due: format, ruff, mypy, import-linter

feature(plugin): 自定义插件bk-ip-restriction --story=128374563 && 自定义插件bk-header-rewrite --story=128374554
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaObjectField.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

feature(plugin): 自定义插件bk-ip-restriction --story=128374563 && 自定义插件bk-header-rewrite --story=128374554
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaObjectField.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(apis/web/gateway/views.py): trigger gateway delete publish
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

fix(apis/web/gateway/views.py): trigger gateway delete publish (#2052)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

feat(middleware): add mcp server header
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(middleware): add mcp server header
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(plugin-form): 插件表单开发
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(apis/web/gateway/views.py): trigger gateway delete publish (#2053)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

feat(plugin-form): 插件表单开发 (#2055)
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(plugin-form): 插件表单接入
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

feat(plugin-form): 插件表单接入 (#2056)
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

fix(plugin): 调整ip、header插件校验规则 --story=128374563
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaObjectField.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 修复资源插件表单 # Reviewed, transaction id: 66132
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/components/UserInput.vue
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(apis/web): 新增网关环境发布检查接口
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix rename
  src/dashboard/Makefile
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix
  src/dashboard/Makefile
Due: none

fix(front-end): 修复资源插件表单 (#2058)
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/components/UserInput.vue
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(apis/web): 新增网关环境发布检查接口 (#2059)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter
