Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feature(MCP): MCP Server模块支持中文名 --story=129087782
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

feat(plugin-form): 故障注入表单修改 (#2120)
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

feat(app/mcp-server): add doc (#2119)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0006_mcpserverextend.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: format, ruff, mypy, import-linter

feat(api/web): add mcp doc
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0006_mcpserverextend.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: format, ruff, mypy, import-linter

fix(front-end): 未发布的环境仍可发布资源版本 # Reviewed, transaction id: 67375
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

fix(front-end): 未发布的环境仍可发布资源版本 # Reviewed, transaction id: 67376
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

fix(front-end): 未发布的环境仍可发布资源版本 # Reviewed, transaction id: 67378
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

fix(front-end): 未发布的环境仍可发布资源版本 (#2123)
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

fix(front-end): 未发布的环境仍可发布资源版本 (#2124)
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

fix(front-end): 未发布的环境仍可发布资源版本 (#2125)
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

feat(front-end): 支持子路径部署 # Reviewed, transaction id: 67410
  src/dashboard-front/default.html
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
  src/dashboard-front/yarn.lock
Due: none

feat(mcp-proxy): add prompt and support streamableHTTP
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feat(mcp-proxy): add prompt and support streamableHTTP
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

feat(front-end): 支持子路径部署 (#2126)
  src/dashboard-front/default.html
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
  src/dashboard-front/yarn.lock
Due: none

feat(dashboard-fe/dockerfile): change the var render of index.html, support subpath
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard-front/index.html
  src/dashboard-front/public/runtime-env.js
Due: none

feat(dashboard-fe/dockerfile): change the var render of index.html, support subpath (#2127)
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard-front/index.html
  src/dashboard-front/public/runtime-env.js
Due: none

fix(front-end): fix lint errors # Reviewed, transaction id: 67477
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
  src/dashboard-front/yarn.lock
Due: none

fix(front-end): fix lint errors (#2129)
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
  src/dashboard-front/yarn.lock
Due: none

feat(front-end): mcp 服务器描述必填 & 长度限制 # Reviewed, transaction id: 67505
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(front-end): mcp 服务器描述必填 & 长度限制 (#2130)
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

Ft 1.20 support subpath (#2131)
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard-front/default.html
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/public/runtime-env.js
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
Due: none

Ft 1.20 support subpath (#2131) (#2132)
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard-front/default.html
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/public/runtime-env.js
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
Due: none

fix(dockerfile): fix file missing
  src/dashboard-front/Dockerfile
Due: none

fix(dockerfile): fix file missing (#2133)
  src/dashboard-front/Dockerfile
Due: none

fix(dockerfile): fix file missing (#2134)
  src/dashboard-front/Dockerfile
Due: none

feat(menu): 导航菜单改版
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(menu): 导航菜单改版 (#2135)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(api/web): add mcp doc (#2122)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0006_mcpserverextend.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: format, ruff, mypy, import-linter

feat(api/web): add mcp doc (#2121)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0006_mcpserverextend.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: format, ruff, mypy, import-linter

fix(mcp): 修复mcp部分样式问题 --story=129087782
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(sync/smoke/resources.yaml): fix case fail for bk-access-token-source
  test/sync/smoke/resources.yaml
Due: none

fix(fixtures/plugins.yaml): add allow_fallback for bk-access-token-source
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(sync/smoke/resources.yaml): fix case fail for bk-access-token-source (#2137)
  test/sync/smoke/resources.yaml
Due: none

Fix e2e sync apis 1.20 (#2138)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  test/sync/smoke/resources.yaml
Due: none
