Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, isort

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

ruff:
  name: ruff
  language: python
  entry: ruff --config=src/esb/pyproject.toml --force-exclude --fix

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

isort:
  name: isort
  language: python
  entry: isort --settings-path=src/esb/pyproject.toml

修复 allow_orgins 不建议为 None 的问题，为 None 时，apisix 将使用其默认值 * (#170)
  src/dashboard/apigateway/apigateway/apps/plugin/plugin/checker.py
  src/dashboard/apigateway/apigateway/apps/plugin/plugin/convertor.py
  src/dashboard/apigateway/apigateway/controller/crds/release_data/access_strategy.py
  src/dashboard/apigateway/apigateway/controller/crds/release_data/plugin.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/plugin/test_convertor.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_access_strategy.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_plugin.py
Due: black, ruff, mypy

Fix permission (#166)
  src/dashboard/apigateway/apigateway/apis/web/permission/filters.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
Due: black, ruff, mypy

fix: API网关 0802体验修复 (#169)
  src/dashboard-front/src/language/lang/en.js
  src/dashboard-front/src/language/lang/zh.js
  src/dashboard-front/src/views/access-log/index.vue
  src/dashboard-front/src/views/monitor/children/alarm-strategy.vue
Due: none

修复访问策略 cors 数据转换的问题
  src/dashboard/apigateway/apigateway/controller/crds/release_data/access_strategy.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_access_strategy.py
Due: black, ruff, mypy

fix(ipv6/cidr): support ipv6 cidr like 0:0:0:0:0:ffff:192.1.1.1/96 in ip-restriction
  src/dashboard/apigateway/apigateway/tests/utils/test_ip.py
  src/dashboard/apigateway/apigateway/utils/ip.py
Due: black, ruff, mypy

修复访问策略 cors 数据转换的问题 (#172)
  src/dashboard/apigateway/apigateway/controller/crds/release_data/access_strategy.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_access_strategy.py
Due: black, ruff, mypy

fix(access_strategy/ip_restriction): only whitelist or blacklist, not… (#171)
  src/dashboard/apigateway/apigateway/common/mixins/models.py
  src/dashboard/apigateway/apigateway/controller/crds/release_data/access_strategy.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_access_strategy.py
  src/dashboard/apigateway/apigateway/tests/utils/test_ip.py
  src/dashboard/apigateway/apigateway/utils/ip.py
Due: black, ruff, mypy

访问策略IP访问控制中有效IP为空时，报错
  src/dashboard/apigateway/apigateway/controller/crds/release_data/access_strategy.py
Due: black, ruff, mypy

当前 bk-esb 未启用时，dashboard 将不会同步组件到网关 bk-esb
  src/dashboard/bin/post_migrate
Due: none

镜像中安装 procps
  src/dashboard/Dockerfile
  src/esb/Dockerfile
Due: none

优化 esb Dockerfile
  src/esb/Dockerfile
Due: none

fix(access_strategy/ip_restriction): if got empty ip list, add 255.255.255.255 into it
  src/dashboard/apigateway/apigateway/controller/crds/release_data/access_strategy.py
Due: black, ruff, mypy

fix: dashboard fix publish version route
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
Due: black, ruff, mypy

fix: fix publish version route
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/core/migrations/0031_alter_publishevent_unique_together.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: black, ruff, mypy

fix: te小窗登录显示不全修复
  src/dashboard-front/src/components/auth/index.css
  src/dashboard-front/src/components/auth/index.vue
Due: none

fix: dashboard fix publish version route (#178)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/resource.py
  src/dashboard/apigateway/apigateway/core/migrations/0031_alter_publishevent_unique_together.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: black, ruff, mypy

fix: te小窗登录显示不全修复 (#179)
  src/dashboard-front/src/components/auth/index.css
  src/dashboard-front/src/components/auth/index.vue
Due: none

使用 concurrent_log_handler 代替 ConcurrentLogHandler
  .github/workflows/esb.yaml
  src/esb/esb/conf/log_utils.py
  src/esb/esb/requirements.txt
  src/esb/esb/requirements_dev.txt
  src/esb/poetry.lock
  src/esb/pyproject.toml
Due: black, ruff, mypy, isort

更新 bk-esb pyproject.toml
  src/esb/poetry.lock
  src/esb/pyproject.toml
Due: none

使用 concurrent_log_handler 代替 ConcurrentLogHandler (#181)
  .github/workflows/esb.yaml
  src/esb/esb/conf/log_utils.py
  src/esb/esb/requirements.txt
  src/esb/esb/requirements_dev.txt
  src/esb/poetry.lock
  src/esb/pyproject.toml
Due: black, ruff, mypy, isort

使用 concurrent_log_handler 代替 ConcurrentLogHandler (#182)
  .github/workflows/esb.yaml
  src/esb/esb/conf/log_utils.py
  src/esb/esb/requirements.txt
  src/esb/esb/requirements_dev.txt
  src/esb/poetry.lock
  src/esb/pyproject.toml
Due: black, ruff, mypy, isort

使用 concurrent_log_handler 代替 ConcurrentLogHandler (#183)
  .github/workflows/esb.yaml
  src/esb/esb/conf/log_utils.py
  src/esb/esb/requirements.txt
  src/esb/esb/requirements_dev.txt
  src/esb/poetry.lock
  src/esb/pyproject.toml
Due: black, ruff, mypy, isort

fix: 资源管理查看资源无法点击修复
  src/dashboard-front/src/views/resource/index.vue
Due: none

修复 sdk 生成失败的问题
  src/dashboard/apigateway/apigateway/apis/open/support/serializers.py
  src/dashboard/apigateway/apigateway/apps/docs/esb/sdk/serializers.py
  src/dashboard/apigateway/apigateway/apps/docs/gateway/sdk/serializers.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/serializers.py
  src/dashboard/apigateway/apigateway/apps/support/constants.py
  src/dashboard/apigateway/apigateway/apps/support/models.py
Due: black, ruff, mypy

fix(apis/open): legacy api/v1 should use the old protocol
  src/dashboard/apigateway/apigateway/common/error_codes.py
  src/dashboard/apigateway/apigateway/common/exception_handler.py
  src/dashboard/apigateway/apigateway/tests/apis/open/access_strategy/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/metrics/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/released/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/stage/test_views.py
Due: black, ruff, mypy

fix(cr/comments): fix
  src/dashboard/apigateway/apigateway/common/exception_handler.py
Due: black, ruff, mypy

refactor(apis/web): apis/web use the new protocol
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
  src/dashboard/apigateway/apigateway/apis/web/feature/views.py
  src/dashboard/apigateway/apigateway/apis/web/label/views.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apis/web/monitor/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apis/web/user/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/access_log/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/api_test/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/label/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/monitor/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
Due: black, ruff, mypy

refactor(apps/plugin): change api to gateway in plugin models
  src/dashboard/apigateway/apigateway/apis/iam/providers.py
  src/dashboard/apigateway/apigateway/apps/plugin/admin.py
  src/dashboard/apigateway/apigateway/apps/plugin/binding/plan.py
  src/dashboard/apigateway/apigateway/apps/plugin/binding/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/management/commands/migrate_plugin_models.py
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0007_auto_20230814_1526.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/apps/plugin/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apps/plugin/plugin/views.py
  src/dashboard/apigateway/apigateway/common/mixins/contexts.py
  src/dashboard/apigateway/apigateway/common/plugin/header_rewrite.py
  src/dashboard/apigateway/apigateway/core/signals.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/add_plugin_error_status_code_200.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/sync_esb_verified_user_exempted_apps_to_gateway.py
  src/dashboard/apigateway/apigateway/tests/apis/iam/test_providers.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/binding/test_plan.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/binding/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/conftest.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/management/command/test_migrate_plugin_models.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/test_managers.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/test_models.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/conftest.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/release_data/test_release_data.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_resource.py
  src/dashboard/apigateway/apigateway/tests/controller/crds/v1beta1/convertors/test_stage.py
  src/dashboard/bin/on_migrate
Due: black, ruff, mypy

refactor(apps/plugin): unused codes
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/test_managers.py
Due: black, ruff, mypy

feat: add backend create api
  src/dashboard/apigateway/apigateway/apis/web/backend/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/backend/constants.py
  src/dashboard/apigateway/apigateway/apis/web/backend/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/backend/urls.py
  src/dashboard/apigateway/apigateway/apis/web/backend/views.py
  src/dashboard/apigateway/apigateway/biz/backend.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/migrations/0032_backend_backendconfig.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_backend.py
  src/dashboard/apigateway/apigateway/urls.py
Due: black, ruff, mypy

优化变量命名
  src/dashboard/apigateway/apigateway/apis/open/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/open/support/views.py
  src/dashboard/apigateway/apigateway/apps/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apps/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apps/docs/helper.py
  src/dashboard/apigateway/apigateway/apps/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apps/gateway/utils.py
  src/dashboard/apigateway/apigateway/apps/gateway/views.py
  src/dashboard/apigateway/apigateway/apps/support/management/commands/export_public_resource_docs.py
  src/dashboard/apigateway/apigateway/apps/support/managers.py
  src/dashboard/apigateway/apigateway/biz/gateway.py
  src/dashboard/apigateway/apigateway/common/contexts/__init__.py
  src/dashboard/apigateway/apigateway/common/contexts/context.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/controller/crds/release_data/release_data.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/core/api_auth.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/core/validators.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/conftest.py
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/management/commands/test_update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/support/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_utils.py
  src/dashboard/apigateway/apigateway/tests/biz/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/common/contexts/test_context.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
  src/dashboard/apigateway/apigateway/tests/core/test_constants.py
  src/dashboard/apigateway/apigateway/tests/core/test_managers.py
  src/dashboard/apigateway/apigateway/tests/core/test_models.py
  src/dashboard/apigateway/apigateway/tests/core/test_validators.py
  src/dashboard/apigateway/apigateway/tests/utils/testing.py
Due: black, ruff, mypy

update: by cr
  src/dashboard/apigateway/apigateway/apis/web/backend/constants.py
  src/dashboard/apigateway/apigateway/apis/web/backend/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/backend/views.py
  src/dashboard/apigateway/apigateway/biz/backend.py
Due: black, ruff, mypy

feat: unite gateway triggers the release entry
  src/dashboard/apigateway/apigateway/apps/release/releasers.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/generators/swagger.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/helper.py
  src/dashboard/apigateway/apigateway/apps/support/api_sdk/managers/mixins.py
  src/dashboard/apigateway/apigateway/biz/release.py
  src/dashboard/apigateway/apigateway/common/event/event.py
  src/dashboard/apigateway/apigateway/controller/crds/release_data/release_data.py
  src/dashboard/apigateway/apigateway/controller/distributor/combine.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/distributor/helm.py
  src/dashboard/apigateway/apigateway/controller/helm/release.py
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_releases_to_shared_micro_gateway.py
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_releases_to_shared_micro_gateway_parallel.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/release.py
  src/dashboard/apigateway/apigateway/controller/tasks/syncing.py
  src/dashboard/apigateway/apigateway/core/admin.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/managers.py
  src/dashboard/apigateway/apigateway/core/migrations/0032_auto_20230810_1458.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/core/signals.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_release.py
  src/dashboard/apigateway/apigateway/tests/controller/tasks/test_syncing.py
Due: black, ruff, mypy

feat: fix version publish
  src/dashboard/apigateway/apigateway/apps/release/releasers.py
Due: black, ruff, mypy

Path conditions:
  black: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  ruff: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  isort: any of: src/esb/ and \.py$
