Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat: 添加 sync_gateway_permissions 管理命令，基于两个资源版本同步网关权限到 AppResourcePermission
  src/dashboard/apigateway/apigateway/apps/support/management/commands/sync_gateway_permissions.py
Due: format, ruff, mypy, import-linter

feat(plugins): 增加 oauth 等插件 (#2619)
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
Due: none

feat(permissions): add sync_gateway_permissions management command
  src/dashboard/apigateway/apigateway/apps/support/management/commands/sync_gateway_permissions.py
Due: format, ruff, mypy, import-linter

fix(apply): 修复权限审批资源表格问题
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

feat(log): adjust http slow request threshold from 100ms to 200ms (#2617)
  src/dashboard/apigateway/apigateway/components/http.py
Due: format, ruff, mypy, import-linter

feat(permissions): add sync_gateway_permissions management command (#2620)
  src/dashboard/apigateway/apigateway/apps/support/management/commands/sync_gateway_permissions.py
Due: format, ruff, mypy, import-linter

feat(plugin): make three OAuth2 plugins public in fixtures
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat(plugin): make three OAuth2 plugins public in fixtures (#2622)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

feat(front-end): OAuth 插件适配 # Reviewed, transaction id: 78207
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

feat(front-end): OAuth 插件适配 (#2623)
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

feat(django): upgrade Django from 4.2.23 to 4.2.26
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

feat(django): upgrade Django from 4.2.23 to 4.2.26 (#2625)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

feat(sdk): add configurable SDK supported languages via BK_SDK_LANGUAGES env var
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat(front-end): SDK 可选语言从 feature flags 获取 # Reviewed, transaction id: 78290
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.runtimeenvschema.json
  src/dashboard-front/env.d.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/sdk-language-selector/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/resource-management/versions/components/CreateSDK.vue
Due: none

refactor(sdk): default supports all languages: python, golang, java
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(sdk): add configurable SDK supported languages via BK_SDK_LANGUAGES env var (#2626)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat(front-end): SDK 可选语言从 feature flags 获取 (#2609)
  src/dashboard-front/.agents/rules/ts-style.md
  src/dashboard-front/.agents/rules/vue-code-style.md
  src/dashboard-front/.runtimeenvschema.json
  src/dashboard-front/env.d.ts
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/sdk-language-selector/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/resource-management/versions/components/CreateSDK.vue
Due: none

feat(front-end): 平台工具 - CLI 工具 # Reviewed, transaction id: 78372
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(mcp): add MCP Server observability with log query and metrics
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/metrics_constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/__init__.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/service/prometheus/mcp_server_dimension.py
  src/dashboard/apigateway/apigateway/urls.py
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/metric/init_test.go
  src/mcp-proxy/pkg/middleware/middleware_suite_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/metrics_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix: return empty data when backend not found in metrics query
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): resolve lint issues
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/metric/init.go
Due: fmt, lint

fxiu(MCP): 修复提交mcp内容会丢失掉不展示的分类tag
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(MCP): 修复提交mcp内容会丢失掉不展示的分类tag
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(front-end): 平台工具 - CLI 工具 (#2627)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(front-end): 平台工具 - CLI 工具 # Reviewed, transaction id: 78408
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(front-end): 平台工具 - CLI 工具 (#2631)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

fix(mcp-proxy): fix test for MCPSessionTotal metric label count
  src/mcp-proxy/pkg/mcp/middleware_test.go
Due: fmt, lint

fix(MCP): McpServer Prompt支持html解析 --story=133515627
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

feat(test): add unit tests for backend not found in IngressMetrics and EgressMetrics
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

feat(bk-cli settings): add feature flag and env-vars for bk-cli settings
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(mcp): fix MCP Server log query and metrics issues
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/tests/integration/metrics_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

docs(release_log): add 1.21.8 release log
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(release log): update
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
Due: none

feat(conf/utils.py): add settings for bk-cli
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat(bk-cli settings): add feature flag and env-vars for bk-cli settings (#2633)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: format, ruff, mypy, import-linter

feat(conf/utils.py): add settings for bk-cli (#2634)
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

refactor: add comment for empty string return convention in _get_query_promql
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
Due: format, ruff, mypy, import-linter

fix: return empty data when backend not found in metrics query (#2628)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

refactor(mcp_log): address code review feedback for MCP Server log module
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_helpers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/utils.py
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter
