Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

chore(dashboard): upgrade Python runtime to 3.14
  .github/workflows/dashboard.yml
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/management/commands/test_sync_to_gateway_and_release.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

chore(dashboard): use Python 3.14 base image
  src/dashboard/Dockerfile
Due: none

fix(dashboard): run pre-commit hooks in dashboard cwd
  .pre-commit-config.yaml
Due: none

fix(dashboard): run pre-commit hooks in dashboard cwd (#2945)
  .pre-commit-config.yaml
Due: none

test(dashboard): remove isort guard from ESB command test
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/management/commands/test_sync_to_gateway_and_release.py
Due: format, ruff, mypy, import-linter

chore(dashboard): bump blue-krill to 3.1.1
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(bin/start_celery.sh): change the worker count from 20 to 12
  src/dashboard/Dockerfile
  src/dashboard/bin/start_celery.sh
Due: none

fix: harden prompts sync and validation for invalid payloads
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/common/validators.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/management/commands/test_fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
Due: format, ruff, mypy, import-linter

refactor: harden prompts sync and centralize payload validation
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/common/validators.py
  src/dashboard/apigateway/apigateway/service/mcp/__init__.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(dashboard): address python 3.14 review notes
  .github/workflows/dashboard.yml
  src/dashboard/AGENTS.md
  src/dashboard/bin/start_celery.sh
  src/dashboard/pyproject.toml
Due: none

fix(dashboard): allow stag programmable stage name
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix(ReleaseRecord): 发布记录表格横向滚动会有空白区域溢出占位 --story=160051024
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

feat(plugin): add bk-query-string-rewrite plugin support
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

feat(front-end): 版本对比时可过滤仅文档更新的资源 --story=134862888
  src/dashboard-front/src/components/create-resource-version/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 版本对比时可过滤仅文档更新的资源 --story=134862888 (#2949)
  src/dashboard-front/src/components/create-resource-version/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(dashboard): allow stag programmable stage name (#2947)
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix(mcp_server): validate prompts payload and add invalid prompts repair command (#2941)
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/management/commands/fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/management/commands/test_fix_invalid_mcp_prompts.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
Due: format, ruff, mypy, import-linter

fix(dashboard): allow stag programmable stage name (#2948)
  src/dashboard/apigateway/apigateway/biz/constants.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

refactor: refine query-string-rewrite plugin validations and operator schemas
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/operator/pkg/utils/schema/3.13/schema.json
  src/operator/pkg/utils/schema/3.16/schema.json
Due: format, ruff, mypy, import-linter

fix(front-end): 修复表格 settings 本地记忆功能 --story=135337108
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/types/common.ts
Due: none

refactor(plugin): align query-string-rewrite validation and schemas
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/operator/pkg/utils/schema/3.13/schema.json
  src/operator/pkg/utils/schema/3.16/schema.json
Due: format, ruff, mypy, import-linter

chore(dashboard): refresh python 3.14 dependencies
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(front-end): 修复表格 settings 本地记忆功能 --story=135337108 (#2951)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/types/common.ts
Due: none

feat(plugin): add bk-query-string-rewrite plugin support (#2950)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
  src/operator/pkg/utils/schema/3.13/schema.json
  src/operator/pkg/utils/schema/3.16/schema.json
Due: format, ruff, mypy, import-linter

feat(dashboard): add inner APIs for app alarm records and request logs
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/tasks.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_alarm_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_request_logs.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
Due: format, ruff, mypy, import-linter

feat(dashboard): support resource_name filter on app alarm records API
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_alarm_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix: harden app alarm records filtering and pagination
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_alarm_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

refactor: revert tasks.py
  src/dashboard/apigateway/apigateway/apps/monitor/tasks.py
Due: format, ruff, mypy, import-linter

feat(front-end): 新增 bk-query-string-rewrite 插件 --story=135714580
  src/dashboard-front/src/components/plugin-form/bk-query-string-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-query-string-rewrite/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/bk-query-string-rewrite/components/KeysInput.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableBkQueryStringRewrite.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 新增 bk-query-string-rewrite 插件 --story=135714580 (#2953)
  src/dashboard-front/src/components/plugin-form/bk-query-string-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-query-string-rewrite/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/bk-query-string-rewrite/components/KeysInput.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTable.vue
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableBkQueryStringRewrite.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/constants/plugin-form-examples.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(audit-log): 操作详情展示变动 diff
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-json-transformer.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/audit-log/detail/Index.vue
Due: none

feat(audit-log): 操作详情展示变动 diff (#2954)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-json-transformer.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/audit-log/detail/Index.vue
Due: none

fix(MCP): MCP Server 侧边滚动条问题 --story=135766826
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp-proxy): skip request body without schema
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
Due: fmt, lint

fix(mcp-proxy): skip request body without schema (#2956)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
Due: fmt, lint

docs(release/1.22): 1.22.2 release log
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none
