Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

fix(api/web): fix programable gateway history (#1295)
  src/dashboard/apigateway/apigateway/apis/web/release/urls.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
Due: format, ruff, mypy, import-linter

fix: 修复非多租户下的 display name 展示问题 & tenant_mode 展示原始值 # Reviewed, transaction id: 40469
  src/dashboard-front/src/components/gateways-edit/member-selector.vue
  src/dashboard-front/src/components/gateways-edit/tenant-user-selector.vue
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
  src/dashboard-front/src/views/apiDocs/index.vue
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
  src/dashboard-front/src/views/operate-records/index.vue
  src/dashboard-front/src/views/permission/apply/index.vue
  src/dashboard-front/src/views/permission/record/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
  src/dashboard-front/src/views/resource/version/sdk/index.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
Due: none

fix: 修复非多租户下的 display name 展示问题 & tenant_mode 展示原始值 (#1296)
  src/dashboard-front/src/components/gateways-edit/member-selector.vue
  src/dashboard-front/src/components/gateways-edit/tenant-user-selector.vue
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
  src/dashboard-front/src/views/apiDocs/index.vue
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
  src/dashboard-front/src/views/operate-records/index.vue
  src/dashboard-front/src/views/permission/apply/index.vue
  src/dashboard-front/src/views/permission/record/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
  src/dashboard-front/src/views/resource/version/sdk/index.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
Due: none

feat: 可编程网关资源发布日志
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/published/index.vue
Due: none

feat: 环境缩略模式统计图
  src/dashboard-front/bk.config.js
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-line-chart.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
Due: none

fix(apps/permission): 修复权限续期问题
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/apps/permission/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_utils.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix some api with paas
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix: fix calculate_renew_time
  src/dashboard/apigateway/apigateway/apps/permission/utils.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix stage status
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix cr
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix some api with paas (#1298)
  src/dashboard/apigateway/apigateway/apis/web/release/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/release/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

feat: 审批历史页资源展开交互和样式优化 # Reviewed, transaction id: 40836
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/views/permission/record/index.vue
  src/dashboard-front/static/svg/iconcool.js
Due: none

feat: 审批历史页资源展开交互和样式优化 (#1299)
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/views/permission/record/index.vue
  src/dashboard-front/static/svg/iconcool.js
Due: none

fix(plugins): 修复插件排序
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix stage get
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
Due: format, ruff, mypy, import-linter

fix(apps/permission): 修复权限续期问题 (#1297)
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/apps/permission/utils.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_utils.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix stage get (#1301)
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix branch get
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix branch get (#1302)
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

feat: 权限审批页新交互 # Reviewed, transaction id: 40927
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/main.vue
  src/dashboard-front/src/views/permission/apply/components/custom-header.vue
  src/dashboard-front/src/views/permission/apply/index.vue
Due: none

feat: 权限审批页新交互 (#1303)
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/main.vue
  src/dashboard-front/src/views/permission/apply/components/custom-header.vue
  src/dashboard-front/src/views/permission/apply/index.vue
Due: none

fix: 修复权限申请嵌套表格样式 # Reviewed, transaction id: 40931
  src/dashboard-front/src/views/permission/apply/index.vue
  src/dashboard-front/src/views/permission/record/index.vue
Due: none

fix: 修复权限申请嵌套表格样式 (#1304)
  src/dashboard-front/src/views/permission/apply/index.vue
  src/dashboard-front/src/views/permission/record/index.vue
Due: none

feat: 网关维度的一键拉群
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/common/editApiDoc.vue
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

feat: 网关维度的一键拉群 (#1305)
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/basic-info/common/editApiDoc.vue
  src/dashboard-front/src/views/basic-info/common/type.ts
  src/dashboard-front/src/views/basic-info/index.vue
Due: none

fix(api/web): fix paas deploy
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/http.py
Due: format, ruff, mypy, import-linter

feat(api/web): add golang guid
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/templates/dev_guideline/zh-hans/programmable_gateway.md
Due: format, ruff, mypy, import-linter

fix: 网关列表样式修复
  src/dashboard-front/src/views/home.vue
Due: none

fix: 网关列表样式修复 (#1307)
  src/dashboard-front/src/views/home.vue
Due: none

fix(api/web): fix paas deploy (#1306)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/releaser.py
  src/dashboard/apigateway/apigateway/components/http.py
  src/dashboard/apigateway/apigateway/templates/dev_guideline/zh-hans/programmable_gateway.md
Due: format, ruff, mypy, import-linter

fix(api/web): fix deploy status
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/release.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix deploy status (#1308)
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/release.py
Due: format, ruff, mypy, import-linter

fix: fix merge_plugins
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
Due: format, ruff, mypy, import-linter

fix(plugins): 修复插件排序 (#1300)
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(frontend): 可编程网关资源部署 # Reviewed, transaction id: 41171
  src/dashboard-front/bk.config.js
  src/dashboard-front/src/common/util.ts
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/store/common.ts
  src/dashboard-front/src/views/backend-service/index.vue
  src/dashboard-front/src/views/main.vue
  src/dashboard-front/src/views/resource/setting/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front/src/views/stage/overview/index.vue
Due: none

conf/default.py: tls settings support check_hostname
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

conf/default.py: tls settings support check_hostname (#1310)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

fix(locale): fix i18n for ft_tenant
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.mo
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
Due: none

fix(locale): fix i18n for ft_tenant (#1312)
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.mo
  src/dashboard/apigateway/apigateway/locale/en/LC_MESSAGES/django.po
Due: none
