Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(frontend): 修复交互以及样式问题 (#1961)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/components/FrontConfig.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/components/ReleaseProgrammable.vue
Due: none

fix(frontend): 修复一些体验 & 样式问题 (#1960)
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

feat(apps/plugin/commands): 新增插件统计 commands (#1963)
  src/dashboard/apigateway/apigateway/apps/plugin/management/commands/export_plugin_binding_statistics.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(apis/v2/open): mcp 列表接口增加 application_url 和 least_privilege 字段 (#1965)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复查看环境时负载均衡类型缺失的问题 (#1969)
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(fixtures/plugins.yaml): 补充 bk-user-restriction 插件示例 (#1970)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(resource-setting): 修复校验应用权限和允许权限联动 (#1968)
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
Due: none

fix(apis/web): 修复 mcp server 列表的排序 (#1971)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

fix(frontend): 负载均衡类型 key & 资源版本 diff 加载逻辑 (#1973)
  src/dashboard-front/src/components/create-resource-version/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/backend-services/components/KeyFormItem.vue
Due: none

fix(mcpServer): 修复mcpServer点击资源列表刷新无法实时获取最新发布版本 --story=128507028
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(mcp): mcp 工具详情，点击查看文档无反应 --story=150190190
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/stores/useAccessLog.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderSystem.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feat(api/open): add gateway open api (#1974)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateway_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_gateway_api_details.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: format, ruff, mypy, import-linter

fix(record): 发布记录表格调整
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(frontend): 环境详情中的负载均衡类型 (#1976)
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/backend-services/components/KeyFormItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feature(mcp): 优化MCP Server 列表展示 --story=125449007 (#1978)
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none

fix(controller): fix upstream loadbalance type not working (#1972)
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复 mcp-market 详情接口缺少 is_official 字段 (#1986)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(app): 修复应用权限导出内容乱码 --story=150190192
  src/dashboard-front/src/services/source/permission.ts
Due: none

fix(app): 修复应用权限导出内容乱码 --story=150190192
  src/dashboard-front/src/services/source/permission.ts
  src/dashboard-front/src/views/permission/app/Index.vue
Due: none

fix(frontend): 修复表格空规范 (#1982)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/hooks/use-gate-way-data.ts
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

fix(apis/web): 应用权限的主动授权和续期增加审计日志 (#1984)
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
Due: format, ruff, mypy, import-linter

feat(online-debugging): 在线调试-调用历史添加响应头展示
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(frontend): 修复资源搜索 & 体验问题 (#1981)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(online-debugging): 在线调试-调用历史表格升级 (#1991)
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(frontend): 修复文档翻译功能 (#1994)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/ai.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(frontend): 修复环境详情资源列表插件展示 (#1990)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(online-debugging): 在线调试-调用历史搜索优化 (#1993)
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(table): 表格组件设置第一列已选禁用 --story=150176542
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/styles/toolbox-base64.scss
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(componentManage): 修复组件管理模块相关页面清除搜索条件后未返回全部数据 --story=150252487
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/BatchRenewal.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
Due: none

fix(mcp-market): 修复 MCP Market 官方 tag 展示 (#1989)
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

test: tests/cases (#1985)
  test/cases/apisix/08-plugins/003-bk-jwt/not-verified-virtual-app.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/bk-user-restriction-hit-whitelist.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/bk-user-restriction-missing-whitelist.bru
  test/cases/apisix/08-plugins/021-bk-user-restriction/folder.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params-querystring.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/bk-legacy-invalid-params.bru
  test/cases/apisix/08-plugins/022-bk-legacy-invalid-params/folder.bru
  test/sync/smoke/resources.yaml
Due: none

fix(table): 修复表格不设置外边框，滚动时顶部会有透视, 单页条数过多无法滚动到最底部
  src/dashboard-front/src/components/ag-table/Index.vue
Due: none

fix(api/web): fix ai_completion (#1998)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复文档翻译 (#2001)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(biz/ai): fix ai prompt (#1995)
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/ai_completion/views.py
  src/dashboard/apigateway/apigateway/apps/support/task.py
  src/dashboard/apigateway/apigateway/biz/ai/ai.py
  src/dashboard/apigateway/apigateway/biz/ai/prompt.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复文档翻译 & 资源名称展示 (#2000)
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/ai-seek/AiBluekingButton.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(online-debugging): 在线调试-调用历史调整 (#1996)
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
Due: none

fix(mcp): fix mcp memory leak and add pprof (#1999)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix(convertors/service.py): convert weighted-roundrobin to apisix upstream fail (#2002)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
Due: format, ruff, mypy, import-linter

fix(apps/support): fix task (#2003)
  src/dashboard/apigateway/apigateway/apps/support/task.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
