Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(MCPDetail): 优化mcp详情样式布局 --story=129759782
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp_server): fix empty lines in rendered JSON config
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
Due: format, ruff, mypy, import-linter

docs(mcp_server): fix config
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: none

feat(front-end): 资源参数 JSON 编辑器 # Reviewed, transaction id: 72763
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feat(front-end): 资源参数 JSON 编辑器 (#2399)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

fix(front-end): 修复资源参数 JSON 编辑器 # Reviewed, transaction id: 72765
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
Due: none

fix(mcp_server): fix empty lines in rendered JSON config (#2398)
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/claude.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/codebuddy.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/config/vscode.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
Due: format, ruff, mypy, import-linter

fix(front-end): 修复资源参数 JSON 编辑器 (#2400)
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
Due: none

fix(front-end): 多租户语言切换请求头 # Reviewed, transaction id: 72787
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/services/source/basic.ts
Due: none

fix(front-end): 多租户语言切换请求头 # Reviewed, transaction id: 72788
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/services/source/basic.ts
Due: none

fix(front-end): 多租户语言切换请求头 (#2401)
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/services/source/basic.ts
Due: none

fix(front-end): 多租户语言切换请求头 (#2402)
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/services/source/basic.ts
Due: none

chore(front-end): dev 服务器地址隐藏 & 快速拉起 dev 服务器多租户环境 # Reviewed, transaction id: 72813
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/vite.config.ts
Due: none

fix(api): use get_paginated_response for permission record list APIs
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views_esb.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views_esb.py
Due: format, ruff, mypy, import-linter

fix(api): use get_paginated_response for permission record list APIs (#2404)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views_esb.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views_esb.py
Due: format, ruff, mypy, import-linter

fix(api): use get_paginated_response for permission record list APIs (#2404) (#2405)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views_esb.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views_esb.py
Due: format, ruff, mypy, import-linter

feature(MCPDetail): mcp配置增加cusor安装链接入口 --story=129759782
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/styles/app-doc.scss
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
Due: none

fix(front-end): 修复参数编辑器没有传出输入值的问题 # Reviewed, transaction id: 72915
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
Due: none

fix(front-end): 修复参数编辑器没有传出输入值的问题 (#2407)
  src/dashboard-front/src/views/resource-management/components/JsonEditorSlider.vue
Due: none

fix(front-end): 修复环境详情的资源 method 筛选失效 # Reviewed, transaction id: 72922
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(front-end): 修复环境详情的资源 method 筛选失效 # Reviewed, transaction id: 72925
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(front-end): 修复环境详情的资源 method 筛选失效 (#2408)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(front-end): 修复环境详情的资源 method 筛选失效 (#2409)
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(api/web): fix mcp_marketplace list api
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcp_marketplace list api (#2410)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcp_marketplace api
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): code review fixes and test improvements (#2396)
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission_test.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
  src/mcp-proxy/pkg/middleware/mcp_permission.go
  src/mcp-proxy/pkg/middleware/mcp_permission_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/cryptography.go
  src/mcp-proxy/pkg/util/cryptography_test.go
  src/mcp-proxy/pkg/util/goroutinex.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(api/web): fix mcp_marketplace api (#2411)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

fix(controller): fix plugin convert
  src/dashboard/apigateway/apigateway/service/plugin/normalizer.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(MCP): 修复mcp相关体验单据 --story=153986136
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-mcp-config-divide-ratio.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerConfig.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(api/v2): add MCP Server list and retrieve APIs for AI development
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(controller): fix plugin convert (#2412)
  src/dashboard/apigateway/apigateway/service/plugin/normalizer.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(MCP): MCP市场选择左侧具体分类后且右侧默认是全部, 分类接口参数去掉分类筛选 --story=153986136
  src/dashboard-front/src/layout/mcp-market/Index.vue
Due: none

refactor(api/v2): address PR review comments for MCP Server list API
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
Due: format, ruff, mypy, import-linter

fix(api/web): fix plugin_type name
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复体验问题 # Reviewed, transaction id: 73165
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/resource-detail/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(frontend): 体验单据修复
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(front-end): 修复体验问题 (#2417)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/resource-detail/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
