Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(dashboard): upgrade urllib3 to 2.x to resolve CVE vulnerability (#2451)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

chore(front-end): dev 服务器地址隐藏 & 快速拉起 dev 服务器多租户环境 (#2403)
  src/dashboard-front/package.json
  src/dashboard-front/vite.config.ts
Due: none

feature(bk-rate-limit): 特殊应用频率限制插件支持克隆 --story=130368443
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
Due: none

fix(version): 资源版本详情样式修复
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(version): 资源版本详情样式修复 (#2453)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(online-debugging): 在线调试 ai 诊断不显示问题修复
  src/dashboard-front/src/views/online-debugging/components/ResponseContent.vue
Due: none

fix(online-debugging): 在线调试 ai 诊断不显示问题修复 (#2454)
  src/dashboard-front/src/views/online-debugging/components/ResponseContent.vue
Due: none

fix(online-debugging): 在线调试 ai 诊断不显示问题修复 (#2455)
  src/dashboard-front/src/views/online-debugging/components/ResponseContent.vue
Due: none

docs(agents.md): update
  src/dashboard/.gitignore
  src/dashboard/AGENTS.md
Due: none

refactor(v2_sync): normalize grant_dimension to gateway/resource in v2_sync_grant_permission
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

docs(v2_sync): remove api compat value from grant_dimension API docs
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(front-end): 版本资源详情翻页 # Reviewed, transaction id: 74615
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

feat(front-end): 版本资源详情翻页 (#2458)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

docs(agents.md): update (#2456)
  src/dashboard/.gitignore
  src/dashboard/AGENTS.md
Due: none

refactor(v2_sync): normalize grant_dimension to gateway/resource in v2_sync_grant_permission (#2457)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/open): fix v2 sync grant permission
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): 删除mcpserver时清除对应的缓存
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(resource-import): serialize spec data as JSON before passing to ResolvingParser
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

fix(front-end): 优化版本资源详情滚动 # Reviewed, transaction id: 74635
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(front-end): 优化版本资源详情滚动 (#2463)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(front-end): 修复版本资源详情抽屉 # Reviewed, transaction id: 74645
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(front-end): 修复版本资源详情抽屉 (#2465)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(mcp-proxy): 删除mcpserver时清除对应的缓存 (#2460)
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(api/open): fix v2 sync grant permission (#2459)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_grant_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): 删除mcpserver时清除对应的缓存 (#2461)
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(resource-import): serialize spec data as JSON before passing to ResolvingParser (#2464)
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

fix(resource-import): serialize spec data as JSON before passing to ResolvingParser (#2462)
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

feat(core): expand Resource description max_length from 512 to 2048
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/core/migrations/0048_alter_resource_description_max_length_to_2048.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

fix(test): update missed test case for new description max_length 2048
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

feat(core): expand Resource description max_length from 512 to 2048 (#2466)
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/core/migrations/0048_alter_resource_description_max_length_to_2048.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

feat(core): expand Resource description max_length from 512 to 2048 (#2467)
  src/dashboard/apigateway/apigateway/biz/resource/importer/validate.py
  src/dashboard/apigateway/apigateway/core/migrations/0048_alter_resource_description_max_length_to_2048.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_validate.py
Due: format, ruff, mypy, import-linter

fix: 创建Mcp刷新工具会重置环境选项 --story=131249935
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
