Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(mcp-proxy): fix tool update
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

fix(mcp-proxy): fix tool update (#2312)
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

test(api/open/v2): add unittests
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(api): fix mcpserver desc
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

fix(blue_krill): upgrade to newest, support bk-storage subpath
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(pyproject.toml): upgrade blue-krill version
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(mcp-proxy): fix tool update (#2316)
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

feature(McpServer): prompt内容支持特殊字符转义 --story=128610838
  src/dashboard-front/env.d.ts
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ai-seek/AiChatSlider.vue
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderSystem.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/operate-data/access-log/Detail.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/ResourceSearcher.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/Base64Decoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JwtDecoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/UrlDecoder.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(front-end): 修复多个测试单据 # Reviewed, transaction id: 70814
  src/dashboard-front/index.prod.html
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/audit-log.ts
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/component-management.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(front-end): 修复多个测试单据 # Reviewed, transaction id: 70819
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/audit-log.ts
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/component-management.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(front-end): 修复多个测试单据 (#2322)
  src/dashboard-front/index.prod.html
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/audit-log.ts
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/component-management.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(front-end): 修复多个测试单据 (#2323)
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/audit-log.ts
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/component-management.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feat(api/web): mcpserver tool support rename
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feature(McpServer): 编程网关McpServer资源跳转需要禁用 --story=129816844
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(fixtures/plugins.yaml): fix response-rewrite plugin (#2088)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): add ingration test
  .github/workflows/mcp-proxy.yml
  src/mcp-proxy/Makefile
  src/mcp-proxy/tests/integration/docker-compose.yml
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/integration_suite_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(mcp-proxy): add ingration test
  .github/workflows/mcp-proxy.yml
  src/mcp-proxy/Makefile
Due: fmt, lint

feat(mcp-proxy): add ingration test
  .github/workflows/mcp-proxy.yml
Due: none

fix(api): fix mcpserver desc (#2317)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
Due: format, ruff, mypy, import-linter

fix(fixtures/plugins.yaml): fix response-rewrite plugin (#2088) (#2327)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

fix(pyproject.toml): upgrade blue-krill version (#2319)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(bk-apigateway-definition.yaml): update bk-apigateway release version
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(blue_krill): upgrade to newest, support bk-storage subpath (#2318)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

fix(api/mcpserver): fix
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_models.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(api): add approved url
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(api): add url
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(apis/v2/open): add time tools (#2297)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/log.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix: mcpserver desc and add url (#2329)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(api): add approve url and fix bug (#2328)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_server): applied_by convert to display_name
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复部分体验单据
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/DownloadDialog.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/ReleaseProgrammable.vue
Due: none

feature(McpServer): mcp创建/更新 选择sse 添加提示 --story=129838992
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(front-end): 修复资源标签 & mcp 市场翻页 # Reviewed, transaction id: 70951
  src/dashboard-front/package-lock.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/types/resource.ts
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/EditImportResourceSideSlider.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
