Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(front-end): 修复资源请求参数表格样式 # Reviewed, transaction id: 76096
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

fix(mcp-proxy): fix mcp tool schema
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(front-end): 修复资源请求参数表格样式 (#2546)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

fix(front-end): 修复资源请求参数表格样式 (#2544)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

fix: 优化Mcp创建结果预览高度自适应左侧、tooltip一处会有滚动条、表格数量大单页勾选响应延迟慢
  src/dashboard-front/src/views/mcp-server/Index.vue
Due: none

fix(api/open): fix mcpserver api (#2542)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

feat(front-end): 展示发布日志的数据面 # Reviewed, transaction id: 76155
  src/dashboard-front/src/components/release-stage-event/Index.vue
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

feat(front-end): 流量染色插件文案 # Reviewed, transaction id: 76156
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 流量染色插件文案 (#2549)
  src/dashboard-front/src/components/plugin-form/bk-traffic-label/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 展示发布日志的数据面 (#2548)
  src/dashboard-front/src/components/release-stage-event/Index.vue
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

feat(plugin): add description field to PluginType model
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/urls.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0016_add_plugintype_description.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/apis/web/plugin/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): make tool output schema optional
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

feat(front-end): 调整数据面展示内容 # Reviewed, transaction id: 76176
  src/dashboard-front/src/components/release-stage-event/Index.vue
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

fix(mcp-proxy): extract tool output schema from response body
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

feat(front-end): 调整数据面展示内容 (#2551)
  src/dashboard-front/src/components/release-stage-event/Index.vue
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

fix(front-end): 修复权限审批数据刷新问题 # Reviewed, transaction id: 76182
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(front-end): 修复权限审批数据刷新问题 # Reviewed, transaction id: 76183
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

feat(plugin): add description field to PluginType model (#2550)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/urls.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0016_add_plugintype_description.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/apis/web/plugin/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复权限审批数据刷新问题 (#2553)
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(front-end): 修复权限审批数据刷新问题 (#2552)
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

Fix mcp input schema (#2545)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool schema (#2547)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool output schema
  src/mcp-proxy/Makefile
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/infra/trace/init_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat: remove PluginForm references (phase 1)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/test_managers.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: format, ruff, mypy, import-linter

feat: remove PluginForm references (phase 1) (#2555)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/tests/apps/plugin/test_managers.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): fix mcp tool output schema
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool output schema
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool output schema
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/Makefile
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
Due: fmt, lint

fix(mcp-proxy): fix mcp tool output schema
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
Due: fmt, lint

fix(MCP): 修复表格本地分页过多频繁触发事件会造成勾选卡顿、结果预览tooltip过长会出现滚动条、stage接口会阻塞详情接口主线程渲染
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/directives/index.ts
  src/dashboard-front/src/hooks/use-tdesign-selection.ts
  src/dashboard-front/src/utils/stopClickOutside.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feature(MCP): McpServer列表页支持详情页跳转 --story=53986136
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
Due: none

feat(front-end): 告警策略过滤 & 逻辑优化 # Reviewed, transaction id: 76281
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/monitor.ts
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(mcp-proxy): fix mcp tool output schema
  src/mcp-proxy/.dockerignore
  src/mcp-proxy/.gitignore
  src/mcp-proxy/Dockerfile
Due: fmt, lint

feat(front-end): 告警策略过滤 & 逻辑优化 (#2560)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/monitor.ts
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(mcp-proxy): fix mcp tool output schema (#2557)
  src/mcp-proxy/.dockerignore
  src/mcp-proxy/.gitignore
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(mcp-proxy): fix mcp tool output schema (#2556)
  src/mcp-proxy/Dockerfile
  src/mcp-proxy/Makefile
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/trace/init.go
  src/mcp-proxy/pkg/infra/trace/init_test.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/docker-compose.yml
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(api/open): fix mcpserver sync
  .github/workflows/core-api.yml
  .github/workflows/dashboard.yml
  .github/workflows/mcp-proxy.yml
  .gitignore
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_retrieve_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/bin/post_migrate
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
