Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feature(plugin): 使用自定义页面实现插件bk-cors跨域资源共享（CORS --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/InputComponent.vue
  src/dashboard-front/src/components/plugin-manage/components/InputNumberComponent.vue
  src/dashboard-front/src/components/plugin-manage/components/SelectComponent.vue
  src/dashboard-front/src/components/plugin-manage/components/SwitchComponent.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

feat(plugin-form): 插件表单校验完善 (#2087)
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
Due: none

docs(version_log): add release log for 1.20 (#2083)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(bk-cors): 修复allow_origins_by_regex错误提示会有边距 --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
Due: none

fix(front-end): 修复一些样式 & 体验问题 (#2084)
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

feat(plugin/response-rewrite): response 转换插件校验修改 (#2089)
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
Due: none

feat(doc_links): add plugin (#2070)
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复统计报表的时区查询问题 (#2079)
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
Due: format, ruff, mypy, import-linter

fix(bk-rate-limit): 补充修复bk-rate-limit漏掉的翻译 --story=128374565
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(service/plugin): 修复 response-rewrite 插件 status_code 转换问题 (#2093)
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复 redirect 插件状态码不可清除的问题 (#2100)
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
Due: none

feat(plugin-form): fault-injection 故障注入表单校验修改 (#2097)
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(fixtures/plugins.yaml): fix response-rewrite plugin (#2088)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

fix(front-end): 优化插件表单校验 (#2091)
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/components/UserInput.vue
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(basic-info): 启停按钮调整 (#2099)
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feat(service/plugin): add ai-rate-limiting plugin (#2066)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
Due: format, ruff, mypy, import-linter

fix(online-debugging): 修复在线调试请求 query 参数失效问题 (#2103)
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
Due: none

feat(service/plugin): add ai-proxy plugin (#2025)
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/convertor.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

feat(front-end): 添加/修复一些 1.21 特性/问题 (#2115)
  src/dashboard-front/src/components/plugin-manage/ConfigDisplayTableRateLimit.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/resource-detail/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
Due: none

feature(MCP): MCP Server模块支持中文名 --story=129087782
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(front-end): 修复 mcp 工具描述过长问题 (#2112)
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feat(app/mcp_server): add mcp title (#2110)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/admin.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0005_mcpserver_title.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/permission.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: format, ruff, mypy, import-linter

fix(front-end): stage 不可选时展示 validate message (#2105)
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

Ft 1.20 support subpath (#2131) (#2132)
  src/dashboard-front/Dockerfile
  src/dashboard-front/bin/entrypoint.sh
  src/dashboard-front/default.html
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/public/runtime-env.js
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/vite.config.ts
Due: none

feat(front-end): mcp 服务器描述必填 & 长度限制 (#2130)
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(front-end): 未发布的环境仍可发布资源版本 (#2123)
  src/dashboard-front/src/components/release-stage/Index.vue
Due: none

fix(dockerfile): fix file missing (#2134)
  src/dashboard-front/Dockerfile
Due: none

feat(menu): 导航菜单改版 (#2135)
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(plugin-form): 故障注入表单修改 (#2120)
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(app/mcp-server): add doc (#2119)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0006_mcpserverextend.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: format, ruff, mypy, import-linter

feat(plugin-form): access-token 表单修改 (#2142)
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(mcp): 修复mcp部分样式问题 --story=129087782
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/permission/record/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(sync/smoke/resources.yaml): fix case fail for bk-access-token-source (#2137)
  test/sync/smoke/resources.yaml
Due: none

feat(dashboard/account): support user timezone (#2141)
  src/dashboard/apigateway/apigateway/account/middlewares.py
  src/dashboard/apigateway/apigateway/account/views.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcperver test (#2146)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): fix memory leak (#2139) (#2145)
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(online-debug): 在线调试去重试 (#2150)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadBody.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/online-debugging/components/Top.vue
Due: none

feat(apis/web/gateway): support operation status for gateway list (#2149)
  src/dashboard/Dockerfile
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

feature(mcp): mcp自定义使用指引填充默认内容 --story=128746555
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
Due: none

fix(front-end): 修复资源抽屉响应参数不展示的问题 (#2155)
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none
