Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feature(mcp): 修改自定义指引排版 --story=129486151
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(api/open): mcp permission api add aprove url (#2226)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_mcp_server_app_permissions_apply.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/mcp/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feature(mcp): mcp卡片布局整改 --story=129548426
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/utils/dayUtc.ts
  src/dashboard-front/src/utils/index.ts
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp): 提交漏缺的自定义utc时间格式翻译 --story=129548426
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/utils/dayUtc.ts
Due: none

feat(base-info): 网关添加弃用标识 (#2240)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feature(mcp): 适配小屏幕卡片布局 --story=129548426
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(fixtures/plugins.yaml): make ai plugins is_public false (#2239)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(front-end): 修复响应参数 array 类型展示 (#2248)
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

feat(front-end): 导入 schema 快速生成资源请求参数和响应参数 (#2254)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(ResourceVersion): 修复切换网关后资源版本页面数据未实时更新 -story=129603926
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/utils/dayUtc.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(app/mcp_server): fix mcpserver desc (#2256)
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0009_alter_mcpserver_description.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
Due: format, ruff, mypy, import-linter

feat(front-end): 上传 JSON 生成请求参数和响应 (#2259)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

fix(front-end): 修复资源请求参数导入按钮 (#2255)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

fix(front-end): 修复资源请求体的 array 类型展示 (#2268)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix(mcp): 修改mcp描述限制大小 --story=128610838
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feature(mcp): mcpServer增加触底翻页 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/hooks/use-pop-info-box.tsx
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/utils/dayUtc.ts
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

feat(front-end): mcp 市场触底翻页 (#2265)
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(front-end): 请求/响应参数导入文件体积限制 (#2286)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none

feature(prompt): prompt增加查询详情接口 --story=128610838
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

fix(api/web): fix mcpserver list order by update_time (#2276)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
Due: format, ruff, mypy, import-linter

feat(tasks/clean_task.py): add cleanup task for legacy resource version (#2275)
  src/dashboard/apigateway/apigateway/apps/openapi/migrations/0003_alter_openapifileresourceschemaversion_gateway_and_more.py
  src/dashboard/apigateway/apigateway/apps/openapi/models.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix mcpserver prompts (#2274)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

feat(delete_old_stats_records): add cron job for delete_old_stats_records (#2282)
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter

feature(prompt): 修复流水线构建失败 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
Due: none

fix(api/web): fix mcpserver doc (#2291)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
Due: format, ruff, mypy, import-linter

fix(doc): fix apigateway doc (#2300)
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
Due: none

feature(McpMarket): Mcp市场详情补充自定义指引内容 --story=128610838 (#2294)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feature(McpServer): 优化Mcp卡片兼容描述不存在时样式问题 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
Due: none

fix(conf/default.py): add COOKIE_DOMAIN for dashboard (#2289)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(home): 网关列表已停用网关操作变更 (#2306)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

feature(McpServer): 优化Mcp下拉菜单操作按钮点击区域 --story=128610838
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(front-end): 请求/响应参数填写校验 (#2310)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

feature(McpServer): 编程网关McpServer资源跳转需要禁用 --story=129816844
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

fix(mcp-proxy): fix tool update (#2313)
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: fmt, lint

fix(front-end): 修复多个测试单据 (#2322)
  src/dashboard-front/index.prod.html
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/audit-log.ts
  src/dashboard-front/src/services/source/backend-services.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/component-management.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

feature(McpServer): prompt内容支持特殊字符转义 --story=128610838
  src/dashboard-front/env.d.ts
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ai-seek/AiChatSlider.vue
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderSystem.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/operate-data/access-log/Detail.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/ResourceSearcher.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/Base64Decoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JsonFormat.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/JwtDecoder.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/UrlDecoder.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
Due: none

fix(commands/revoke_gateways.py): should wait for the deactivate publish finished (#2305)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_gateways.py
Due: format, ruff, mypy, import-linter

fix(front-end): 动态表单加载失败时正确报错 (#2315)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
Due: none

feat(apis/v2/open): add time tools (#2297)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/access_log/views.py
  src/dashboard/apigateway/apigateway/biz/access_log/log.py
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(apis/web/mcp_server): applied_by convert to display_name (#2331)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter
