Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(front-end): 增加个人令牌表单项的 hover 说明 --story=137056613 (#3154)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(front-end): 增加个人令牌表单项的 hover 说明 --story=137056613 (#3153)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/BaseInfo.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(front-end): 修复资源配置表格大页码下数据遮挡的问题 --story=137047574 (#3156)
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

refactor: issue
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复前端开发环境中表格样式被错误覆盖的问题 --story=137062783
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/main.ts
Due: none

fix(front-end): 修复前端开发环境中表格样式被错误覆盖的问题 --story=137062783 (#3157)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/main.ts
Due: none

feat: support ai gateway yaml import and export in ui and e2e flows (#3146)
  src/dashboard/apigateway/apigateway/apis/web/resource/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/biz/openapi/openapi.py
  src/dashboard/apigateway/apigateway/biz/openapi/parser.py
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_2.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.0_schema.json
  src/dashboard/apigateway/apigateway/biz/openapi/schemas/openapi_3.1_schema.json
  src/dashboard/apigateway/apigateway/biz/resource_doc/importer/parsers.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/sync_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_resources.md
  src/dashboard/apigateway/apigateway/service/resource_version/openapi_export.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_doc/impoter/test_parsers.py
Due: format, ruff, mypy, import-linter

docs(changelog): add V1.23.2 release notes
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(changelog): add V1.23.2 release notes (#3158)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(monitor): handle missing app_code gracefully in alerts
  src/dashboard/apigateway/apigateway/components/bkauth.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkauth.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
Due: format, ruff, mypy, import-linter

fix(monitor): handle missing app_code gracefully in alerts (#3159)
  src/dashboard/apigateway/apigateway/components/bkauth.py
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkauth.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
Due: format, ruff, mypy, import-linter

feat(inner): add MCP server lookup API
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/lint/test_bk_auth_resource_grants.py
Due: format, ruff, mypy, import-linter

feat(inner): add MCP server lookup API (#3160)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/lint/test_bk_auth_resource_grants.py
Due: format, ruff, mypy, import-linter

feat(inner): add MCP server lookup API (#3161)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/lint/test_bk_auth_resource_grants.py
Due: format, ruff, mypy, import-linter

feat(inner): add released resource lookup API
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_gateway_lookup_views.py
  src/dashboard/apigateway/apigateway/tests/lint/test_bk_auth_resource_grants.py
Due: format, ruff, mypy, import-linter

feat(inner): add released resource lookup API (#3163)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_gateway_lookup_views.py
  src/dashboard/apigateway/apigateway/tests/lint/test_bk_auth_resource_grants.py
Due: format, ruff, mypy, import-linter

feat(inner): add released resource lookup API (#3162)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_lookup_gateway_released_resources.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_gateway_lookup_views.py
  src/dashboard/apigateway/apigateway/tests/lint/test_bk_auth_resource_grants.py
Due: format, ruff, mypy, import-linter

feat(api): add v2 lookup endpoints
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_lookup_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_lookup_mcp_server_app_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_lookup_resource_versions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(api): avoid default lookup permission grants
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

feat(api): add v2 lookup endpoints (#3164)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_lookup_gateways.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_lookup_mcp_server_app_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_lookup_resource_versions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): keep programmable stage list usable after PaaS publish
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/test_releaser.py
Due: format, ruff, mypy, import-linter

fix(api): align v2 schemas with runtime contracts
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_generate_sdk.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
Due: format, ruff, mypy, import-linter

fix(dashboard): keep programmable stage list usable after PaaS publish (#3165)
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/test_releaser.py
Due: format, ruff, mypy, import-linter

fix(dashboard): keep programmable stage list usable after PaaS publish (#3166)
  src/dashboard/apigateway/apigateway/biz/programmable/releaser.py
  src/dashboard/apigateway/apigateway/tests/biz/programmable/test_releaser.py
Due: format, ruff, mypy, import-linter

fix(dashboard): surface readable PaaS API failures
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
Due: format, ruff, mypy, import-linter

fix(api): standardize v2 list pagination
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_request_logs.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_list_resource_versions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
Due: format, ruff, mypy, import-linter

fix(dashboard): surface readable PaaS API failures (#3167)
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkpaas.py
Due: format, ruff, mypy, import-linter

fix(api): correct v2 response contracts
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_generate_sdk.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
Due: format, ruff, mypy, import-linter

fix(api): align v2 contracts and pagination (#3168)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_request_logs.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_get_released_resources.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_generate_sdk.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_list_resource_versions.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/test_openapi_contracts.py
Due: format, ruff, mypy, import-linter

docs(api): define v2 list and lookup contracts
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
Due: none

docs(api): deprecate legacy v2 paginator
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
Due: none

docs(api): define v2 list and lookup contracts (#3169)
  src/dashboard/apigateway/apigateway/apis/AGENTS.md
Due: none

fix(cron): refresh official category for official-gateway MCP servers
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/tests/apps/mcp_server/test_tasks.py
Due: format, ruff, mypy, import-linter

test(mcp-proxy): benchmark proxy allocation hotspots
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
Due: fmt, lint

test(mcp-proxy): benchmark proxy allocation hotspots
  src/mcp-proxy/go.mod
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
Due: fmt, lint

test(mcp-proxy): benchmark proxy allocation hotspots (#3172)
  src/mcp-proxy/go.mod
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
Due: fmt, lint

fix(dashboard): bump batch resource updated_time and drop unused helpers
  src/dashboard/apigateway/apigateway/apis/open/utils/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/data_models.py
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource/test_views.py
Due: format, ruff, mypy, import-linter
