Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(resource-version): align batch delete audit data_before with single delete format
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
Due: format, ruff, mypy, import-linter

fix(resource-version): limit batch delete ids to max 100
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): temporarily disable MCP tool OutputSchema (#2573)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(front-end): 去除预期外的 tag-input 复制按键 # Reviewed, transaction id: 76633
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(front-end): 去除预期外的 tag-input 复制按键 # Reviewed, transaction id: 76635
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(front-end): 去除预期外的 tag-input 复制按键 (#2576)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

fix(front-end): 去除预期外的 tag-input 复制按键 (#2575)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/ActiveChecks.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
Due: none

feat(online-debugging): 在线调试多 tab 调试资源
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useOnlineDebugging.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadHeaders.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadParams.vue
Due: none

feat(online-debugging): 在线调试多 tab 调试资源 (#2579)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useOnlineDebugging.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadHeaders.vue
  src/dashboard-front/src/views/online-debugging/components/PayloadParams.vue
Due: none

feature(MCP): mcpserver 管理端(卡片或者列表)展示是否公开信息 --story=132591398 && 修复TagInput无法失焦关闭 --story=155972193
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp-proxy): configurable log truncation, remove output schema, batch cleanup
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/database/init.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/tests/integration/helper_test.go
  src/mcp-proxy/tests/integration/sse_test.go
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

feat(mcp): add observability for MCP Server with log search and metrics
  src/dashboard-front/src/services/source/access-log.ts
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/__init__.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_metrics/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/metrics_constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/__init__.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/constants.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/log_search.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/service/prometheus/mcp_server_dimension.py
  src/dashboard/apigateway/apigateway/urls.py
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/metric/init.go
  src/mcp-proxy/pkg/metric/init_test.go
  src/mcp-proxy/tests/integration/config.yaml
  src/mcp-proxy/tests/integration/metrics_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

chore(lint): remove stale ESB ignore rules from import-linter config
  src/dashboard/pyproject.toml
Due: none

fix(mcp): fix mypy type errors in MCP Server metrics factory registry
  src/dashboard/apigateway/apigateway/service/prometheus/mcp_server_dimension.py
Due: format, ruff, mypy, import-linter

revert(front-end): revert accidental change to access-log.ts
  src/dashboard-front/src/services/source/access-log.ts
Due: none

revert(lint): restore ESB ignore rules needed for EE edition import-linter
  src/dashboard/pyproject.toml
Due: none

fix(mcp): fix CI failures and code review issues
  src/dashboard/apigateway/apigateway/apis/web/mcp_server_log/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server_log/chain_search.py
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

fix(mcp-proxy): init metrics in middleware test suite to prevent nil pointer panic
  src/mcp-proxy/pkg/middleware/middleware_suite_test.go
Due: fmt, lint

fix(conf): change ENABLE_RUN_DATA and ENABLE_RUN_DATA_METRICS defaults to False
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feat(resource-version): support single and batch deletion of resource versions (#2574)
  src/dashboard/AGENTS.md
  src/dashboard/apigateway/apigateway/apis/web/resource_version/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/urls.py
  src/dashboard/apigateway/apigateway/apis/web/resource_version/views.py
  src/dashboard/apigateway/apigateway/biz/audit/auditor.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/resource_version/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_resource_version.py
Due: format, ruff, mypy, import-linter

feat(test): add agent-based browser test suite for API Gateway dashboard
  .agents/skills/agent-test/SKILL.md
  .gitignore
  AGENTS.md
  specs/001-agent-test-suite/checklists/requirements.md
  specs/001-agent-test-suite/contracts/test-case-format.md
  specs/001-agent-test-suite/contracts/test-report-format.md
  specs/001-agent-test-suite/data-model.md
  specs/001-agent-test-suite/plan.md
  specs/001-agent-test-suite/quickstart.md
  specs/001-agent-test-suite/research.md
  specs/001-agent-test-suite/spec.md
  specs/001-agent-test-suite/tasks.md
  test/agent-tests/AGENTS.md
  test/agent-tests/config.md
  test/agent-tests/convert_excel.py
Due: none

fix(data/apigw-definitons): fix tool name
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(data/apigw-definition): fix tool name
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(data/apigw-definition): fix tool name (#2583)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(conf/default): change default value to false
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat: agent-test
  .agents/skills/agent-test/SKILL.md
  test/agent-tests/AGENTS.md
  test/agent-tests/helpers.js
  test/agent-tests/selector-cache.json
Due: none

fix(data/apigw-definitons): fix mcpserver tool schema
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

fix(data/apigw-definitons): fix mcpserver tool schema (#2584)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(gateway): notify maintainers about inactive gateways
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/templates/gateway/inactive_gateway_notify_template.html
  src/dashboard/apigateway/apigateway/tests/apps/gateway/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_tasks.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

feat(front-end): 资源版本可删除 & 配额提示 # Reviewed, transaction id: 76875
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

feat(front-end): 资源版本可删除 & 配额提示 (#2586)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

feature(MCP): 修复hover MCP工具会一直触发工具详情接口 --story=133026563
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix: SKILL.md and AGENTS.md
  .agents/skills/agent-test/SKILL.md
  AGENTS.md
  test/agent-tests/AGENTS.md
  test/agent-tests/helpers.js
  test/agent-tests/selector-cache.json
Due: none

docs: agent-test
  .agents/skills/agent-test/SKILL.md
  test/agent-tests/AGENTS.md
Due: none

fix(MCP): 修复1.21版本Input未引入导致样式错乱 --story=133026563
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(MCP): 兼容requestIdleCallback函数在旧版浏览器无法识别问题 --story=133026563
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(conf): change ENABLE_RUN_DATA and ENABLE_RUN_DATA_METRICS defaults to False (#2581)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(cr/comments): fix the comments
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter
