Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(apps/gateway/commands): add revoke_stage
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_stage.py
Due: format, ruff, mypy, import-linter

fix: fix imports
  src/dashboard/pyproject.toml
Due: none

fix
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_stage.py
Due: format, ruff, mypy, import-linter

build(dockerfile): update source
  src/dashboard/Dockerfile
Due: none

build(dockerfile): update source (#1660)
  src/dashboard/Dockerfile
Due: none

refactor(resource): 迁移 MCP Server # Reviewed, transaction id: 51580
  src/dashboard-front/bun.lock
  src/dashboard-front/src/components/custom-table-header-filter/custom-table-header-filter.scss
  src/dashboard-front/src/components/custom-table-header-filter/index.tsx
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/mcp-server/route.ts
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
Due: none

Update dashboard-front.yml
  .github/workflows/dashboard-front.yml
Due: none

refactor(resource): 迁移 MCP Server (#1662)
  src/dashboard-front/bun.lock
  src/dashboard-front/src/components/custom-table-header-filter/custom-table-header-filter.scss
  src/dashboard-front/src/components/custom-table-header-filter/index.tsx
  src/dashboard-front/src/components/member-selector/index.tsx
  src/dashboard-front/src/components/plugin-manage/WhitelistTable.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CustomTop.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/mcp-server/route.ts
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
Due: none

feat(apps/gateway/commands): add export_inactive_gateways_by_resource
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_inactive_gateways_by_resource.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

refactor(resource): 迁移 API 文档 # Reviewed, transaction id: 51640
  src/dashboard-front/bun.lock
  src/dashboard-front/package.json
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/layout/docs/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/chat.ts
  src/dashboard-front/src/services/source/docs-esb.ts
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/services/source/sdks.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideNav.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionSlider.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/api-docs/route.ts
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

refactor(resource): 迁移 API 文档 (#1665)
  src/dashboard-front/bun.lock
  src/dashboard-front/package.json
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/layout/docs/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/chat.ts
  src/dashboard-front/src/services/source/docs-esb.ts
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/services/source/sdks.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideNav.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionSlider.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/api-docs/route.ts
  src/dashboard-front/src/views/api-docs/types.d.ts
  src/dashboard-front/src/views/resource-management/settings/import/components/TableResToAction.vue
Due: none

feat(mcp-market): mcp 市场重构
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/ai-seek/AiChatSlider.vue
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/images/mcp-banner.jpg
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/access-log.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/online-debugging.ts
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/styles/app-doc.scss
  src/dashboard-front/src/styles/flex.scss
  src/dashboard-front/src/styles/index.scss
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-market/routes.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/components/SearchInput.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
  src/dashboard-front/src/views/operate-data/report/components/Chart.vue
  src/dashboard-front/src/views/operate-data/route.ts
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

feat(mcp-market): mcp 市场重构 (#1666)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/ai-seek/AiChatSlider.vue
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/images/mcp-banner.jpg
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/access-log.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/services/source/docs.ts
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/online-debugging.ts
  src/dashboard-front/src/services/source/report.ts
  src/dashboard-front/src/styles/flex.scss
  src/dashboard-front/src/styles/index.scss
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-market/routes.ts
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/online-debugging/components/RequestRecord.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/components/SearchInput.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/Top.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
  src/dashboard-front/src/views/operate-data/report/components/Chart.vue
  src/dashboard-front/src/views/operate-data/route.ts
  src/dashboard-front/src/views/stage-management/components/ReleaseProgrammableEvent.vue
Due: none

feature: 组件管理模块重构 --stroy=125692400
  src/dashboard-front/package.json
  src/dashboard-front/src/components/ag-ring/Index.vue
  src/dashboard-front/src/enums/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-query-list.ts
  src/dashboard-front/src/layout/component-management/Index.vue
  src/dashboard-front/src/services/source/category.ts
  src/dashboard-front/src/services/source/componentManagement.ts
  src/dashboard-front/src/services/source/runTime.ts
  src/dashboard-front/src/services/source/system.ts
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/intro/Index.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderConfig.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderSystem.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncHistory.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/component-management/route.ts
  src/dashboard-front/src/views/component-management/runtime-data/Chart.vue
  src/dashboard-front/src/views/component-management/runtime-data/Detail.vue
  src/dashboard-front/src/views/component-management/runtime-data/Index.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/record/Index.vue
Due: none

fix(mcp-market): mcp 接口文件冲突解决
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/services/source/mcp-market.ts
Due: none

Update dashboard-front.yml (#1663)
  .github/workflows/dashboard-front.yml
Due: none

feat(apps/gateway/commands): add revoke_stage (#1658)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/revoke_stage.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix: 表格loading效果优化
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/component-management/runtime-data/Detail.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
Due: none

fix(mcp-market): mcp 接口文件冲突解决 (#1667)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/services/source/mcp-market.ts
Due: none

fix: 表格loading效果优化 (#1668)
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  src/dashboard-front/src/views/component-management/runtime-data/Detail.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
Due: none

refactor(tags): 标签格式 # Reviewed, transaction id: 51701
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/card-container/Index.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionSlider.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderConfig.vue
  src/dashboard-front/src/views/component-management/runtime-data/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/OverviewMode.vue
Due: none

fix: fix mcp version validate
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

fix(apis/v2/inner): fix mcp-server permission api
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
Due: format, ruff, mypy, import-linter

fix: fix mcp version validate (#1670)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

refactor(locale): 语言切换 # Reviewed, transaction id: 51709
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/user-info/Index.vue
  src/dashboard-front/src/locales/index.ts
  src/dashboard-front/src/utils/getLoginURL.ts
  src/dashboard-front/src/views/home/Index.vue
Due: none

refactor(tags): 标签格式 (#1669)
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/card-container/Index.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionSlider.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderConfig.vue
  src/dashboard-front/src/views/component-management/runtime-data/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/OverviewMode.vue
Due: none

fix: fix mcp version validate (#1673)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

refactor(locale): 语言切换 (#1671)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/language-toggle/Index.vue
  src/dashboard-front/src/components/user-info/Index.vue
  src/dashboard-front/src/locales/index.ts
  src/dashboard-front/src/utils/getLoginURL.ts
  src/dashboard-front/src/views/home/Index.vue
Due: none

fix: version
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: none

fix(apis/v2/inner): fix mcp-server permission api
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: format, ruff, mypy, import-linter

fix(components): fix paas create app
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(components): fix paas create app (#1675)
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(components): fix create paas app
  src/dashboard/apigateway/apigateway/components/bkpaas.py
Due: format, ruff, mypy, import-linter

fix(components): fix create paas app (#1676)
  src/dashboard/apigateway/apigateway/components/bkpaas.py
Due: format, ruff, mypy, import-linter

fix(apis/v2/inner): fix mcp-server permission api (#1672)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: format, ruff, mypy, import-linter

fix(apis/v2/inner): fix mcp-server permission api (#1674)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_resource_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
Due: format, ruff, mypy, import-linter
