Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(apis/web): 新增网关环境发布检查接口 (#2060)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix: fix response
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

feat(middleware): add mcp server header
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(middleware): add mcp server header
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(middleware): add mcp server header (#2054)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(mcp_proxy/middleware): add mcp headers (#2062)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(mcp_proxy/middleware): add mcp headers (#2061)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feature(plugin) :自定义页面实现插件bk-rate-limit频率控制 --story=128374565
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/InputComponent.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/InputNumberComponent.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/SelectComponent.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
  src/dashboard-front/src/utils/duplicateKeys.ts
  src/dashboard-front/src/utils/yaml2Json.ts
Due: none

feat(controller/convertor/service.py): remove desc field from service
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

feat(controller/convertor/service.py): comment unuse var
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

feat(src/dashboard/apigateway/apigateway/controller/convertor/service.py): comment unused var
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

feat(service/plugin): add ai-rate-limiting plugin
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
Due: format, ruff, mypy, import-linter

feat(controller/convertor/service.py): remove desc field from service (#2064)
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

feat(controller/convertor/service.py): remove desc field from service (#2065)
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

feature(plugin): 使用自定义页面实现插件bk-cors跨域资源共享（CORS --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/InputComponent.vue
  src/dashboard-front/src/components/plugin-manage/components/InputNumberComponent.vue
  src/dashboard-front/src/components/plugin-manage/components/SelectComponent.vue
  src/dashboard-front/src/components/plugin-manage/components/SwitchComponent.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

feat(basic-info): 启停按钮做判断 & 删除等待加载效果
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feat(basic-info): 启停按钮做判断 & 删除等待加载效果 (#2069)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feat(basic-info): 启停按钮做判断 & 删除等待加载效果 (#2068)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feat(doc_links): add plugin
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

add plugin links
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

feature(plugin): 增加bk-cors跨域资源共享allow_origins与allow_origins_regex互斥的正则验证 --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/InputNumberComponent.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feature(plugin): cor插件详情支持number类型展示 --story=128374543
  src/dashboard-front/src/components/plugin-manage/CustomTable.vue
Due: none

fix(mcp): 上云环境mcp 详情查看文档跳转报错 --bug=129034779
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(basic-info): 启停操作之后状态修改
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

fix(basic-info): 启停操作之后状态修改 (#2077)
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

fix(basic-info): 启停操作之后状态修改 (#2076)
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

fix(apis/web): 修复统计报表的时区查询问题
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
Due: format, ruff, mypy, import-linter

fix(bk-cors): 修复bk-cors表单嵌套最后一项校验message会重叠 --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/Index.vue
  src/dashboard-front/src/components/plugin-manage/CustomTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
