Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(apps/support): fix trans doc (#2005)
  src/dashboard/apigateway/apigateway/apps/support/task.py
Due: format, ruff, mypy, import-linter

Revert "feat(base-info): 基础信息操作锁定 (#2006)" (#2007)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

fix(front-end): 修复文档批量翻译 (#2004)
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

feat(base-info): 基础信息操作锁定 (#2006)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 (#2011)
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

docs(version_log): add release 1.19 version log (#2017)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(bk-user-display-name): 多租户用户名无法正确渲染 --bug=128713145
  src/dashboard-front/package.json
  src/dashboard-front/src/views/basic-info/components/EditMember.vue
Due: none

fix(base-info): 基本信息操作锁定修改 (#2024)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feature(table): 自定义表格列设置的点击区域扩充到表头单元格 --story=128634877
  src/dashboard-front/src/components/ag-table/Index.vue
Due: none

feat(base-info): 基础信息操作锁定 (#2008)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

fix(apis/web): 修复在线调试的调用历史查询分页问题 (#2032)
  src/dashboard/apigateway/apigateway/apis/web/api_test/views.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复统计报表调用方列表过滤问题 (#2036)
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
Due: format, ruff, mypy, import-linter

fix(table): 修复table组件自定义tooltip单行宽度过长无法换行问题
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
Due: none

fix(api-docs): 网关文档 tooltips 换行 (#2028)
  src/dashboard-front/src/views/api-docs/Index.vue
Due: none

fix(front-end): 修复资源编辑后 schema 丢失 & api文档无法滚动问题 (#2029)
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(api-docs): 网关 API 文档调整 (#2022)
  src/dashboard-front/src/views/api-docs/Index.vue
Due: none

fix(controller/convertor): support revoke_flag for service convertor (#2043)
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/dashboard/apigateway/apigateway/utils/procedure_logger.py
Due: format, ruff, mypy, import-linter

Ft publish delete master (#2049)
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
Due: format, ruff, mypy, import-linter

fix(apis/web): 修复仪表盘 ingress/egress 为空问题 (#2044)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

feat(front-end): 资源插件表单 (#2040)
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-icon/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-request-body-limit/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/components/UserInput.vue
  src/dashboard-front/src/components/plugin-form/proxy-cache/Index.vue
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feature(plugin): 自定义插件bk-ip-restriction --story=128374563 && 自定义插件bk-header-rewrite --story=128374554
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaObjectField.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(components/bkmonitor.py): change component name (#2041)
  src/dashboard/apigateway/apigateway/components/bkmonitor.py
Due: format, ruff, mypy, import-linter

feature(plugin): 自定义插件bk-ip-restriction --story=128374563 && 自定义插件bk-header-rewrite --story=128374554
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaObjectField.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

fix(apis/web/gateway/views.py): trigger gateway delete publish (#2053)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/core/constants.py
Due: format, ruff, mypy, import-linter

fix(plugin): 调整ip、header插件校验规则 --story=128374563
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaField.vue
  src/dashboard-front/src/components/plugin-manage/components/SchemaObjectField.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(mcp_proxy/middleware): add mcp headers (#2061)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/logger.go
  src/mcp-proxy/pkg/util/context.go
Due: fmt, lint

feat(plugin-form): 插件表单接入 (#2056)
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

feature(plugin) :自定义页面实现插件bk-rate-limit频率控制 --story=128374565
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/InputComponent.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/InputNumberComponent.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/RateLimitForm.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/components/SelectComponent.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/schema-type.ts
  src/dashboard-front/src/utils/duplicateKeys.ts
  src/dashboard-front/src/utils/yaml2Json.ts
Due: none

fix(front-end): 修复资源插件表单 (#2058)
  src/dashboard-front/src/components/plugin-form/bk-access-token-source/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-user-restriction/components/UserInput.vue
  src/dashboard-front/src/components/plugin-form/redirect/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(plugin-form): 插件表单开发 (#2055)
  src/dashboard-front/src/components/plugin-form/api-breaker/Index.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/KeyValuePairs.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/StatusCodes.vue
  src/dashboard-front/src/components/plugin-form/api-breaker/components/removeHeaders.vue
  src/dashboard-front/src/components/plugin-form/bk-mock/Index.vue
  src/dashboard-front/src/components/plugin-form/fault-injection/Index.vue
  src/dashboard-front/src/components/plugin-form/request-validation/Index.vue
  src/dashboard-front/src/components/plugin-form/response-rewrite/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(apis/web): 新增网关环境发布检查接口 (#2059)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(mcp): 上云环境mcp 详情查看文档跳转报错 --bug=129034779
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feature(plugin): cor插件详情支持number类型展示 --story=128374543
  src/dashboard-front/src/components/plugin-manage/CustomTable.vue
Due: none

fix(basic-info): 启停操作之后状态修改 (#2077)
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

fix(bk-cors): 修复bk-cors表单嵌套最后一项校验message会重叠 --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-header-rewrite/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-ip-restriction/Index.vue
  src/dashboard-front/src/components/plugin-form/bk-rate-limit/Index.vue
  src/dashboard-front/src/components/plugin-manage/CustomTable.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
Due: none

feat(basic-info): 启停按钮做判断 & 删除等待加载效果 (#2069)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none

feature(plugin): 增加bk-cors跨域资源共享allow_origins与allow_origins_regex互斥的正则验证 --story=128374543
  src/dashboard-front/src/components/plugin-form/bk-cors/Index.vue
  src/dashboard-front/src/components/plugin-manage/components/CustomAddDelForm.vue
  src/dashboard-front/src/components/plugin-manage/components/InputNumberComponent.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat(controller/convertor/service.py): remove desc field from service (#2065)
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
