Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feature: 新建、编辑网关slider整改 --story=125350550 (#1540)
  src/dashboard-front/src/components/create-gateway.vue
Due: none

feature: 资源版本添加导出功能 --story=123767167
  src/dashboard-front/src/components/export-resource-dialog/index.vue
  src/dashboard-front/src/http/resource.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/types/gateway.ts
  src/dashboard-front/src/types/index.ts
  src/dashboard-front/src/views/resource/setting/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
Due: none

fix: 提交漏缺代码
  src/dashboard-front/src/components/export-resource-dialog/index.vue
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/resource/setting/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
Due: none

fix(mcp-proxy): fix mcp response
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(mcp-proxy): fix mcp response (#1548)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(mcp-proxy): fix request_id
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(mcp-proxy): fix request_id
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(mcp-proxy): fix mcp request_id (#1549)
  src/mcp-proxy/pkg/infra/logging/init.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(mcp-proxy): fix mcp sdk verison
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
Due: fmt, lint

fix(mcp-proxy): fix mcp
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix(mcp-proxy): fix mcp proxy
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(mcp): fix request
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(mcp-proxy): fix request id
  src/mcp-proxy/pkg/middleware/request_id.go
Due: fmt, lint

fix(biz/resources): fix schema import
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/biz/resource_openapi_schema.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(mcp): mcp server 访问地址 # Reviewed, transaction id: 48523
  src/dashboard-front/.bk.env
  src/dashboard-front/.bk.production.env
  src/dashboard-front/index.html
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/types/global.d.ts
Due: none

feat(mcp): mcp server 访问地址 (#1552)
  src/dashboard-front/.bk.env
  src/dashboard-front/.bk.production.env
  src/dashboard-front/index.html
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/types/global.d.ts
Due: none

feat(mcp_server/tools): return the schema for tool doc api
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(mcp): 修复 mcp server 访问地址 & 去掉多余环境变量 # Reviewed, transaction id: 48543
  src/dashboard-front/.bk.env
  src/dashboard-front/.bk.production.env
  src/dashboard-front/index.html
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/types/global.d.ts
Due: none

fix(mcp-market): 修复 mcp 市场为空规范 & 基础信息样式调整
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/mcp-market/components/details.vue
  src/dashboard-front/src/views/mcp-market/index.vue
Due: none

fix(mcp): 修复 mcp server 访问地址 & 去掉多余环境变量 (#1554)
  src/dashboard-front/.bk.env
  src/dashboard-front/.bk.production.env
  src/dashboard-front/index.html
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/types/global.d.ts
Due: none

fix(mcp-market): 修复 mcp 市场为空规范 & 基础信息样式调整 (#1555)
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/mcp-market/components/details.vue
  src/dashboard-front/src/views/mcp-market/index.vue
Due: none

fix(conf): fix mcp url
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(mcp_server/tools): return the schema for tool doc api (#1553)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(biz/resources): fix schema import (#1551)
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/biz/resource_openapi_schema.py
Due: format, ruff, mypy, import-linter

feat(apis/v2/open): add mcp_server for open api
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/utils.py
  src/dashboard/apigateway/apigateway/biz/mcp_server.py
Due: format, ruff, mypy, import-linter

fix(resource): 修复资源请求、响应参数配置表格 & 优化体验 # Reviewed, transaction id: 48594
  src/dashboard-front/src/views/resource/setting/comps/request-params-table.vue
  src/dashboard-front/src/views/resource/setting/comps/request-params.vue
  src/dashboard-front/src/views/resource/setting/comps/response-params-sub-table.vue
  src/dashboard-front/src/views/resource/setting/comps/response-params-table.vue
Due: none

fix(resource): 修复资源请求、响应参数配置表格 & 优化体验 (#1557)
  src/dashboard-front/src/views/resource/setting/comps/request-params-table.vue
  src/dashboard-front/src/views/resource/setting/comps/request-params.vue
  src/dashboard-front/src/views/resource/setting/comps/response-params-sub-table.vue
  src/dashboard-front/src/views/resource/setting/comps/response-params-table.vue
Due: none

fix: 修改资源版本导出排版样式
  src/dashboard-front/src/components/export-resource-dialog/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
Due: none

fix(mcp-proxy): fix reload
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix(mcp-proxy): fix reload (#1560)
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
Due: fmt, lint

fix: fix apis
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
Due: format, ruff, mypy, import-linter

fix(components/paas): 去除 update_app_maintainers 接口的用户认证
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

fix(components/paas): 去除 update_app_maintainers 接口的用户认证 (#1561)
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/components/paas.py
Due: format, ruff, mypy, import-linter

feat(bk-user-display-name): API 文档按网关租户模式查询 display_name # Reviewed, transaction id: 48728
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
Due: none

feat(bk-user-display-name): API 文档按网关租户模式查询 display_name # Reviewed, transaction id: 48731
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
Due: none

feat(bk-user-display-name): API 文档按网关租户模式查询 display_name (#1563)
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
Due: none

feat(bk-user-display-name): API 文档按网关租户模式查询 display_name (#1562)
  src/dashboard-front/src/app.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
