Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

perf(mcp-proxy): reuse raw payload metadata for audit logs
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

perf(mcp-proxy): reuse raw payload metadata for logs and metrics
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix(monitor): handle string status in alarm subtype
  src/dashboard/apigateway/apigateway/service/alert_flow/helpers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/test_helpers.py
Due: format, ruff, mypy, import-linter

refactor(mcp-proxy): remove dead response envelope helpers
  src/mcp-proxy/pkg/infra/proxy/helpers_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
Due: fmt, lint

fix(monitor): handle string status in alarm subtype (#2857)
  src/dashboard/apigateway/apigateway/service/alert_flow/helpers.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/test_helpers.py
Due: format, ruff, mypy, import-linter

fix(MCP): 个人工作台代办展开表格存在搜索条件时隐藏loading --story=135098165
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/services/types/query/personal-workbench.ts
  src/dashboard-front/src/services/types/responses/personal-workbench.ts
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/permission/apply/components/ApprovalDialog.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

fix(mcp-proxy): preserve upstream envelope in tool call audit/API logs
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

fix(mcp-proxy): reject invalid declared JSON responses
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

fix(mcp-proxy): encode raw non-json tool responses
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

fix(mcp-proxy): preserve empty text response envelopes
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

fix(review/comments): fix cr comments
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

feat(plugin): add uri-blocker resource plugin support
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/service/plugin/__init__.py
  src/dashboard/apigateway/apigateway/service/plugin/checker.py
  src/dashboard/apigateway/apigateway/tests/service/plugin/test_checkers.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): handle unexpected submit result as tool error
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/response_payload.go
  src/mcp-proxy/pkg/infra/proxy/response_payload_test.go
Due: fmt, lint

fix(MCP): 校验 web MCPServer 归属网关
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(MCP): 校验 web MCPServer 归属网关
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(permission): validate released resource ids on apply
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(MCP): 校验 web MCPServer 归属网关 (#2863)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(permission): validate released resource ids on apply (#2865)
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(MCP): 校验 web MCPServer 归属网关 (#2862)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

test(mcp-proxy/refactor): add tests
  src/mcp-proxy/pkg/infra/proxy/proxy_benchmark_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_refactor_compat_test.go
Due: fmt, lint

fix(mcp-proxy): disable pprof by default
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
Due: fmt, lint

feat(mcp_server): return updater in MCP permission lists
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(permission): validate released resource ids on apply (#2864)
  src/dashboard/apigateway/apigateway/apis/open/permission/views.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/open/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): disable pprof by default (#2866)
  src/mcp-proxy/AGENTS.md
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/config/config_test.go
Due: fmt, lint

fix(front-end): 修复资源版本的国际化词条 --story=135148006
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 修复告警详情数据不展示的问题 --story=135139646
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(front-end): 修复告警详情数据不展示的问题 --story=135139646
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

fix(front-end): 修复告警详情数据不展示的问题 --story=135139646 (#2870)
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
Due: none

fix(front-end): 修复告警详情数据不展示的问题 --story=135139646 (#2871)
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(front-end): 修复告警详情数据不展示的问题 --story=135139646 (#2872)
  src/dashboard-front/src/views/monitor-alarm/alarm-history/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(front-end): 修复资源版本的国际化词条 --story=135148006 (#2869)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

fix(front-end): 修复资源版本的国际化词条 --story=135148006 (#2868)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
Due: none

feat: return updater in app permission list
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/apps/permission/managers.py
  src/dashboard/apigateway/apigateway/apps/permission/migrations/0013_add_permission_handled_by.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_managers.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

refactor(plugin): remove PluginForm concept
  src/dashboard/apigateway/apigateway/apis/web/plugin/AGENTS.md
  src/dashboard/apigateway/apigateway/apps/plugin/admin.py
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/apps/plugin/management/commands/dump_plugin_data.py
  src/dashboard/apigateway/apigateway/apps/plugin/managers.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0017_delete_pluginform.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/fixures/test_plugins_yaml.py
Due: format, ruff, mypy, import-linter

refactor: expose handled_by in app permission list
  src/dashboard/apigateway/apigateway/apis/web/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/permission/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/permission/test_views.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
