Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix(lighten): 升级scss中的lighten方法 (#1686)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/components/custom-table-header-filter/custom-table-header-filter.scss
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feature 增加消息通知组件
  src/dashboard-front/package.json
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/layout/component-management/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/component-management/manage/components/RenderSystem.vue
  src/dashboard-front/src/views/component-management/manage/components/SyncAccess.vue
  src/dashboard-front/src/views/component-management/runtime-data/Chart.vue
  src/dashboard-front/src/views/component-management/system/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/operate-data/report/components/Chart.vue
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
Due: none

refactor(tags): 标签格式 (#1669)
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/card-container/Index.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionSlider.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/RenderConfig.vue
  src/dashboard-front/src/views/component-management/runtime-data/Index.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/OverviewMode.vue
Due: none

refactor(env): 环境变量 & 杂项 (#1683)
  src/dashboard-front/.env
  src/dashboard-front/.runtimeenvschema.json
  src/dashboard-front/bun.lock
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/package.json
  src/dashboard-front/runtime-env.js
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/components/product-info/Index.vue
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/components/user-info/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/services/http/lib/request.ts
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/chat.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useStaff.ts
  src/dashboard-front/src/utils/getStrFromFile.ts
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/operate-data/access-log/components/SearchInput.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
Due: none

fix(mcp_server_guide): mcp server 指引文档接入 (#1687)
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

build(frontend): fix build errors # Reviewed, transaction id: 51852
  src/dashboard-front/bun.lock
  src/dashboard-front/eslint.config.ts
  src/dashboard-front/index.html
  src/dashboard-front/package.json
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/public/favicon.ico
  src/dashboard-front/public/favicon.png
  src/dashboard-front/public/runtime-env.js
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/lib/bk_icon_font/demo.html
  src/dashboard-front/src/main.ts
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideNav.vue
  src/dashboard-front/src/views/api-docs/components/LangSelector.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetail.vue
  src/dashboard-front/src/views/api-docs/components/SDKDetailDialog.vue
  src/dashboard-front/src/views/api-docs/components/SDKInstructionContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/backend-services/Index.vue
  src/dashboard-front/src/views/component-management/runtime-data/Detail.vue
  src/dashboard-front/vite.config.ts
Due: none

build(env): 环境变量命名改为 BK_DASHBOARD_URL # Reviewed, transaction id: 51871
  src/dashboard-front/.runtimeenvschema.json
  src/dashboard-front/env.d.ts
  src/dashboard-front/index.html
  src/dashboard-front/public/runtime-env.js
  src/dashboard-front/src/services/http/lib/request.ts
  src/dashboard-front/src/services/http/middleware/response.ts
Due: none

build(frontend): add missing json-schema dependency # Reviewed, transaction id: 51853
  src/dashboard-front/bun.lock
  src/dashboard-front/package.json
  src/dashboard-front/vite.config.ts
Due: none

build(frontend/dockerfile): add dockerfile
  src/dashboard-front/Dockerfile
  src/dashboard-front/custom-configs/30-render
  src/dashboard-front/custom-configs/default
Due: none

feature: 修复告警策略模块体验问题
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/custom-table-header-filter/index.tsx
  src/dashboard-front/src/services/source/backendServices.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(backend): fix default backend host config (#1653)
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/saver.py
  src/dashboard/apigateway/apigateway/biz/stage/stage.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix(dockerfile): update COPY from builder
  src/dashboard-front/Dockerfile
Due: none

build(deps): add missing deps
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
Due: none

fix(custom-configs/30-render): update var name
  src/dashboard-front/custom-configs/30-render
Due: none

feat(apps/gateway/commands): add export_inactive_gateways_by_stage (#1664)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_inactive_gateways_by_stage.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(dashboard-front/dockerfile): remove npm registry (#1696)
  src/dashboard-front/Dockerfile
Due: none

fix(components/ai): ai 增加蓝鲸认证开关 (#1703)
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix: fix mcp proxy (#1707)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(apis/web/gateway): fix programmable gateway name validator (#1702)
  src/dashboard/apigateway/apigateway/apis/web/gateway/validators.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_validators.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): add BK_SHARED_RES_URL for frontend (#1701)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components): fix paas timeout (#1705)
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(conf/default.py): fix frontend env vars (#1697)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复部分体验问题 (#1700)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/components/VersionSlider.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardLineChart.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/PluginManagement.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/VarManagement.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

fix(frontend): 修复体验问题 (#1710)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

fix: 修复重构后的体验问题 (#1716)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/chat/Index.vue
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/index.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/monitor.ts
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/api-docs/Index.vue
  src/dashboard-front/src/views/api-docs/components/ComponentSearcher.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/api-docs/route.ts
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/VersionSlider.vue
Due: none

fix(frontend): 修复部分体验问题 (#1713)
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/components/version-diff/Index.vue
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/FrontConfig.vue
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/route.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/VersionSlider.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(frontend): 修复部分体验问题 (#1709)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/hooks/use-selection-data.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/services/source/metrics.ts
  src/dashboard-front/src/services/source/programmable.ts
  src/dashboard-front/src/services/source/release.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/services/source/stage.ts
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复部分体验单据 (#1712)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/VarManagement.vue
Due: none

fix(frontend): fix package-lock.json (#1714)
  src/dashboard-front/package-lock.json
Due: none

fix(frontend): fix package-lock.json (#1715)
  src/dashboard-front/package-lock.json
Due: none

feat(openapi): add mcp server sync api (#1717)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/utils.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/resource_version/resource_version.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_utils.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix: 修复1.17版本重构后遗留问题
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-sticky-bottom.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
  src/dashboard-front/src/views/resource-management/components/response-params/Index.vue
  src/dashboard-front/src/views/resource-management/settings/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
Due: none

fix(frontend): 修复部分体验单据 (#1719)
  src/dashboard-front/src/views/online-debugging/components/ResponseContent.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/resource-management/settings/components/SelectCheckBox.vue
Due: none

fix(frontend): 样式修复 (#1726)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
Due: none

fix(resource): 修复请求参数类型为 array 时 schema 缺少 items 字段的问题 (#1730)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

fix(frontend): 修复部分高优先级体验问题 (#1723)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/hooks/use-bk-user-display-name.ts
  src/dashboard-front/src/services/http/middleware/response.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/resource-management/settings/Index.vue
Due: none

fix(frontend): 修复部分体验问题 (#1727)
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/views/audit-log/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceDetails.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(backend): 修复后端服务 host 校验问题 (#1711)
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/backend/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/security.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
  src/dashboard/apigateway/apigateway/tests/common/test_security.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复资源版导出后对话框未关闭的问题 (#1735)
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none
