Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

feat(frontend): 租户模式中英文翻译 # Reviewed, transaction id: 41230
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
  src/dashboard-front/src/views/apiDocs/index.vue
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
Due: none

feat(frontend): 租户模式中英文翻译 (#1313)
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/apiDocs/components/doc-detail-side-content.vue
  src/dashboard-front/src/views/apiDocs/index.vue
  src/dashboard-front/src/views/basic-info/index.vue
  src/dashboard-front/src/views/home.vue
Due: none

feat: 可编程网关资源部署日志 & 环境缩略模式统计图 (#1309)
  src/dashboard-front/bk.config.js
  src/dashboard-front/src/common/util.ts
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/http/programmable.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/store/common.ts
  src/dashboard-front/src/views/backend-service/index.vue
  src/dashboard-front/src/views/main.vue
  src/dashboard-front/src/views/resource/setting/index.vue
  src/dashboard-front/src/views/resource/version/edition/index.vue
  src/dashboard-front/src/views/stage/overview/comps/release-programmable-slider.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-line-chart.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-list.vue
  src/dashboard-front/src/views/stage/overview/detail-mode/index.vue
  src/dashboard-front/src/views/stage/overview/index.vue
  src/dashboard-front/src/views/stage/published/index.vue
Due: none

fix(frontend): 修复非租户模式下的 display_name 配置 # Reviewed, transaction id: 41314
  src/dashboard-front/src/app.vue
Due: none

fix(frontend): 修复非租户模式下的 display_name 配置 (#1314)
  src/dashboard-front/src/app.vue
Due: none

fix(frontend): 修复可编程网关的部署调试跳转和样式问题 # Reviewed, transaction id: 41340
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/views/online-debug/index.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
Due: none

fix(frontend): 修复可编程网关的部署调试跳转和样式问题 (#1315)
  src/dashboard-front/src/components/programmable-deploy-events-slider/index.vue
  src/dashboard-front/src/views/online-debug/index.vue
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
Due: none

fix(frontend): 修复可编程网关环境状态逻辑 # Reviewed, transaction id: 41361
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
Due: none

fix(api/web/metrics): 修复历史请求统计缺少调用方接口
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/admin.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/fake_stats.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复可编程网关环境状态逻辑 (#1316)
  src/dashboard-front/src/views/stage/overview/comps/stage-card-item.vue
Due: none

fix distinct
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix first deploy status
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
Due: format, ruff, mypy, import-linter

feat(common/plugin): 新增插件 response-rewrite
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/common/plugin/checker.py
  src/dashboard/apigateway/apigateway/common/plugin/convertor.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
  src/dashboard/apigateway/apigateway/tests/common/plugin/test_checkers.py
  src/dashboard/apigateway/apigateway/tests/common/plugin/test_convertors.py
Due: format, ruff, mypy, import-linter

deps(frontend): 更新依赖 minor 版本 # Reviewed, transaction id: 41463
  src/dashboard-front/package.json
  src/dashboard-front/src/main.ts
  src/dashboard-front/yarn.lock
Due: none

deps(frontend): 更新依赖 minor 版本 # Reviewed, transaction id: 41464
  src/dashboard-front/bk.config.js
  src/dashboard-front/package.json
  src/dashboard-front/src/main.ts
  src/dashboard-front/yarn.lock
Due: none

conf/default.py: tls settings support check_hostname (#1311)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
  src/dashboard/apigateway/apigateway/utils/redis_utils.py
  src/esb/esb/conf/default.py
Due: format, ruff, mypy, import-linter, black

fix(api/web/metrics): 修复历史请求统计缺少调用方接口 (#1317)
  src/dashboard/apigateway/apigateway/apis/web/metrics/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/metrics/views.py
  src/dashboard/apigateway/apigateway/apps/metrics/admin.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/__init__.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/apps/metrics/management/commands/fake_stats.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/metrics/test_views.py
Due: format, ruff, mypy, import-linter

deps(frontend): 更新依赖 minor 版本 (#1321)
  src/dashboard-front/bk.config.js
  src/dashboard-front/package.json
  src/dashboard-front/src/main.ts
  src/dashboard-front/yarn.lock
Due: none

fix(conf/default.py): bkcore ssl options var name wrong
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

style(version_log): v1.15.8
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(conf/default.py): bkcore ssl options var name wrong (#1322)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: format, ruff, mypy, import-linter

fix(conf/default.py): bkcore ssl options var name wrong (#1322) (#1323)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: format, ruff, mypy, import-linter

feat(frontend): 权限续期交互优化 # Reviewed, transaction id: 41572
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/css/app.css
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/permission/app/comps/exp-day-selector.vue
  src/dashboard-front/src/views/permission/app/index.vue
  src/dashboard-front/static/svg/iconcool.js
Due: none

feat(frontend): 权限续期交互优化 (#1324)
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/css/app.css
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/views/permission/app/comps/exp-day-selector.vue
  src/dashboard-front/src/views/permission/app/index.vue
  src/dashboard-front/static/svg/iconcool.js
Due: none

fix(frontend): 权限续期交互优化 # Reviewed, transaction id: 41578
  src/dashboard-front/src/views/permission/app/index.vue
Due: none

fix(frontend): 权限续期交互优化 (#1325)
  src/dashboard-front/src/views/permission/app/index.vue
Due: none

chore(frontend): 移除 mock-server # Reviewed, transaction id: 41582
  src/dashboard-front/bk.config.js
  src/dashboard-front/mock-server/base.js
  src/dashboard-front/mock-server/index.js
  src/dashboard-front/paas-server/api/table.js
  src/dashboard-front/paas-server/index.js
  src/dashboard-front/paas-server/middleware/user.js
  src/dashboard-front/tsconfig.eslint.json
Due: none

chore(frontend): 移除 mock-server (#1326)
  src/dashboard-front/bk.config.js
  src/dashboard-front/mock-server/base.js
  src/dashboard-front/mock-server/index.js
  src/dashboard-front/paas-server/api/table.js
  src/dashboard-front/paas-server/index.js
  src/dashboard-front/paas-server/middleware/user.js
  src/dashboard-front/tsconfig.eslint.json
Due: none

feat: 统计报表功能开发&仪表盘菜单整合
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/http/report.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/operate-data/access-log/index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/line-chart.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/resource-searcher.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/top.vue
  src/dashboard-front/src/views/operate-data/dashboard/index.vue
  src/dashboard-front/src/views/operate-data/dashboard/type.ts
  src/dashboard-front/src/views/operate-data/report/components/chart.vue
  src/dashboard-front/src/views/operate-data/report/index.vue
  src/dashboard-front/src/views/operate-data/report/type.ts
Due: none

feat: 统计报表功能开发&仪表盘菜单整合 (#1327)
  src/dashboard-front/src/common/menu.ts
  src/dashboard-front/src/http/report.ts
  src/dashboard-front/src/language/lang.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/views/operate-data/access-log/index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/line-chart.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/resource-searcher.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/top.vue
  src/dashboard-front/src/views/operate-data/dashboard/index.vue
  src/dashboard-front/src/views/operate-data/dashboard/type.ts
  src/dashboard-front/src/views/operate-data/report/components/chart.vue
  src/dashboard-front/src/views/operate-data/report/index.vue
  src/dashboard-front/src/views/operate-data/report/type.ts
Due: none

fix(api/web): fix stage status
  src/dashboard/apigateway/apigateway/biz/release.py
Due: format, ruff, mypy, import-linter

feat: 统计报表 icon 替换
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/views/operate-data/report/components/chart.vue
  src/dashboard-front/src/views/operate-data/report/index.vue
Due: none

feat: 统计报表 icon 替换 (#1328)
  src/dashboard-front/src/assets/iconfont/demo.html
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.eot
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.svg
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.ttf
  src/dashboard-front/src/assets/iconfont/fonts/iconcool.woff
  src/dashboard-front/src/assets/iconfont/iconcool.js
  src/dashboard-front/src/assets/iconfont/iconcool.json
  src/dashboard-front/src/assets/iconfont/style.css
  src/dashboard-front/src/views/operate-data/report/components/chart.vue
  src/dashboard-front/src/views/operate-data/report/index.vue
Due: none

fix(api/web): fix deploy status (#1318)
  src/dashboard/apigateway/apigateway/apis/web/stage/views.py
  src/dashboard/apigateway/apigateway/biz/release.py
Due: format, ruff, mypy, import-linter

feat: 代码仓库地址添加校验
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/language/lang.ts
Due: none

fix: fix fmt
  src/core-api/pkg/database/dao/publish_event.go
Due: none

feat: 代码仓库地址添加校验 (#1329)
  src/dashboard-front/src/components/create-gateway.vue
  src/dashboard-front/src/language/lang.ts
Due: none

fix(lints): line too long
  src/dashboard/apigateway/apigateway/apps/metrics/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/apps/monitor/flow/helpers.py
  src/dashboard/apigateway/apigateway/apps/support/management/commands/sync_released_resource_doc.py
  src/dashboard/apigateway/apigateway/biz/esb/permissions.py
  src/dashboard/apigateway/apigateway/components/http.py
  src/dashboard/apigateway/apigateway/core/management/commands/remove_duplicate_resource_proxy.py
Due: format, ruff, mypy, import-linter
