Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(backend): fix backend config
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
Due: format, ruff, mypy, import-linter

fix(backend): fix test
  src/dashboard/apigateway/apigateway/biz/validators.py
Due: format, ruff, mypy, import-linter

feat(apps/gateway/commands): add export_inactive_gateways_by_stage (#1664)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_inactive_gateways_by_stage.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(backend): fix cr
  src/dashboard/apigateway/apigateway/biz/stage/stage.py
Due: format, ruff, mypy, import-linter

fix(backend): fix default backend host config (#1653)
  src/dashboard/apigateway/apigateway/apis/open/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/saver.py
  src/dashboard/apigateway/apigateway/biz/stage/stage.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/stage/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix(conf/default.py): fix frontend env vars
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feature: 修复告警策略模块体验问题
  src/dashboard-front/src/components/ag-sideslider/Index.vue
  src/dashboard-front/src/components/custom-table-header-filter/index.tsx
  src/dashboard-front/src/services/source/backendServices.ts
  src/dashboard-front/src/views/backend-services/components/AddBackendService.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/Index.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/Index.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/Index.vue
Due: none

fix(apis/web/gateway): fix programmable gateway name validator
  src/dashboard/apigateway/apigateway/apis/web/gateway/validators.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_validators.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): add BK_SHARED_RES_URL for frontend
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(apis/web/gateway): fix programmable gateway name validator (#1699)
  src/dashboard/apigateway/apigateway/apis/web/gateway/validators.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_validators.py
Due: format, ruff, mypy, import-linter

fix(conf/default.py): fix frontend env vars (#1697)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

feat(conf/default.py): add BK_SHARED_RES_URL for frontend (#1701)
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复部分体验问题 # Reviewed, transaction id: 52184
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/components/VersionSlider.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardLineChart.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/PluginManagement.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/VarManagement.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

fix(frontend): 修复部分体验问题 (#1700)
  src/dashboard-front/package-lock.json
  src/dashboard-front/package.json
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/basic-info/components/EditAPIDoc.vue
  src/dashboard-front/src/views/resource-management/settings/components/VersionSlider.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardLineChart.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/PluginManagement.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/VarManagement.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
  src/dashboard-front/src/views/stage-management/route.ts
Due: none

fix(apis/web/gateway): fix programmable gateway name validator (#1702)
  src/dashboard/apigateway/apigateway/apis/web/gateway/validators.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_validators.py
Due: format, ruff, mypy, import-linter

fix(components/ai): ai 增加蓝鲸认证开关
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components): fix paas timeout
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components): fix paas timeout
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix: fix default
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components/bkpaas): fix api timeout
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components): fix paas api timeout
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components): fix paas timeout (#1705)
  src/dashboard/apigateway/apigateway/components/bkpaas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix paas time out (#1704)
  src/dashboard/apigateway/apigateway/components/paas.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix(components/ai): ai 增加蓝鲸认证开关 (#1703)
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix: fix mcp proxy
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix: fix mcp proxy (#1707)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(frontend): 修复部分体验问题 # Reviewed, transaction id: 52271
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/hooks/use-selection-data.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/services/source/metrics.ts
  src/dashboard-front/src/services/source/programmable.ts
  src/dashboard-front/src/services/source/release.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/services/source/stage.ts
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(frontend): 修复部分体验问题 (#1709)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/components/release-stage/Index.vue
  src/dashboard-front/src/hooks/use-selection-data.ts
  src/dashboard-front/src/router/index.ts
  src/dashboard-front/src/services/source/dashboard.ts
  src/dashboard-front/src/services/source/metrics.ts
  src/dashboard-front/src/services/source/programmable.ts
  src/dashboard-front/src/services/source/release.ts
  src/dashboard-front/src/services/source/resource.ts
  src/dashboard-front/src/services/source/stage.ts
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
  src/dashboard-front/src/views/resource-management/versions/Index.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(components/ai): ai 增加蓝鲸认证开关 (#1706)
  src/dashboard/apigateway/apigateway/components/utils.py
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

fix: fix mcp proxy (#1708)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
Due: fmt, lint

fix(frontend): 修复体验问题
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

fix(frontend): 修复体验问题 (#1710)
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/online-debugging/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

fix(backend): 修复后端服务 host 校验问题
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/backend/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/common/security.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
  src/dashboard/apigateway/apigateway/tests/common/test_security.py
Due: format, ruff, mypy, import-linter

fix: validate_scheme
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/backend/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/stage/serializers.py
  src/dashboard/apigateway/apigateway/biz/validators.py
  src/dashboard/apigateway/apigateway/tests/biz/test_validators.py
Due: format, ruff, mypy, import-linter

fix: validate_scheme
  src/dashboard/apigateway/apigateway/biz/validators.py
Due: format, ruff, mypy, import-linter

fix: comment
  src/dashboard/apigateway/apigateway/biz/validators.py
Due: format, ruff, mypy, import-linter

fix(frontend): 修复部分体验单据
  src/dashboard-front/package-lock.json
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/views/online-debugging/components/EditTable.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryLog.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/VarManagement.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
