Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(front-end): 健康检查中主动检查改为必选 --story=135858940 (#2971)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
Due: none

test(bdd): expand dashboard coverage
  test-bdd/cases/11-权限审批/01-权限审批.md
  test-bdd/cases/14-统计报表/01-统计报表.md
  test-bdd/cases/18-MCP服务/03-MCP服务可观测.md
  test-bdd/cases/21-组件管理/01-组件管理.md
  test-bdd/cases/25-平台工具/01-平台工具.md
  test-bdd/scripts/11-权限审批/01-权限审批.spec.js
  test-bdd/scripts/14-统计报表/01-统计报表.spec.js
  test-bdd/scripts/18-MCP服务/03-MCP服务可观测.spec.js
  test-bdd/scripts/21-组件管理/01-组件管理.spec.js
  test-bdd/scripts/25-平台工具/01-平台工具.spec.js
Due: none

test(bdd): expand dashboard coverage (#2973)
  test-bdd/cases/11-权限审批/01-权限审批.md
  test-bdd/cases/14-统计报表/01-统计报表.md
  test-bdd/cases/18-MCP服务/03-MCP服务可观测.md
  test-bdd/cases/21-组件管理/01-组件管理.md
  test-bdd/cases/25-平台工具/01-平台工具.md
  test-bdd/scripts/11-权限审批/01-权限审批.spec.js
  test-bdd/scripts/14-统计报表/01-统计报表.spec.js
  test-bdd/scripts/18-MCP服务/03-MCP服务可观测.spec.js
  test-bdd/scripts/21-组件管理/01-组件管理.spec.js
  test-bdd/scripts/25-平台工具/01-平台工具.spec.js
Due: none

test(dashboard): cover required active health checks
  src/dashboard/apigateway/apigateway/tests/apis/open/stage/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
Due: format, ruff, mypy, import-linter

fix(dashboard): require active health checks (#2970)
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/open/stage/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_views.py
Due: format, ruff, mypy, import-linter

test(bdd): add route smoke production guard
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  test-bdd/cases/00-路由冒烟/01-全站路由冒烟.md
  test-bdd/runtime/bdd-test.js
  test-bdd/runtime/helpers.js
  test-bdd/scripts/00-路由冒烟/01-全站路由冒烟.spec.js
Due: none

test(bdd): add route smoke production guard (#2974)
  src/dashboard-front/src/views/component-management/manage/components/SyncVersion.vue
  test-bdd/cases/00-路由冒烟/01-全站路由冒烟.md
  test-bdd/runtime/bdd-test.js
  test-bdd/runtime/helpers.js
  test-bdd/scripts/00-路由冒烟/01-全站路由冒烟.spec.js
Due: none

refactor: optimize gateway docs list serialization
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
Due: format, ruff, mypy, import-linter

fix(mcp): support loading openapi 3.1 schemas
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

fix(mcp): support loading openapi 3.1 schemas (#2972)
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

chore(mcp): remove unused database timeout config
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
Due: fmt, lint

fix(Table): 同一页面路由下复用型表格无法正确回显对应的storage表格设置 --story=160243371
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
  src/dashboard-front/src/views/personal-workbench/components/Table.vue
Due: none

fix: return ITSM approval URL for MCP permission records
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

perf(docs-gateway): optimize gateway list URL template lookup (#2969)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
Due: format, ruff, mypy, import-linter

fix(TagOverflow): 多选tag折叠组件设置默认最大高度 --story=135882570
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
Due: none

chore(mcp): remove unused database timeout config (#2975)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
Due: fmt, lint

fix(front-end): bk-cli 指引示例补充 tenant id --story=135882876
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

fix(front-end): bk-cli 指引示例补充 tenant id --story=135882876 (#2979)
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

fix: return ITSM approval URL for MCP permission records (#2977)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix: return ITSM approval URL for MCP permission records (#2980)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): convert inner gateway maintainer names by tenant
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(plugin): adjust query string rewrite plugin priority
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(plugin): adjust query string rewrite plugin priority (#2982)
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: none

fix(MCP): 创建/编辑MCP关闭侧边栏后会重复触发表单校验、生成 SDK弹框未重置表单校验 --story=160390689
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
  src/dashboard-front/src/views/resource-management/versions/components/CreateSDK.vue
Due: none

fix(dashboard): harden inner gateway maintainer name conversion
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/components/bkuser.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkuser.py
Due: format, ruff, mypy, import-linter

docs(dashboard): sync inner gateway maintainer docs
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(audit): record OpenAPI stage backend config audit
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): chunk inner gateway maintainer lookups
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): defer inner gateway maintainer batching
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(export): align MCP permission export display values
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feat(audit): record OpenAPI stage backend config audit (#2985)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): convert inner gateway maintainer names by tenant (#2984)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/components/bkuser.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_get_gateway.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_gateways.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkuser.py
Due: format, ruff, mypy, import-linter

feat(gateway): persist official gateway flag
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/type.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/core/migrations/0052_gateway_is_official.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/management/commands/test_update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/core/test_migration_gateway_is_official.py
Due: format, ruff, mypy, import-linter

feat(gateway): persist official gateway flag (#2986)
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/__init__.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/biz/gateway/type.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/core/migrations/0052_gateway_is_official.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/editions/ee/apps/esb/management/commands/update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/editions/ee/tests/apps/esb/management/commands/test_update_esb_gateway_config.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_saver.py
  src/dashboard/apigateway/apigateway/tests/core/test_migration_gateway_is_official.py
Due: format, ruff, mypy, import-linter

chore(dashboard): upgrade bkpaas-auth to 4.1.1
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

chore(dashboard): upgrade bkpaas-auth to 4.1.1 (#2988)
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

refactor: align gateway maintainer display name conversion with biz layer
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(sdk): validate generation task model invariants
  src/dashboard/apigateway/apigateway/apps/support/models.py
  src/dashboard/apigateway/apigateway/tests/apps/support/test_sdk_generation_models.py
Due: format, ruff, mypy, import-linter

feat(sdk): define generation languages and config
  src/dashboard/apigateway/apigateway/apps/support/constants.py
  src/dashboard/apigateway/apigateway/biz/sdk/config.py
  src/dashboard/apigateway/apigateway/biz/sdk/managers/__init__.py
  src/dashboard/apigateway/apigateway/biz/sdk/managers/golang.py
  src/dashboard/apigateway/apigateway/biz/sdk/models.py
  src/dashboard/apigateway/apigateway/conf/.env.tpl
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
  src/dashboard/apigateway/apigateway/tests/biz/sdk/test_config.py
  src/dashboard/apigateway/apigateway/tests/conf/test_utils.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
