Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

feat(sdk): add configurable SDK supported languages via BK_SDK_LANGUAGES env var (#2626)
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix: return empty data when backend not found in metrics query (#2628)
  src/dashboard/apigateway/apigateway/service/prometheus/dimension.py
  src/dashboard/apigateway/apigateway/tests/service/prometheus/test_dimension.py
Due: format, ruff, mypy, import-linter

feat(front-end): 平台工具 - CLI 应用环境变量 & 国际化 (#2639)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(front-end): 平台工具 - CLI 工具 (#2631)
  src/dashboard-front/src/layout/platform-tools/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/AdvancedUsage.vue
  src/dashboard-front/src/views/platform-tools/cli/components/CodeBlock.vue
  src/dashboard-front/src/views/platform-tools/cli/components/FunctionOverview.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
  src/dashboard-front/src/views/platform-tools/routes.ts
Due: none

feat(conf/utils.py): add settings for bk-cli (#2634)
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(MCP): 仪表盘chart支持小屏幕适配 --story=132564332
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
Due: none

feature(MCP): 调用链瀑布图支持label自适应 --story=132564332
  src/dashboard-front/src/components/guide/Index.vue
  src/dashboard-front/src/components/trace-view/constants/default-config.tsx
  src/dashboard-front/src/components/trace-view/selectors/trace.ts
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/list-view/index.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/ticks.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/timeline-header-row/timeline-header-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/timeline-header-row/timeline-viewing-layer.tsx
  src/dashboard-front/src/components/trace-view/utils/date.tsx
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/hooks/use-mcp-config-divide-ratio.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/services/source/observability.ts
  src/dashboard-front/src/utils/getStrFromFile.ts
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/online-debugging/components/Doc.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
  src/dashboard-front/src/views/resource-management/settings/edit/Index.vue
Due: none

fix(MCP): McpServer Prompt支持html解析 --story=133515627
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

fix(MCP): 优化Mcp可观测体验问题 --story=132564332
  src/dashboard-front/src/components/ag-mcp-trace-chain/Index.vue
  src/dashboard-front/src/components/ag-mcp-trace-chain/info/Index.vue
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/virtualized-trace-view.tsx
  src/dashboard-front/src/components/trace-view/typings/trace.ts
  src/dashboard-front/src/components/trace-view/utils/date.tsx
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-observability-dashboard.ts
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useTrace.ts
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityFlowLog.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityTimeInterval.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/components/TraceChainSlider.vue
  src/dashboard-front/src/views/mcp-server/route.ts
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

fix(apigateway): 网关资源过期提醒不准确 --story=130702642 (#2637)
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_tasks.py
Due: format, ruff, mypy, import-linter

feat: add raw_response_enabled field to MCPServer (#2643)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0013_mcpserver_raw_response.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_benchmark_test.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
Due: format, ruff, mypy, import-linter, fmt, lint

feat(front-end): Boolean 类型请求参数默认值控件由 input 改为 select (#2646)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
  src/dashboard-front/src/views/resource-management/components/request-params/RequestParamsTable.vue
Due: none

feat(plugin): add doc links for bk-oauth2 plugins (#2636)
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard/apigateway/apigateway/conf/utils.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复后端服务各环境请求路径展示问题 (#2650)
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
Due: none

feature(MCP): mcp-proxy 支持是否进行响应参数封装的开关 --story=133480817
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerBasicForm.vue
Due: none

feat(mcp): add categories field to MCP server APIs and optimize query performance (#2656)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/mcp_server.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permission_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_retrieve_mcp_server_permission_apply_record.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_app_permissions_apply_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server_permissions.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/open/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

fix(resource_version): 资源版本对比功能修复 (#2658)
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
Due: none

fix(mcp): fix RawResponseEnabled hot reload not working (#2654)
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
Due: fmt, lint

feat(permissions): support applying gateway permission by resource (#2642)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/open/views.py
  src/dashboard/apigateway/apigateway/apps/permission/models.py
  src/dashboard/apigateway/apigateway/biz/permission/manager.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_apply_gateway_permission.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/tests/apps/permission/test_models.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_manager.py
Due: format, ruff, mypy, import-linter

fix(MCP): 修复mcp可观测体验问题 --story=132564332
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-mcp-trace-chain/table/Index.vue
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/list-view/index.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar-row.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.scss
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/span-bar.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/ticks.tsx
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/virtualized-trace-view.scss
  src/dashboard-front/src/components/trace-view/utils/filter-spans.tsx
  src/dashboard-front/src/hooks/use-date-picker.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/stores/useAccessLog.ts
  src/dashboard-front/src/stores/useTrace.ts
  src/dashboard-front/src/styles/base.scss
  src/dashboard-front/src/views/mcp-server/components/FlowLogChart.vue
  src/dashboard-front/src/views/mcp-server/components/FlowLogDetailTable.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/QueryStatement.vue
  src/dashboard-front/src/views/mcp-server/components/TraceChainSlider.vue
  src/dashboard-front/src/views/platform-tools/toolbox/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

chore(front-end): 修改 cli 工具文本 (#2661)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/platform-tools/cli/Index.vue
  src/dashboard-front/src/views/platform-tools/cli/components/QuickStart.vue
Due: none

fix: resource version export missing pluginConfigs (#2659)
  src/dashboard/apigateway/apigateway/biz/resource/importer/openapi.py
  src/dashboard/apigateway/apigateway/biz/resource/importer/parser.py
  src/dashboard/apigateway/apigateway/tests/biz/resource/importer/test_openapi.py
  src/dashboard/apigateway/apigateway/tests/conftest.py
Due: format, ruff, mypy, import-linter

feat: add batch MCP Server config API (#2652)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/permission/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(support): add management command to export released resource docs (#2667)
  src/dashboard/apigateway/apigateway/apps/support/management/commands/export_released_resource_doc.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/__init__.py
  src/dashboard/apigateway/apigateway/tests/apps/support/management/commands/test_export_released_resource_doc.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): add BKAIDev Agent Trace for MCP Gateway observability (#2665)
  src/mcp-proxy/cmd/init.go
  src/mcp-proxy/cmd/root.go
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/export.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init.go
  src/mcp-proxy/pkg/infra/bkaidevtrace/init_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/mcp/middleware.go
  src/mcp-proxy/pkg/mcp/middleware_test.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace.go
  src/mcp-proxy/pkg/middleware/bkaidevtrace_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/server/router.go
  src/mcp-proxy/pkg/server/server.go
  src/mcp-proxy/pkg/util/context.go
  src/mcp-proxy/pkg/util/context_test.go
Due: fmt, lint

feature(MCP): McpServer 管理端视图新增一键复制URL --story=132845699
  src/dashboard-front/src/components/ag-mcp-agent-config/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/ag-mcp-card/components/CopyConfigDialog.vue
  src/dashboard-front/src/components/ag-mcp-search-bar/Index.vue
  src/dashboard-front/src/components/trace-view/selectors/trace.ts
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-mcp-batch-copy-config.ts
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/services/source/observability.ts
  src/dashboard-front/src/services/types/body/patch/gateways.ts
  src/dashboard-front/src/services/types/body/post/gateways.ts
  src/dashboard-front/src/services/types/query/mcp-marketplace.ts
  src/dashboard-front/src/services/types/responses/gateways.ts
  src/dashboard-front/src/services/types/responses/mcp-marketplace.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/DashboardLineChart.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityDashboard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
  src/dashboard-front/src/views/platform-tools/toolbox/components/QueryTraceChain.vue
Due: none

feat(permission): support applied_by display_name in /api/v1 and /api/v2/inner (#2664)
  src/dashboard/apigateway/apigateway/apis/open/permission/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers_esb.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复上传文件过大时没有提示的问题 (#2669)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/settings/import-doc/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

feature(MCP): Mcpsever管理视图添加可观测相关入口 --story=133645315
  src/dashboard-front/src/components/ag-mcp-card/Index.vue
  src/dashboard-front/src/components/render-tag-overflow/Index.vue
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityFlowLog.vue
  src/dashboard-front/src/views/mcp-server/components/ServerCardTable.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(e2e): add v2-sync open api e2e test cases (#2671)
  test/cases/dashboard/open api/v2-sync/01-sync-gateway.bru
  test/cases/dashboard/open api/v2-sync/02-add-related-apps.bru
  test/cases/dashboard/open api/v2-sync/03-sync-stages.bru
  test/cases/dashboard/open api/v2-sync/04-sync-resources.bru
  test/cases/dashboard/open api/v2-sync/05-create-resource-version.bru
  test/cases/dashboard/open api/v2-sync/06-release.bru
  test/cases/dashboard/open api/v2-sync/07-get-public-key.bru
  test/cases/dashboard/open api/v2-sync/08-list-permissions.bru
  test/cases/dashboard/open api/v2-sync/09-grant-permission.bru
  test/cases/dashboard/open api/v2-sync/10-list-resource-versions.bru
  test/cases/dashboard/open api/v2-sync/11-get-resource-version-latest.bru
  test/cases/dashboard/open api/v2-sync/12-generate-sdk.bru
  test/cases/dashboard/open api/v2-sync/13-sync-mcp-servers.bru
  test/cases/environments/dev.bru
Due: none

fix(MCP): 修复MavonEditor组件无法加载
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/Index.vue
  src/dashboard-front/src/views/mcp-server/components/CustomMdGuideSlider.vue
Due: none

feat(mcp-servers): support gateway-level applicant list when mcp_server_id is absent (#2666)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(MCP): 修复mcp详情删除禁用还可以点击弹出弹框
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(front-end): 修复资源资源请求参数偶尔出现额外表格行的问题 (#2681)
  src/dashboard-front/src/views/resource-management/components/request-params/Index.vue
Due: none

fix(front-end): 修复资源配置校验错误时的提示信息 (#2674)
  src/dashboard-front/src/components/ag-editor/Index.vue
  src/dashboard-front/src/views/resource-management/settings/import/Index.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
