Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

fix: fix cr
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix: fix pprof
  src/mcp-proxy/config.yaml.tpl
Due: fmt, lint

fix: fix pprof
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/pkg/config/config.go
Due: fmt, lint

fix(mcp): fix mcp memory leak and add pprof (#1999)
  src/mcp-proxy/config.yaml.tpl
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/mcp-proxy/pkg/config/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

fix(front-end): 修复文档翻译 & 资源名称展示 # Reviewed, transaction id: 64787
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/ai-seek/AiBluekingButton.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(front-end): 修复文档翻译 & 资源名称展示 (#2000)
  src/dashboard-front/pnpm-lock.yaml
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/ai-seek/AiBluekingButton.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/components/ResourceInfo.vue
Due: none

fix(front-end): 修复文档翻译 # Reviewed, transaction id: 64897
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 修复文档翻译 (#2001)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

test(controller/test_uri_render.py): add more tests
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/tests/controller/test_uri_render.py
Due: format, ruff, mypy, import-linter

fix(convertors/service.py): convert weighted-roundrobin to apisix upstream fail
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
Due: format, ruff, mypy, import-linter

fix(apps/support): fix task
  src/dashboard/apigateway/apigateway/apps/support/task.py
Due: format, ruff, mypy, import-linter

fix(convertor/service.py): weighted-roundrobin convert
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
Due: format, ruff, mypy, import-linter

fix(convertors/service.py): convert weighted-roundrobin to apisix upstream fail (#2002)
  src/dashboard/apigateway/apigateway/controller/crds/v1beta1/convertors/service.py
Due: format, ruff, mypy, import-linter

fix(apps/support): fix task (#2003)
  src/dashboard/apigateway/apigateway/apps/support/task.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复文档批量翻译 # Reviewed, transaction id: 64952
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 修复文档批量翻译 (#2004)
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(apps/support): fix trans doc
  src/dashboard/apigateway/apigateway/apps/support/task.py
Due: format, ruff, mypy, import-linter

fix(apps/support): fix trans doc (#2005)
  src/dashboard/apigateway/apigateway/apps/support/task.py
Due: format, ruff, mypy, import-linter

feat(base-info): 基础信息操作锁定
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

feat(base-info): 基础信息操作锁定 (#2006)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

Revert "feat(base-info): 基础信息操作锁定 (#2006)"
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

Revert "feat(base-info): 基础信息操作锁定 (#2006)" (#2007)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

feat(base-info): 基础信息操作锁定 (#2008)
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-operation-lock.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/Index.vue
  src/dashboard-front/src/views/operate-data/report/Index.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 # Reviewed, transaction id: 65068
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 # Reviewed, transaction id: 65070
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 # Reviewed, transaction id: 65071
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 (#2011)
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 (#2010)
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(front-end): 没开启 AI feature 不展示文档翻译功能 (#2009)
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/resource-management/components/ResourceDocSlider.vue
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDocViewer.vue
  src/dashboard-front/src/views/resource-management/settings/components/TopBar.vue
Due: none

fix(bk-user-display-name): 多租户用户名无法正确渲染 --bug=128713145
  src/dashboard-front/package.json
  src/dashboard-front/src/views/basic-info/components/EditMember.vue
Due: none

docs(version_log): add release 1.19 version log
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): add release 1.19 version log (#2015)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): add release 1.19 version log (#2016)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(version_log): add release 1.19 version log (#2017)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(base-info): 基本信息操作锁定修改
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/basic-info/Index.vue
Due: none
