Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

docs(release/1.22): 1.22.2 release log (#2957)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(mcp-proxy): skip request body without schema (#2958)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
Due: fmt, lint

fix(mcp-proxy): skip invalid OpenAPI parameters
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
Due: fmt, lint

fix(mcp-proxy): isolate MCP reload panics per server
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

fix(MCP): MCP Server 侧边滚动条问题 --story=160155836
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(mcp-proxy): guard nil MCP reload apply results
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

fix(mcp-proxy): report reload panic stack traces
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

fix: fix app monitor records and request logs APIs
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0011_alarmrecord_alarm_type.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_alarm_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_request_logs.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/app_request.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_app_request.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

refactor: code change
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix(yaml): bk-apigateway-resources
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

refactor: some problems
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0011_alarmrecord_alarm_type.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(mcp-proxy): preserve tools on failed reload updates
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

refactor: validate app_code
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

docs(mcp-proxy): clarify OpenAPI ref handling in converter
  src/mcp-proxy/pkg/infra/proxy/converter.go
Due: fmt, lint

fix(PersonalWorkbench): 个人工作台批量审批打开弹框后聚焦，再重新关闭打开dialog还会存在校验信息 --story=160179733
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
  src/dashboard-front/src/views/personal-workbench/components/Form.vue
Due: none

fix: resource_id
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0011_alarmrecord_alarm_type.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

fix(go): update vulnerable dependencies
  src/core-api/go.mod
  src/core-api/go.sum
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/operator/go.mod
  src/operator/go.sum
Due: fmt, lint

fix(go): update vulnerable dependencies (#2962)
  src/core-api/go.mod
  src/core-api/go.sum
  src/mcp-proxy/go.mod
  src/mcp-proxy/go.sum
  src/operator/go.mod
  src/operator/go.sum
Due: fmt, lint

refactor: some problems
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0011_alarmrecord_alarm_type.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
Due: format, ruff, mypy, import-linter

docs(release/1.23): release log for 1.23.0
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

docs(release/1.23): release log for 1.23.0 (#2963)
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG.md
  src/dashboard/apigateway/apigateway/data/version_log/CHANGELOG_en.md
Due: none

fix(mcp-proxy): isolate MCP reload panics (#2959)
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/mcp/export_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_load_test.go
Due: fmt, lint

refactor: add stage to record
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0011_alarmrecord_alarm_type.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

fix(dashboard): return saved stage from v2 sync
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): return created resource version from v2 sync
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): use ok response for v2 resource version create
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_create_resource_version.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

chore(dashboard): upgrade apigw-manager to 5.0.1
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: none

feat(dashboard): add inner APIs for app alarm records and request logs (#2952)
  src/dashboard/apigateway/apigateway/apis/v2/inner/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apps/monitor/migrations/0011_alarmrecord_alarm_type.py
  src/dashboard/apigateway/apigateway/apps/monitor/models.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_alarm_records.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_inner_list_app_request_logs.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/alert_flow/handlers/base.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
  src/dashboard/apigateway/apigateway/tests/service/alert_flow/handlers/test_base.py
Due: format, ruff, mypy, import-linter

fix(dashboard): return v2 sync create response data (#2964)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_create_resource_version.md
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

fix(dashboard): add v2 sync public key endpoint
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): add v2 sync public key endpoint (#2965)
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/urls.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_views.py
Due: format, ruff, mypy, import-linter

chore(dashboard): upgrade bk-esb gateway definition spec
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-esb-definition.yaml
Due: none

chore(dashboard): upgrade bk-esb gateway definition spec (#2966)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-esb-definition.yaml
Due: none

feat(front-end): 优化API文档详情权限申请提示文本 --story=135534985
  src/dashboard-front/pnpm-workspace.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
Due: none

feat(front-end): 优化API文档详情权限申请提示文本 --story=135534985 (#2968)
  src/dashboard-front/pnpm-workspace.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
Due: none

feat(front-end): 优化API文档详情权限申请提示文本 --story=135534985 (#2967)
  src/dashboard-front/pnpm-workspace.yaml
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/api-docs/components/DocDetailMainContent.vue
Due: none

perf(docs-gateway): optimize gateway list URL template lookup
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/tests/apis/web/docs/gateway/gateway/test_views.py
Due: format, ruff, mypy, import-linter

fix(dashboard): require active health checks
  src/dashboard/apigateway/apigateway/apis/open/stage/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/sync/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_health_check_serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/backend/test_views.py
Due: format, ruff, mypy, import-linter

feat(front-end): 健康检查中主动检查改为必选 --story=135858940
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/backend-services/components/health-checks/Index.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/CheckboxCollapse.vue
  src/dashboard-front/src/views/backend-services/components/health-checks/components/PassiveChecks.vue
Due: none

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
