Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix: use Python-level dedup instead of DISTINCT ON for MySQL compatibility
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

refactor: remove unnecessary Python-level dedup (DB unique_together already guarantees uniqueness)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
Due: format, ruff, mypy, import-linter

fix: update existing tests to create MCPServerAppPermission records (API now queries from this table)
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix(permission): restore resource version source for app permissions
  src/dashboard/apigateway/apigateway/biz/permission/display.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(permission): restore resource version source for app permissions (#2824)
  src/dashboard/apigateway/apigateway/biz/permission/display.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(permission): restore resource version source for app permissions (#2825)
  src/dashboard/apigateway/apigateway/biz/permission/display.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

perf(gateway): optimize metrics stats presence checks (#2822)
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
Due: format, ruff, mypy, import-linter

perf(gateway): optimize metrics stats presence checks (#2821)
  src/dashboard/apigateway/apigateway/apps/gateway/tasks.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/tests/apps/gateway/test_tasks.py
  src/dashboard/apigateway/apigateway/tests/biz/gateway/test_gateway.py
Due: format, ruff, mypy, import-linter

fix(mcp-server): fix MCPServerAppPermissionListApi to query actual permissions
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix: 修复 MCPServer 应用权限查询逻辑
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

upgrade dashboard django and dependencies
  src/dashboard/apigateway/apigateway/apis/open/permission/helpers.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/data_models.py
  src/dashboard/apigateway/apigateway/biz/esb/permissions.py
  src/dashboard/apigateway/apigateway/biz/permission/display.py
  src/dashboard/apigateway/apigateway/biz/resource/models.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/log_utils.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/conf/test_log_utils.py
  src/dashboard/apigateway/apigateway/tests/core/test_models.py
  src/dashboard/apigateway/apigateway/tests/drf_yasg/test_urls.py
  src/dashboard/apigateway/apigateway/tests/utils/test_time.py
  src/dashboard/apigateway/apigateway/urls.py
  src/dashboard/apigateway/apigateway/utils/time.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

fix(mcp-server): fix MCPServerAppPermissionListApi to query actual permissions (#2823)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

Fix mcpserver permission list 1.22 (#2826)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

fix: 修复 MCPServer 应用权限查询逻辑 (#2827)
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/tests/apis/v2/inner/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp-server): support sorting app permissions by effective time
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

chore(dashboard): tune cleanup admin and publish event index
  src/dashboard/apigateway/apigateway/apps/api_debug/admin.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/core/migrations/0050_publishevent_created_time_idx.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

chore(dashboard): tune cleanup admin and publish event index (#2830)
  src/dashboard/apigateway/apigateway/apps/api_debug/admin.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
  src/dashboard/apigateway/apigateway/core/migrations/0050_publishevent_created_time_idx.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

feat(mcp-server): support sorting app permissions by effective time (#2829)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

feature(MCP): McpServer权限管理增加应用权限tab、McpServer详情增加导出功能 --story=134749629
  src/dashboard-front/src/components/trace-view/trace-timeline-viewer/index.tsx
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/index.ts
  src/dashboard-front/src/hooks/use-mcp-permission.ts
  src/dashboard-front/src/layout/my-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-market.ts
  src/dashboard-front/src/services/types/query/gateways.ts
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/mcp-server/components/AuthApplications.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ObservabilityBasicForm.vue
  src/dashboard-front/src/views/mcp-server/permission/Index.vue
Due: none

fix(conf/default.py): fix database character_set to utf8
  src/dashboard/apigateway/apigateway/conf/default.py
Due: format, ruff, mypy, import-linter

upgrade dashboard django to 5.2 and refresh dependencies (#2828)
  src/dashboard/apigateway/apigateway/apis/open/permission/helpers.py
  src/dashboard/apigateway/apigateway/apis/v2/inner/views.py
  src/dashboard/apigateway/apigateway/apis/web/api_test/data_models.py
  src/dashboard/apigateway/apigateway/biz/esb/permissions.py
  src/dashboard/apigateway/apigateway/biz/permission/display.py
  src/dashboard/apigateway/apigateway/biz/resource/models.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/conf/log_utils.py
  src/dashboard/apigateway/apigateway/core/migrations/0051_rename_publishevent_gateway_publish_index.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/conf/test_log_utils.py
  src/dashboard/apigateway/apigateway/tests/core/test_models.py
  src/dashboard/apigateway/apigateway/tests/drf_yasg/test_urls.py
  src/dashboard/apigateway/apigateway/tests/utils/test_time.py
  src/dashboard/apigateway/apigateway/urls.py
  src/dashboard/apigateway/apigateway/utils/time.py
  src/dashboard/pyproject.toml
  src/dashboard/uv.lock
Due: format, ruff, mypy, import-linter

feat(front-end): 首页触底加载
  src/dashboard-front/pnpm-workspace.yaml
  src/dashboard-front/src/views/home/Index.vue
Due: none

chore(license): update root license file
  LICENSE.txt
Due: none

feat(front-end): 首页触底加载 (#2832)
  src/dashboard-front/pnpm-workspace.yaml
  src/dashboard-front/src/views/home/Index.vue
Due: none

feature(MCP): McpServer权限管理导出过滤掉空值字段 --story=134749629
  src/dashboard-front/src/hooks/use-mcp-permission.ts
  src/dashboard-front/src/services/source/mcp-market.ts
Due: none

fix(mcp): preserve OpenAPI request body schemas
  src/mcp-proxy/pkg/infra/logging/desensitize.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

fix(dashboard): handle parallel release sync worker failures
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_releases_to_gateway_parallel.py
  src/dashboard/apigateway/apigateway/tests/controller/management/commands/test_sync_releases_to_gateway_parallel.py
Due: format, ruff, mypy, import-linter

fix(mcp): address OpenAPI schema review feedback
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/tests/integration/init.sql
Due: fmt, lint

feat(data-plane): support APISIX 3.16 for bound data planes
  src/dashboard/apigateway/apigateway/apps/data_plane/admin.py
  src/dashboard/apigateway/apigateway/apps/data_plane/constants.py
  src/dashboard/apigateway/apigateway/apps/data_plane/migrations/0002_dataplane_apisix_version.py
  src/dashboard/apigateway/apigateway/apps/data_plane/models.py
  src/dashboard/apigateway/apigateway/controller/convertor/base.py
  src/dashboard/apigateway/apigateway/controller/convertor/bk_release.py
  src/dashboard/apigateway/apigateway/controller/convertor/route.py
  src/dashboard/apigateway/apigateway/controller/convertor/service.py
  src/dashboard/apigateway/apigateway/controller/distributor/etcd.py
  src/dashboard/apigateway/apigateway/controller/transformer.py
  src/dashboard/apigateway/apigateway/tests/apps/data_plane/test_data_plane_model.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_base.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_bk_release.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_route.py
  src/dashboard/apigateway/apigateway/tests/controller/convertor/test_service.py
  src/dashboard/apigateway/apigateway/tests/controller/distributor/test_etcd.py
  src/dashboard/apigateway/apigateway/tests/controller/test_transformer.py
  src/operator/pkg/constant/apisix.go
  src/operator/pkg/utils/schema/3.16/schema.json
  src/operator/pkg/utils/schema/schema.go
  src/operator/pkg/utils/schema/schema_test.go
  src/operator/pkg/utils/schema/validate_test.go
  src/operator/pkg/utils/version_test.go
Due: format, ruff, mypy, import-linter

fix(dashboard): handle parallel release sync worker failures (#2836)
  src/dashboard/apigateway/apigateway/controller/management/commands/sync_releases_to_gateway_parallel.py
  src/dashboard/apigateway/apigateway/tests/controller/management/commands/test_sync_releases_to_gateway_parallel.py
Due: format, ruff, mypy, import-linter

fix(operator): make APISIX 3.16 plugin schemas authoritative from prod dump
  src/operator/pkg/utils/schema/3.13/schema.json
  src/operator/pkg/utils/schema/3.16/schema.json
  src/operator/pkg/utils/schema/schema_test.go
  src/operator/pkg/utils/schema/validate_test.go
Due: none

fix(permission): allow syncing expired gateway permissions to resource permissions on renew
  src/dashboard/apigateway/apigateway/biz/permission/permission.py
  src/dashboard/apigateway/apigateway/tests/biz/permission/test_permission.py
Due: format, ruff, mypy, import-linter

feat(3.16/schema.json): update 3.16/schema.json
  src/operator/pkg/utils/schema/3.16/schema.json
Due: none

fix(mcp): preserve OpenAPI request body schemas (#2835)
  src/mcp-proxy/pkg/infra/logging/desensitize.go
  src/mcp-proxy/pkg/infra/proxy/converter.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/tests/integration/init.sql
  src/mcp-proxy/tests/integration/streamable_http_test.go
Due: fmt, lint

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
