Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

format:
  name: ruff-formatter
  language: python
  entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'

ruff:
  name: ruff
  language: python
  entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'

mypy:
  name: mypy
  language: python
  entry: mypy --config-file=src/esb/pyproject.toml

import-linter:
  name: import-linter
  language: python
  entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'

black:
  name: black
  language: python
  entry: black --config=src/esb/pyproject.toml

fmt:
  name: fmt
  entry: bash -c 'cd src/mcp-proxy && make fmt'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: bash -c 'cd src/mcp-proxy && make lint'
  language: system
  pass_filenames: false

fix(front-end): 修复资源抽屉响应参数不展示的问题 # Reviewed, transaction id: 68059
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(front-end): 修复资源抽屉响应参数不展示的问题 # Reviewed, transaction id: 68064
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(front-end): 修复资源抽屉响应参数不展示的问题 (#2156)
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(front-end): 修复资源抽屉响应参数不展示的问题 (#2155)
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

fix(front-end): 修复资源抽屉响应参数不展示的问题 (#2157)
  src/dashboard-front/src/views/resource-management/settings/components/ResourceDetail.vue
Due: none

feat(core/gateway): add is_deprecated and deprecated_note fields
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(core/gateway): add migration
  src/dashboard/apigateway/apigateway/core/migrations/0046_gateway_deprecated_note_gateway_is_deprecated_and_more.py
Due: format, ruff, mypy, import-linter

fix(core/migrations): remove unused import
  src/dashboard/apigateway/apigateway/core/migrations/0046_gateway_deprecated_note_gateway_is_deprecated_and_more.py
Due: format, ruff, mypy, import-linter

feat(apis/web/gateways): add api to check is name available
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): add unit test
  src/mcp-proxy/pkg/cacheimpls/init_test.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission_test.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_test.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/entity/model/gateway_test.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/logging/logger_test.go
  src/mcp-proxy/pkg/infra/logging/writer_test.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt_test.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/middleware/mcp_permission_test.go
  src/mcp-proxy/pkg/middleware/request_id_test.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/pkg/util/cryptography_test.go
  src/mcp-proxy/pkg/util/goroutinex_test.go
  src/mcp-proxy/pkg/util/placeholder_test.go
  src/mcp-proxy/pkg/util/uuid_test.go
Due: fmt, lint

feat(core/models.py): remove MicroGateway model
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/core/migrations/0047_remove_stage_micro_gateway_alter_gateway_tenant_id_and_more.py
  src/dashboard/apigateway/apigateway/core/models.py
Due: format, ruff, mypy, import-linter

refactor(core/migrations): rename
  src/dashboard/apigateway/apigateway/core/migrations/0047_remove_micro_gateway.py
Due: format, ruff, mypy, import-linter

feat(front-end): 插件文档 & 资源路径支持感叹号 # Reviewed, transaction id: 68097
  src/dashboard-front/src/components/icon-button/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/FrontConfig.vue
Due: none

feat(front-end): 插件文档 & 资源路径支持感叹号 (#2162)
  src/dashboard-front/src/components/icon-button/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/FrontConfig.vue
Due: none

fix(biz/resource_version/diff.py): fix doc_updated_time diff result
  src/dashboard/apigateway/apigateway/biz/resource_version/diff.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_diff.py
Due: format, ruff, mypy, import-linter

feature(mcp): mcp自定义使用指引填充默认内容 --story=128746555
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
Due: none

feat(apis/web/gateway): support operation status for gateway list (#2149)
  src/dashboard/Dockerfile
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/core/constants.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

fix(conf/celery_conf.py): add missing settings for celery
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
Due: format, ruff, mypy, import-linter

feat(tasks/clean_task.py): clean up alram records (#2151)
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter

feat(core/gateway): add is_deprecated and deprecated_note fields (#2158)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/core/migrations/0046_gateway_deprecated_note_gateway_is_deprecated_and_more.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(apis/web/gateway/serializers.py): add slz
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
Due: format, ruff, mypy, import-linter

fix(biz/resource_version/diff.py): fix doc_updated_time diff result (#2163)
  src/dashboard/apigateway/apigateway/biz/resource_version/diff.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_diff.py
Due: format, ruff, mypy, import-linter

feat(apis/web/gateways): add api to check is name available (#2159)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
Due: format, ruff, mypy, import-linter

feat(apis/web/resource/views.py): make path render stages order same as backend stages order
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
Due: format, ruff, mypy, import-linter

feat(mcp-proxy): add unit test
  src/mcp-proxy/Makefile
  src/mcp-proxy/pkg/cacheimpls/cache_expoter.go
  src/mcp-proxy/pkg/cacheimpls/gateway_test.go
  src/mcp-proxy/pkg/cacheimpls/init_test.go
  src/mcp-proxy/pkg/cacheimpls/jwt_public_key_test.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission_test.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_test.go
  src/mcp-proxy/pkg/cacheimpls/stage_test.go
  src/mcp-proxy/pkg/config/config_test.go
  src/mcp-proxy/pkg/entity/model/gateway_test.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/database/init_test.go
  src/mcp-proxy/pkg/infra/logging/desensitize_test.go
  src/mcp-proxy/pkg/infra/logging/logger_test.go
  src/mcp-proxy/pkg/infra/logging/writer_test.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/infra/proxy/types_test.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/metric/init_test.go
  src/mcp-proxy/pkg/middleware/bk_gateway_jwt_test.go
  src/mcp-proxy/pkg/middleware/logger_test.go
  src/mcp-proxy/pkg/middleware/mcp_header_test.go
  src/mcp-proxy/pkg/middleware/mcp_permission_test.go
  src/mcp-proxy/pkg/middleware/metric_test.go
  src/mcp-proxy/pkg/middleware/request_id_test.go
  src/mcp-proxy/pkg/util/context_test.go
  src/mcp-proxy/pkg/util/cryptography_test.go
  src/mcp-proxy/pkg/util/goroutinex_test.go
  src/mcp-proxy/pkg/util/placeholder_test.go
  src/mcp-proxy/pkg/util/uuid_test.go
Due: fmt, lint

feat(mcp-proxy): add unit test
  src/mcp-proxy/pkg/cacheimpls/cacheimpls_suite_test.go
  src/mcp-proxy/pkg/cacheimpls/init_test.go
  src/mcp-proxy/pkg/config/config_suite_test.go
  src/mcp-proxy/pkg/entity/model/model_suite_test.go
  src/mcp-proxy/pkg/infra/database/database_suite_test.go
  src/mcp-proxy/pkg/infra/logging/desensitize_test.go
  src/mcp-proxy/pkg/infra/logging/export_test.go
  src/mcp-proxy/pkg/infra/logging/logging_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/converter_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy_suite_test.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp_suite_test.go
  src/mcp-proxy/pkg/metric/metric_suite_test.go
  src/mcp-proxy/pkg/middleware/export_test.go
  src/mcp-proxy/pkg/middleware/middleware_suite_test.go
Due: fmt, lint

feat(plugin/tags): add plugin tags, for filter
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/urls.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0015_remove_pluginbinding_plugin_and_more.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: format, ruff, mypy, import-linter

feat(dashboard): 仪表盘图表修改 & 文档 tooltips
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

feat(dashboard): 仪表盘图表修改 & 文档 tooltips (#2169)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

feat(api/web): support prompt
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0007_add_prompts_extend_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(app/mcp-server): fix task config
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
Due: format, ruff, mypy, import-linter

feat(apis/web/resource/views.py): make path render stages order same as backend stages order (#2167)
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
Due: format, ruff, mypy, import-linter

feature(mcp): mcp server及 MCP 市场设置描述默认展示3行，通过展开/收起查看完整内容 --story=129347385
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(commands/export_inactive_gateways.py): add filter status=1(is_active) and created_time lte
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_inactive_gateways.py
Due: format, ruff, mypy, import-linter

Path conditions:
  format: any of: src/dashboard/ and \.py$
  ruff: (any of: src/dashboard/ and \.py$) or (any of: ^src/esb/ and \.py$)
  mypy: (any of: src/dashboard/ and \.py$) or (any of: src/esb/ and \.py$)
  import-linter: any of: src/dashboard/ and \.py$
  black: any of: src/esb/ and \.py$
  fmt: any of: src/mcp-proxy/
  lint: any of: src/mcp-proxy/
