Repository TencentBlueKing/blueking-apigateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, ruff, mypy, import-linter, black, fmt, lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: format
        name: ruff-formatter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff format --config=pyproject.toml --force-exclude .'
        files: src/dashboard/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: src/dashboard/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/dashboard/pyproject.toml
        files: src/dashboard/
      - id: import-linter
        name: import-linter
        language: python
        types: [python]
        entry: bash -c 'cd src/dashboard/apigateway && lint-imports --config=./.importlinter'
        files: src/dashboard/
  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black --config=src/esb/pyproject.toml
        files: src/esb/
      - id: ruff
        name: ruff
        language: python
        types: [python]
        entry: bash -c 'cd src/esb && ruff check --config=pyproject.toml --force-exclude --fix .'
        files: ^src/esb/
      - id: mypy
        name: mypy
        language: python
        types: [python]
        entry: mypy --config-file=src/esb/pyproject.toml
        files: src/esb/
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

  - repo: local
    hooks:
      - id: fmt
        name: fmt
        entry:  bash -c 'cd src/mcp-proxy && make fmt'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false
      - id: lint
        name: lint
        entry: bash -c 'cd src/mcp-proxy && make lint'
        language: system
        files: src/mcp-proxy/
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        exclude: "^src/mcp-proxy/docs/docs.go"
        files: ^src/mcp-proxy/.*\.go$
        args:
          - --license-filepath
          - src/mcp-proxy/license_header.txt        # defaults to: LICENSE.txt
          - --comment-style
          - ""

feat(front-end): 插件文档 & 资源路径支持感叹号 (#2162)
  src/dashboard-front/src/components/icon-button/Index.vue
  src/dashboard-front/src/components/plugin-manage/PluginInfo.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/stores/useEnv.ts
  src/dashboard-front/src/views/resource-management/components/BackConfig.vue
  src/dashboard-front/src/views/resource-management/components/FrontConfig.vue
Due: none

feature(mcp): 支持自定义mcp server使用指引 --story=128746555
  src/dashboard-front/public/bk_icon_font/demo.html
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.eot
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.svg
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.ttf
  src/dashboard-front/public/bk_icon_font/fonts/iconcool.woff
  src/dashboard-front/public/bk_icon_font/iconcool.js
  src/dashboard-front/public/bk_icon_font/iconcool.json
  src/dashboard-front/public/bk_icon_font/style.css
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/DefaultMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(core/gateway): add is_deprecated and deprecated_note fields (#2158)
  src/dashboard/apigateway/apigateway/apis/web/docs/gateway/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/core/migrations/0046_gateway_deprecated_note_gateway_is_deprecated_and_more.py
  src/dashboard/apigateway/apigateway/core/models.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_serializers.py
Due: format, ruff, mypy, import-linter

feat(apis/web/resource/views.py): make path render stages order same as backend stages order (#2167)
  src/dashboard/apigateway/apigateway/apis/web/resource/views.py
Due: format, ruff, mypy, import-linter

feat(dashboard): 仪表盘图表修改 & 文档 tooltips (#2169)
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/views/api-docs/components/DocDetailSideContent.vue
  src/dashboard-front/src/views/api-docs/detail/Index.vue
  src/dashboard-front/src/views/operate-data/access-log/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
Due: none

feat(apis/web/gateways): add api to check is name available (#2159)
  src/dashboard/apigateway/apigateway/apis/web/gateway/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/urls.py
  src/dashboard/apigateway/apigateway/apis/web/gateway/views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/gateway/test_views.py
Due: format, ruff, mypy, import-linter

fix(biz/resource_version/diff.py): fix doc_updated_time diff result (#2163)
  src/dashboard/apigateway/apigateway/biz/resource_version/diff.py
  src/dashboard/apigateway/apigateway/tests/biz/resource_version/test_diff.py
Due: format, ruff, mypy, import-linter

feat(tasks/clean_task.py): clean up alram records (#2151)
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/controller/tasks/__init__.py
  src/dashboard/apigateway/apigateway/controller/tasks/clean_task.py
Due: format, ruff, mypy, import-linter

feat(api/web): support prompt (#2170)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0007_add_prompts_extend_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/celery_conf.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_prompt.py
  src/dashboard/pyproject.toml
Due: format, ruff, mypy, import-linter

fix(front-end): 修复环境表单校验 & 杂项 (#2176)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/resource-management/versions/components/SDKList.vue
  src/dashboard-front/src/views/resource-management/versions/components/VersionList.vue
  src/dashboard-front/src/views/stage-management/overview/Index.vue
  src/dashboard-front/src/views/stage-management/overview/card-mode/components/StageCardItem.vue
  src/dashboard-front/src/views/stage-management/overview/components/CreateStage.vue
  src/dashboard-front/src/views/stage-management/overview/components/TopBar.vue
  src/dashboard-front/src/views/stage-management/overview/detail-mode/Index.vue
Due: none

feat(plugin/tags): add plugin tags, for filter (#2168)
  src/dashboard/apigateway/apigateway/apis/web/plugin/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/urls.py
  src/dashboard/apigateway/apigateway/apis/web/plugin/views.py
  src/dashboard/apigateway/apigateway/apps/plugin/constants.py
  src/dashboard/apigateway/apigateway/apps/plugin/migrations/0015_remove_pluginbinding_plugin_and_more.py
  src/dashboard/apigateway/apigateway/apps/plugin/models.py
  src/dashboard/apigateway/apigateway/fixtures/plugins.yaml
Due: format, ruff, mypy, import-linter

feature(mcp): mcp server及 MCP 市场设置描述默认展示3行，通过展开/收起查看完整内容 --story=129347385
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

feat(online-debugging): 调用历史回填 (#2175)
  src/dashboard-front/src/views/online-debugging/Index.vue
Due: none

feat(front-end): 资源插件按标签筛选 (#2179)
  src/dashboard-front/src/components/plugin-manage/Index.vue
  src/dashboard-front/src/services/source/plugin-manage.ts
Due: none

build(front-end): 本地开发入口文件替换 (#2187)
  src/dashboard-front/.gitignore
  src/dashboard-front/index.dev.html
  src/dashboard-front/index.prod.html
  src/dashboard-front/package.json
  src/dashboard-front/replace-index-html.js
Due: none

fix: test/cases (#2185)
  test/cases/apisix/09-others/timeout.bru
Due: none

fix(front-end): 修复版本发布列表刷新 & 优化杂项 (#2183)
  src/dashboard-front/src/views/resource-management/versions/components/ResourceDetail.vue
  src/dashboard-front/src/views/stage-management/release-record/Index.vue
Due: none

fix(api/web): fix mcp prompt api (#2180)
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/urls.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/tasks.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/prompt.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(commands/export_inactive_gateways.py): add filter status=1(is_active) and created_time lte (#2174)
  src/dashboard/apigateway/apigateway/apps/gateway/management/commands/export_inactive_gateways.py
Due: format, ruff, mypy, import-linter

fix(api/web): fix market mcpserver prompt api (#2184)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/__init__.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
Due: format, ruff, mypy, import-linter

feat(mcp): add prompt (#2186)
  src/mcp-proxy/pkg/biz/gateway.go
  src/mcp-proxy/pkg/biz/mcp_server_prompt.go
  src/mcp-proxy/pkg/cacheimpls/cache_expoter.go
  src/mcp-proxy/pkg/cacheimpls/init.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_extend_test.go
  src/mcp-proxy/pkg/cacheimpls/mcp_server_permission.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/entity/model/migrate.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/config_test.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/repo/core_jwt.gen.go
  src/mcp-proxy/pkg/repo/core_release.gen.go
  src/mcp-proxy/pkg/repo/core_released_resource.gen.go
  src/mcp-proxy/pkg/repo/gen.go
  src/mcp-proxy/pkg/repo/mcp_server.gen.go
  src/mcp-proxy/pkg/repo/mcp_server_app_permission.gen.go
  src/mcp-proxy/pkg/repo/mcp_server_extend.gen.go
Due: fmt, lint

fix(data/apigw-definitions): fix bk-apigateway resources (#2204)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

Fix gateway revoke legacy resource version (#2188)
  src/dashboard/apigateway/apigateway/controller/transformer.py
Due: format, ruff, mypy, import-linter

feature(prompt): 修复合并冲突项 --story=129309949
  src/dashboard-front/src/components/ag-description/Index.vue
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/table-empty/Index.vue
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/hooks/use-table-setting.tsx
  src/dashboard-front/src/layout/mcp-market/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/mcp-server.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerItemCard.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

feat(api/web): support steamableHTTP (#2201)
  src/dashboard/apigateway/apigateway/apis/v2/open/serializers.py
  src/dashboard/apigateway/apigateway/apis/v2/sync/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/views.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/constants.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/migrations/0008_mcpserver_protocol_type.py
  src/dashboard/apigateway/apigateway/apps/mcp_server/models.py
  src/dashboard/apigateway/apigateway/biz/mcp_server/mcp_server.py
  src/dashboard/apigateway/apigateway/components/bkaidev.py
  src/dashboard/apigateway/apigateway/conf/default.py
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_open_list_user_mcp_server.md
  src/dashboard/apigateway/apigateway/data/apidocs/zh/v2_sync_stage_mcp_servers.md
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-definition.yaml
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
  src/dashboard/apigateway/apigateway/service/mcp/mcp_server.py
  src/dashboard/apigateway/apigateway/templates/mcp_server/en/guideline.md
  src/dashboard/apigateway/apigateway/templates/mcp_server/zh-hans/guideline.md
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
  src/dashboard/apigateway/apigateway/tests/biz/mcp_server/test_mcp_server.py
  src/dashboard/apigateway/apigateway/tests/components/test_bkaidev.py
Due: format, ruff, mypy, import-linter

feature(prompt): 创建MCP结果预览区分tool和prompt展示 --story=129309949
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
Due: none

fix(gateway/gateway.py): mark recently created gateway operation status as active (#2190)
  src/dashboard/apigateway/apigateway/biz/gateway/gateway.py
Due: format, ruff, mypy, import-linter

feat(home): 提醒用户下架无用网关 (#2196)
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/basic.ts
  src/dashboard-front/src/services/source/gateway.ts
  src/dashboard-front/src/stores/useFeatureFlag.ts
  src/dashboard-front/src/views/home/Index.vue
  src/dashboard-front/src/views/operate-data/dashboard/components/LineChart.vue
  src/dashboard-front/src/views/operate-data/report/components/Chart.vue
Due: none

feature(mcp): mcp proxy支持streamable HTTP --story=129486151 (#2208)
  src/dashboard-front/src/components/ag-table/Index.vue
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/hooks/use-max-table-limit.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/types/common.ts
  src/dashboard-front/src/views/component-management/category/Index.vue
  src/dashboard-front/src/views/component-management/manage/components/AddComponent.vue
  src/dashboard-front/src/views/component-management/system/components/AddSystemSlider.vue
  src/dashboard-front/src/views/mcp-market/components/CustomMdGuideSlider.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/monitor-alarm/alarm-strategy/components/AddAlarmStrategy.vue
  src/dashboard-front/src/views/permission/app/components/ProactiveAuthorization.vue
  src/dashboard-front/src/views/permission/apply/components/BatchApproval.vue
Due: none

feature(mcp): 支持根据mcp连接方式渲染访问地址 --story=129486151
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
Due: none

feat(mcp-proxy): support steamableHTTP (#2205)
  src/mcp-proxy/pkg/constant/system.go
  src/mcp-proxy/pkg/entity/model/mcp.go
  src/mcp-proxy/pkg/entity/model/mcp_test.go
  src/mcp-proxy/pkg/infra/proxy/config.go
  src/mcp-proxy/pkg/infra/proxy/proxy.go
  src/mcp-proxy/pkg/infra/proxy/proxy_test.go
  src/mcp-proxy/pkg/infra/proxy/server.go
  src/mcp-proxy/pkg/infra/proxy/server_test.go
  src/mcp-proxy/pkg/mcp/mcp.go
  src/mcp-proxy/pkg/mcp/mcp_test.go
  src/mcp-proxy/pkg/server/router.go
Due: fmt, lint

feature(mcp): 优化1.9.3版本mcp模块体验问题 --story=129486151
  src/dashboard-front/src/constants/index.ts
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/detail/Index.vue
Due: none

fix(api/web): fix mcp_marketplace guide (#2215)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/views.py
Due: format, ruff, mypy, import-linter

feat(home): 首页环境标签展示修改 (#2218)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/home/Index.vue
Due: none

feat(create-gateway): 网关添加重名校验 (#2211)
  src/dashboard-front/src/components/create-gateway/Index.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/services/source/gateway.ts
Due: none

feature(mcp): mcp市场prompt为空不展示 --story=129486151
  src/dashboard-front/src/App.vue
  src/dashboard-front/src/locales/cn.json
  src/dashboard-front/src/locales/en.json
  src/dashboard-front/src/views/mcp-market/Details.vue
  src/dashboard-front/src/views/mcp-market/components/GuideLine.vue
  src/dashboard-front/src/views/mcp-server/components/CreateSlider.vue
  src/dashboard-front/src/views/mcp-server/components/ServerPrompts.vue
  src/dashboard-front/src/views/mcp-server/components/ServerTools.vue
Due: none

fix(data/apigw-definitions): fix mcp operation_id (#2222)
  src/dashboard/apigateway/apigateway/data/apigw-definitions/bk-apigateway-resources.yaml
Due: none

feat(api/web): mcp server add update time (#2233)
  src/dashboard/apigateway/apigateway/apis/web/mcp_marketplace/serializers.py
  src/dashboard/apigateway/apigateway/apis/web/mcp_server/serializers.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_marketplace/test_views.py
  src/dashboard/apigateway/apigateway/tests/apis/web/mcp_server/test_views.py
Due: format, ruff, mypy, import-linter

fix(front-end): 修复响应参数 array 类型 & 只读展示 (#2223)
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsSubTable.vue
  src/dashboard-front/src/views/resource-management/components/response-params/ResponseParamsTable.vue
Due: none
